<html>
	<body>
		<book class="book">
			<page class="page page--generic page--taking-action" data-header-icon="d20">
				<h1 id="ability-checks">Ability Checks</h1>
				<p>It's time to take some action! You want to charge across the rickety bridge? Climb the crumbling wall to escape the dire wolf? Kick down the old, rotting door? Great—now make an ability check to see if you succeed.</p>
				<p>This chapter sets out some changes to rolling mechanics—such as untyped skill bonuses, broader social interaction, and other minor additions.</p>

				<h2>Open Skills</h2>
				<p>With <i>Open Skills</i>, your skills are no longer tied to a single ability—instead, you may apply your skill bonus to any ability check that feels appropriate.</p>
				<p>When you are taking an action, try to consider which ability and skill pairing is the best fit for your situation. You may only use one ability and one skill per check.</p>

				<example class="panel panel--example">
					<section class="panel__body">
						<ul class="chat">
							<li><span class="chat__speaker">GM:</span><span>Valiant, a guard blocks the door with his spear. "You ain't going in there," he says bluntly.</span></li>
							<li><span class="chat__speaker">Valiant:</span><span>Do I recognize the guard?</span></li>
							<li><span class="chat__speaker">GM:</span><span>No, but you do recognize the symbol on his necklace—the scales of Kelemvor, Lord of the Dead.</span></li>
							<li><span class="chat__speaker">Valiant:</span><span>He follows my god? Perfect. "Not often I meet one of <i>His</i> agents," I say, showing my necklace and symbol. "How long have you served Him?"</span></li>
							<li><span class="chat__speaker">GM:</span><span>The guard smiles at you. "Oh since I were a boy. My old man was a gravedigger—knew the rites, taught me the words. Done right by me so far, has the Lord."</span></li>
							<li><span class="chat__speaker">Valiant:</span><span>I'll ask a few more questions, talk a little more about our faith—see if I can get this guard on my side and let me pass.</span></li>
							<li><span class="chat__speaker">GM:</span><span>You're trying to get him to like you? That'll be a DC 15 Charisma (Religion) check.</span></li>
						</ul>
					</section>
				</example>

				<col-break></col-break>

				<h2>Social Interaction</h2>
				<p>There's more to social interaction than just charisma—intelligence and wisdom are just as important, and each has their own role to play in conversation.</p>
				<p>When you interact with an NPC, the <i>context</i> of your action determines which ability you are using: smarts (intelligence), feelings (wisdom), or presence (charisma).</p>
				<ul>
					<li><strong>Intelligence:</strong> You're trying to be clever. Debate, reason, negotiate, lie, manipulate, wit, and threaten.</li>
					<li><strong>Wisdom:</strong> You're trying to soothe or connect feelings. Rapport, empathize, calm, discretion, and tact.</li>
					<li><strong>Charisma:</strong> You're trying to be likeable or dominating. Charm, bluff, banter, incite, command, and intimidate.</li>
				</ul>

				<p>Here we see Clanda, sitting with her friends in a village tavern, overhear an ill-informed farmer.</p>

				<example class="panel panel--example">
					<section class="panel__body">
						<ul class="chat">
							<li><span class="chat__speaker">GM:</span><span>The farmer says "I 'eard that if yous eat a frog on a full moon, yous get to jump high like a frog".</span></li>
							<li><span class="chat__speaker">Clanda:</span><span>Ugh, this <i>stupid</i> peasant. "There is <i>no</i> way that is true," I tell him. Angrily.</span></li>
							<li>
								<p><span class="chat__speaker">GM:</span><span>"Yea it is, I 'eard it from those boys over at the Grange farm. The moon magic turns you into one o' them lick-oh-tropes."</span></p>
								<p>The farmer is resolute in his belief—it's going to be <i>very hard</i> to change his mind.</p>
							</li>
							<li><span class="chat__speaker">Clanda:</span><span>Hold my beer, guys—I'm going to talk some brains back into this fool. Ok farm boy, let's start off with some basic pronunciation...</span></li>
							<li><span class="chat__speaker">GM:</span><span>You're trying to change the farmer's mind with logic and words? That'll be a DC 25 Intelligence (Persuasion) check.</span></li>
						</ul>
					</section>
				</example>
			</page>
			<page class="page page--generic page--taking-action">
				<h2>Help</h2>
				<p>If you take the <i>Help</i> action to grant advantage to an ally, you get to roll one of the two d20 during the attempt.</p>
				<p>Your ally adds their normal bonuses as if they had rolled the die themselves.</p>

				<example class="panel panel--example">
					<section class="panel__body">
						<ul class="chat">
							<li><span class="chat__speaker">GM:</span><span>The owlbear screeches as the two of you surround it. Viridian, Krazak—what do you do?</span></li>
							<li><span class="chat__speaker">Viridian:</span><span>This guy looks pretty wild. I'll <i>help</i> distract the beast, Krazak, while you—</span></li>
							<li><span class="chat__speaker">Krazak:</span><span>Hit it with the axe?</span></li>
							<li><span class="chat__speaker">Viridian:</span><span>Hit it with the axe. Ok I'll make a feint to the left <span class="chat__action">(rolls 18)</span>...</span></li>
							<li><span class="chat__speaker">Krazak:</span><span>And I'll swing the axe to the right <span class="chat__action">(rolls 6)</span>...</span></li>
							<li><span class="chat__speaker">GM:</span><span>Thanks to Viridian's feint, Krazak's axe bites deep into the owlbear. Roll your damage, Krazak.</span></li>
						</ul>
					</section>
				</example>

				<h2>Teamwork</h2>
				<p>You can't roll multiple attempts for the same action—recalling a piece of knowledge, sweet-talking the castle guard, pushing a heavy boulder aside, etc. But you <i>can</i> work together with your allies to make that one attempt as successful as possible.</p>
				<p>Anyone with a relevant skill or background may help you attempt something—the first person grants you advantage (per the <i>Help</i> action), and every additional person grants you a +1 bonus. If the roll fails, however, everyone involved is liable for the consequences.</p>

				<h2>Initiative</h2>
				<p>Reaction speed is determined first-and-foremost by your thoughts—the faster you can think, the faster your brain can tell your body to act.</p>
				<p>When rolling for initiative, do not add your Dexterity modifier—instead, add your Intelligence modifier. Break ties first with Dexterity, then Wisdom.</p>

				<h3>Tactical Wit</h3>
				<p>If you are a <i>War Wizard</i>, your <i>Tactical Wit</i> class feature now grants a Dexterity bonus—not Intelligence.</p>
				<p>This may also apply to other unique class features or item powers, so judge accordingly.</p>

				<aside class="panel panel--aside">
					<header class="panel__header">
						<h4 class="panel__title">Improving Intelligence</h4>
					</header>
					<section class="panel__body">
						<p>Dexterity is a very influential stat in vanilla 5e, determining attack rolls, damage, initiative bonuses, and (by far) the most common saving throw.</p>
						<p>Moving initiative rolls from DEX to INT is a small tweak that can help to curb the dominion of Dexterity by expanding the utility of the weakest ability—Intelligence—in a way that impacts everyone equally.</p>
					</section>
				</aside>

				<col-break></col-break>

				<h2>Tools</h2>
				<p>A tool helps you do something you couldn't otherwise do—pick a lock, craft an item, forge a document. Some tools are basic enough to provide basic use without training—cook's utensils, painter's supplies, dice games. Most, however, require proficiency to use properly.</p>
				<p>If you are proficient with a tool, you can add your proficiency bonus to any ability check made with it.</p>
				<p><strong>Tools & Skills:</strong> If you are proficient with both a tool <i>and</i> a skill—for example, an instrument with Performance, cook's utensils with Survival, a healer's kit with Medicine—you may add your proficiency bonus <i>and</i> make your roll with advantage.</p>

				<example class="panel panel--example">
					<section class="panel__body">
						<ul class="chat">
							<li><span class="chat__speaker">GM:</span><span>The crowd are getting restless around you, Viridian. You can sense tempers starting to flare.</span></li>
							<li><span class="chat__speaker">Viridian:</span><span>This could get ugly... Everyone likes music, right? I'll play a song, see if I can calm everyone down before the mob does something stupid.</span></li>
							<li><span class="chat__speaker">GM:</span><span>You want to sooth the rowdy crowd with music? Ok, that'll be a DC 20 Wisdom check.</span></li>
							<li><span class="chat__speaker">Viridian:</span><span>I'm proficient in Performance, and I'll use my lyre—I'm proficient with that as well.</span></li>
							<li><span class="chat__speaker">GM:</span><span>Perfect. You know a skill and a tool—add your proficiency <i>and</i> make the roll with advantage.</span></li>
						</ul>
					</section>
				</example>

				<h2>Secret Knowledge</h2>
				<p>Knowledge is a valuable resource—out in the wilds, it can mean the difference between life or death. Players shouldn't be able to tell if their information is false by knowing that they rolled a low number on the check.</p>
				<p>The GM always rolls knowledge checks—including perception and insight checks—in secret on behalf of the player, and then reveals knowledge accordingly. If it's a failure, give the character some misleading information—the larger the failure, the greater the mislead.</p>

				<example class="panel panel--example">
					<section class="panel__body">
						<ul class="chat">
							<li><span class="chat__speaker">GM:</span><span>The creature lumbers out of the shadows, stretching  out a rotten vine. You recognize it as a shambling mound, Chansi—what do you do?</span></li>
							<li><span class="chat__speaker">Chansi:</span><span>I've spent a long of time out in the wilds—do I know what their weakness is?</span></li>
							<li><span class="chat__speaker">GM:</span><span>Let's see... <span class="chat__action">(rolls 3 in secret—a failure)</span>. You remember notes from an old almanac. Apparently lightning is <i>very</i> bad for mounds and their senses.</span></li>
							<li><span class="chat__speaker">Chansi:</span><span>Perfect! And I have four lighting arrows left. I shoot one immediately at the mound <span class="chat__action">(rolls 19)</span>.</span></li>
							<li><span class="chat__speaker">GM:</span><span>A clear hit. The arrow strikes the mound and a burst of lightning erupts... to no effect. The mound advances on you, unfazed.</span></li>
							<li><span class="chat__speaker">Chansi:</span><span>...<i>What?</i></span></li>
							<li><span class="chat__speaker">Viridian:</span><span>That's some good memory you have there, Chansi. Real effective.</span></li>
							<li><span class="chat__speaker">Chansi:</span><span>Shut. Up. Viridian.</span></li>
						</ul>
					</section>
				</example>
			</page>
		</book>
	</body>
</html>
