<html>
	<body>
		<book class="book">
			<page class="page page--generic page--active-xp" data-header-icon="spellbook">
				<h1 id="active-xp">Active XP</h1>
				<p>Experience is your key to power, helping you to discover new abilities and reach higher peaks of strength. But you don't gain experience by staying in your comfort zone—the only way to grow is to push beyond your limits and brave the dangers of the world.</p>
				<p>With <i>Active XP</i>, you don't gain experience for simply killing monsters—instead, you gain experience by being active in one of three fields of adventure: discovery, recovery, and adversity.</p>

				<ol>
					<li><strong>Discovery:</strong> Explore the world, meet new people, and uncover secrets—hidden dungeons, ancient cults, legendary monsters. The more valuable and rare your discovery, the more experience you gain.</li>
					<li>
						<p><strong>Recovery:</strong> Recover treasure and valuables from uncivilized, monstrous, or abandoned areas—gemstones from an ancient tomb, a dragon's hoard, a hidden chest of jewels.</p>
						<p>You gain 10 XP per gold piece (1 XP per silver piece) of recovered treasure, making this the most efficient means of gaining experience.</p>
					</li>
					<li><strong>Adversity:</strong> Face danger and survive perilous situations—recover from near death, challenge a red dragon, defeat a horde of orcs. The bigger the danger, the bigger your experience—<i>if</i> you can survive.</li>
				</ol>

				<p>Leave your comfort zone behind, go adventuring in the dangerous wilds, and get into trouble—take risks, overcome challenges, and reap the rewards.</p>

				<aside class="panel panel--aside">
					<header class="panel__header">
						<h4 class="panel__title">Treasure-centric Rewards</h4>
					</header>
					<section class="panel__body">
						<p><i>Active XP</i> encourages players to hunt for rare treasures, and so is best suited to campaigns that put a significant focus on exploration and treasure-hunting—megadungeons, hexcrawls, point crawls, West Marches campaigns, etc.</p>
					</section>
				</aside>

				<col-break></col-break>

				<h2>Advancement</h2>
				<p>Don't use the standard 5e leveling table with <i>Active XP</i>—instead, use the <i>Character Advancement</i> table listed below. This demonstrates the amount of experience a character needs to spend per level in order to level up.</p>

				<list class="panel panel--list">
					<header class="panel__header">
						<h4 class="panel__title">Character Advancement</h4>
					</header>
					<section class="panel__body">
						<tables class="tables tables--advancement">
							<table class="table">
								<thead>
									<tr>
										<th>Level</th>
										<th>XP Needed</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td>0-1</td>
										<td>150</td>
									</tr>
									<tr>
										<td>1-2</td>
										<td>300</td>
									</tr>
									<tr>
										<td>2-3</td>
										<td>420</td>
									</tr>
									<tr>
										<td>3-4</td>
										<td>590</td>
									</tr>
									<tr>
										<td>4-5</td>
										<td>820</td>
									</tr>
									<tr>
										<td>5-6</td>
										<td>1,150</td>
									</tr>
									<tr>
										<td>6-7</td>
										<td>1,610</td>
									</tr>
									<tr>
										<td>7-8</td>
										<td>2,260</td>
									</tr>
									<tr>
										<td>8-9</td>
										<td>3,160</td>
									</tr>
									<tr>
										<td>9-10</td>
										<td>4,430</td>
									</tr>
								</tbody>
							</table>
							<table class="table">
								<thead>
									<tr>
										<th>Level</th>
										<th>XP Needed</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td>10-11</td>
										<td>6,200</td>
									</tr>
									<tr>
										<td>11-12</td>
										<td>8,680</td>
									</tr>
									<tr>
										<td>12-13</td>
										<td>12,150</td>
									</tr>
									<tr>
										<td>13-14</td>
										<td>17,010</td>
									</tr>
									<tr>
										<td>14-15</td>
										<td>23,810</td>
									</tr>
									<tr>
										<td>15-16</td>
										<td>33,330</td>
									</tr>
									<tr>
										<td>16-17</td>
										<td>46,660</td>
									</tr>
									<tr>
										<td>17-18</td>
										<td>65,330</td>
									</tr>
									<tr>
										<td>18-19</td>
										<td>91,460</td>
									</tr>
									<tr>
										<td>19-20</td>
										<td>128,050</td>
									</tr>
								</tbody>
							</table>
						</tables>
					</section>
				</list>

				<h3>Spending Experience</h3>
				<p>When you gain XP, you can spend it to level up. If the <i>Training</i> rules (<span class='page-detail--page-number' data-target="leveling-up"></span>) are in play, spend the XP after you have completed the required training time.</p>

				<example class="panel panel--example">
					<section class="panel__body">
						<p>Valiant, a 1st-level cleric, returns to Darrowmore with 250 XP and a rare, golden goblet worth 10 GP. He donates the goblet to his church and gains 100 XP.</p>
						<p>Now at 350 XP, Valiant has enough experience to level up. After a week of training, he spends 300 XP to advance to 2nd-level—leaving 50 XP remaining.</p>
					</section>
				</example>
			</page>
			<page class="page page--generic page--active-xp">
				<h2>Awarding Experience</h2>
				<p>Use the following guides to determine the amount of XP a character should be awarded for their in-game actions.</p>

				<h3>Discovery & Adversity XP</h3>
				<p>Discovery and adversity rewards depend on two main factors: the <i>Challenge Level</i> of the area, and the <i>Relative Difficulty</i> experienced by the party. Follow the three steps below to determine the XP reward.</p>

				<h4>Step 1. Challenge Level (CL)</h4>
				<p>First, you must decide the <i>Challenge Level</i>—this is the minimum level characters are expected to be in this particular area or adventure. A higher CL implies more dangerous monsters, traps, and challenges.</p>
				<p>Most civilized areas—villages, towns, cities—will be CL0. It's no challenge to live in a sanctuary.</p>

				<list class="panel panel--list">
					<header class="panel__header">
						<h4 class="panel__title">XP per Challenge Level</h4>
					</header>
					<section class="panel__body">
						<tables class="tables tables--experience-challenge">
							<table class="table">
								<thead>
									<tr>
										<th>CL</th>
										<th>XP Gained</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td>0</td>
										<td>1</td>
									</tr>
									<tr>
										<td>1</td>
										<td>3</td>
									</tr>
									<tr>
										<td>2</td>
										<td>4</td>
									</tr>
									<tr>
										<td>3</td>
										<td>6</td>
									</tr>
									<tr>
										<td>4</td>
										<td>8</td>
									</tr>
									<tr>
										<td>5</td>
										<td>12</td>
									</tr>
									<tr>
										<td>6</td>
										<td>16</td>
									</tr>
									<tr>
										<td>7</td>
										<td>23</td>
									</tr>
									<tr>
										<td>8</td>
										<td>32</td>
									</tr>
									<tr>
										<td>9</td>
										<td>44</td>
									</tr>
									<tr>
										<td>10</td>
										<td>62</td>
									</tr>
								</tbody>
							</table>
							<table class="table">
								<thead>
									<tr>
										<th>CL</th>
										<th>XP Gained</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td>11</td>
										<td>87</td>
									</tr>
									<tr>
										<td>12</td>
										<td>122</td>
									</tr>
									<tr>
										<td>13</td>
										<td>170</td>
									</tr>
									<tr>
										<td>14</td>
										<td>238</td>
									</tr>
									<tr>
										<td>15</td>
										<td>333</td>
									</tr>
									<tr>
										<td>16</td>
										<td>467</td>
									</tr>
									<tr>
										<td>17</td>
										<td>653</td>
									</tr>
									<tr>
										<td>18</td>
										<td>915</td>
									</tr>
									<tr>
										<td>19</td>
										<td>1,280</td>
									</tr>
									<tr>
										<td>20</td>
										<td>1,790</td>
									</tr>
									<tr>
										<td><span class="empty">—</span></td>
										<td><span class="empty">—</span></td>
									</tr>
								</tbody>
							</table>
						</tables>
					</section>
				</list>

				<p>As a starting point, you can base the <i>Challenge Level</i> on the average level of the adventure or current area being explored by the players.</p>

				<h4>Step 2. Relative Difficulty (RD)</h4>
				<p>Next, choose the <i>Relative Difficulty</i>—this describes how dangerous or difficult the event was for the party. Did they lose precious resources, or barely break a sweat?</p>
				<p>A challenge is more rewarding the harder it is to overcome—trivial encounters are not rewarding at all.</p>

				<list class="panel panel--list">
					<header class="panel__header">
						<h4 class="panel__title">Relative Difficulty Modifiers</h4>
					</header>
					<section class="panel__body">
						<table class="table table--relative-difficulty">
							<thead>
								<tr>
									<th>Difficulty</th>
									<th>Modifier</th>
									<th>Description</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>Trivial</td>
									<td>x 0</td>
									<td>The PCs were far overpowered</td>
								</tr>
								<tr>
									<td>Easy</td>
									<td>x 0.5</td>
									<td>The task was no trouble at all</td>
								</tr>
								<tr>
									<td>Normal</td>
									<td>x 1</td>
									<td>The task proved to be a minor inconvenience or obstacle</td>
								</tr>
								<tr>
									<td>Hard</td>
									<td>x 2</td>
									<td>The party lost some precious resources and had a hard time</td>
								</tr>
								<tr>
									<td>Extreme</td>
									<td>x 4</td>
									<td>The party lost nearly all their resources, or someone died</td>
								</tr>
								<tr>
									<td>Insane</td>
									<td>x 8</td>
									<td>The PCs were underpowered and survived against all odds</td>
								</tr>
							</tbody>
						</table>
					</section>
				</list>

				<col-break></col-break>

				<aside class="panel panel--aside">
					<header class="panel__header">
						<h4 class="panel__title">Rate of Experience</h4>
					</header>
					<section class="panel__body">
						<p>Characters are generally expected to have around three adventures per level. In a treasure-focused campaign, 75% of the total XP should come from treasure rewards and the remaining 25% from discovery/adversity rewards.</p>
						<p>For a faster or slower leveling experience, raise or lower the default XP rewards for each Challenge Level. You may also consider changing the 75%/25% ratios of XP if your game is less focused on treasure hunts.</p>
					</section>
				</aside>

				<p>When you choose the <i>Relative Difficulty</i>, consider the number of resources the party expended. Hit points, hit dice, spell slots, valuable items, wealth—the more resources lost, the higher the relative difficulty.</p>

				<h4>Step 3. Calculate XP</h4>
				<p>Once you know the <i>Challenge Level</i> and the <i>Relative Difficulty</i>, you can calculate the experience gained as:</p>

				<mechanic class="panel panel--mechanic">
					<header class="panel__header">
						<h4 class="panel__title">XP</h4>
					</header>
					<section class="panel__body">
						<p><strong>Character XP:</strong> Challenge Level x Relative Difficulty</p>
						<p><strong>Party XP:</strong> Character XP x Party Size</p>
					</section>
				</mechanic>

				<p>To demonstrate this, we see Chansi use lockpicking to avoid a dangerous fight. She gains some XP as a reward for using her skills to safely overcome a threatening situation.</p>

				<example class="panel panel--example">
					<section class="panel__body">
						<p>Chansi is currently exploring the <i>Vault of Sorrow</i>, an area designed for 3rd-level characters. To hide from a patrol of skeletons, she quietly unpicks a locked door and slips out of sight—avoiding a dangerous fight.</p>
						<p>The GM decides to award her some adversity XP for the effort. As the CL is 3 (6 XP) and the lock was of normal (x1) difficulty, Chansi receives 6 XP.</p>
					</section>
				</example>

				<p>Next, we see Valiant and Clanda discover a hidden entrance to a secret dungeon. They barely manage to survive a battle against its dangerous guardians, and are rewarded with a sizable amount of XP for their efforts.</p>

				<example class="panel panel--example">
					<section class="panel__body">
						<p>In the <i>Nightless Forest</i>, a dangerous area for 5th-level characters, Valiant and Clanda finally uncover a long-hidden entrance to the <i>Shattered Underhall</i>.</p>
						<p>The GM awards some discovery XP. The CL is 5 (12 XP) and they had a hard (x2) time finding the entrance, so Valiant and Clanda each receive 24 XP.</p>
						<p>Deep within the Underhall, they battle against the <i>Court of Lies</i>—though eventually victorious, they spend many resources and almost die in the process.</p>
						<p>The GM awards some adversity XP for the battle. The <i>Shattered Underhall</i> is CL 5 (12 XP) and they nearly died fighting an extreme (x4) battle against the Court, so Valiant and Clanda each receive 48 XP.</p>
					</section>
				</example>
			</page>
			<page class="page page--generic page--active-xp">
				<h3>Recovery XP</h3>
				<p>Characters gain experience by recovering lost treasures and bringing them back to civilization, gaining 10 XP per gp of treasure—precious gems, priceless art, rare jewelry.</p>
				<p>The amount of treasure found on an adventure depends on two primary factors: the <i>Challenge Level</i> of the area, and the <i>Threat Rating</i> of the treasure's guardians.</p>

				<h4>Step 1. Challenge Level (CL)</h4>
				<p>First, determine the <i>Challenge Level</i> of the area—this establishes the base amount of treasure (for one player) that should be found throughout the adventure.</p>
				<p>The higher the CL, the bigger the danger—but the more treasure you are likely to find.</p>

				<list class="panel panel--list">
					<header class="panel__header">
						<h4 class="panel__title">Treasure per Challenge Level</h4>
					</header>
					<section class="panel__body">
						<tables class="tables tables--treasure-challenge">
							<table class="table">
								<thead>
									<tr>
										<th>CL</th>
										<th>GP Gained</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td>0</td>
										<td>0</td>
									</tr>
									<tr>
										<td>1</td>
										<td>7</td>
									</tr>
									<tr>
										<td>2</td>
										<td>10</td>
									</tr>
									<tr>
										<td>3</td>
										<td>15</td>
									</tr>
									<tr>
										<td>4</td>
										<td>20</td>
									</tr>
									<tr>
										<td>5</td>
										<td>28</td>
									</tr>
									<tr>
										<td>6</td>
										<td>40</td>
									</tr>
									<tr>
										<td>7</td>
										<td>56</td>
									</tr>
									<tr>
										<td>8</td>
										<td>78</td>
									</tr>
									<tr>
										<td>9</td>
										<td>110</td>
									</tr>
									<tr>
										<td>10</td>
										<td>154</td>
									</tr>
								</tbody>
							</table>
							<table class="table">
								<thead>
									<tr>
										<th>CL</th>
										<th>GP Gained</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td>11</td>
										<td>215</td>
									</tr>
									<tr>
										<td>12</td>
										<td>302</td>
									</tr>
									<tr>
										<td>13</td>
										<td>422</td>
									</tr>
									<tr>
										<td>14</td>
										<td>592</td>
									</tr>
									<tr>
										<td>15</td>
										<td>828</td>
									</tr>
									<tr>
										<td>16</td>
										<td>1,160</td>
									</tr>
									<tr>
										<td>17</td>
										<td>1,624</td>
									</tr>
									<tr>
										<td>18</td>
										<td>2,274</td>
									</tr>
									<tr>
										<td>19</td>
										<td>3,185</td>
									</tr>
									<tr>
										<td>20</td>
										<td>4,456</td>
									</tr>
									<tr>
										<td><span class="empty">—</span></td>
										<td><span class="empty">—</span></td>
									</tr>
								</tbody>
							</table>
						</tables>
					</section>
				</list>

				<h4>Step 2. Threat Rating (TR)</h4>
				<p>Next, determine the <i>Threat Rating</i> of the treasure's guardians. If there's no threat, there's no treasure—someone else will have looted anything of value long before the party arrive.</p>
				<p>You'll need to find and face the biggest threats if you want to recover the rarest treasures—so be bold.</p>

				<list class="panel panel--list">
					<header class="panel__header">
						<h4 class="panel__title">Threat Ratings</h4>
					</header>
					<section class="panel__body">
						<table class="table table--threat">
							<thead>
								<tr>
									<th>Threat</th>
									<th>Modifier</th>
									<th>Description</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>None</td>
									<td>x 0</td>
									<td>A handful of weak opponents</td>
								</tr>
								<tr>
									<td>Low</td>
									<td>x 0.5</td>
									<td>A band of badly organized foes</td>
								</tr>
								<tr>
									<td>Average</td>
									<td>x 1</td>
									<td>A small force with one or more notable leaders</td>
								</tr>
								<tr>
									<td>High</td>
									<td>x 2</td>
									<td>A well-armed force with several tiers of leadership</td>
								</tr>
								<tr>
									<td>Extreme</td>
									<td>x 4</td>
									<td>A large force with formidable strength and influence</td>
								</tr>
								<tr>
									<td>Legendary</td>
									<td>x 8</td>
									<td>A legendary monster such as a dragon, a beholder, or a lich.</td>
								</tr>
							</tbody>
						</table>
					</section>
				</list>

				<aside class="panel panel--aside">
					<header class="panel__header">
						<h4 class="panel__title">Magic Items & Gold</h4>
					</header>
					<section class="panel__body">
						<p>Magic items and basic, common currency (such as copper, silver, and gold pieces) don't count as treasure or reward any XP—so don't include their valuation in your treasure-to-XP calculations.</p>
					</section>
				</aside>

				<col-break></col-break>

				<h4>Step 3. Calculate Treasure</h4>
				<p>Once you know the <i>Challenge Level</i> and <i>Threat Rating</i>, you can calculate the amount of treasure to be recovered throughout the adventure:</p>

				<mechanic class="panel panel--mechanic">
					<header class="panel__header">
						<h4 class="panel__title">Treasure</h4>
					</header>
					<section class="panel__body">
						<p><strong>Treasure:</strong> Challenge Level x Threat Rating</p>
						<p><strong>Hoard:</strong> Individual Treasure x Party Size</p>
					</section>
				</mechanic>

				<p>To demonstrate this in action, below is an outline for a 1st-level adventure—the <i>Tomb of the Bone Prince</i>.</p>

				<example class="panel panel--example">
					<section class="panel__body">
						<p>The GM is building an adventure for four 1st-level characters, with a CL of 1 (7 gp) and an average (x1) threat rating. This means that the party should find around 28 gp (7 x 4) of actual treasure in the adventure (not including any random silver or gold).</p>
						<p>The GM scatters the treasure across 7 encounters:</p>
						<ol>
							<li><strong>Encounter:</strong> The Bone Sentinels.</li>
							<li><strong>Encounter:</strong> The False Prince. Rewards a 4 gp treasure (some carved bone dice).</li>
							<li><strong>Challenge:</strong> A secret passageway to the undertomb.</li>
							<li><strong>Encounter:</strong> Madrigor, the Blind Cleric. Rewards a 4 gp treasure (a golden chalice).</li>
							<li><strong>Challenge:</strong> A collapsing ceiling and a locked door.</li>
							<li><strong>Encounter:</strong> The Bone Prince and his Retinue.</li>
							<li><strong>Encounter:</strong> The Amalgam King. Rewards a treasure hoard worth 20 gp (well-cut rubies).</li>
						</ol>
					</section>
				</example>

				<p>Here, Valiant and Chansi return to town with some recovered treasure in hand. Chansi sells her treasure for gold, while Valiant donates his treasure to his church.</p>

				<example class="panel panel--example">
					<section class="panel__body">
						<p>Chansi and Valiant return to Darrowmore from their expedition into the <i>Rat's Nest</i>. Chansi carries a jade figurine worth 12 gp. She sells it to a local collector, exchanging the figurine for 12 gp and 120 XP.</p>
						<p>Valiant also found some treasure—a rare book of holy scripture worth 12 gp. He donates the book to his local church, gaining 0 gp and 120 XP.</p>
					</section>
				</example>

				<p>The experience gained from any treasure returned to civilization is split equally across everyone who helped obtain it—including helpers, followers, and henchmen.</p>
				<p><strong>Solo Treasure:</strong> Stealing or hiding treasure from the rest of the party doesn't grant you extra XP—when you gain XP for treasure, everyone gets an equal cut.</p>

				<example class="panel panel--example">
					<section class="panel__body">
						<p>When the group wasn't looking, Clanda secretly palmed an extra ruby from the treasure pile—she later sells it to gain 7 gp and 70 XP. Clanda keeps the gold but shares the XP with the rest of the party.</p>
					</section>
				</example>
			</page>
		</book>
	</body>
</html>
