<html>
	<body>
		<book class="book">
			<page class="page page--generic page--character-creation" data-header-icon="character-helmet">
				<h1 id="character-creation">Character Creation</h1>
				<p>Before you can begin your adventures in the uncharted wilds, you'll need a character. D&D characters are larger-than-life, capable of great heroics and incredible feats—but how do you make one?</p>
				<p>This chapter introduces ways to randomize character creation in your game with a collection of variant dials.</p>

				<h2>Random Characters</h2>
				<p>We don't always get to choose where we start in life—sometimes we just have to cross our fingers, roll the dice, and see what happens. Randomizing your character creation can result in some unusual character concepts, but that's ok—flaws are fun!</p>
				<p>To create a new and randomly-generated 1st-level character, take a d100 and follow these six simple steps.</p>

				<h3><span class="h3__highlight">1</span>Race</h3>
				<p>First, determine your character's race by rolling a d100 and checking the <i>Character Races/Subrace</i> tables.</p>

				<list class="panel panel--list">
					<header class="panel__header">
						<h4 class="panel__title">Character Race</h4>
					</header>
					<section class="panel__body">
						<tables class="tables tables--race">
							<table class="table">
								<thead>
									<tr>
										<th>d100</th>
										<th>Race</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td>01</td>
										<td>Aasimar</td>
									</tr>
									<tr>
										<td>02-04</td>
										<td>Dragonborn</td>
									</tr>
									<tr>
										<td>05-19</td>
										<td>Dwarf</td>
									</tr>
									<tr>
										<td>20-29</td>
										<td>Elf</td>
									</tr>
									<tr>
										<td>30-31</td>
										<td>Firbolg</td>
									</tr>
									<tr>
										<td>32-33</td>
										<td>Gith</td>
									</tr>
									<tr>
										<td>34-39</td>
										<td>Gnome</td>
									</tr>
									<tr>
										<td>40-41</td>
										<td>Goliath</td>
									</tr>
									<tr>
										<td>42</td>
										<td>Half-Elf</td>
									</tr>
									<tr>
										<td>43</td>
										<td>Half-Orc</td>
									</tr>
								</tbody>
							</table>
							<table class="table">
								<thead>
									<tr>
										<th>d100</th>
										<th>Race</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td>44-50</td>
										<td>Halfling</td>
									</tr>
									<tr>
										<td>51-90</td>
										<td>Human</td>
									</tr>
									<tr>
										<td>91</td>
										<td>Kenku</td>
									</tr>
									<tr>
										<td>92</td>
										<td>Lizardfolk</td>
									</tr>
									<tr>
										<td>93</td>
										<td>Monstrous</td>
									</tr>
									<tr>
										<td>94</td>
										<td>Tabaxi</td>
									</tr>
									<tr>
										<td>95-98</td>
										<td>Tiefling</td>
									</tr>
									<tr>
										<td>99</td>
										<td>Triton</td>
									</tr>
									<tr>
										<td>00</td>
										<td class="reroll">Choose</td>
									</tr>
									<tr class="empty">
										<td><span class="empty">—</span></td>
										<td><span class="empty">—</span></td>
									</tr>
								</tbody>
							</table>
						</tables>
					</section>
				</list>

				<col-break></col-break>

				<list class="panel panel--list">
					<header class="panel__header">
						<h4 class="panel__title">Character Subrace</h4>
					</header>
					<section class="panel__body">
						<table class="table table--subrace">
							<thead>
								<tr>
									<th>Race</th>
									<th>d100</th>
									<th>Subrace</th>
									<th>d100</th>
									<th>Subrace</th>
								</tr>
							</thead>
							<tbody>
								<tr class="rowspan odd">
									<td rowspan="2">Aasimar</td>
									<td>01-33</td>
									<td>Fallen</td>
									<td>68-00</td>
									<td>Scourge</td>
								</tr>
								<tr class="rowspan-child odd">
									<td>34-67</td>
									<td>Protector</td>
									<td><span class="empty">—</span></td>
									<td><span class="empty">—</span></td>
								</tr>
								<tr class="rowspan even">
									<td rowspan="2">Dwarf</td>
									<td>01-45</td>
									<td>Hill</td>
									<td>91-00</td>
									<td>Duergar</td>
								</tr>
								<tr class="rowspan-child even">
									<td>46-90</td>
									<td>Mountain</td>
									<td><span class="empty">—</span></td>
									<td><span class="empty">—</span></td>
								</tr>
								<tr class="rowspan odd">
									<td rowspan="3">Elf</td>
									<td>01-10</td>
									<td>Drow</td>
									<td>51-60</td>
									<td>Sea</td>
								</tr>
								<tr class="rowspan-child odd">
									<td>11-20</td>
									<td>Eladrin</td>
									<td>61-70</td>
									<td>Shadar-kai</td>
								</tr>
								<tr class="rowspan-child odd">
									<td>21-50</td>
									<td>High</td>
									<td>71-00</td>
									<td>Wood</td>
								</tr>
								<tr class="rowspan even">
									<td>Gith</td>
									<td>01-50</td>
									<td>Githyanki</td>
									<td>51-00</td>
									<td>Githzerai</td>
								</tr>
								<tr class="rowspan odd">
									<td rowspan="2">Gnome</td>
									<td>01-45</td>
									<td>Forest</td>
									<td>91-00</td>
									<td>Deep</td>
								</tr>
								<tr class="rowspan-child odd">
									<td>46-90</td>
									<td>Rock</td>
									<td><span class="empty">—</span></td>
									<td><span class="empty">—</span></td>
								</tr>
								<tr class="rowspan even">
									<td>Halfling</td>
									<td>01-50</td>
									<td>Lightfoot</td>
									<td>51-00</td>
									<td>Stout</td>
								</tr>
								<tr class="rowspan odd">
									<td rowspan="3">Monstrous</td>
									<td>01-10</td>
									<td>Bugbear</td>
									<td>51-75</td>
									<td>Kobold</td>
								</tr>
								<tr class="rowspan-child odd">
									<td>11-35</td>
									<td>Goblin</td>
									<td>76-90</td>
									<td>Orc</td>
								</tr>
								<tr class="rowspan-child odd">
									<td>36-50</td>
									<td>Hobgoblin</td>
									<td>91-00</td>
									<td>Yuan-ti</td>
								</tr>
								<tr class="rowspan even">
									<td rowspan="5">Tiefling</td>
									<td>01-12</td>
									<td>Asmodeus</td>
									<td>57-67</td>
									<td>Levistus</td>
								</tr>
								<tr class="rowspan-child even">
									<td>13-23</td>
									<td>Baalzebul</td>
									<td>68-78</td>
									<td>Mammon</td>
								</tr>
								<tr class="rowspan-child even">
									<td>24-34</td>
									<td>Dispater</td>
									<td>79-89</td>
									<td>Mephistopheles</td>
								</tr>
								<tr class="rowspan-child even">
									<td>35-45</td>
									<td>Fierna</td>
									<td>90-00</td>
									<td>Zariel</td>
								</tr>
								<tr class="rowspan-child even">
									<td>46-56</td>
									<td>Glasya</td>
									<td><span class="empty">—</span></td>
									<td><span class="empty">—</span></td>
								</tr>
							</tbody>
						</table>
					</section>
				</list>

				<h4>Racial Options</h4>
				<p>Some races may have additional choices to make—ancestry, proficiencies, languages, etc. Pick these at random using the tables listed in <i>Appendix A</i> (<span class='page-detail--page-number' data-target='random-tables'></span>).</p>

				<aside class="panel panel--aside">
					<header class="panel__header">
						<h4 class="panel__title">Random Weightings</h4>
					</header>
					<section class="panel__body">
						<p>The options listed in these tables are not weighted equally, so some options—such as human, elf, and dwarf—will be more common than others. However, feel free to modify these weightings to better suit your own game and campaign setting.</p>
					</section>
				</aside>
			</page>
			<page class="page page--generic page--character-creation">
				<h3><span class="h3__highlight">2</span>Background</h3>
				<p>Next, roll on the <i>Character Background</i> table below to find out what your character used to do in the past. Your background represents a career, occupation, or experience which left a profound mark on your character and helped shape them into the person they are today.</p>
				<p>You gain proficiencies and languages from your background, but you don't gain any equipment or special background features.</p>
				<p><strong>Background Choices:</strong> If you need to make additional choices as part of your background—tool proficiencies, specialties, languages, etc—then pick these at random.</p>

				<list class="panel panel--list">
					<header class="panel__header">
						<h4 class="panel__title">Character Background</h4>
					</header>
					<section class="panel__body">
						<tables class="tables tables--background">
							<table class="table">
								<thead>
									<tr>
										<th>d100</th>
										<th>Background</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td>01-07</td>
										<td>Acolyte</td>
									</tr>
									<tr>
										<td>08-14</td>
										<td>Charlatan</td>
									</tr>
									<tr>
										<td>15-21</td>
										<td>Criminal</td>
									</tr>
									<tr>
										<td>22-28</td>
										<td>Entertainer</td>
									</tr>
									<tr>
										<td>29-35</td>
										<td>Folk Hero</td>
									</tr>
									<tr>
										<td>36-42</td>
										<td>Guild Artisan</td>
									</tr>
									<tr>
										<td>43-49</td>
										<td>Hermit</td>
									</tr>
								</tbody>
							</table>
							<table class="table">
								<thead>
									<tr>
										<th>d100</th>
										<th>Background</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td>50-56</td>
										<td>Noble</td>
									</tr>
									<tr>
										<td>57-63</td>
										<td>Outlander</td>
									</tr>
									<tr>
										<td>64-70</td>
										<td>Sage</td>
									</tr>
									<tr>
										<td>71-77</td>
										<td>Sailor</td>
									</tr>
									<tr>
										<td>78-84</td>
										<td>Soldier</td>
									</tr>
									<tr>
										<td>85-91</td>
										<td>Urchin</td>
									</tr>
									<tr>
										<td>92-00</td>
										<td class="reroll">Choose</td>
									</tr>
								</tbody>
							</table>
						</tables>
					</section>
				</list>

				<h4>Characteristics</h4>
				<p>Once you know your particular background, use the PHB characteristics tables to randomly determine your trait, ideal, bond, and flaw.</p>

				<h3><span class="h3__highlight">3</span>Class</h3>
				<p>Now that you know what your character used to be, it's time to see what they have become. Roll on the <i>Character Class</i> table below to determine your initial class.</p>
				<p>You gain the features, skills and proficiencies of your class, but you don't gain any class equipment.</p>
				<p><strong>Class Choices:</strong> If you need to make additional choices as part of your class—skills, tools, languages, etc—you can generate these randomly, rerolling any duplicates.</p>

				<list class="panel panel--list">
					<header class="panel__header">
						<h4 class="panel__title">Character Class</h4>
					</header>
					<section class="panel__body">
						<tables class="tables tables--class">
							<table class="table">
								<thead>
									<tr>
										<th>d100</th>
										<th>Class</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td>01-08</td>
										<td>Barbarian</td>
									</tr>
									<tr>
										<td>09-16</td>
										<td>Bard</td>
									</tr>
									<tr>
										<td>17-24</td>
										<td>Cleric</td>
									</tr>
									<tr>
										<td>25-32</td>
										<td>Druid</td>
									</tr>
									<tr>
										<td>33-40</td>
										<td>Fighter</td>
									</tr>
									<tr>
										<td>41-48</td>
										<td>Monk</td>
									</tr>
									<tr>
										<td>49-56</td>
										<td>Paladin</td>
									</tr>
								</tbody>
							</table>
							<table class="table">
								<thead>
									<tr>
										<th>d100</th>
										<th>Class</th>
									</tr>
								</thead>
								<tbody>

									<tr>
										<td>57-64</td>
										<td>Ranger</td>
									</tr>
									<tr>
										<td>65-72</td>
										<td>Rogue</td>
									</tr>
									<tr>
										<td>73-80</td>
										<td>Sorcerer</td>
									</tr>
									<tr>
										<td>81-88</td>
										<td>Warlock</td>
									</tr>
									<tr>
										<td>89-96</td>
										<td>Wizard</td>
									</tr>
									<tr>
										<td>97-00</td>
										<td class="reroll">Choose</td>
									</tr>
									<tr class="empty">
										<td><span class="empty">—</span></td>
										<td><span class="empty">—</span></td>
									</tr>
								</tbody>
							</table>
						</tables>
					</section>
				</list>



				<h4>Spellcasting</h4>
				<p>If you are a spellcaster, <i>don't</i> roll for your spells—you may choose your starting cantrips and spells manually as per usual for your class.</p>

				<h4>Class Specializations</h4>
				<p>If your class also requires you to choose a specialization at 1st-level, roll on the <i>Class Specializations</i> table.</p>

				<col-break></col-break>

				<list class="panel panel--list">
					<header class="panel__header">
						<h4 class="panel__title">Class Specializations</h4>
					</header>
					<section class="panel__body">
						<table class="table table--class-specialisation">
							<thead>
								<tr>
									<th>Class</th>
									<th>d100</th>
									<th>Specialty</th>
									<th>d100</th>
									<th>Specialty</th>
								</tr>
							</thead>
							<tbody>
								<tr class="rowspan odd">
									<td rowspan="5">Cleric</td>
									<td>01-10</td>
									<td>Forge</td>
									<td>51-60</td>
									<td>Nature</td>
								</tr>
								<tr class="rowspan-child odd">
									<td>11-20</td>
									<td>Grave</td>
									<td>61-70</td>
									<td>Tempest</td>
								</tr>
								<tr class="rowspan-child odd">
									<td>21-30</td>
									<td>Knowledge</td>
									<td>71-80</td>
									<td>Trickery</td>
								</tr>
								<tr class="rowspan-child odd">
									<td>31-40</td>
									<td>Life</td>
									<td>81-90</td>
									<td>War</td>
								</tr>
								<tr class="rowspan-child odd">
									<td>41-50</td>
									<td>Light</td>
									<td class="reroll">91-00</td>
									<td class="reroll">Choose</td>
								</tr>
								<tr class="rowspan even">
									<td rowspan="4">Fighter</td>
									<td>01-16</td>
									<td>Archery</td>
									<td>65-80</td>
									<td>Protection</td>
								</tr>
								<tr class="rowspan-child even">
									<td>17-32</td>
									<td>Defense</td>
									<td>81-96</td>
									<td>Two-Weapon</td>
								</tr>
								<tr class="rowspan-child even">
									<td>33-48</td>
									<td>Dueling</td>
									<td class="reroll">97-00</td>
									<td class="reroll">Choose</td>
								</tr>
								<tr class="rowspan-child even">
									<td>49-64</td>
									<td>Great Weapon</td>
									<td><span class="empty">—</span></td>
									<td><span class="empty">—</span></td>
								</tr>
								<tr class="rowspan odd">
									<td rowspan="3">Sorcerer</td>
									<td>01-19</td>
									<td>Divine Soul</td>
									<td>58-76</td>
									<td>Storm Sorcery</td>
								</tr>
								<tr class="rowspan-child odd">
									<td>20-38</td>
									<td>Draconic Blood</td>
									<td>77-95</td>
									<td>Wild Magic</td>
								</tr>
								<tr class="rowspan-child odd">
									<td>39-57</td>
									<td>Shadow Magic</td>
									<td class="reroll">96-00</td>
									<td class="reroll">Choose</td>
								</tr>
								<tr class="rowspan even">
									<td rowspan="3">Warlock</td>
									<td>01-19</td>
									<td>Archfey</td>
									<td>58-76</td>
									<td>Great Old One</td>
								</tr>
								<tr class="rowspan-child even">
									<td>20-38</td>
									<td>Celestial</td>
									<td>77-95</td>
									<td>Hexblade</td>
								</tr>
								<tr class="rowspan-child even">
									<td>39-57</td>
									<td>Fiend</td>
									<td class="reroll">96-00</td>
									<td class="reroll">Choose</td>
								</tr>
							</tbody>
						</table>
					</section>
				</list>

				<example class="panel panel--example">
					<section class="panel__body">
						<p>A player is asked to create a randomised 1st-level character. They first roll on the race, background, and class tables—they are <i>Viridian</i>, a tiefling noble bard.</p>
					</section>
				</example>

				<h3><span class="h3__highlight">4</span>Ability Scores</h3>
				<p>Now that you've defined who your character is, it's time to see how capable they are. Follow the five steps below to randomly generate your ability scores:</p>
				<ol>
					<li><strong>Roll:</strong> Roll 3d6 six times—once for each of your attributes in order: Strength, Dexterity, Constitution, Intelligence, Wisdom, and finally Charisma.</li>
					<li><strong>Reroll:</strong> Reroll one ability score of your choice and keep the best result.</li>
					<li><strong>Swap:</strong> After your reroll, you may then make one swap of any two attribute scores.</li>
					<li><strong>Racials:</strong> Apply your racial bonuses as per normal.</li>
					<li><strong>Modifiers:</strong> Finally, calculate your <i>Ability Modifiers</i>.</li>
				</ol>

				<p>Your character may have an unusual ability array, but that's ok. Learn how to make the best use of your strengths while protecting your weak spots.</p>

				<list class="panel panel--list">
					<header class="panel__header">
						<h4 class="panel__title">Ability Scores and Modifiers</h4>
					</header>
					<section class="panel__body">
						<tables class="tables tables--ability-scores">
							<table class="table">
								<thead>
									<tr>
										<th>Score</th>
										<th>Modifier</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td>01</td>
										<td>-5</td>
									</tr>
									<tr>
										<td>02-03</td>
										<td>-4</td>
									</tr>
									<tr>
										<td>04-05</td>
										<td>-3</td>
									</tr>
									<tr>
										<td>06-07</td>
										<td>-2</td>
									</tr>
									<tr>
										<td>08-09</td>
										<td>-1</td>
									</tr>
									<tr>
										<td>10-11</td>
										<td>+0</td>
									</tr>
								</tbody>
							</table>
							<table class="table">
								<thead>
									<tr>
										<th>Score</th>
										<th>Modifier</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td>12-13</td>
										<td>+1</td>
									</tr>
									<tr>
										<td>14-15</td>
										<td>+2</td>
									</tr>
									<tr>
										<td>16-17</td>
										<td>+3</td>
									</tr>
									<tr>
										<td>18-19</td>
										<td>+4</td>
									</tr>
									<tr>
										<td>20-21</td>
										<td>+5</td>
									</tr>
									<tr>
										<td>22-23</td>
										<td>+6</td>
									</tr>
								</tbody>
							</table>
						</tables>
					</section>
				</list>

				<aside class="panel panel--aside">
					<header class="panel__header">
						<h4 class="panel__title">3d6 Average Array</h4>
					</header>
					<section class="panel__body">
						<p>Rolling 3d6 as described here should create an average ability array in the region of [13, 11, 11, 11, 10, 10].</p>
					</section>
				</aside>
			</page>
			<page class="page page--generic page--character-creation">
				<example class="panel panel--example panel--character-creation-viridian">
					<section class="panel__body">
						<p>Viridian, a tiefling bard, generates his character ability scores using the five steps:</p>
						<ol>
							<li><strong>Roll:</strong> He rolls 3d6 six times to generate an array: [STR 14, DEX 13, CON 9, INT 8, WIS 10, CHA 5].</li>
							<li><strong>Reroll:</strong> CHA 5 isn't great, especially for a bard, so he makes one reroll: CHA 15—<i>much</i> better.</li>
							<li>
								<p><strong>Swap:</strong> Viridian then has a difficult choice to make: he doesn't want high STR, but does he swap it with CON or INT?  He chooses to prioritize INT and swaps it with STR to make [STR 8, INT 14].</p>
							</li>
							<li><strong>Racials:</strong> Viridian then adds his racial modifiers—+1 INT and +2 CHA—to make [INT 15, CHA 17].</li>
							<li><strong>Modifiers:</strong> Finally, he calculates his total Ability Modifiers as shown below.</li>
						</ol>
						<div class="abilities">
							<div class="ability">
								<span class="ability__name">STR</span>
								<span class="ability__value">8 <i>(-1)</i></span>
							</div>
							<div class="ability">
								<span class="ability__name">DEX</span>
								<span class="ability__value">13 <i>(+1)</i></span>
							</div>
							<div class="ability">
								<span class="ability__name">CON</span>
								<span class="ability__value">9 <i>(-1)</i></span>
							</div>
							<div class="ability">
								<span class="ability__name">INT</span>
								<span class="ability__value">15 <i>(+2)</i></span>
							</div>
							<div class="ability">
								<span class="ability__name">WIS</span>
								<span class="ability__value">10 <i>(+0)</i></span>
							</div>
							<div class="ability">
								<span class="ability__name">CHA</span>
								<span class="ability__value">17 <i>(+3)</i></span>
							</div>
						</div>
						<p>Viridian is a quick-witted and skilled charmer with a sly, lyrical flair. Well-read and charismatic, he knows how to use words to get what he wants.</p>
						<p>He hates any sort of manual labor, however, and—while he loves a good drink—gets drunk <i>very</i> quickly.</p>
					</section>
				</example>

				<h3><span class="h3__highlight">5</span>Character Details</h3>
				<p>Now that you've established the outline of who your character is, you can start to define their more personal details—what do they look like, what drives them, and what do they want in life?</p>

				<h4>Appearance & Family</h4>
				<p>Use the tables below to establish some basic features and backstory. You may then define the particulars yourself, or discover them organically during gameplay.</p>

				<list class="panel panel--list">
					<header class="panel__header">
						<h4 class="panel__title">Character Details</h4>
					</header>
					<section class="panel__body">
						<tables class="tables" data-website-preserve-tables="true">
							<table class="table table--character-age">
								<thead>
									<tr>
										<th>d100</th>
										<th>Age</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td>01-39</td>
										<td>Young adult</td>
									</tr>
									<tr>
										<td>40-74</td>
										<td>Early middle-age</td>
									</tr>
									<tr>
										<td>75-91</td>
										<td>Late middle-age</td>
									</tr>
									<tr>
										<td>92-97</td>
										<td>Old</td>
									</tr>
									<tr>
										<td>98-00</td>
										<td>Very old</td>
									</tr>
								</tbody>
							</table>
							<table class="table table--character-height">
								<thead>
									<tr>
										<th>d100</th>
										<th>Height</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td>01-05</td>
										<td>Very short</td>
									</tr>
									<tr>
										<td>06-30</td>
										<td>Short</td>
									</tr>
									<tr>
										<td>31-70</td>
										<td>Average</td>
									</tr>
									<tr>
										<td>71-95</td>
										<td>Tall</td>
									</tr>
									<tr>
										<td>96-00</td>
										<td>Very tall</td>
									</tr>
								</tbody>
							</table>
						</tables>
						<tables class="tables" data-website-preserve-tables="true">
							<table class="table table--character-weight">
								<thead>
									<tr>
										<th>d100</th>
										<th>Weight</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td>01-05</td>
										<td>Very thin</td>
									</tr>
									<tr>
										<td>06-30</td>
										<td>Thin</td>
									</tr>
									<tr>
										<td>31-70</td>
										<td>Average</td>
									</tr>
									<tr>
										<td>71-95</td>
										<td>Fat</td>
									</tr>
									<tr>
										<td>96-00</td>
										<td>Very fat</td>
									</tr>
								</tbody>
							</table>
							<table class="table table--character-feature">
								<thead>
									<tr>
										<th>d100</th>
										<th>Feature</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td>01-20</td>
										<td>Scar</td>
									</tr>
									<tr>
										<td>21-40</td>
										<td>Tattoo</td>
									</tr>
									<tr>
										<td>41-60</td>
										<td>Piercing</td>
									</tr>
									<tr>
										<td>61-80</td>
										<td>Birthmark</td>
									</tr>
									<tr>
										<td>81-00</td>
										<td>Accent</td>
									</tr>
								</tbody>
							</table>
						</tables>
						<tables class="tables" data-website-preserve-tables="true">
							<table class="table table--character-family">
								<thead>
									<tr>
										<th>d100</th>
										<th>Family</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td>01-05</td>
										<td>None</td>
									</tr>
									<tr>
										<td>06-30</td>
										<td>Small</td>
									</tr>
									<tr>
										<td>31-70</td>
										<td>Average</td>
									</tr>
									<tr>
										<td>71-95</td>
										<td>Large</td>
									</tr>
									<tr>
										<td>96-00</td>
										<td>Disowned</td>
									</tr>
								</tbody>
							</table>
							<table class="table table--character-parents">
								<thead>
									<tr>
										<th>d100</th>
										<th>Raised By</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td>01-40</td>
										<td>Natural Parent(s)</td>
									</tr>
									<tr>
										<td>41-60</td>
										<td>Close Family</td>
									</tr>
									<tr>
										<td>61-70</td>
										<td>Adopted Parent(s)</td>
									</tr>
									<tr>
										<td>71-90</td>
										<td>An institution</td>
									</tr>
									<tr>
										<td>91-00</td>
										<td>Yourself</td>
									</tr>
								</tbody>
							</table>
						</tables>
					</section>
				</list>

				<col-break></col-break>

				<aside class="panel panel--aside">
					<header class="panel__header">
						<h4 class="panel__title">Racial Variations</h4>
					</header>
					<section class="panel__body">
						<p>Some of the character details listed here (age, weight, height, etc.) are relative to your particular race. A <i>very short</i> elf is very short by elf standards, for example, while a <i>large</i> halfling family is large by halfling standards.</p>
					</section>
				</aside>

				<h4>Memories</h4>
				<p>Roll on this table to generate a significant memory. For each memory, name a unique NPC, faction, or place—create your own to add something new into the world, or use existing lore to anchor your character to the setting.</p>
				<p><strong>Character Age:</strong> The older you are, the more significant memories you have—young adult (1), early middle-age (2), late middle-age (3), old (4), and very old (5).</p>

				<list class="panel panel--list">
					<header class="panel__header">
						<h4 class="panel__title">Character Memories</h4>
					</header>
					<section class="panel__body">
						<table class="table table--memories">
							<thead>
								<tr>
									<th>d100</th>
									<th>Memory</th>
									<th>Description</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>01-08</td>
									<td>Achievement</td>
									<td>A goal you helped complete</td>
								</tr>
								<tr>
									<td>09-16</td>
									<td>Anger</td>
									<td>A time you felt incandescent rage</td>
								</tr>
								<tr>
									<td>17-24</td>
									<td>Conflict</td>
									<td>Someone opposed you</td>
								</tr>
								<tr>
									<td>25-32</td>
									<td>Disappointment</td>
									<td>Expectations weren't met.</td>
								</tr>
								<tr>
									<td>33-40</td>
									<td>Fear</td>
									<td>A moment of pure terror</td>
								</tr>
								<tr>
									<td>41-48</td>
									<td>Friendship</td>
									<td>A close bond forged or tested</td>
								</tr>
								<tr>
									<td>49-56</td>
									<td>Greed</td>
									<td>A time you succumbed to greed</td>
								</tr>
								<tr>
									<td>57-64</td>
									<td>Happiness</td>
									<td>A moment of pure joy</td>
								</tr>
								<tr>
									<td>65-72</td>
									<td>Loss</td>
									<td>Something precious was taken</td>
								</tr>
								<tr>
									<td>73-80</td>
									<td>Love</td>
									<td>A love gained or lost</td>
								</tr>
								<tr>
									<td>81-88</td>
									<td>Pride</td>
									<td>You made someone proud</td>
								</tr>
								<tr>
									<td>89-96</td>
									<td>Trauma</td>
									<td>A deeply distressing experience</td>
								</tr>
							</tbody>
						</table>
					</section>
				</list>

				<h4>Motivation</h4>
				<p>Roll to see what your character's primary motivation in life is. This may explain why they became an adventurer, how they react to situations, or what their general goal is.</p>
				<p>You can choose exactly how this motivation manifests in your actions.</p>

				<list class="panel panel--list">
					<header class="panel__header">
						<h4 class="panel__title">Character Motivation</h4>
					</header>
					<section class="panel__body">
						<table class="table table--motivation">
							<thead>
								<tr>
									<th>d100</th>
									<th>Motivation</th>
									<th>Description</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>01-06</td>
									<td>Achievement</td>
									<td>To become the best</td>
								</tr>
								<tr>
									<td>07-12</td>
									<td>Acquisition</td>
									<td>To obtain possessions or wealth</td>
								</tr>
								<tr>
									<td>13-18</td>
									<td>Balance</td>
									<td>To bring all things into harmony</td>
								</tr>
								<tr>
									<td>19-24</td>
									<td>Beneficence</td>
									<td>To protect, heal, and mend</td>
								</tr>
								<tr>
									<td>25-30</td>
									<td>Creation</td>
									<td>To build or make new</td>
								</tr>
								<tr>
									<td>31-36</td>
									<td>Discovery</td>
									<td>To explore, uncover, and pioneer</td>
								</tr>
								<tr>
									<td>37-42</td>
									<td>Education</td>
									<td>To inform, teach, or train</td>
								</tr>
								<tr>
									<td>43-48</td>
									<td>Hedonism</td>
									<td>To enjoy all things sensuous</td>
								</tr>
								<tr>
									<td>49-54</td>
									<td>Liberation</td>
									<td>To free the self and/or others</td>
								</tr>
								<tr>
									<td>55-60</td>
									<td>Nobility</td>
									<td>To be virtuous, honest, and brave</td>
								</tr>
								<tr>
									<td>61-66</td>
									<td>Order</td>
									<td>To organize and reduce chaos</td>
								</tr>
								<tr>
									<td>67-73</td>
									<td>Play</td>
									<td>To have fun, to enjoy life</td>
								</tr>
								<tr>
									<td>74-79</td>
									<td>Power</td>
									<td>To control and lead others</td>
								</tr>
								<tr>
									<td>80-85</td>
									<td>Recognition</td>
									<td>To gain approval, status, or fame</td>
								</tr>
								<tr>
									<td>86-91</td>
									<td>Service</td>
									<td>To follow a person or group</td>
								</tr>
								<tr>
									<td>92-97</td>
									<td>Understanding</td>
									<td>To seek knowledge or wisdom</td>
								</tr>
								<tr>
									<td>98-00</td>
									<td class="reroll">Choose</td>
									<td><span class="empty">—</span></td>
								</tr>
							</tbody>
						</table>
					</section>
				</list>
			</page>
			<page class="page page--generic page--character-creation">
				<h4>Habits</h4>
				<p>Everyone has a notable habit of some kind—speaking too loud, constant fidgeting, collecting knickknacks, etc.</p>
				<p>Roll on the <i>Character Habits</i> table below to see what habit your character has picked up during their life, or pick a notable habit of your own making.</p>

				<list class="panel panel--list">
					<header class="panel__header">
						<h4 class="panel__title">Character Habits</h4>
					</header>
					<section class="panel__body">
						<tables class="tables">
							<table class="table table--habit">
								<thead>
									<tr>
										<th>d100</th>
										<th>Habit</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td>01-03</td>
										<td>Humming</td>
									</tr>
									<tr>
										<td>04-06</td>
										<td>Dancing</td>
									</tr>
									<tr>
										<td>07-09</td>
										<td>Sleepwalking</td>
									</tr>
									<tr>
										<td>10-12</td>
										<td>Facial tics</td>
									</tr>
									<tr>
										<td>13-15</td>
										<td>Fingernail biting</td>
									</tr>
									<tr>
										<td>16-18</td>
										<td>Daydreaming</td>
									</tr>
									<tr>
										<td>19-21</td>
										<td>Talking in sleep</td>
									</tr>
									<tr>
										<td>22-24</td>
										<td>Whistling</td>
									</tr>
									<tr>
										<td>25-27</td>
										<td>Name dropping</td>
									</tr>
									<tr>
										<td>28-30</td>
										<td>Constant grooming</td>
									</tr>
									<tr>
										<td>31-33</td>
										<td>Foot tapping</td>
									</tr>
									<tr>
										<td>34-36</td>
										<td>Lip biting/licking</td>
									</tr>
									<tr>
										<td>37-39</td>
										<td>Coin flipping</td>
									</tr>
									<tr>
										<td>40-42</td>
										<td>Chewing</td>
									</tr>
									<tr>
										<td>43-45</td>
										<td>Knuckle cracking</td>
									</tr>
									<tr>
										<td>46-48</td>
										<td>Collects odd things</td>
									</tr>
									<tr>
										<td>49-51</td>
										<td>Singing</td>
									</tr>
								</tbody>
							</table>
							<table class="table table--habit">
								<thead>
									<tr>
										<th>d100</th>
										<th>Habit</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td>52-54</td>
										<td>Snacking</td>
									</tr>
									<tr>
										<td>55-57</td>
										<td>Pacing</td>
									</tr>
									<tr>
										<td>58-60</td>
										<td>Counting</td>
									</tr>
									<tr>
										<td>61-63</td>
										<td>Snoring</td>
									</tr>
									<tr>
										<td>64-66</td>
										<td>Beard/hair stroking</td>
									</tr>
									<tr>
										<td>67-69</td>
										<td>Nose picking</td>
									</tr>
									<tr>
										<td>70-72</td>
										<td>Apologizing</td>
									</tr>
									<tr>
										<td>73-75</td>
										<td>Exaggeration</td>
									</tr>
									<tr>
										<td>74-78</td>
										<td>Superstitious</td>
									</tr>
									<tr>
										<td>79-81</td>
										<td>Belching</td>
									</tr>
									<tr>
										<td>82-84</td>
										<td>Repeating others</td>
									</tr>
									<tr>
										<td>85-87</td>
										<td>Smelling things</td>
									</tr>
									<tr>
										<td>88-90</td>
										<td>Teeth picking</td>
									</tr>
									<tr>
										<td>91-93</td>
										<td>Swearing</td>
									</tr>
									<tr>
										<td>94-96</td>
										<td>Telling secrets</td>
									</tr>
									<tr>
										<td>97-99</td>
										<td>Repeating yourself</td>
									</tr>
									<tr>
										<td>00</td>
										<td class="reroll">Choose</td>
									</tr>
								</tbody>
							</table>
						</tables>
					</section>
				</list>

				<h4>Quest</h4>
				<p>There is something your character is seeking to accomplish in the short term, either through their own desires or because someone has compelled them to. Your quest may be tied to your <i>motivation</i> or one of your character's <i>significant memories</i>.</p>
				<p>Roll on the <i>Character Quest</i> table to see what theme your initial quest takes. You can decide the exact details of your task with your GM.</p>

				<list class="panel panel--list">
					<header class="panel__header">
						<h4 class="panel__title">Character Quest</h4>
					</header>
					<section class="panel__body">
						<table class="table table--quest">
							<thead>
								<tr>
									<th>d100</th>
									<th>Quest</th>
									<th>Description</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>01-10</td>
									<td>Acquire</td>
									<td>To take possession of a specific item</td>
								</tr>
								<tr>
									<td>11-20</td>
									<td>Craft</td>
									<td>To create an item or art piece</td>
								</tr>
								<tr>
									<td>21-30</td>
									<td>Deliver</td>
									<td>To bring something somewhere</td>
								</tr>
								<tr>
									<td>31-40</td>
									<td>Destroy</td>
									<td>To destroy a precious object</td>
								</tr>
								<tr>
									<td>41-50</td>
									<td>Discover</td>
									<td>To find a person, place, or thing</td>
								</tr>
								<tr>
									<td>51-60</td>
									<td>Explore</td>
									<td>To map out a location</td>
								</tr>
								<tr>
									<td>61-70</td>
									<td>Justice</td>
									<td>To apprehend someone</td>
								</tr>
								<tr>
									<td>71-80</td>
									<td>Learn</td>
									<td>To gain specific knowledge</td>
								</tr>
								<tr>
									<td>81-90</td>
									<td>Meet</td>
									<td>To find someone</td>
								</tr>
								<tr>
									<td>91-00</td>
									<td>Vengeance</td>
									<td>To take revenge on someone</td>
								</tr>
							</tbody>
						</table>
					</section>
				</list>

				<example class="panel panel--example">
					<section class="panel__body">
						<p>Viridan is tall and thin, despite a habit of <i>constantly</i> snacking on whatever's close to hand. He has a distinctive noble accent that becomes more pronounced when he's angry.</p>
						<p>One day, Viridian hopes to meet the legendary bard <i>Vandielle d'Blush</i> and gain her seal of approval.</p>
					</section>
				</example>

				<col-break></col-break>

				<h3><span class="h3__highlight">6</span>Feature Tweaks</h3>
				<p>This supplement includes a variety of racial, class, and feature changes—such as languages, initiative, and darkvision—to help better support a low-powered, dangerous, or darker tone of gameplay.</p>
				<p>If the <i>Feature Changes</i> (<span class='page-detail--page-number' data-target='feature-changes'></span>), <i>Racial Changes</i> (<span class='page-detail--page-number' data-target='racial-changes'></span>), and/or <i>Class Changes</i> (<span class='page-detail--page-number' data-target='class-changes'></span>) modules are being used in your game, read through the relevant chapters to see if you need to update anything for your new character.</p>

				<h3><span class="h3__highlight">7</span>Buy Equipment</h3>
				<p>Now it's time to equip your character. You don't start with any notable gear from your background or class—instead, you start with an amount of gold as determined by your 1st-level class.</p>
				<p>Check the table below and make a roll to see how much gold you have—you can then spend this gold to buy starting equipment and supplies appropriate for your character and campaign. Your character may also incur living costs during their downtime, so you might want to keep some gold spare.</p>

				<list class="panel panel--list">
					<header class="panel__header">
						<h4 class="panel__title">Starting Wealth by Class</h4>
					</header>
					<section class="panel__body">
						<table class="table table--wealth">
							<thead>
								<tr>
									<th>Class</th>
									<th colspan="4"><div class="spacer">Gold</div></th>
								</tr>
								<tr>
									<th></th>
									<th>Random</th>
									<th>Low</th>
									<th>Average</th>
									<th>High</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>Barbarian</td>
									<td>2d4 x 10</td>
									<td>20</td>
									<td>50</td>
									<td>80</td>
								</tr>
								<tr>
									<td>Bard</td>
									<td>5d4 x 10</td>
									<td>50</td>
									<td>120</td>
									<td>200</td>
								</tr>
								<tr>
									<td>Cleric</td>
									<td>5d4 x 10</td>
									<td>50</td>
									<td>120</td>
									<td>200</td>
								</tr>
								<tr>
									<td>Druid</td>
									<td>2d4 x 10</td>
									<td>20</td>
									<td>50</td>
									<td>80</td>
								</tr>
								<tr>
									<td>Fighter</td>
									<td>5d4 x 10</td>
									<td>50</td>
									<td>120</td>
									<td>200</td>
								</tr>
								<tr>
									<td>Monk</td>
									<td>5d4</td>
									<td>5</td>
									<td>12</td>
									<td>20</td>
								</tr>
								<tr>
									<td>Paladin</td>
									<td>5d4 x 10</td>
									<td>50</td>
									<td>120</td>
									<td>200</td>
								</tr>
								<tr>
									<td>Ranger</td>
									<td>5d4 x 10</td>
									<td>50</td>
									<td>120</td>
									<td>200</td>
								</tr>
								<tr>
									<td>Rogue</td>
									<td>4d4 x 10</td>
									<td>40</td>
									<td>100</td>
									<td>160</td>
								</tr>
								<tr>
									<td>Sorcerer</td>
									<td>3d4 x 10</td>
									<td>30</td>
									<td>70</td>
									<td>120</td>
								</tr>
								<tr>
									<td>Warlock</td>
									<td>4d4 x 10</td>
									<td>40</td>
									<td>100</td>
									<td>160</td>
								</tr>
								<tr>
									<td>Wizard</td>
									<td>4d4 x 10</td>
									<td>40</td>
									<td>100</td>
									<td>160</td>
								</tr>
							</tbody>
						</table>
					</section>
				</list>

				<h4>Random vs. Static</h4>
				<p>The GM may nominate whether to use random rolls or static values for starting wealth. With static wealth, players gain the <i>average</i> gold for their class—unless it is a particularly low or high-wealth game.</p>

				<h3><span class="h3__highlight">8</span>Take a Fate Point</h3>
				<p>Fate points (<span class='page-detail--page-number' data-target='cheating-fate'></span>) allow your character to defy fate and cheat death, acting as a <i>second life</i> should you be caught unawares by a suddenly fatal action.</p>
				<p>A new character starts with one fate point—a boon for reaching the heights of 1st-level. It's hard to get new fate points, so keep it safe and use it wisely.</p>

				<h3><span class="h3__highlight">9</span>Venture Forth</h3>
				<p>Your character is now ready to begin their adventure. Join the rest of your party, prepare a journey into the untamed wilds, and face the <i>Darker Dungeons</i> below.</p>
			</page>
			<page class="page page--generic page--character-creation">
				<h2 data-section=2>Variant Dials</h2>
				<p>If you don't want to use <i>fully</i> randomized characters in your game—or you just want to change character creation in some small ways—try some of these variant dials.</p>

				<h3><span class="h3__highlight">A</span>Race, Background, & Class</h3>
				<p>These options allow you to customize how players pick their race, background, and class. Use these to give your players varying control over the core of their character.</p>

				<h4 class="h4--option">Just One Roll</h4>
				<p>You must randomly generate <i>one</i> element of your choosing: your race, background, or class. You may pick the remaining two elements manually as normal.</p>

				<h4 class="h4--option">One Free Reroll</h4>
				<p>After randomly generating your race, background, and class, you may reroll one element of your choosing and keep the preferred result.</p>

				<h4 class="h4--option">One Free Selection</h4>
				<p>After randomly generating your race, background, and class, you may replace one element of your choosing with a manual selection.</p>

				<h4 class="h4--option">Opt-in Randomizer Rewards</h4>
				<p>You may pick your race, background, and class manually. But if you decide to randomly generate an element, you gain a reward—the more elements that you choose to randomize, the bigger the final reward.</p>

				<list class="panel panel--list">
					<header class="panel__header">
						<h4 class="panel__title">Opt-in Rewards</h4>
					</header>
					<section class="panel__body">
						<table class="table table--random-rewards">
							<thead>
								<tr>
									<th>Tier</th>
									<th>Randomized</th>
									<th>Reward</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>Apprentice</td>
									<td>One element</td>
									<td>10 gp</td>
								</tr>
								<tr>
									<td>Initiate</td>
									<td>Two elements</td>
									<td>10 gp and 1 skill point</td>
								</tr>
								<tr>
									<td>Artisan</td>
									<td>All three elements</td>
									<td>10 gp, 1 skill point, and 1 ability point</td>
								</tr>
							</tbody>
						</table>
					</section>
				</list>

				<p>This skill point may be added to any skill of your choosing. The ability point may be added to any of your six abilities—though you can't raise an ability score above 15 before applying racial modifiers.</p>

				<h4 class="h4--option">Roll Twice, Pick Once</h4>
				<p>When you roll for your race, background, and class, you may roll twice and pick the preferred result.</p>

				<h3><span class="h3__highlight">B</span>Randomized Magic</h3>
				<p>This option randomizes the magic selection for spellcasters—good if you really want to mix things up in your game with some unusual combinations.</p>
				<p>If you are a spellcaster—or have gained optional spells through your race or background—roll randomly to generate your starting cantrips and spell lists. After randomizing your spell collection, you may swap one of your cantrips for a different cantrip of your choosing.</p>

				<col-break></col-break>

				<h3><span class="h3__highlight">C</span>Ability Arrays</h3>
				<p>These options allow you to customize how players generate their ability arrays.</p>

				<h4 class="h4--option">Higher-powered Rolls</h4>
				<p>Instead of rolling 3d6 for your ability score, you may roll 4d6 and drop the lowest die value.</p>

				<h4 class="h4--option">Roll in any Order</h4>
				<p>Instead of rolling your ability scores in order, you may assign your scores in whichever order you wish.</p>

				<h4 class="h4--option">Shared Party Array</h4>
				<p>At the start of the game, everyone helps to generate a shared ability array for the whole party.</p>
				<p>Starting from the left of the GM and moving clockwise, each player rolls one 3d6 in turn until six numbers are generated—this becomes the starting ability array used by all 1st-level characters for the game.</p>

				<h4 class="h4--option">Static Arrays</h4>
				<p>Instead of rolling for your ability scores, you take an array of values and assigns them manually to your abilities. The DM chooses the starting power level for the game:</p>

				<mechanic class="panel panel--mechanic panel--mechanic--align-left">
					<header class="panel__header">
						<h4 class="panel__title">Static Arrays</h4>
					</header>
					<section class="panel__body">
						<ul>
							<li><strong>Low power:</strong> [15, 12, 11, 10, 9, 7] <i>(18 points)</i></li>
							<li><strong>Standard power:</strong> [15, 14, 13, 12, 10, 8] <i>(27 points)</i></li>
						</ul>
					</section>
				</mechanic>

				<h3><span class="h3__highlight">D</span>Feats</h3>
				<p>As an optional mechanic, feats are not active by default—and are not recommended for low-power games. But if you do want to include feats in your game, these options may help you to control their scope and influence.</p>

				<h4 class="h4--option">No Duplicate Feats</h4>
				<p>A feat can only be taken once across the entire party—once a feat is taken, it's locked until that character leaves the party, dies, or loses the feat by some other means.</p>

				<h4 class="h4--option">Racial Feats Only</h4>
				<p>You may only take racial feats. If no appropriate feats are available, you may (with the DM's agreement) reskin an existing feat <i>or</i> create one to highlight a racial feature.</p>

				<h4 class="h4--option">The Blacklist</h4>
				<p>If you want to include feats in your game but exclude some of the more troublesome ones, apply a blacklist.</p>

				<mechanic class="panel panel--mechanic panel--mechanic--align-left">
					<header class="panel__header">
						<h4 class="panel__title">Example Blacklist</h4>
					</header>
					<section class="panel__body">
						<p>Players may not take any of the following feats.</p>
						<div class="layout--columns layout--columns--2">
							<ul>
								<li>Crossbow Expert</li>
								<li>Great Weapon Master</li>
								<li>Lucky</li>
								<li>Polearm Master</li>
							</ul>
							<ul>
								<li>Resilient</li>
								<li>Sentinel</li>
								<li>Sharpshooter</li>
								<li>Spell Sniper</li>
							</ul>
						</div>
					</section>
				</mechanic>
			</page>
		</book>
	</body>
</html>
