<html>
	<body>
		<book class="book">
			<page class="page page--generic page--cheating-fate" data-header-icon="trefoil-lily">
				<h1 id="cheating-fate">Cheating Fate</h1>
				<p>In the face of certain death, a lucky adventurer might just find a way to cheat fate and live on to fight another day. Today is a good day to survive.</p>
				<p>This chapter introduces <i>fate points</i> for player characters and how you can use them in your game.</p>

				<h2>Fate Points</h2>
				<p>If you would suffer a killing blow or fail your last death saving throw, you may spend a <i>fate point</i> to cheat death in some fashion.</p>
				<p>Perhaps you were knocked unconscious, or the scorpion's poison wasn't strong enough to finish you off, or it was just a flesh wound? Discuss with your GM exactly how it is you managed to survive your ordeal.</p>

				<example class="panel panel--example">
					<section class="panel__body">
						<ul class="chat">
							<li><span class="chat__speaker">GM:</span><span>You lie unconscious and dying, Viridian, but the orc is without mercy—she stabs down with her spear. Lose a death saving throw.</span></li>
							<li><span class="chat__speaker">Viridian:</span><span>Oh no, that was my last one... I'm dead. Or I <i>would</i> be if I didn't have one last <i>fate point</i> to use. Perhaps the spear <i>missed</i> me...?</span></li>
							<li><span class="chat__speaker">GM:</span><span>Fate is in your favor. The spear wouldn't miss given its proximity, but let's say it missed your vital organs. Everyone thinks you're dead, and you remain unconscious <i>but alive</i> for the rest of the scene.</span></li>
							<li><span class="chat__speaker">Viridian:</span><span>Unconscious and alive sounds good to me.</span></li>
						</ul>
					</section>
				</example>

				<aside class="panel panel--aside">
					<header class="panel__header">
						<h4 class="panel__title">Why Use Fate?</h4>
					</header>
					<section class="panel__body">
						<p>When you roll dice, fate can be cruel—even <i>unfair</i>—at times. Fate points give players a way to mitigate the meanest twists of fate without neutering the threat entirely.</p>
					</section>
				</aside>

				<col-break></col-break>

				<h3>Gaining Fate</h3>
				<p>1st-level characters start with one fate point—a reward for becoming an adventurer in the first place. You can hold up to three fate points at any one time, and fate points can't be exchanged between characters.</p>
				<p>Beyond this, fate points are <i>extremely</i> rare. To gain fate, players must face—and defeat—the most dangerous monsters in your world. Dragons, liches, beholders—these <i>fated</i> monsters are significant threats to the party.</p>
				<p>Fate smiles on those who brave the darkest of these <i>optional</i> dangers and survive.</p>
				<p><strong>One Monster, One Point:</strong> A fated monster rewards only 1 fate point in total when defeated—the players must decide who among them is lucky enough to take it.</p>

				<example class="panel panel--example">
					<section class="panel__body">
						<ul class="chat">
							<li><span class="chat__speaker">GM:</span><span>You hear that the black dragon Kaladax has laid waste to Merrowford and taken residence in the burnt wreckage of the town.</span></li>
							<li><span class="chat__speaker">Clanda:</span><span>Interesting. Is he a <i>fated</i> dragon?</span></li>
							<li><span class="chat__speaker">GM:</span><span>Kaladax is a major power, and certainly fated.</span></li>
							<li><span class="chat__speaker">Viridian:</span><span>Could be worth investigating. I don't like being fate-less now, myself...</span></li>
						</ul>
					</section>
				</example>

				<h3>Spending Fate</h3>
				<p>When you spend a fate point, you (usually) can't act for the rest of the scene—everyone, friend and foe alike, thinks you're dead or otherwise not worth any attention. But you are immune to any further damage during the rest of the scene, regardless of whatever else happens around your unconscious body.</p>
				<p>At the end of the scene—or whenever appropriate—you regain consciousness with 1 hit point. You also recover any failed death saving throws.</p>
			</page>
		</book>
	</body>
</html>
