<html>
	<body>
		<book class="book">
			<page class="page page--generic page--class-changes" data-header-icon="winged-sword">
				<h1 id="class-changes">Class Changes</h1>
				<p>Only the most brave—or most foolhardy—of adventurers would head out into the wilds without adequate training, skills, and abilities.</p>
				<p>This chapter introduces a number of class changes to resolve balance issues. These changes are recommended but not mandatory—use the ones that best suit your game.</p>

				<h2>Barbarian</h2>
				<p>Fierce and rage-driven warriors, barbarians can solve almost any problem with a simple swing of an axe.</p>

				<h3>Berserker Frenzy</h3>
				<p>When your frenzied rage ends, you lose one unspent hit die. If you don't have any hit die remaining, you instead suffer one level of exhaustion.</p>

				<example class="panel panel--example">
					<section class="panel__body">
						<p>Krazak felt his frenzy slip away, taking a measure of his stamina with it. Around the dwarf lay five dead orcs—warriors of the Redtoof warband. Krazak cursed loudly.</p>
						<p>"Weak," he snarled. "Not even worth the rage."</p>
						<p>A sudden horn blast broke the silence as. From over the hills, a horde of orcs started to charge at him.</p>
						<p>Krazak grinned, greataxe in hand, as rage burned in his blood again. "Now this is more like it!" he roared.</p>
					</section>
				</example>

				<aside class="panel panel--aside">
					<header class="panel__header">
						<h4 class="panel__title">Giffyglyph's Class Compendium</h4>
					</header>
					<section class="panel__body">
						<p>To see a major overhaul of the core D&D classes, fully rebalanced for 1st-10th-level, try <i>Giffyglyph's Class Compendium</i>—a 5e supplement with new rules, features, and subclasses for your D&D 5e characters.</p>
					</section>
				</aside>

				<col-break></col-break>

				<h2>Druid</h2>
				<p>Shapeshifting agents of nature, druids channel ancient and primal powers in their quest to preserve balance—by force and with blood, if necessary.</p>

				<h3>Wild Shape</h3>
				<p>Starting at 2nd-level, you gain access to the <i>Wild Shape</i> feature. This ability is subject to the following changes:</p>
				<ul>
					<li><strong>Attack Bonus / Ability DCs:</strong> When in wild shape, calculate your attack bonus and any ability DCs using either your shape's proficiency bonus <i>or</i> your own—whichever is highest. You are proficient in whichever forms of attack the shape is proficient in.</li>
					<li><strong>Defenses / Damage:</strong> Your wild shape's defenses and attack damage values are unchanged.</li>
					<li><strong>Hit Points:</strong> When in wild shape, your hit point maximum is equal to either the shape's default <i>or</i> six times your druid level—whichever is highest.</li>
					<li><strong>0 Hit Points:</strong> If you are reduced to 0 hit points whilst in a wild shape, you revert to your normal form and lose one unspent hit die <i>or</i> suffer a level of exhaustion if you have no hit dice remaining.</li>
					<li><strong>Multiattack:</strong> You can't use multiattack in your new form until you are a 5th-level druid (or higher).</li>
				</ul>

				<example class="panel panel--example">
					<section class="panel__body">
						<p>Reynis is a 10th-level gnome druid with a proficiency bonus of +4. In a duel with the Boar King, she wild shapes into a CR 1/4 boar (proficiency bonus +2).</p>
						<p>She updates the boar's attack bonus from +3 to +5, and its hit points from 11 to 60. She also updates the attack DC of its charge ability from DC 11 to DC 13.</p>
					</section>
				</example>
			</page>
			<page class="page page--generic page--class-changes">
				<h3>Wild Bestiary</h3>
				<p>As a druid, you can shapeshift into a number of different wild shapes—this collection is called your <i>wild bestiary</i>.</p>
				<p>Your bestiary can hold a total number of shapes equal to your druid level. If you forget a shape from your bestiary, you will have to relearn it again.</p>

				<h4>Learning a New Wild Shape</h4>
				<p>To add a new shape to your bestiary (or replace an existing one), you must closely observe a live beast to study it. This requires 1 hour of focus per CR of the beast (minimum 1 hour), during which you develop a primal understanding of the creature's essence.</p>
				<p>If the beast is friendly, reduce the required time by half—but if it is acting hostile, double the time.</p>
				<p><strong>Interrupted Focus:</strong> If your efforts are significantly interrupted—the beast escapes, you fall asleep, a combat encounter begins, etc—you lose your focus and must start your observations again from the beginning.</p>

				<h4>Going on a Wild Hunt</h4>
				<p>To find a beast and master its wild shape, many druids begin a <i>wild hunt</i>. Depending on the beast, location, and the length of time required, you may need to make several skill checks during your wild hunt to see if you are successful in your efforts.</p>
				<p>Skills (such as Animal Handling, Insight, Nature, Stealth, and Survival) and magic spells (such as Animal Friendship, Speak with Animals, and Locate Animals or Plants) may be of particular help during a wild hunt.</p>

				<example class="panel panel--example">
					<section class="panel__body">
						<p>Reynis sat in silence as the giant elk drank from a clear pool below. She had been studying the beast for an hour, watching it from atop the trees as she tried to master the essence of its wild shape.</p>
						<p>A bird took flight nearby with a loud screech. The elk looked up, startled—Reynis could tell it was about to flee if she didn't do something quick...</p>
					</section>
				</example>

				<h2>Fighter</h2>
				<p>With a sixth-sense for combat, fighters are inextricably drawn to the heat of battle. Some fight for what they believe in—but for others, the fight is all that matters.</p>

				<h3>Second Wind</h3>
				<p>As you master your fighting skills, your ability to recover from battle is improved—<i>Second Wind</i> now restores more hit points as your fighter class level increases.</p>

				<list class="panel panel--list">
					<header class="panel__header">
						<h4 class="panel__title">Second Wind</h4>
					</header>
					<section class="panel__body">
						<tables class="tables tables--second-wind">
							<table class="table">
								<thead>
									<tr>
										<th>Level</th>
										<th>Hit Points</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td>1st</td>
										<td>1d10 + fighter level</td>
									</tr>
									<tr>
										<td>3rd</td>
										<td>2d10 + fighter level</td>
									</tr>
									<tr>
										<td>7th</td>
										<td>3d10 + fighter level</td>
									</tr>
								</tbody>
							</table>
							<table class="table">
								<thead>
									<tr>
										<th>Level</th>
										<th>Hit Points</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td>10th</td>
										<td>4d10 + fighter level</td>
									</tr>
									<tr>
										<td>15th</td>
										<td>5d10 + fighter level</td>
									</tr>
									<tr>
										<td>18th</td>
										<td>6d10 + fighter level</td>
									</tr>
								</tbody>
							</table>
						</tables>
					</section>
				</list>

				<col-break></col-break>

				<aside class="panel panel--aside">
					<header class="panel__header">
						<h4 class="panel__title">Choose your Own Changes</h4>
					</header>
					<section class="panel__body">
						<p>Every table is different. These changes help to resolve some issues that <i>I've</i> experienced, but if your game doesn't face similar problems—or these changes don't suit your particular playstyle—don't use them.</p>
					</section>
				</aside>

				<h3>Battle Master Maneuvers</h3>
				<p>Many fighters develop signature abilities—these battle masters use their maneuvers to control the battlefield.</p>

				<h4 class="h4--option">Disarming Attack</h4>
				<p>If you are adjacent to the target and have a free hand, you may catch the disarmed item as a free action.</p>

				<h4 class="h4--option">Evasive Footwork</h4>
				<p>This maneuver also allows you to dodge an attack with some evasive, reactive footwork.</p>
				<p>When another creature attacks you with a melee attack, you can use your reaction to expend one superiority die and roll it—add the number to your AC for that attack, potentially causing the attack to miss.</p>

				<h4 class="h4--option">Lunging Attack</h4>
				<p>When you take the Attack action on your turn, you can expend one superiority die to increase your reach with melee weapon attacks by 5ft until the end of your turn.</p>
				<p>Once during your turn, if you hit a creature with a lunging attack, you may add the superiority die to the attack's damage roll.</p>

				<h4 class="h4--option">Rally</h4>
				<p>You grant more temporary hit points as you gain fighter class levels and become a more inspiring battle master.</p>

				<list class="panel panel--list">
					<header class="panel__header">
						<h4 class="panel__title">Rally</h4>
					</header>
					<section class="panel__body">
						<tables class="tables tables--rally">
							<table class="table">
								<thead>
									<tr>
										<th>Level</th>
										<th>Temp. Hit Points</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td>3rd</td>
										<td>2d8 + fighter level</td>
									</tr>
									<tr>
										<td>7th</td>
										<td>3d8 + fighter level</td>
									</tr>
									<tr>
										<td>10th</td>
										<td>4d10 + fighter level</td>
									</tr>
								</tbody>
							</table>
							<table class="table">
								<thead>
									<tr>
										<th>Level</th>
										<th>Temp. Hit Points</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td>15th</td>
										<td>5d10 + fighter level</td>
									</tr>
									<tr>
										<td>18th</td>
										<td>6d12 + fighter level</td>
									</tr>
									<tr class="empty">
										<td><span class="empty">—</span></td>
										<td><span class="empty">—</span></td>
									</tr>
								</tbody>
							</table>
						</tables>
					</section>
				</list>

				<h4 class="h4--option">Parry</h4>
				<p>When another creature attacks you with a melee attack, you can use your reaction to attempt a parry. Expend one superiority die to add your Dexterity modifier to your AC for that attack, potentially causing the attack to miss you. Alternatively, if you are holding a shield, you may add your Strength modifier instead.</p>
				<p>If the attack misses, you gain temporary hit points equal to the superiority die roll.</p>

				<h4 class="h4--option">Trip Attack</h4>
				<p>Your <i>Trip Attack</i> now requires a bonus action to use.</p>

				<example class="panel panel--example">
					<section class="panel__body">
						<p>Gamble kicked the dragonborn to the ground. "Stay down," growled the orc. "Final warning."</p>
					</section>
				</example>
			</page>
			<page class="page page--generic page--class-changes">
				<h2>Monk</h2>
				<p>Masters of inner peace and martial arts, monks harness their ki to connect with the universe itself.</p>

				<h3>Way of the Four Elements</h3>
				<p>You have become the still center of the turning wheel, bending the elements of nature to your will.</p>

				<h4>Disciple of the Elements</h4>
				<p>When you choose this tradition at 3rd-level, you learn one elemental attunement and two elemental disciplines of your choice from the tables below.</p>
				<p>You learn one additional attunement and two disciplines of your choice at 6th, 11th, and 17th-level.</p>

				<list class="panel panel--list">
					<header class="panel__header">
						<h4 class="panel__title">Elemental Attunements</h4>
					</header>
					<section class="panel__body">
						<table class="table table--class-monk-spells">
							<thead>
								<tr>
									<th>Name</th>
									<th>Spell</th>
									<th>Ki</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>Breath of the Wild</td>
									<td>Gust</td>
									<td>0</td>
								</tr>
								<tr>
									<td>Heart of the Ocean</td>
									<td>Shape Water</td>
									<td>0</td>
								</tr>
								<tr>
									<td>Monkey's Wise Craft</td>
									<td>Mold Earth</td>
									<td>0</td>
								</tr>
								<tr>
									<td>Sleeping Dragon</td>
									<td>Control Flames</td>
									<td>0</td>
								</tr>
							</tbody>
						</table>
					</section>
				</list>

				<list class="panel panel--list">
					<header class="panel__header">
						<h4 class="panel__title">Elemental Disciplines: 3rd-level</h4>
					</header>
					<section class="panel__body">
						<table class="table table--class-monk-spells table--class-monk-spells--level-3">
							<thead>
								<tr>
									<th>Name</th>
									<th>Spell</th>
									<th>Ki</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>Color of True Spirit</td>
									<td>Absorb Elements</td>
									<td>1</td>
								</tr>
								<tr>
									<td>Dance of Autumn's Pass</td>
									<td>Feather Fall</td>
									<td>1</td>
								</tr>
								<tr>
									<td>Fang of the Fire Snake</td>
									<td>(As written)</td>
									<td>1</td>
								</tr>
								<tr>
									<td>Fist of Four Thunders</td>
									<td>Thunderwave</td>
									<td>1</td>
								</tr>
								<tr>
									<td>Fist of Unbroken Air</td>
									<td>(As written)</td>
									<td>2</td>
								</tr>
								<tr>
									<td>Flight of Winter's Tear</td>
									<td>Ice Knife</td>
									<td>1</td>
								</tr>
								<tr>
									<td>Grace of Ages Past</td>
									<td>Longstrider</td>
									<td>1</td>
								</tr>
								<tr>
									<td>Sky Storm Mantra</td>
									<td>Zephyr Strike</td>
									<td>1</td>
								</tr>
								<tr>
									<td>Shape the Flowing River</td>
									<td>(As written)</td>
									<td>1</td>
								</tr>
								<tr>
									<td>Stance of the Grasshopper</td>
									<td>Jump</td>
									<td>1</td>
								</tr>
								<tr>
									<td>Sweeping Cinder Strike</td>
									<td>Burning Hands</td>
									<td>1</td>
								</tr>
								<tr>
									<td>Tears of the Patient Mountain</td>
									<td>Fog Cloud</td>
									<td>1</td>
								</tr>
								<tr>
									<td>Wake the Titan</td>
									<td>Earth Tremor</td>
									<td>1</td>
								</tr>
								<tr>
									<td>Water Whip</td>
									<td>(As written)</td>
									<td>2</td>
								</tr>
							</tbody>
						</table>
					</section>
				</list>

				<list class="panel panel--list">
					<header class="panel__header">
						<h4 class="panel__title">Elemental Disciplines: 6th-level</h4>
					</header>
					<section class="panel__body">
						<table class="table table--class-monk-spells table--class-monk-spells--level-6">
							<thead>
								<tr>
									<th>Name</th>
									<th>Spell</th>
									<th>Ki</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>Center of the Wheel</td>
									<td>Warding Wind</td>
									<td>2</td>
								</tr>
								<tr>
									<td>Claw of the Phoenix</td>
									<td>Flame Blade</td>
									<td>2</td>
								</tr>
								<tr>
									<td>Clench of the North Wind</td>
									<td>Hold Person</td>
									<td>2</td>
								</tr>
								<tr>
									<td>Divine Warrior's Ascent</td>
									<td>Levitate</td>
									<td>2</td>
								</tr>
								<tr>
									<td>Eye of a Hundred Agonies</td>
									<td>Flaming Sphere</td>
									<td>2</td>
								</tr>
								<tr>
									<td>Gong of the Summit</td>
									<td>Shatter</td>
									<td>2</td>
								</tr>
								<tr>
									<td>Hand of the Titan</td>
									<td>Maximilian's Earthen Grasp</td>
									<td>2</td>
								</tr>
								<tr>
									<td>Heart of the Phoenix</td>
									<td>Continual Flame</td>
									<td>2</td>
								</tr>
								<tr>
									<td>Kiss of the Wild Dragon</td>
									<td>Dragon's Breath</td>
									<td>2</td>
								</tr>
								<tr>
									<td>Red Hawk Lance</td>
									<td>Aganazzar's Scorcher</td>
									<td>2</td>
								</tr>
								<tr>
									<td>Rush of the Gale Spirits</td>
									<td>Gust of Wind</td>
									<td>2</td>
								</tr>
								<tr>
									<td>Three Days of Summer</td>
									<td>Scorching Ray</td>
									<td>2</td>
								</tr>
							</tbody>
						</table>
					</section>
				</list>

				<col-break></col-break>



				<list class="panel panel--list">
					<header class="panel__header">
						<h4 class="panel__title">Elemental Disciplines: 11th-level</h4>
					</header>
					<section class="panel__body">
						<table class="table table--class-monk-spells table--class-monk-spells--level-11">
							<thead>
								<tr>
									<th>Name</th>
									<th>Spell</th>
									<th>Ki</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>Face of the Crushing Ocean</td>
									<td>Tidal Wave</td>
									<td>3</td>
								</tr>
								<tr>
									<td>Fist of the Mad Titan</td>
									<td>Erupting Earth</td>
									<td>3</td>
								</tr>
								<tr>
									<td>Flames of the Phoenix</td>
									<td>Fireball</td>
									<td>3</td>
								</tr>
								<tr>
									<td>Flash Step</td>
									<td>Thunder Step</td>
									<td>3</td>
								</tr>
								<tr>
									<td>Gift of A Thousand Summers</td>
									<td>Water Breathing</td>
									<td>3</td>
								</tr>
								<tr>
									<td>Hand of Five Oceans</td>
									<td>Wall of Water</td>
									<td>3</td>
								</tr>
								<tr>
									<td>Mist Stance</td>
									<td>Gaseous Form</td>
									<td>3</td>
								</tr>
								<tr>
									<td>Nest of Watching Crane</td>
									<td>Wind Wall</td>
									<td>3</td>
								</tr>
								<tr>
									<td>Ride the Wind</td>
									<td>Fly</td>
									<td>3</td>
								</tr>
								<tr>
									<td>Royal Crown of Stars</td>
									<td>Melf's Minute Meteors</td>
									<td>3</td>
								</tr>
								<tr>
									<td>Stance of the Slow Gecko</td>
									<td>Water Walk</td>
									<td>3</td>
								</tr>
								<tr>
									<td>Wave of Shifting Sand</td>
									<td>Wall of Sand</td>
									<td>3</td>
								</tr>
								<tr>
									<td>Wicked Sage's Spear</td>
									<td>Lightning Bolt</td>
									<td>3</td>
								</tr>
								<tr>
									<td>Wrath of Heaven</td>
									<td>Call Lightning</td>
									<td>3</td>
								</tr>
							</tbody>
						</table>
					</section>
				</list>

				<list class="panel panel--list">
					<header class="panel__header">
						<h4 class="panel__title">Elemental Disciplines: 17th-level</h4>
					</header>
					<section class="panel__body">
						<table class="table table--class-monk-spells table--class-monk-spells--level-17">
							<thead>
								<tr>
									<th>Name</th>
									<th>Spell</th>
									<th>Ki</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>Bite of a Hundred Serpents</td>
									<td>Storm Sphere</td>
									<td>4</td>
								</tr>
								<tr>
									<td>Breath of Timeless Winter</td>
									<td>Cone of Cold</td>
									<td>5</td>
								</tr>
								<tr>
									<td>Black Pearl Grasp</td>
									<td>Watery Sphere</td>
									<td>4</td>
								</tr>
								<tr>
									<td>Calm the Unbroken Sea</td>
									<td>Control Water</td>
									<td>4</td>
								</tr>
								<tr>
									<td>Dark King's Judgement</td>
									<td>Flame Strike</td>
									<td>5</td>
								</tr>
								<tr>
									<td>Embrace of the Phoenix</td>
									<td>Fire Shield</td>
									<td>4</td>
								</tr>
								<tr>
									<td>Eternal Mountain Defense</td>
									<td>Stoneskin</td>
									<td>4</td>
								</tr>
								<tr>
									<td>Mouth of the Ocean</td>
									<td>Maelstrom</td>
									<td>5</td>
								</tr>
								<tr>
									<td>Path of Yellow Sand</td>
									<td>Transmute Rock</td>
									<td>5</td>
								</tr>
								<tr>
									<td>River of Hungry Flame</td>
									<td>Wall of Fire</td>
									<td>4</td>
								</tr>
								<tr>
									<td>Teeth of the Winter Moon</td>
									<td>Ice Storm</td>
									<td>4</td>
								</tr>
								<tr>
									<td>Tempest Spiral</td>
									<td>Control Winds</td>
									<td>5</td>
								</tr>
								<tr>
									<td>Wave of Rolling Earth</td>
									<td>Wall of Stone</td>
									<td>5</td>
								</tr>
								<tr>
									<td>Wild Dragon's Embrace</td>
									<td>Immolation</td>
									<td>5</td>
								</tr>
							</tbody>
						</table>
					</section>
				</list>

				<example class="panel panel--example">
					<section class="panel__body">
						<p>The ground shook beneath Ulryn's feet as the giant charged towards her. The drow monk smiled serenely.</p>
						<p>"You step loud enough to wake the titans," she said, pressing a fist to the soil. A giant stone hand burst from the ground. "And they are displeased..." </p>
					</section>
				</example>

				<h4>Elemental Mastery</h4>
				<p>At 17th-level, you have mastered attunement with one of the elements. Choose one of the following masteries:</p>
				<ul>
					<li><strong>Avatar of Air</strong> (Investiture of Wind)</li>
					<li><strong>Avatar of Earth</strong> (Investiture of Stone)</li>
					<li><strong>Avatar of Fire</strong> (Investiture of Flame)</li>
					<li><strong>Avatar of Water</strong> (Investiture of Ice)</li>
				</ul>

				<p>Once per long rest, as a free action, you may spend 6 ki points to invoke this avatar form.</p>

				<example class="panel panel--example">
					<section class="panel__body">
						<p>Ulryn walked forward, her ki blazing as earth and stone wrapped around her skin with each step.</p>
					</section>
				</example>
			</page>
			<page class="page page--generic page--class-changes">
				<h2>Paladin</h2>
				<p>Divine warriors who swear sacred oaths, paladins walk a path of righteousness. Shaped by their vows, these blessed champions can perform great—or terrible—acts.</p>

				<h3>Sacred Oath</h3>
				<p>Your oath is a sacred vow which separates you from any common knight—it is what makes you a paladin. At 1st-level, choose your oath and begin living by its tenets.</p>
				<p>At 3rd-level, your commitment to your oath is an inspiration. You gain your oath features as per normal.</p>

				<h4>Random Character Generation</h4>
				<p>If you are randomly generating your character, roll on the table below to see which oath you have sworn.</p>

				<list class="panel panel--list">
					<header class="panel__header">
						<h4 class="panel__title">Sacred Oaths</h4>
					</header>
					<section class="panel__body">
						<tables class="tables tables--oaths">
							<table class="table">
								<thead>
									<tr>
										<th>d100</th>
										<th>Oath</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td>01-19</td>
										<td>Ancients</td>
									</tr>
									<tr>
										<td>20-38</td>
										<td>Conquest</td>
									</tr>
									<tr>
										<td>39-57</td>
										<td>Devotion</td>
									</tr>
								</tbody>
							</table>
							<table class="table">
								<thead>
									<tr>
										<th>d100</th>
										<th>Oath</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td>57-76</td>
										<td>Redemption</td>
									</tr>
									<tr>
										<td>77-95</td>
										<td>Vengeance</td>
									</tr>
									<tr>
										<td>96-00</td>
										<td>Choose</td>
									</tr>
								</tbody>
							</table>
						</tables>
					</section>
				</list>

				<h3>Smite</h3>
				<p>Starting at 2nd-level, when you hit a creature with a melee weapon attack, you can spend a bonus action to expend one spell slot and smite your target. This deals extra damage and, in some cases, an additional effect.</p>
				<p>During a long rest, you may select a number of smite powers equal to your Charisma modifier (minimum 1). These smite powers must be appropriate for your level and don't count towards your number of prepared spells.</p>

				<list class="panel panel--list">
					<header class="panel__header">
						<h4 class="panel__title">Paladin Smites</h4>
					</header>
					<section class="panel__body">
						<table class="table table--class-paladin-smites">
							<thead>
								<tr>
									<th>Level</th>
									<th>Smite</th>
									<th>Min. Slot</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>2nd</td>
									<td>Divine, Searing, Thunderous, Wrathful</td>
									<td>1st</td>
								</tr>
								<tr>
									<td>5th</td>
									<td>Branding</td>
									<td>2nd</td>
								</tr>
								<tr>
									<td>9th</td>
									<td>Blinding</td>
									<td>3rd</td>
								</tr>
								<tr>
									<td>13th</td>
									<td>Staggering</td>
									<td>4th</td>
								</tr>
								<tr>
									<td>17th</td>
									<td>Banishing</td>
									<td>5th</td>
								</tr>
							</tbody>
						</table>
					</section>
				</list>

				<p>Smites are now a paladin class feature—remove them from the paladin class spell lists. The only way to learn a smite is to become a paladin, or be granted them by a specific class feature.</p>
				<p>Using a smite is not classed as casting a spell—smites can't be counterspelled nor altered by metamagic.</p>

				<example class="panel panel--example">
					<section class="panel__body">
						<p>Truth is a 5th-level drow paladin of devotion with a +4 Charisma modifier. As he prepares to undertake an oath quest—a journey through the haunted <i>Sundered Fields</i>—Truth can choose up to 4 smite powers. He chooses divine, thunderous, wrathful, and branding.</p>
					</section>
				</example>

				<col-break></col-break>

				<h4>Paladin Smites</h4>
				<p>As a paladin, you have access to powerful smites with debilitating effects. Some of these now-versatile smites are subject to the following damage adjustments:</p>

				<ul>
					<li>
						<p><strong>Blinding Smite:</strong> Now deals 3d8 radiant damage, increasing by 1d8 for each spell slot above 3rd-level to a maximum of 5d8.</p>
					</li>
					<li>
						<p><strong>Branding Smite:</strong> Now deals 2d8 radiant damage, increasing by 1d8 for each spell slot above 2nd-level to a maximum of 5d8.</p>
					</li>
					<li>
						<p><strong>Searing Smite:</strong> Now deals 1d8 fire damage, increasing by 1d8 for each spell slot above 1st-level to a maximum of 5d8.</p>
						<p>The ongoing flames deal 1d8 fire damage. If the spell is cast using a 3rd/4th-level slot, the flames deal 2d8 fire damage. If the spell is cast using a 5th-level slot, the flames deal 3d8 fire damage.</p>
					</li>
					<li>
						<p><strong>Staggering Smite:</strong> Now deals 4d8 psychic damage, increasing by 1d8 for each spell slot above 4th-level to a maximum of 5d8.</p>
					</li>
					<li>
						<p><strong>Thunderous Smite:</strong> Now deals 1d8 thunder damage, increasing by 1d8 for each spell slot above 1st-level to a maximum of 5d8.</p>
					</li>
					<li>
						<p><strong>Wrathful Smite:</strong> Now deals 1d8 thunder damage, increasing by 1d8 for each spell slot above 1st-level to a maximum of 5d8.</p>
					</li>
				</ul>

				<p>Some smites require concentration to persist an effect (blinding, banishing, etc)—this is unchanged.</p>

				<example class="panel panel--example">
					<section class="panel__body">
						<p>Truth slashed his sword through the air and felt his blade catch against the invisible stalker.</p>
						<p>"Now I've got you!" grinned the paladin victoriously. Divine power poured into his sword, branding the stalker with a glowing, radiant mark.</p>
					</section>
				</example>

				<h2>Ranger</h2>
				<p>On the outskirts of civilization, rangers learn how to survive in dark and dangerous places. If you're very lucky, they might just help to keep you alive too.</p>

				<h3>Hunter's Mark</h3>
				<p>At 2nd-level, you gain the ability to mark a creature as your quarry. Add the <i>Hunter's Mark</i> spell to your known spell list as an <i>extra</i> spell. You may cast this as a 1st-level spell for free (no spell slot required) a number of times equal to your Wisdom modifier (minimum 1).</p>
				<p>You regain all expended uses of this feature when you finish a long rest. You may also cast this spell as normal per your spellcasting ability by spending a spell slot.</p>

				<h4>Class Feature</h4>
				<p>Hunter's Mark is now a class feature. Remove it from all class spell lists—the only way to learn <i>Hunter's Mark</i> is to become a ranger (or be granted it by a specific class feature, such as <i>Oath of Vengeance</i>).</p>
			</page>
			<page class="page page--generic page--class-changes">
				<h3>Favored Enemy</h3>
				<p>You specialize in hunting a particular quarry. In addition to tracking, knowledge, and language advantages, your favored enemy grants you a new spell—this is a special ability you have learned to better hunt your enemy.</p>
				<p>Check the <i>Favored Enemy</i> table below and add the spell to your known spell list. Treat it as a ranger spell for the purposes of spellcasting, and—if required—reflavor the spell's appearance to better suit your style.</p>

				<list class="panel panel--list">
					<header class="panel__header">
						<h4 class="panel__title">Favored Enemy</h4>
					</header>
					<section class="panel__body">
						<table class="table table--class-ranger-favored">
							<thead>
								<tr>
									<th>Enemy</th>
									<th>Spell</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>Aberrations</td>
									<td>Detect Magic</td>
								</tr>
								<tr>
									<td>Beasts</td>
									<td>Ensnaring Strike</td>
								</tr>
								<tr>
									<td>Constructs</td>
									<td>Grease</td>
								</tr>
								<tr>
									<td>Dragons</td>
									<td>Heroism (must target self)</td>
								</tr>
								<tr>
									<td>Elementals</td>
									<td>Absorb Elements</td>
								</tr>
								<tr>
									<td>Fey</td>
									<td>Faerie Fire</td>
								</tr>
								<tr>
									<td>Fiends</td>
									<td>Bless (must target self)</td>
								</tr>
								<tr>
									<td>Giants</td>
									<td>Jump</td>
								</tr>
								<tr>
									<td>Monstrosities</td>
									<td>Healing Word (must target self)</td>
								</tr>
								<tr>
									<td>Oozes</td>
									<td>Detect Poison and Disease</td>
								</tr>
								<tr>
									<td>Plants</td>
									<td>Burning Hands</td>
								</tr>
								<tr>
									<td>Undead</td>
									<td>Guiding Bolt</td>
								</tr>
								<tr>
									<td>Humanoids</td>
									<td>Fog Cloud</td>
								</tr>
							</tbody>
						</table>
					</section>
				</list>

				<example class="panel panel--example">
					<section class="panel__body">
						<p>"Well look at that," said Chansi as the shambling mound wrapped its vines around her leg. "I guess you picked up a new trick from the Elsewood, huh?"</p>
						<p>She grinned, holding out a hand. "Me too!" Fierce flames burst from her palm and immolated the plant.</p>
					</section>
				</example>

				<h3>Natural Explorer</h3>
				<p>You are particularly familiar with the natural world, adept at traveling and surviving out in the wilds. At 2nd-level, choose two of the following traits. You may then choose two additional traits at 6th and 10th-level.</p>

				<h4 class="h4--option">A Forest Friend</h4>
				<p>You gain the trust of a tiny animal friend. You both share a basic understanding, though the animal is still subject to its natural instincts. Your animal must be a tiny CR 0 beast, and (when relevant) it shares your pool of actions.</p>
				<p>If your animal friend is reduced to 0 hit points, you can spend one hit die or suffer a level of exhaustion to reduce it to 1 hit point instead. If your animal friend leaves or dies, you can spend time during a long rest to try bonding with another creature from the surrounding environment. Depending on the situation, this may require animal handling checks.</p>
				<p><strong>Many Friends:</strong> You may take this trait multiple times, gaining an additional animal friend each time.</p>

				<example class="panel panel--example">
					<section class="panel__body">
						<p>An animal friend is for life, not just for Midwinter.</p>
					</section>
				</example>

				<col-break></col-break>

				<h4 class="h4--option">A Light in the Dark</h4>
				<p>You know how to make your lighting supplies last a little longer in the dark. You may roll with advantage when crafting (or enhancing) simple candles or torches, and these crafted lights burn for twice as long as normal.</p>

				<h4 class="h4--option">Expert Tracker</h4>
				<p>While tracking other creatures, you also learn their exact number, their sizes, and roughly how long ago it was that they passed through the area.</p>

				<h4 class="h4--option">I Can Sleep Anywhere</h4>
				<p>You have a good eye for a campsite. You may roll with advantage when trying to set up camp in the wilderness.</p>

				<h4 class="h4--option">I Know This Place</h4>
				<p>When you make a knowledge check relating to the natural world, your proficiency bonus—if any—is doubled (unless you are already an expert in the skill).</p>

				<h4 class="h4--option">In the Corner of My Eye</h4>
				<p>Even when you are engaged in another activity while traveling (such as foraging, navigating, or tracking), you remain alert to danger (as if you were scouting).</p>

				<h4 class="h4--option">Light Sleeper</h4>
				<p>While asleep, you are still half-aware of what's happening around you. You have disadvantage on all Perception checks while sleeping.</p>

				<h4 class="h4--option">Make a Meal out of Anything</h4>
				<p>You may roll with advantage when attempting to cook a simple meal with basic or improvised ingredients.</p>

				<h4 class="h4--option">Natural Sense of Direction</h4>
				<p>When travelling outside, you may make navigation checks as if you had a map and compass.</p>

				<h4 class="h4--option">Shortcut to Mushrooms</h4>
				<p>When you forage, you find twice as much food or water as you normally would.</p>

				<h4 class="h4--option">There's Always Another Path</h4>
				<p>Difficult terrain doesn’t slow your group's travel during long journeys.</p>

				<h4 class="h4--option">Walk Softly and Carry a Big Bow</h4>
				<p>If you are traveling alone, you can move stealthily at a normal pace.</p>

				<h3>Primeval Awareness</h3>
				<p>You can attune your ranger senses to determine if your chosen quarry lurks nearby.</p>
				<p>Spend 1 minute in concentration to sense whether any of your favored enemies are present within 5 miles of you—you learn which of your enemies are in the area, as well as their general numbers, direction, and distance (in miles) from you.</p>
				<p>You may use this feature a number of times equal to your Wisdom modifier (minimum 1). You regain all expended uses when you finish a long rest.</p>
			</page>
			<page class="page page--generic page--class-changes">
				<h3>Beast Master</h3>
				<p>As a beastmaster, your beast companion is subject to the following changes:</p>
				<ul>
					<li><strong>Command:</strong> You can use your bonus action to verbally command your companion to act. If you fall unconscious or are otherwise indisposed, command the companion as if you were conscious.</li>
					<li><strong>0 Hit Points:</strong> When your beast companion falls to 0 hit points, it gains the <i>Dying</i> condition (<span class='page-detail--page-number' data-target='dying'></span>) as if it were a player character. Roll death saving throws for the companion when appropriate.</li>
					<li><strong>Hit Points:</strong> Your companion's hit point maximum is equal to either its default <i>or</i> six times your ranger level—whichever is highest.</li>
				</ul>

				<h4>Exceptional Training</h4>
				<p>You can use a <i>free action</i> to verbally command your companion to Dash, Disengage, or Help.</p>

				<h2>Sorcerer</h2>
				<p>As living vessels of raw magic, sorcerers seethe with arcane power. Because of their innate chaotic potential, sorcerers are known—and feared—throughout the land.</p>

				<h3>Spellcasting Focus</h3>
				<p>You are your own spellcasting focus for sorcerer spells—you don't need an arcane focus to cast sorcery.</p>

				<h3>Sorcerous Origin</h3>
				<p>Your sorcerous origin defines your power. At 1st, 3rd, 5th, 7th, and 9th-levels, choose one spell (appropriate for your level) from your sorcerous origin spell table—add it to your known spell list as an <i>extra</i> spell.</p>
				<p>If you have an origin spell that doesn't normally appear on the sorcerer spell list, that spell is nonetheless a sorcerer spell for you.</p>

				<list class="panel panel--list">
					<header class="panel__header">
						<h4 class="panel__title">Divine Soul</h4>
					</header>
					<section class="panel__body">
						<table class="table table--sorcerer-spells">
							<thead>
								<tr>
									<th>Level</th>
									<th>Spell</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>1st</td>
									<td>Bless / Guiding Bolt</td>
								</tr>
								<tr>
									<td>3rd</td>
									<td>Lesser Restoration / Spiritual Weapon</td>
								</tr>
								<tr>
									<td>5th</td>
									<td>Spirit Guardians / Mass Healing Word</td>
								</tr>
								<tr>
									<td>7th</td>
									<td>Death Ward / Guardian of Faith</td>
								</tr>
								<tr>
									<td>9th</td>
									<td>Greater Restoration / Mass Cure Wounds</td>
								</tr>
							</tbody>
						</table>
					</section>
				</list>

				<list class="panel panel--list">
					<header class="panel__header">
						<h4 class="panel__title">Draconic Bloodline</h4>
					</header>
					<section class="panel__body">
						<table class="table table--sorcerer-spells">
							<thead>
								<tr>
									<th>Level</th>
									<th>Spell</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>1st</td>
									<td>Command / Chromatic Orb</td>
								</tr>
								<tr>
									<td>3rd</td>
									<td>Dragon's Breath / Hold Person</td>
								</tr>
								<tr>
									<td>5th</td>
									<td>Fear / Fly</td>
								</tr>
								<tr>
									<td>7th</td>
									<td>Dominate Beast / Elemental Bane</td>
								</tr>
								<tr>
									<td>9th</td>
									<td>Dominate Person / Hold Monster</td>
								</tr>
							</tbody>
						</table>
					</section>
				</list>

				<col-break></col-break>

				<list class="panel panel--list">
					<header class="panel__header">
						<h4 class="panel__title">Shadow Magic</h4>
					</header>
					<section class="panel__body">
						<table class="table table--sorcerer-spells">
							<thead>
								<tr>
									<th>Level</th>
									<th>Spell</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>1st</td>
									<td>Arms of Hadar / Ray of Sickness</td>
								</tr>
								<tr>
									<td>3rd</td>
									<td>Shadow Blade / Darkness</td>
								</tr>
								<tr>
									<td>5th</td>
									<td>Hunger of Hadar / Vampiric Touch</td>
								</tr>
								<tr>
									<td>7th</td>
									<td>Blight / Evard's Black Tentacles</td>
								</tr>
								<tr>
									<td>9th</td>
									<td>Enervation / Negative Energy Flood</td>
								</tr>
							</tbody>
						</table>
					</section>
				</list>

				<list class="panel panel--list">
					<header class="panel__header">
						<h4 class="panel__title">Storm Sorcery</h4>
					</header>
					<section class="panel__body">
						<table class="table table--sorcerer-spells">
							<thead>
								<tr>
									<th>Level</th>
									<th>Spell</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>1st</td>
									<td>Thunderwave / Witch Bolt</td>
								</tr>
								<tr>
									<td>3rd</td>
									<td>Gust of Wind / Shatter</td>
								</tr>
								<tr>
									<td>5th</td>
									<td>Call Lightning / Lightning Bolt</td>
								</tr>
								<tr>
									<td>7th</td>
									<td>Storm Sphere / Watery Sphere</td>
								</tr>
								<tr>
									<td>9th</td>
									<td>Cone of Cold / Control Winds</td>
								</tr>
							</tbody>
						</table>
					</section>
				</list>

				<list class="panel panel--list">
					<header class="panel__header">
						<h4 class="panel__title">Wild Soul</h4>
					</header>
					<section class="panel__body">
						<table class="table table--sorcerer-spells">
							<thead>
								<tr>
									<th>Level</th>
									<th>Spell</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>1st</td>
									<td>Chaos Bolt / Sleep</td>
								</tr>
								<tr>
									<td>3rd</td>
									<td>Blur / Mirror Image</td>
								</tr>
								<tr>
									<td>5th</td>
									<td>Blink / Counterspell</td>
								</tr>
								<tr>
									<td>7th</td>
									<td>Confusion / Polymorph</td>
								</tr>
								<tr>
									<td>9th</td>
									<td>Modify Memory / Synaptic Static</td>
								</tr>
							</tbody>
						</table>
					</section>
				</list>

				<h3>Font of Magic</h3>
				<p>At 2nd-level, your true nature reveals itself—you can now tap into your wellspring of sorcerous power.</p>

				<h4>Sorcerous Recovery</h4>
				<p>You are a font of sorcerous power. Once per long rest, when you finish a short rest, you may recover all of your expended sorcery points.</p>

				<h4>Flexible Casting</h4>
				<p>As a sorcerer, you can twist your sorcery into spellpower. You can't create <i>new</i> spell slots, but you can recover <i>expended</i> spell slots by spending sorcery points.</p>
				<p>You may recover multiple spell slots with a single bonus action, so long as you have enough sorcery points.</p>

				<example class="panel panel--example">
					<section class="panel__body">
						<p>Clanda cursed aloud as the hobgoblin deflected her witch bolt. She felt a sudden chill sweep through her body and almost fell to one knee—the last of her spellpower was now gone. She felt empty without it.</p>
						<p>The hobgoblin sneered in victory, pointing its hooked sword at her. "Out of spells already? Might always beats magic in the end, you weak little witch."</p>
						<p>"I'm no witch, you poor fool," laughed Clanda, raising a hand to the sky. "I'm a <i>sorceress</i>." A lightning bolt tore down from the sky into her hand. She felt alive again as raw, sorcerous power suddenly blazed through her body, restoring her precious spellpower.</p>
						<p>The hobgoblin ran in terror. He didn't get far...</p>
					</section>
				</example>
			</page>
			<page class="page page--generic page--class-changes">
				<h3>Metamagic</h3>
				<p>As a sorcerer, you have the ability to twist your spells to suit your needs. Add the <i>Inversion</i> metamagic option to the list of available metamagics.</p>
				<p>At 3rd-level, you gain three metamagic options of your choice. You gain three more options at 10th and 17th-level.</p>

				<h4>Inversion</h4>
				<p>When you roll damage for a spell with an elemental effect, you can spend 1 sorcery point to invert the type of that damage. There are five known elemental pairings:</p>

				<mechanic class="panel panel--mechanic panel--mechanic--align-left">
					<header class="panel__header">
						<h4 class="panel__title">Elemental Pairings</h4>
					</header>
					<section class="panel__body">
						<div class="layout--columns layout--columns--2">
							<ul>
								<li>Fire / Cold</li>
								<li>Radiant / Necrotic</li>
								<li>Lightning / Thunder</li>
							</ul>
							<ul>
								<li>Poison / Acid</li>
								<li>Psychic / Force</li>
							</ul>
						</div>
					</section>
				</mechanic>

				<h2>Warlock</h2>
				<p>Seekers of ancient—and often forbidden—knowledge, warlocks make a pact with an otherworldly being for the promise of power and reward.</p>

				<h3>Knowledge is Power</h3>
				<p>A warlock rarely stumbles into power by accident—they seek it out, against all wisdom and at great personal cost. With intellect, warlocks decipher eldritch runes, pierce the mortal veil, and bargain with otherworldly powers.</p>

				<ul>
					<li><strong>Spellcasting:</strong> Your spellcasting ability for warlock spells is now <i>Intelligence</i>, not Charisma.</li>
					<li><strong>Saving Throws:</strong> You gain proficiency in <i>Intelligence</i> saving throws, not Charisma.</li>
					<li><strong>Features:</strong> Warlock features that rely on your Charisma modifier (Agonizing Blast, Lifedrinker, etc) now use your Intelligence modifier where appropriate.</li>
				</ul>

				<example class="panel panel--example">
					<section class="panel__body">
						<p>Edgar opened the thick, black tome with trembling hands, cursing his frailty. The sickness had taken a turn for the worse—his days were fast running out.</p>
						<p>But after months of sacrifice and careful study—of people telling him he was mad—he finally <i>understood</i>. Edgar looked at the blood-soaked eldritch runes. He knew the translations. Shaking, he spoke the words...</p>
					</section>
				</example>

				<aside class="panel panel--aside">
					<header class="panel__header">
						<h4 class="panel__title">Variant: Intelligence & Charisma</h4>
					</header>
					<section class="panel__body">
						<p>This supplement strongly recommends changing warlocks from Charisma to Intelligence for a number of reason (limits multiclassing exploits, is more thematically appropriate, improves INT ability usage, etc).</p>
						<p>However, if you wish to support CHA warlocks at your table for thematic reasons, then consider making INT an <i>optional</i> choice for your warlock players instead.</p>
					</section>
				</aside>

				<col-break></col-break>

				<h3>Eldritch Blast</h3>
				<p>After sealing your eldritch bargain, your patron grants you a manifestation of their unfathomable power.</p>
				<p>Starting at 1st-level, you are gifted the <i>Eldritch Blast</i> cantrip—add it to your list of known cantrips as an <i>extra</i> cantrip. As a direct manifestation of your patron's power, you may decide on the appearance of your eldritch blast.</p>
				<p>This spell is now a dedicated warlock class feature and can be removed from all class spell lists—the only way to learn <i>Eldritch Blast</i> is to become a warlock (or be granted it by a specific class feature).</p>

				<h4>Eldritch Scaling</h4>
				<p>As a class feature, <i>Eldritch Blast</i> now scales with your warlock class level—not your character level.</p>

				<spell class="panel panel--spell">
					<header class="panel__header">
						<h4 class="panel__title">Eldritch Blast</h4>
						<ul class="panel__tags">
							<li>Evocation</li>
							<li>Cantrip</li>
						</ul>
					</header>
					<section class="panel__body">
						<ul class="spell__details">
							<li><strong>Casting Time:</strong> 1 action</li>
							<li><strong>Range:</strong> 120 feet</li>
							<li><strong>Components:</strong> V, S</li>
							<li><strong>Duration:</strong> Instantaneous</li>
						</ul>
						<div class="spell__description">
							<p>A beam of crackling energy streaks toward a creature within range. Make a ranged spell attack against the target. On a hit, the target takes 1d10 force damage.</p>
							<p>The spell creates more beams as you gain more warlock class levels: two beams at 5th-level, three beams at 11th-level, and four beams at 17th-level. You can direct the beams at the same target or at different ones. Make a separate attack roll for each beam.</p>
						</div>
					</section>
				</spell>

				<h3>Pact of the Blade</h3>
				<p>At 3rd-level, you receive a gift from your otherworldly patron. If you choose Pact of the Blade, your patron's power and knowledge shapes you into a formidable and vicious warrior. You gain the <i>Blade Warrior</i> feature.</p>

				<h4>Blade Warrior</h4>
				<p>You acquire power from your patron necessary to arm yourself for battle. Your patron gifts you with proficiency with medium armor, shields, and martial weapons.</p>
				<p>You also gain the <i>Pact Weapon</i> feature, allowing you to create and summon an eldritch weapon.</p>

				<example class="panel panel--example">
					<section class="panel__body">
						<p>The warlock sat alone in the dark room, listening to the voices in his head. They never stopped whispering. Were they his own thoughts come to life, or his patron's? Edgar couldn't tell the difference anymore.</p>
						<p>One voice broke through the cacophony with ease.</p>
						<p>"Make your choice," it demanded.</p>
						<p>"Strength," grinned Edgar, "I choose <i>strength</i>."</p>
						<p>The warlock clutched his head in sudden agony as aberrant knowledge seared his brain. When he awoke, hours later, a black knife glimmered in his hands.</p>
						<p>Edgar giggled madly in the dark...</p>
					</section>
				</example>
			</page>
			<page class="page page--generic page--class-changes">
				<spell class="panel panel--spell">
					<header class="panel__header">
						<h4 class="panel__title">Pact Weapon</h4>
						<ul class="panel__tags">
							<li>Feature</li>
							<li>Class (Warlock)</li>
						</ul>
					</header>
					<section class="panel__body">
						<div class="spell__description">
							<p>As an action on your turn, you create a pact weapon in your empty hand. You can choose the form this melee weapon takes each time you create it, though it must be a form you are proficient with.</p>
						</div>
						<ul class="features">
							<li>
								<p><strong class="feature__title">Eldritch Strike</strong> When you attack with this weapon, you can use your warlock spellcasting ability modifier, instead of Strength or Dexterity, for the attack and damage rolls. This weapon counts as magical when overcoming resistances and immunity to nonmagical attacks and damage.</p>
							</li>
							<li><strong class="feature__title">Ephemeral</strong> This weapon disappears if it is more than 5 feet away from you for 1 minute or more, if you create another pact weapon, if you dismiss the weapon (no action required), or if you die.</li>
							<li>
								<p><strong class="feature__title">Magic Weapons</strong> You can transform one magic weapon into your pact weapon by performing a special ritual while you hold the weapon. You perform the ritual over the course of 1 hour, which can be done during a short rest. You can then dismiss the weapon, shunting it into an extradimensional space, and it appears whenever you create your pact weapon thereafter. You can’t affect an artifact or a sentient weapon in this way.</p>
								<p>The weapon ceases to be your pact weapon if you die, if you perform the 1-hour ritual on a different weapon, or if you use a 1-hour ritual to break your bond to it. The weapon appears at your feet if it is in the extradimensional space when the bond breaks.</p>
							</li>
							<li><strong class="feature__title">Thirsting Blade</strong> At 5th warlock class level, you can attack with your pact weapon twice, instead of once, whenever you take the Attack action on your turn.</li>
						</div>
					</section>
				</spell>

				<h3>Patrons</h3>
				<p>Otherworldly beings with unknowable motivations, patrons offer mortals a small taste of power in exchange for their service and unwavering loyalty.</p>
				<p>This power comes at a cost, however. Many a warlock has thought to cross their patron and renege on a bargain, only to pay a price in blood.</p>

				<h4>Patron Expanded Spells</h4>
				<p>Your patron grants you access to an expanded set of spells. At 1st, 3rd, 5th, 7th, and 9th-levels, choose one spell (appropriate for your level) from your patron spell table—add it to your known spell list as an <i>extra</i> spell.</p>

				<example class="panel panel--example">
					<section class="panel__body">
						<p>The elf screamed in pain as Edgar spoke aloud the dissonant whispers of his patron. A maelstrom of aberrant terror was unleashed in her mind—visions of a nightmare world far beyond mortal understanding.</p>
						<p>Edgar kept humming his patron's song long after the elf had collapsed, blood dripping from her ears.</p>
					</section>
				</example>

				<col-break></col-break>

				<h4>The Hexblade</h4>
				<p>A patron from the Shadowfell grants you a powerful curse. Hexblade no longer has the <i>Hex Warrior</i> trait.</p>
				<p><strong>Alternative Naming</strong> To more accurately reflect the focus of this patron, you may wish to rename it—consider "Hexer", "Shade", or "Cursed".</p>

				<h3>Invocations</h3>
				<p>As your connection to your patron strengthens, you gain access to a greater pool of power—invocations. The following invocations have been rebalanced:</p>

				<ul>
					<li><strong>Bewitching Whispers, Dreadful Word, Minions of Chaos, Mire the Mind, Sculptor of Flesh, Sign of Ill Omen, Thief of Five Fates:</strong> These spells may be cast without spending a warlock spell slot.</li>
					<li><strong>Repelling Blast:</strong> You can trigger <i>Repelling Blast</i> only once during your turn.</li>
					<li><strong>Repelling Blast & Grasp of Hadar:</strong> For every size category larger than you, the target moves 5 ft less. You can't move a swarm with these invocations. If the target is grabbing anything, it may roll a Strength saving throw against your spell DC to avoid being moved or—if it chooses—pull the creature with it.</li>
					<li><strong>Thirsting Blade:</strong> This invocation is now a core feature of <i>Pact Weapon</i> and can be removed.</li>
				</ul>

				<h3>Sacrificial Bargain</h3>
				<p>At 1st-level, you gain the <i>Sacrificial Bargain</i> feature. With a sacrifice of health, your patron grants you power.</p>
				<p>Once per short rest, when you cast a warlock spell of 1st-level or higher, you may spend a number of hit die equal to your warlock spell level to cast the spell without expending a spell slot.</p>
				<p>If the spell can't be cast at a higher level, you may instead spend a number of hit die equal to the spell level.</p>

				<example class="panel panel--example">
					<section class="panel__body">
						<p>Edgar cut his palm with the black knife, feeding his blood to the ever-hungry pact blade. His patron was pleased with the sacrifice—there would be a reward...</p>
					</section>
				</example>

				<h2>Wizard</h2>
				<p>Scholars of arcane power, wizards shape the fabric of reality to their own careful design. With spellbook and staff, they experiment with the energies of magic.</p>

				<h3>Arcane Recovery</h3>
				<p>As a practiced channeller of magical power, you have the ability to recover a measure of spell power. Your <i>Arcane Recovery</i> feature may be used once per long rest.</p>

				<example class="panel panel--example">
					<section class="panel__body">
						<p>Bellamy yawned sleepily as she opened her prized, leather spellbook and began to revise her sigils...</p>
					</section>
				</example>
			</page>
		</book>
	</body>
</html>
