<html>
	<body>
		<book class="book">
			<page class="page page--generic page--creating-adventures" data-header-icon="spellbook">
				<h1 id="creating-adventures">Creating Adventures</h1>
				<p>Adventurers are—willingly or otherwise—drawn into adventures. Ancient ruins, buried treasures, legendary monsters—great wonders and greater dangers await you in the vast, uncharted wilds.</p>
				<p>But how do you embark on an adventure? And how do you build engaging adventures for your players?</p>
				<p>This chapter introduces the <i>adventure cycle</i> and <i>flashpoints</i> to help you structure a basic adventure.</p>

				<h2>The Adventure Cycle</h2>
				<p>A typical adventure has a simple structure that helps guide the flow of story and gameplay. This outline—the <i>adventure cycle</i>—features six basic steps: hook, prepare, depart, explore, return, and recover.</p>

				<ol>
					<li><strong>Hook:</strong> A clear adventuring hook is established—an orc warlord in a nearby tower, a hidden treasure in a sunken tomb, an eldritch cult preparing a sacrifice.</li>
					<li><strong>Prepare:</strong> The party decides where they're going, how to get there, and what supplies they need to take.</li>
					<li><strong>Depart:</strong> The party journey to their destination, dealing with any incidental problems along the way.</li>
					<li><strong>Explore:</strong> At their destination, the adventurers do adventuring work—find the treasure, loot the tomb, hunt the monster, interrupt the ritual, etc.</li>
					<li><strong>Return:</strong> Once they achieve their goal—or run out of staying power—the party head back home (or to the nearest sanctuary).</li>
					<li><strong>Recover:</strong> Once safe and sound, the party rest up and recover before a new adventure cycle begins.</li>
				</ol>

				<p>These adventure cycles can be scaled as large or as small as you need—a single adventure could take hours, days, weeks, even years to conclude. Once an adventure cycle is resolved, begin a new one.</p>

				<col-break></col-break>

				<adventure class="panel panel--adventure">
					<header class="panel__header">
						<h4 class="panel__title">A Fiendish Offering</h4>
						<ul class="panel__tags">
							<li>Adventure (Long)</li>
							<li>3rd-level</li>
						</ul>
					</header>
					<section class="panel__body">
						<div class="phase">
							<p><strong class="phase__heading"><span>1</span>Hook</strong> Gnolls have kidnapped seven villagers from Brackenwood and taken them to the Shadow Temple to be sacrificed at the next full moon.</p>
							<ul>
								<li><strong>Goal</strong> <i>(Rescue)</i> Find the gnolls and save the villagers.</li>
								<li><strong>Motivation</strong> <i>(Escalation)</i> If the villagers are sacrificed, the gnolls will gain fiendish power from their god.</li>
								<li><strong>Deadline</strong> <i>(Date)</i> Before the next full moon.</li>
								<li><strong>Reward</strong> <i>(Reputation)</i> Saving the villagers will earn the party renown in Brackenwood.</li>
							</ul>
						</div>
						<div class="phase">
							<p><strong class="phase__heading"><span>2</span>Prepare</strong> Gather supplies in Brackenwood and plan your travel. The villagers offer a gift of one healing potion.</p>
						</div>
						<div class="phase">
							<p><strong class="phase__heading"><span>3</span>Depart</strong> Travel 1 day north into the Redroot Basin.</p>
							<ul>
								<li><strong>FP #1</strong> <i>(Combat, Easy)</i> A fiendish blood elemental.</li>
								<li><strong>FP #2</strong> <i>(Skill, Easy)</i> Cross a deep ravine.</li>
							</ul>
						</div>
						<div class="phase">
							<p><strong class="phase__heading"><span>4</span>Explore</strong> Explore and ascend the Shadow Temple.</p>
							<ul>
								<li><strong>FP #3</strong> <i>(Combat, Medium)</i> Gnoll bloodcatchers.</li>
								<li><strong>FP #4</strong> <i>(Puzzle, Easy)</i> Open the Shadow Gate.</li>
								<li><strong>FP #5</strong> <i>(Combat, Medium)</i> Thrak, a gnoll champion.</li>
								<li><strong>FP #6</strong> <i>(Combat, Hard)</i> Rykks, a gnoll bloodmage. In addition, <i>(Skill, Easy)</i> free the villagers.</li>
							</ul>
						</div>
						<div class="phase">
							<p><strong class="phase__heading"><span>5</span>Return</strong> Travel back home with the surviving villagers, some of whom may need medical aid.</p>
						</div>
						<div class="phase">
							<p><strong class="phase__heading"><span>6</span>Recover</strong> Rest and recover in Brackenwood. If at least six villagers are rescued, a party is thrown in celebration—otherwise, a memorial service is held.</p>
						</div>
					</section>
				</adventure>
			</page>
			<page class="page page--generic page--creating-adventures">
				<h3><span class="h3__highlight">1</span>Hook</h3>
				<p>The first step in creating an adventure is to establish a clear hook—a reason for your players to leave safety and head out into danger. A good hook has four components:</p>

				<ol>
					<li><strong>Goal:</strong> A clear, concrete thing that the party can achieve.</li>
					<li><strong>Motivation:</strong> A reason for your players to care enough about this hook to pursue it. This is the most important part of your hook, so make sure to think carefully about <i>why</i> your players may want to do this adventure.</li>
					<li><strong>Deadline:</strong> An explicit deadline—after this point, the adventure automatically fails (or otherwise ends).</li>
					<li><strong>Reward:</strong> A reward for completing the adventure—such as gold, loot, or some kind of social change.</li>
				</ol>

				<p>To get started with hooks for your adventure, consider the example categories below—or create your own categories to match your game and setting.</p>

				<col-break></col-break>

				<example class="panel panel--example">
					<section class="panel__body">
						<p>The party are about to visit a new village—Brackenwood—and the GM wants to create a new gnoll-themed adventure for them to encounter.</p>
						<p>For inspiration, the GM rolls four times on the <i>Hook Components</i> table—their initial hook categories are: Rescue, Escalation, Date, and Reputation.</p>
						<ul>
							<li><strong>Goal:</strong> (Rescue) The gnolls—members of the Cult of Blood—have kidnapped a number of villagers.</li>
							<li><strong>Motivation:</strong> (Escalation) If the villagers are sacrificed, the gnolls will gain fiendish power.</li>
							<li><strong>Deadline:</strong> (Date) The villagers will be sacrificed at the next full moon—time is ticking.</li>
							<li><strong>Reward:</strong> (Reputation) Saving the villagers earns social renown and favor from Brackenwood.</li>
						</ul>
						<p>The GM now starts to plan <i>A Fiendish Offering</i>...</p>
					</section>
				</example>

				<div class="layout--col-wide layout--fixed-bottom">
					<list class="panel panel--list">
						<header class="panel__header">
							<h4 class="panel__title">Hook Components</h4>
						</header>
						<section class="panel__body">
							<table class="table table--hook-components">
								<thead>
									<tr>
										<th>d100</th>
										<th>Category</th>
										<th>Description</th>
									</tr>
								</thead>
								<tbody>
									<tr class="header">
										<td colspan="3"><span>Goals</span></td>
									</tr>
									<tr>
										<td>01-10</td>
										<td>Acquire</td>
										<td>Recover, gain or loot something of value.</td>
									</tr>
									<tr>
										<td>11-20</td>
										<td>Create</td>
										<td>Create a significant item, or ensure that a specific event takes place.</td>
									</tr>
									<tr>
										<td>21-30</td>
										<td>Deliver</td>
										<td>Deliver something or someone to a location.</td>
									</tr>
									<tr>
										<td>31-40</td>
										<td>Destroy</td>
										<td>Destroy something or someone.</td>
									</tr>
									<tr>
										<td>41-50</td>
										<td>Discover</td>
										<td>Discover something thought lost, obscure, or uncharted.</td>
									</tr>
									<tr>
										<td>51-60</td>
										<td>Escape</td>
										<td>Someone—or something—has you restrained or pursed, and you must try to escape.</td>
									</tr>
									<tr>
										<td>61-70</td>
										<td>Prevent</td>
										<td>An event is about to take place, and you must stop it from happening.</td>
									</tr>
									<tr>
										<td>71-80</td>
										<td>Protect</td>
										<td>Someone—or something—faces an impending danger, and you must protect them from harm.</td>
									</tr>
									<tr>
										<td>81-90</td>
										<td>Rescue</td>
										<td>Someone is in peril, and you must save them.</td>
									</tr>
									<tr>
										<td>91-00</td>
										<td>Solve</td>
										<td>There is an unsolved mystery, and you must find the answer.</td>
									</tr>
									<tr class="header">
										<td colspan="3"><span>Motivations</span></td>
									</tr>
									<tr>
										<td>01-10</td>
										<td>Character</td>
										<td>It's relevant to you—your drive, personal goals, or backstory.</td>
									</tr>
									<tr>
										<td>11-20</td>
										<td>Escalation</td>
										<td>Something terrible will happen as a direct consequence if this adventure isn't resolved.</td>
									</tr>
									<tr>
										<td>21-30</td>
										<td>Favor</td>
										<td>You want to do this adventure as a favor to someone.</td>
									</tr>
									<tr>
										<td>31-40</td>
										<td>Freedom</td>
										<td>You want to do this because it will grant you a measure of freedom (social/financial/material/etc).</td>
									</tr>
									<tr>
										<td>41-50</td>
										<td>Fun</td>
										<td>You want to do this because it sounds like fun.</td>
									</tr>
									<tr>
										<td>51-60</td>
										<td>Moral</td>
										<td>You want to do this because it's the right thing to do.</td>
									</tr>
									<tr>
										<td>61-70</td>
										<td>Pressure</td>
										<td>You are being coerced, threatened, or blackmailed into doing this.</td>
									</tr>
									<tr>
										<td>71-80</td>
										<td>Promise</td>
										<td>You made a promise to someone—this adventure will help you keep that promise.</td>
									</tr>
									<tr>
										<td>81-90</td>
										<td>Revenge</td>
										<td>You want to do this as a means of revenge against someone or something.</td>
									</tr>
									<tr>
										<td>91-00</td>
										<td>Reward</td>
										<td>You <i>really</i> want the reward.</td>
									</tr>
									<tr class="header">
										<td colspan="3"><span>Deadlines</span></td>
									</tr>
									<tr>
										<td>01-20</td>
										<td>Competition</td>
										<td>Other people are trying to solve this adventure first—you must beat them to the end.</td>
									</tr>
									<tr>
										<td>21-40</td>
										<td>Countdown</td>
										<td>You are on a strict timer—you must complete the adventure before the countdown reaches zero.</td>
									</tr>
									<tr>
										<td>41-60</td>
										<td>Date</td>
										<td>You must complete this adventure within a certain time or before a specific date elapses.</td>
									</tr>
									<tr>
										<td>61-80</td>
										<td>Event</td>
										<td>You must complete this adventure before a specific event occurs.</td>
									</tr>
									<tr>
										<td>81-00</td>
										<td>Resource</td>
										<td>You must complete this adventure before you run out of a specific resource.</td>
									</tr>
									<tr class="header">
										<td colspan="3"><span>Rewards</span></td>
									</tr>
									<tr>
										<td>01-20</td>
										<td>Financial</td>
										<td>You will be rewarded with money and valuables—gold, gemstones, treasures, etc.</td>
									</tr>
									<tr>
										<td>21-40</td>
										<td>Justice</td>
										<td>You will have the satisfaction of knowing that a wrong has been righted.</td>
									</tr>
									<tr>
										<td>41-60</td>
										<td>Material</td>
										<td>You will gain an item of special significance.</td>
									</tr>
									<tr>
										<td>61-80</td>
										<td>Reputation</td>
										<td>Your reputation with a person, faction, or location will change.</td>
									</tr>
									<tr>
										<td>81-00</td>
										<td>Social</td>
										<td>You will change the social situation of one or more people.</td>
									</tr>
								</tbody>
							</table>
						</section>
					</list>
				</div>
			</page>
			<page class="page page--generic page--creating-adventures">
				<h3><span class="h3__highlight">2</span>Prepare</h3>
				<p>Once the party have taken the hook, it's time for them to start preparing for the adventure ahead. This often takes place within a sanctuary of some kind—a village, town, city, etc—where they are free to spend their time and wealth in five stages of preparation:</p>

				<ol>
					<li><strong>Research:</strong> Research information about the adventure, its antagonists, and its location. This might take the form of knowledge checks, social encounters, downtime activities, etc.</li>
					<li><strong>Plan:</strong> Plan how you're going to get to the site of the adventure—where do you need to go, how are you going to travel there, and how will you get back?</li>
					<li><strong>Recruit:</strong> Recruit any mercenaries, specialists, or animal companions that you think might be helpful on your adventure—torchbearers, horses, henchmen, etc.</li>
					<li><strong>Gather:</strong> Gather together any supplies you think will be needed on your adventure—maps, weapons, adventuring gear, rations, resources, etc.</li>
					<li><strong>Review:</strong> Review everything and decide if you're ready to embark on this adventure—or if you need to hold back and postpone it for another time.</li>
				</ol>

				<p>As a general rule-of-thumb, try to keep three adventures on hand so that—if the party decides not to pursue one—you can easily switch to an alternative.</p>

				<example class="panel panel--example">
					<section class="panel__body">
						<p>Before leaving Brackenwood, the party learn from an injured trapper the location of the gnoll's lair—the <i>Shadow Temple</i> of Redroot Basin...</p>
					</section>
				</example>

				<h3><span class="h3__highlight">3</span>Depart</h3>
				<p>The party leave their sanctuary and start travelling towards the heart of the adventure. This journey may take hours, days, weeks—even months—and there may well be dangerous foes and troublesome hazards ahead.</p>
				<p>Travel is an important part of the adventure for three primary reasons:</p>

				<ol>
					<li><strong>Worldbuilding:</strong> Travel grounds your players in the setting. The more time spend travelling, the more time your players must spend interacting with the world—and each other.</li>
					<li><strong>Skills:</strong> Travel emphasizes exploration, and requires players to use their character skills in non-combat situations. Use this opportunity to test characters in new and unexpected ways.</li>
					<li><strong>Anticipation:</strong> Travel builds anticipation for the adventure hub—a good journey should hint at upcoming threats and villains with thematically-appropriate monsters, challenges, and environmental hazards.</li>
				</ol>

				<p>This journey is an <i>introduction</i> to your adventure—so be careful not to treat it as simple, expendable, time-filling material. Seed the journey with hazards and points of interest that are directly related to the themes and threats of your adventure.</p>

				<col-break></col-break>

				<example class="panel panel--example">
					<section class="panel__body">
						<p>The party leave Brackenwood and head into Redroot Basin. There they discover that the Basin has been corrupted by the Cult of Blood—foul blood elementals stalk the earth and feed on living creatures.</p>
					</section>
				</example>

				<h3><span class="h3__highlight">4</span>Explore</h3>
				<p>Once the party reach the heart of your adventure—the <i>adventure hub</i>—it's time to be explorers. There are three typical phases during this exploration:</p>

				<ol>
					<li><strong>Investigate:</strong> The party investigate the adventure hub, coming into contact with lesser antagonists and various threats—traps, minions, guards, etc.</li>
					<li><strong>Challenge:</strong> The party come into contact with a significant threat—typically, the secondary antagonist of the adventure (a champion, an elite, a mid-boss, etc)—and a major conflict occurs.</li>
					<li><strong>Crescendo:</strong> Finally, the party come face-to-face with the primary antagonist. This is the climatic encounter where—typically—the players battle the <i>big bad</i>. Try to be cinematic and exciting as you plan your crescendo.</li>
				</ol>

				<p>Once the party complete the primary goal of the adventure, it's time to start wrapping things up.</p>

				<example class="panel panel--example">
					<section class="panel__body">
						<p>The party have reached the Shadow Temple. Four gnoll bloodcatchers stand guard outside, and must be distracted—or disposed of—to gain entrance to the inner sanctum.</p>
						<p>Sinister red clouds circle the temple. With only 3 hours left until the full moon, time is of the essence...</p>
					</section>
				</example>

				<h3><span class="h3__highlight">5</span>Return</h3>
				<p>Once the party's exploration is complete—or they decide to retreat—they begin travelling back to their sanctuary.</p>
				<p>Depending on the manner of their return—and whether the primary antagonist was defeated—this journey may be relatively uneventful. Use it as an opportunity to let the players celebrate—or reflect upon—their actions.</p>

				<example class="panel panel--example">
					<section class="panel__body">
						<p>Six villagers have been saved from Rykks' bloodletting ritual. One survivor has taken a significant wound—the party must make a number of Wisdom (Medicine) checks to keep the wounded villager stable during the journey back to Brackenwood.</p>
					</section>
				</example>

				<h3><span class="h3__highlight">6</span>Recover</h3>
				<p>Finally, the party arrive back at their sanctuary—hopefully, in one piece—and resolve any immediate consequences of their adventure.</p>
				<p>If successful in their goal, the party may claim any appropriate rewards. This brings their adventure to an end, and in doing so completes the adventure cycle.</p>
			</page>
			<page class="page page--generic page--creating-adventures">
				<h2>Flashpoints</h2>
				<p>No adventure is complete without a variety of dangers to overcome—deadly battles, clever puzzles, tricky challenges, etc. Once you have the basic outline of your adventure cycle in place, it's time to start adding in some <i>flashpoints</i> to challenge your players.</p>
				<p>To get started with flashpoints, there are three basic steps to follow:</p>

				<ol>
					<li><strong>Get some Adventure Points:</strong> Decide how long the adventure should last for your players. The longer your adventure, the more <i>adventure points</i> (AP) you'll have to spend on flashpoints.</li>
					<li><strong>Add Flashpoints:</strong> Spend your AP to add flashpoints to your adventure until you reach the limit.</li>
					<li><strong>Build the Flashpoints:</strong> Create your flashpoints with an eye for interesting synergies and themes.</li>
				</ol>

				<h3><span class="h3__highlight">1</span>Get some Adventure Points</h3>
				<p>First, decide how long you intend your adventure to last: short, medium, or long? The longer your adventure, the more flashpoints it can have—and the more effort it will require from your players to complete.</p>
				<p>From the <i>Adventure Points</i> table below, you can see how many adventure points you have to spend based on the average level of your party. You gain more AP with higher level adventures—as characters gain levels, they gain resources (abilities, hit dice, wealth, etc) that enables them to take longer and more threatening adventures.</p>

				<list class="panel panel--list">
					<header class="panel__header">
						<h4 class="panel__title">Adventure Points</h4>
					</header>
					<section class="panel__body">
						<table class="table table--ap">
							<thead>
								<tr>
									<th>Adventure Level</th>
									<th colspan="3"><span class="spacer">Adventure Points (AP)</span></th>
								</tr>
								<tr>
									<th></th>
									<th>Short</th>
									<th>Medium</th>
									<th>Long</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>1st-2nd</td>
									<td>1</td>
									<td>2</td>
									<td>3</td>
								</tr>
								<tr>
									<td>3rd-4th</td>
									<td>2</td>
									<td>4</td>
									<td>6</td>
								</tr>
								<tr>
									<td>5th-6th</td>
									<td>3</td>
									<td>6</td>
									<td>9</td>
								</tr>
								<tr>
									<td>7th-8th</td>
									<td>4</td>
									<td>8</td>
									<td>12</td>
								</tr>
								<tr>
									<td>9th-10th</td>
									<td>5</td>
									<td>10</td>
									<td>15</td>
								</tr>
								<tr>
									<td>11th-20th</td>
									<td>6</td>
									<td>12</td>
									<td>18</td>
								</tr>
							</tbody>
						</table>
					</section>
				</list>

				<example class="panel panel--example">
					<section class="panel__body">
						<p>The GM wants <i>A Fiendish Offering</i> to be a long adventure for their 3rd-level party. They have 6 AP to spend on flashpoints for the adventure.</p>
					</section>
				</example>

				<h3><span class="h3__highlight">2</span>Add Flashpoints</h3>
				<p>A <i>flashpoint</i> is an event that puts players at risk of losing valuable resources—health, gold, spellpower, time, etc. These are moments of high-pressure activity within your adventure cycle—your combat encounters, puzzles, and skill challenges.</p>
				<p>To add a flashpoint to your adventure, spend a number of <i>adventure points</i>—the more dangerous the flashpoint, the bigger the cost. Keep adding flashpoints until you've spent all of your AP.</p>

				<col-break></col-break>

				<list class="panel panel--list">
					<header class="panel__header">
						<h4 class="panel__title">Flashpoint Cost</h4>
					</header>
					<section class="panel__body">
						<tables class="tables tables--flashpoints-cost">
							<table class="table">
								<thead>
									<tr>
										<th>Difficulty</th>
										<th>AP</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td>Easy</td>
										<td>0.5</td>
									</tr>
									<tr>
										<td>Medium</td>
										<td>1</td>
									</tr>
								</tbody>
							</table>
							<table class="table">
								<thead>
									<tr>
										<th>Difficulty</th>
										<th>AP</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td>Hard</td>
										<td>2</td>
									</tr>
									<tr>
										<td>Extreme</td>
										<td>4</td>
									</tr>
								</tbody>
							</table>
						</tables>
					</section>
				</list>

				<example class="panel panel--example">
					<section class="panel__body">
						<p>With 6 AP to spend, the GM <i>could</i> simply add 6 medium-challenge flashpoints to their adventure.</p>
						<p>Instead, the GM decides to mix things up—they create one hard flashpoint (2 AP), two medium flashpoints (2 AP), and four easy flashpoints (2 AP).</p>
					</section>
				</example>

				<h3><span class="h3__highlight">3</span>Create your Flashpoints</h3>
				<p>Once you have your flashpoints mapped out, it's time to start creating the specifics. There are three primary types of adventure flashpoint: combat, puzzle, and skill.</p>

				<h4 class="h4--option">Combat</h4>
				<p>A <i>combat flashpoint</i> is an event in which players battle against one or more opposing forces—a minor scrap against some guards, a fierce fight with a raging dragon, a climatic war against a lich and her undead army, etc.</p>
				<p>For specific advice on creating combat flashpoints, check out the <i>Dungeon Master's Guide</i> (p81-87) and <i>Giffyglyph's Monster Maker</i> (p35-36).</p>

				<h4 class="h4--option">Puzzle</h4>
				<p>A <i>puzzle flashpoint</i> is an event in which players must solve a puzzle, trap, riddle, or other form of challenge—figuring out a secret code, answering the sphynx's riddle, pulling the levers in the correct order, etc.</p>

				<h4 class="h4--option">Skill</h4>
				<p>A <i>skill flashpoint</i> is an event in which players must use skills and ability checks to bypass a threat or hazard—unlocking a magic door, convincing a guardian to let you pass, disarming an explosive trap, etc.</p>
				<p>For specific advice creating skill flashpoints, check out the <i>Skill Challenges</i> (<span class='page-detail--page-number' data-target='skill-challenges'></span>) chapter.</p>

				<example class="panel panel--example">
					<section class="panel__body">
						<p>The GM has 7 flashpoints budgeted for their adventure. For variety, they divide the flashpoints into 4 combat, 2 skill, and 1 puzzle.</p>
						<p>Once the flashpoints are outlined, the GM generates the encounters and scenarios as normal.</p>
					</section>
				</example>

				<aside class="panel panel--aside">
					<header class="panel__header">
						<h4 class="panel__title">Flashpoint Variety</h4>
					</header>
					<section class="panel__body">
						<p>When you create flashpoints for your adventure, try to keep things varied—a good adventure should test a wide range of character skills and abilities.</p>
						<p>As a general rule-of-thumb, add one skill or puzzle flashpoint for every two combat flashpoints in an adventure cycle—or, in the case of skill and puzzle-focused adventures, two skills/puzzles for each combat flashpoint.</p>
					</section>
				</aside>
			</page>
			<page class="page page--generic page--creating-adventures">
				<h2>Adventure Paths</h2>
				<p>Sometimes, one adventure just isn't enough—stories naturally lead to more stories. When the party reach the end of the dungeon and defeat the evil dragon, only to discover it was being mind-controlled all along by a <i>mysterious power</i>—what happens next?</p>
				<p>By linking adventures together, you can tell a larger, more intricate story over a much longer period of time. This is the <i>adventure path</i>—also known as a <i>campaign</i>.</p>
				<p>To get started with adventure paths, there are three basic steps to follow:</p>

				<ol>
					<li><strong>Get some Adventures:</strong> Break up your story monolith into a collection of smaller, focused adventures with well-defined goals.</li>
					<li><strong>Add Connections:</strong> Connect your adventures to each other and outline the shape of your path.</li>
					<li><strong>Be Flexible:</strong> Be prepared to change your adventure path as you play—no path survives immediate contact with an adventuring party.</li>
				</ol>

				<h3><span class="h3__highlight">1</span>Get some Adventures</h4>
				<p>First, you need a set of adventures to feature in your path. There are two common starting points:</p>

				<ol>
					<li>
						<p><strong>Story Breaker:</strong> You already have a large story in mind and you need to break it up into multiple, interconnected adventure cycles.</p>
						<p>Split up your story monolith into a variety of separate, achievable, well-defined goals—some optional, some mandatory, but each contributing towards the overall narrative. Each goal then becomes a separate adventure cycle for your path.</p>
					</li>
					<li>
						<p><strong>Story Forger:</strong> You've just finished an adventure and you want to extend the story with one or more new adventure cycles.</p>
						<p>These new adventures typically follow on from actions the players have just taken in the prior adventure—or actions they <i>plan</i> to take in the future.</p>
					</li>
				</ol>

				<aside class="panel panel--aside">
					<header class="panel__header">
						<h4 class="panel__title">Why Use an Adventure Path?</h4>
					</header>
					<section class="panel__body">
						<p>Adventure paths offer the following benefits:</p>

						<ul>
							<li><strong>Modular Storytelling:</strong> Smaller adventures are easier to prepare, run, tell, and teach to players. Adventure paths help you to break up monolithic stories into discrete modules of focused adventure.</li>
							<li>
								<p><strong>Reactive to Change:</strong> When the story doesn't go in a direction you expected, it's easy to amend a path—simply remove (or replace) the problematic adventures and follow the narrative changes further down the path.</p>
							</li>
							<li>
								<p><strong>Easy to Update:</strong> Adventure paths are easy to extend with additional content—or cut content when things need to wrap up faster than expected.</p>
								<p>Pay attention to the plot threads your players are most—or least—interested in, and update your adventure path to suit their character choices.</p>
							</li>
						</ul>
					</section>
				</aside>

				<col-break></col-break>

				<h3><span class="h3__highlight">2</span>Add Connections</h4>
				<p>Connections describe how your adventures flow into each another. There are seven common types of connection—use these to turn your adventure cycles into a varied, interesting adventure path.</p>

				<ul>
					<li><p><strong>Introduction:</strong> This adventure acts as an introduction to your path. Depending on your story, you may have multiple introduction adventures to reflect different narrative starting points.</p></li>
					<li><p><strong>Step:</strong> This adventure leads directly onto one follow-on adventure.</p></li>
					<li><p><strong>Fork:</strong> This adventure leads to a fork in the path with two or more options. Choosing one options means you can't choose another—so choose wisely.</p></li>
					<li><p><strong>Plaza:</strong> This adventure unlocks multiple <i>separate</i> adventures that—typically—can be taken in any order.</p></li>
					<li><p><strong>Junction:</strong> This adventure acts as the introduction (or other transition) to a separate adventure path. Nesting your adventure paths in this fashion can be a useful tool in modularizing your stories even further.</p></li>
					<li><p><strong>Loop:</strong> This adventure can be repeated, or leads back to an earlier adventure in the path.</p></li>
					<li><p><strong>Ending:</strong> This adventure acts as an ending to your path. You may have multiple ending adventures to reflect the choices your players may have taken on the path.</p></li>
				</ul>

				<p>When you add an adventure to your path, make a note of any <i>prerequisites</i> that it may have—prior adventures, special items, NPCs, etc. This will help you—and your players—keep track of your path's connections.</p>

				<example class="panel panel--example">
					<section class="panel__body">
						<p>The villagers have been rescued, but Brackenwood is still in ruins—its future rests in the hands of the party. Will they help the villagers rebuild their home, or will they convince the survivors to relocate to Ravencliff?</p>
					</section>
				</example>

				<h3><span class="h3__highlight">3</span>Be Flexible</h4>
				<p>When you create an adventure path, keep one thing in mind—players will <i>never</i> do what you expect them to do. No adventure survives contact with the party unscathed.</p>
				<p>An adventure path should give you—and your players—some <i>structure</i> in your roleplaying, but it shouldn't act as a straightjacket. If—and when—your players want to go off-path, that's usually a sign that your path needs to adapt. Be flexible with your adventures and change things around as necessary to reflect the choices of your player characters.</p>

				<h4>Simple Stories</h4>
				<p>It's very easy to overthink a story and turn a simple adventure into a complicated, multi-layer narrative. But if done without care, this can create a messy, linear story that's resistant—even <i>hostile</i>—to player agency.</p>
				<p>The purpose of an adventure path is to create <i>interactive</i> fiction, not a novel—the more complicated your story, the more difficult it is for players to <i>change</i> that story in meaningful ways. When in doubt, default to a simple story with clear, easy to follow objectives.</p>
			</page>
			<page class="page page--generic page--creating-adventures page--columns-1">
				<campaign class="panel panel--campaign">
					<header class="panel__header">
						<h4 class="panel__title">Brackenwood Village</h4>
						<ul class="panel__tags">
							<li>Adventure Path</li>
							<li>3rd to 6th-level</li>
						</ul>
					</header>
					<section class="panel__body">
						<div class="phase">
							<adventure class="panel panel--adventure">
								<header class="panel__header">
									<h4 class="panel__title">Burning Brackenwood<span>A</span></h4>
									<ul class="panel__tags">
										<li>Short</li>
										<li>3rd-level</li>
									</ul>
								</header>
								<section class="panel__body">
									<p>Defend the village of Brackenwood from the fiendish Cult of Blood.</p>
								</section>
							</adventure>
						</div>
						<div class="phase">
							<adventure class="panel panel--adventure">
								<header class="panel__header">
									<h4 class="panel__title">A Fiendish Offering<span>B</span></h4>
									<ul class="panel__tags">
										<li>Long</li>
										<li>3rd-level</li>
									</ul>
								</header>
								<section class="panel__body">
									<ul class="panel__requirements">
										<li><strong>Requires:</strong> <i>Burning Brackenwood (A)</i></li>
									</ul>
									<p>Rescue seven Brackenwood villagers from the Shadow Temple before they are sacrificed by the Cult of Blood.</p>
								</section>
							</adventure>
						</div>
						<div class="phase">
							<adventure class="panel panel--adventure">
								<header class="panel__header">
									<h4 class="panel__title">The Mourning Rites<span>C1</span></h4>
									<ul class="panel__tags">
										<li>Short</li>
										<li>3rd-level</li>
									</ul>
								</header>
								<section class="panel__body">
									<ul class="panel__requirements">
										<li><strong>Requires:</strong> <i>A Fiendish Offering (B)</i></li>
									</ul>
									<p>Cleanse the corruption of Brackenwood's desecrated shrine so that any villagers killed by the Cult of Blood can be laid to rest.</p>
								</section>
							</adventure>
							<adventure class="panel panel--adventure">
								<header class="panel__header">
									<h4 class="panel__title">We Must Rebuild<span>C2</span></h4>
									<ul class="panel__tags">
										<li>Medium</li>
										<li>4th-level</li>
									</ul>
								</header>
								<section class="panel__body">
									<ul class="panel__requirements">
										<li><strong>Requires:</strong> <i>A Fiendish Offering (B)</i></li>
										<li><strong>Blocks:</strong> <i>We Must Relocate (C3)</i></li>
									</ul>
									<p>Travel to Ravencliff and convince Lady Valendor to help rebuild the village of Brackenwood.</p>
								</section>
							</adventure>
							<adventure class="panel panel--adventure">
								<header class="panel__header">
									<h4 class="panel__title">We Must Relocate<span>C3</span></h4>
									<ul class="panel__tags">
										<li>Short</li>
										<li>3rd-level</li>
									</ul>
								</header>
								<section class="panel__body">
									<ul class="panel__requirements">
										<li><strong>Requires:</strong> <i>A Fiendish Offering (B)</i></li>
										<li><strong>Blocks:</strong> <i>We Must Rebuild (C2)</i></li>
									</ul>
									<p>Convince the villagers to abandon their home in Brackenwood and move to Ravencliff.</p>
								</section>
							</adventure>
						</div>
						<div class="phase">
							<adventure class="panel panel--adventure">
								<header class="panel__header">
									<h4 class="panel__title">Arcane Sanctuary<span>D1</span></h4>
									<ul class="panel__tags">
										<li>Medium</li>
										<li>4th-level</li>
									</ul>
								</header>
								<section class="panel__body">
									<ul class="panel__requirements">
										<li><strong>Requires:</strong> <i>We Must Rebuild (C2)</i></li>
									</ul>
									<p>Find out what's blocking the northern leyline and restore power to Brackenwood's magical tower.</p>
								</section>
							</adventure>
							<adventure class="panel panel--adventure">
								<header class="panel__header">
									<h4 class="panel__title">The Golden Temple<span>D2</span></h4>
									<ul class="panel__tags">
										<li>Long</li>
										<li>4th-level</li>
									</ul>
								</header>
								<section class="panel__body">
									<ul class="panel__requirements">
										<li><strong>Requires:</strong> <i>The Mourning Rites (C1)</i> and <i>We Must Rebuild (C2)</i></li>
									</ul>
									<p>Recruit a Sun Cleric from Raftel and restore Brackenwood's temple.</p>
								</section>
							</adventure>
							<adventure class="panel panel--adventure">
								<header class="panel__header">
									<h4 class="panel__title">Tools of the Trade<span>D3</span></h4>
									<ul class="panel__tags">
										<li>Long</li>
										<li>5th-level</li>
									</ul>
								</header>
								<section class="panel__body">
									<ul class="panel__requirements">
										<li><strong>Requires:</strong> <i>We Must Rebuild (C2)</i></li>
									</ul>
									<p>Recover Charsi's enchanted smithing hammer from the Forgotten Tower to forge magical equipment.</p>
								</section>
							</adventure>
						</div>
						<div class="phase">
							<adventure class="panel panel--adventure">
								<header class="panel__header">
									<h4 class="panel__title">The Beating Heart<span>E1</span></h4>
									<ul class="panel__tags">
										<li>Short</li>
										<li>5th-level</li>
									</ul>
								</header>
								<section class="panel__body">
									<ul class="panel__requirements">
										<li><strong>Requires:</strong> <i>Arcane Sanctuary (D1)</i> or <i>The Golden Temple (D2)</i></li>
									</ul>
									<p>Use the resources of the rebuilt Brackenwood to discover the location of the revived Cult of Blood.</p>
								</section>
							</adventure>
							<adventure class="panel panel--adventure">
								<header class="panel__header">
									<h4 class="panel__title">Bloodthirster<span>E2</span></h4>
									<ul class="panel__tags">
										<li>Medium</li>
										<li>5th-level</li>
									</ul>
								</header>
								<section class="panel__body">
									<ul class="panel__requirements">
										<li><strong>Requires:</strong> <i>Arcane Sanctuary (D1)</i> and <i>Tools of the Trade (D3)</i></li>
									</ul>
									<p>Create a powerful, bloodthirsty blade by summoning a demon and trapping its essence within a magical sword.</p>
								</section>
							</adventure>
						</div>
						<div class="phase">
							<adventure class="panel panel--adventure">
								<header class="panel__header">
									<h4 class="panel__title">The Cult of Blood<span>F</span></h4>
									<ul class="panel__tags">
										<li>Long</li>
										<li>6th-level</li>
									</ul>
								</header>
								<section class="panel__body">
									<ul class="panel__requirements">
										<li><strong>Requires:</strong> <i>The Beating Heart (E1)</i></li>
									</ul>
									<p>Infiltrate the Cult of Blood and destroy the Beating Heart to end the Cult once and for all.</p>
								</section>
							</adventure>
						</div>
					</section>
				</campaign>
			</page>
		</book>
	</body>
</html>
