<html>
	<body>
		<book class="book">
			<page class="page page--generic page--deadly-disease" data-header-icon="maggot">
				<h1 id="deadly-disease">Deadly Disease</h1>
				<p>The world, for all its occasional beauty, is a filthy place. Monsters aren't the only threat to your survival—plague and disease stalk the land, destroying villages and decimating cities. Sometimes the greatest threat to the city isn't the wild dragon—it's the lone child with a lingering cough.</p>
				<p>This chapter provides rules on catching and treating contagious diseases, and a selection of pre-made diseases to use in your game.</p>

				<h3>What is a Disease?</h3>
				<p>A disease is an ongoing sickness that can infect your character and spread to those around you, from the mundane (flu, chickenpox, cholera) to the magical (mind worms, dragonlung, gelatinous boils).</p>
				<p>Diseases become more severe over time, progressing through 4 stages—so try to stay healthy.</p>

				<disease data-name="Influenza"></disease>

				<col-break></col-break>

				<h2>Contracting Disease</h2>
				<p>Adventuring is not a clean business. Filthy sewers, rabid animals, rusty swords—there are countless ways in which a person might contract a debilitating disease.</p>
				<p>There are three basic steps to follow when dealing with disease: contact, incubation, and first symptoms.</p>

				<h3><span class="h3__highlight">1</span>Contact</h3>
				<p>First, your character needs to come into contact with an active disease. There are four ways this might happen:</p>
				<ul>
					<li><strong>Direct Contact:</strong> You touch an infected person or diseased fluid—such as blood, sweat, or pus.</li>
					<li><strong>Indirect Contact:</strong> You touch something that has been contaminated with a diseased substance or fluid—a doorknob, a shared bed, a knife.</li>
					<li><strong>Bites:</strong> Something bites you—a fly, a tick, a leech—and injects the disease directly into your body.</li>
					<li><strong>Consumption:</strong> You eat/drink something that's been contaminated—foul water, moldy bread, rotten meat.</li>
				</ul>

				<example class="panel panel--example">
					<section class="panel__body">
						<ul class="chat">
							<li><span class="chat__speaker">GM:</span><span>As you lean over the corpse to unclasp the necklace, Viridian, the zombie's stomach bursts with a sickening pop. Roll a Dexterity saving throw.</span></li>
							<li><span class="chat__speaker">Viridian:</span><span>Son of a... <span class="chat__action">(rolls 3)</span> ...damn zombies.</span></li>
							<li><span class="chat__speaker">GM:</span><span>Black ichor and pus splatter you in thick, wet clumps. The smell of rotten flesh is overwhelming.</span></li>
							<li><span class="chat__speaker">Viridian:</span><span>Gross. This can't be good.</span></li>
						</ul>
					</section>
				</example>

				<p>Once your character has come into contact with a contagious disease, there is a chance of infection—the incubation period automatically begins.</p>
			</page>
			<page class="page page--generic page--deadly-disease">
				<h3><span class="h3__highlight">2</span>Incubation</h3>
				<p>All diseases have an incubation period—a period of time where, infected or not, you display no symptoms. At this stage, you have no idea if you're actually infected yet—all you can do is wait and hope for the best.</p>

				<h3><span class="h3__highlight">3</span>Infection</h3>
				<p>Once the initial incubation period has passed, it's time to see if your character was infected and displays any symptoms. Make a Constitution saving throw against the DC of the disease—this is called an <i>Infection</i> check:</p>
				<p><strong>Success:</strong> You are not infected.</p>
				<p><strong>Failure:</strong> The disease has infected your body and you begin to display the first symptoms.</p>

				<example class="panel panel--example">
					<section class="panel__body">
						<ul class="chat">
							<li><span class="chat__speaker">GM:</span><span>During your week in town, Viridian, you notice you've developed a small cough. It's inoffensive, but persistent. Make a DC 10 Constitution saving throw.</span></li>
							<li><span class="chat__speaker">Viridian:</span><span>Damn it... <span class="chat__action">(rolls 8)</span>.</span></li>
							<li><span class="chat__speaker">GM:</span><span>One morning, as you wake from a particularly fierce cough, you notice some thick green phlegm in your handkerchief. It smells foul.</span></li>
							<li><span class="chat__speaker">Viridian:</span><span>The flu? <i>Again?</i> Every. Time. I. Swear. Where's a cleric when you need them...</span></li>
						</ul>
					</section>
				</example>

				<h4>Wounds and Multiple Exposure</h4>
				<p>If you had any open wounds when you were exposed to the disease—or you were exposed multiple times—it becomes much more likely that you were infected. Make your <i>Infection</i> check with disadvantage.</p>

				<h2>Living with Disease</h2>
				<p>Once your disease starts to display symptoms, the real battle for your health begins. A runny nose, a splitting headache, a bad cough—manage your pain as best you can while you fight back the sickness.</p>

				<h3>Escalation</h3>
				<p>Periodically, your disease will try to attack your body and spread further. Each time the incubation period passes, make a Constitution saving throw to see if your disease changes—this is called an <i>Escalation</i> check:</p>
				<p><strong>Success:</strong> Your symptoms have peaked. Your disease improves by one step and goes into decline.</p>
				<p><strong>Failure:</strong> Your disease worsens by one step.</p>

				<example class="panel panel--example">
					<section class="panel__body">
						<ul class="chat">
							<li><span class="chat__speaker">GM:</span><span>After another week of illness, Viridian, you feel your symptoms begin to change. Roll a DC 10 Constitution saving throw.</span></li>
							<li><span class="chat__speaker">Viridian:</span><span>Fingers crossed... <span class="chat__action">(rolls 18)</span> ...<i>finally</i>.</span></li>
							<li><span class="chat__speaker">GM:</span><span>Your fever has broken at last, and you think you're over the worst of it now. Your flu is in decline.</span></li>
							<li><span class="chat__speaker">Viridan:</span><span>Great. Now who can I cough on...</span></li>
						</ul>
					</section>
				</example>

				<col-break></col-break>

				<aside class="panel panel--aside">
					<header class="panel__header">
						<h4 class="panel__title">Degrees of Success</h4>
					</header>
					<section class="panel__body">
						<p>If you are using the <i>Degrees of Success</i> rules, these options will allow a critical success or failure to impact the speed at which the disease spreads through your body.</p>
						<ul>
							<li><strong>Critical Success:</strong> Your disease improves by one step, goes into decline, and your next <i>Escalation</i> check happens in half the normal time.</li>
							<li><strong>Success:</strong> Your disease improves by one step and it goes into decline.</li>
							<li><strong>Success at a Cost:</strong> You can sacrifice a precious resource to help your immune system succeed—a healing potion, hit dice, a spell, a scroll.</li>
							<li><strong>Failure:</strong> Your disease worsens by one step.</li>
							<li><strong>Critical Failure:</strong> Your disease worsens by one step and accelerates—your next <i>Escalation</i> check happens in half the normal time.</li>
						</ul>
					</section>
				</aside>

				<h4>First-Aid & Bed Rest</h4>
				<p>If you are treated with the appropriate first-aid, medicine, or bed rest during your illness, you can make your next <i>Escalation</i> check with advantage.</p>

				<h3>Decline</h3>
				<p>Once your symptoms have peaked and gone into decline, you automatically succeed every subsequent <i>Escalation</i> check until the disease finally leaves your system.</p>
				<p><strong>Relapse:</strong> If you come into contact with the disease again, you risk a relapse. Your illness stops its decline—make your next saving throw as normal to see if your disease escalates.</p>

				<h3>Recovery</h3>
				<p>You have managed to recover from your disease—well done. But some diseases may leave a lasting effect on your body—marks, scars, weakness—and you may also still be contagious to others at this point, so be careful.</p>

				<h2>Spreading Disease</h2>
				<p>Most diseases are highly contagious—once you have one, it's very easy to pass it on. There are two main ways you can spread a disease: by touch and through air.</p>

				<h3><span class="h3__highlight">A</span>Touch</h3>
				<p>Your blood, sweat, and spit are rife with sickness. Anyone who makes physical contact with you while you are contagious risks infection. Things you touch with your bare skin—door handles, cutlery, tools—also become contaminated and remain so for an hour.</p>
				<p>To avoid making accidental contact when touching someone who is diseased—for example, when administering first aid—make a DC 15 Intelligence or Wisdom saving throw. Wearing gloves, medical robes, and other protective gear can help defend against contamination—make your check with advantage.</p>
			</page>
			<page class="page page--generic page--deadly-disease">
				<h3><span class="h3__highlight">B</span>Air</h3>
				<p>As you breathe, cough, and sneeze, the air around you becomes thick with sickness. Anyone that comes within 5ft of you is at risk of infection. Additionally, if you spend an hour in an enclosed room, it becomes contaminated and remains so until an hour after you leave—proper ventilation and thorough cleaning can help prevent this.</p>
				<p>By wearing a face mask, you can minimize the spread of your airborne sickness by trapping coughs and spittle. However, wearing a basic mask or holding your breathe offers no protection against infection—disease is still able to infect you via your eyes and skin.</p>

				<example class="panel panel--example">
					<section class="panel__body">
						<ul class="chat">
							<li><span class="chat__speaker">GM:</span><span>The guard blocks you at the door to the lord's chambers, Clanda. "Sorry ma'am, Lord Marin has ordered us not to let anyone in. Personal matters."</span></li>
							<li><span class="chat__speaker">Clanda:</span><span>Ugh, I don't have time for this. I cast <i>Friends</i> and order him to let me pass.</span></li>
							<li><span class="chat__speaker">GM:</span><span>The guard pulls a hasty salute, his resolve temporarily weakened by your magic—"Yes ma'am, at once". He opens the door and you step forward into the lord's dark chambers.</span></li>
							<li><span class="chat__speaker">Clanda:</span><span>Why is it so dark in here?</span></li>
							<li><span class="chat__speaker">GM:</span><span>The curtains are drawn, and the air is thick and sickly. Lying in bed, coughing wetly, is Lord Marin. He opens one red eye. "You... should not... be in here."</span></li>
							<li><span class="chat__speaker">Clanda:</span><span>Oh you <i>stupid</i> lord, why didn't you say you were sick! I'll open the windows quickly to air out the room. If I fall ill, I swear I'll murder him.</span></li>
						</ul>
					</section>
				</example>

				<h2>Becoming Contagious</h2>
				<p>You are contagious once your hit points are below a certain threshold—this represents you bleeding slightly, or breathing harder, or sweating more. The more severe the spread of your disease, the more of a risk you become to other people.</p>
				<p>When you take damage, check the <i>Spreading Disease</i> table to see if you become contagious or not.</p>

				<list class="panel panel--list" data-resize=15>
					<header class="panel__header">
						<h4 class="panel__title">Becoming Contagious</h4>
					</header>
					<section class="panel__body">
						<table class="table table--becoming-contagious">
							<thead>
								<tr>
									<th>Severity</th>
									<th>Contagious</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>Stage 1</td>
									<td>Less than 25% hit points remain</td>
								</tr>
								<tr>
									<td>Stage 2</td>
									<td>Less than 50% hit points remain</td>
								</tr>
								<tr>
									<td>Stage 3</td>
									<td>Less than 75% hit points remain</td>
								</tr>
								<tr>
									<td>Stage 4</td>
									<td>Always contagious</td>
								</tr>
							</tbody>
						</table>
					</section>
				</list>

				<h3>Death</h3>
				<p>If you die from a disease, your corpse becomes a breeding ground for your sickness. Your body remains contagious for the next week.</p>
				<p>This goes for any corpse, so be careful of touching the dead—you never know what disease they may carry.</p>

				<col-break></col-break>

				<h2>Diagnosis</h2>
				<p>When you contract a disease, it's not always obvious what you have from the first symptoms alone. Many diseases share similar symptoms at the beginning—headaches, fevers, rashes—so you may want to get your sickness diagnosed to prevent any nasty surprises.</p>
				<p>To make a diagnosis, roll a Wisdom or Intelligence check against the rarity of the disease. You must be trained in <i>Medicine</i>. A <i>Healer's Kit</i> will also prove useful, granting advantage on your diagnosis attempt.</p>

				<list class="panel panel--list" data-resize=15>
					<header class="panel__header">
						<h4 class="panel__title">Diagnosing Disease</h4>
					</header>
					<section class="panel__body">
						<table class="table table---diagnosing-disease">
							<thead>
								<tr>
									<th>Rarity</th>
									<th>DC</th>
									<th>Description</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>Common</td>
									<td>10</td>
									<td>A frequent occurrence</td>
								</tr>
								<tr>
									<td>Rare</td>
									<td>20</td>
									<td>Sporadic with sudden outbreaks</td>
								</tr>
								<tr>
									<td>Mythic</td>
									<td>30</td>
									<td>A unique or magical sickness</td>
								</tr>
							</tbody>
						</table>
					</section>
				</list>

				<h2>Magical Healing</h2>
				<p>Magic is a great tool for healing the body, but it is not infallible—the body is a complicated, delicate machine. When you use magic to remove a disease, the sickness is not immediately purged but instead goes into decline.</p>

				<h3>Magic Strength</h3>
				<p><strong>Magic Strength:</strong>Not all magic is powerful enough to fight every disease. When using a spell or effect to treat sickness, compare the spell level to the disease DC to see if it will work.</p>

				<list class="panel panel--list">
					<header class="panel__header">
						<h4 class="panel__title">Magic Strength</h4>
					</header>
					<section class="panel__body">
						<table class="table table--magic-strength">
							<thead>
								<tr>
									<th>Spell Level</th>
									<th>Max DC</th>
									<th>Examples</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>0-5</td>
									<td>15</td>
									<td>Lesser Restoration, Lay on Hands</td>
								</tr>
								<tr>
									<td>6-8</td>
									<td>25</td>
									<td>Heal</td>
								</tr>
								<tr>
									<td>9</td>
									<td>30</td>
									<td>Mass Heal</td>
								</tr>
							</tbody>
						</table>
					</section>
				</list>

				<h3>Magical Immunity</h3>
				<p>Some class features may grant immunity to diseases—such as a paladin's <i>Divine Health</i>. In these cases, your immunity is not absolute—the resistance depends on the level of the effect (class level, item level, spell level, etc.).</p>

				<list class="panel panel--list" data-resize=15>
					<header class="panel__header">
						<h4 class="panel__title">Magical Immunity</h4>
					</header>
					<section class="panel__body">
						<table class="table table--magical-immunity">
							<thead>
								<tr>
									<th>Level</th>
									<th>Immunity</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>01-05</td>
									<td>Diseases up to DC 15</td>
								</tr>
								<tr>
									<td>06-10</td>
									<td>Diseases up to DC 20</td>
								</tr>
								<tr>
									<td>11-15</td>
									<td>Diseases up to DC 25</td>
								</tr>
								<tr>
									<td>16-20</td>
									<td>All diseases</td>
								</tr>
							</tbody>
						</table>
					</section>
				</list>
			</page>
			<page class="page page--generic page--deadly-disease">
				<h2>Disease Compendium</h2>
				<p>There are many diseases out in the world—some a mild inconvenience, some an almost-certain death sentence.</p>
				<p>This section details a number of example diseases, and includes guidance on creating your vile illnesses.</p>

				<h3>Creating a Disease</h3>
				<p>To surprise your players with a sickness unique to your world, follow these steps to brew your own diseases.</p>

				<h4>Step 1: Rarity</h4>
				<p>First, decide how well-known the disease is in your world—common, rare, or mythic. The more common the sickness, the easier it is to make a correct diagnosis.</p>

				<h4>Step 2: DC</h4>
				<p>Next, decide how contagious the disease is. The higher the DC, the harder it is to resist the disease—use a small DC if you want characters to recover quickly.</p>
				<p>When deciding on the DC, consider any rare items that your characters might need to hunt for to overcome their sickness—rare flowers from the Fetid Swamp, crushed dragonbone from the Ancient Graveyard, or a horse's heart from the Yellowgrass Plains.</p>

				<list class="panel panel--list">
					<header class="panel__header">
						<h4 class="panel__title">Disease DC</h4>
					</header>
					<section class="panel__body">
						<table class="table table--disease-dc">
							<thead>
								<tr>
									<th>Description</th>
									<th>DC</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>Easy to recover from, most people will only be ill for a short time before they fight it off.</td>
									<td>05 / 10</td>
								</tr>
								<tr>
									<td>These diseases hang around for a while, and most people will need to consider bed rest or some medicine to help them get better.</td>
									<td>15 / 20</td>
								</tr>
								<tr>
									<td>These diseases are almost impossible to recover from. Most people have no chance of stopping this sickness.</td>
									<td>25 / 30</td>
								</tr>
							</tbody>
						</table>
					</section>
				</list>

				<col-break></col-break>

				<h4>Step 3: Incubation</h4>
				<p>Now choose how long the disease takes to escalate in severity. The longer the period, the longer it will be before any first symptoms start to show.</p>

				<h4>Step 4: Transmission</h4>
				<p>Next, pick how your disease is transmitted. Usually this is through touch or air, but there may be other triggers.</p>

				<example class="panel panel--example">
					<section class="panel__body">
						<p>The GM is creating a mythic, magical disease that spreads through sound—<i>resonant flux</i>. This unusual disease is transmitted through audio waves whenever an infected person says the word "symphony".</p>
					</section>
				</example>

				<h4>Step 5: Stages</h4>
				<p>Now it's time to decide on the specific effects of your disease. Every disease has 4 stages, each increasing in severity. Describe the physical effects, and assign a mechanical penalty of some kind.</p>
				<p>Effects are cumulative, so be careful not to assign too many effects at each step. At the same time, avoid having stages with no mechanical effect.</p>
				<p>These are some effects you might like to consider:</p>
				<ul>
					<li>-1/-2 to an ability modifier.</li>
					<li>Fall into a coma, or death.</li>
					<li>Reduced movement, or total paralysis.</li>
					<li>Advantage or disadvantage on certain rolls.</li>
					<li>Halve your speed.</li>
					<li>Vulnerability to certain damage.</li>
					<li>Lose some or all of your hit dice.</li>
					<li>Gain a level of exhaustion.</li>
				</ul>

				<h4>Step 6: Cure</h4>
				<p>Finally, decide on any lingering effects on recovery from the disease—scars, weakness, immunity, etc. This is a good way to leave a lasting mark on characters and NPCs—even recovery has a price.</p>

				<div class="layout--col-wide layout--fixed-bottom">
					<list class="panel panel--list" data-resize=75>
						<header class="panel__header">
							<h4 class="panel__title">Diseases</h4>
						</header>
						<section class="panel__body">
							<table class="table table--diseases-contents">
								<thead>
									<tr>
										<th>Name</th>
										<th>Description</th>
										<th>Rarity</th>
										<th>DC</th>
										<th>Inc.</th>
										<th>Transmission</th>
									</tr>
								</thead>
								<tbody>
								</tbody>
							</table>
						</section>
					</list>
				</div>
			</page>
			<page class="page page--generic page--deadly-disease">
				<disease data-name="Bubonic Plague"></disease>
				<disease data-name="Chickenpox"></disease>
				<disease data-name="Cholera"></disease>

				<example class="panel panel--example">
					<section class="panel__body">
						<p>Viridian took a cup of water from the keg. By the time he saw the dead rat floating in it, it was too late.</p>
					</section>
				</example>

				<col-break></col-break>

				<disease data-name="Diphtheria"></disease>

				<example class="panel panel--example">
					<section class="panel__body">
						<p>Krazak's head was pounding. This wasn't a normal hangover—something was wrong...</p>
					</section>
				</example>

				<disease data-name="Dysentery"></disease>
				<disease data-name="Influenza"></disease>
			</page>
			<page class="page page--generic page--deadly-disease">
				<disease data-name="Smallpox"></disease>
				<disease data-name="Stonescale"></disease>

				<example class="panel panel--example">
					<section class="panel__body">
						<p>Clanda scratched at her arm. Gray flakes of dead skin peeled off. She had to find a cure—and <i>fast</i>...</p>
					</section>
				</example>

				<disease data-name="Syphilis"></disease>

				<col-break></col-break>

				<disease data-name="Tapeworm"></disease>
				<disease data-name="Typhoid Fever"></disease>
				<disease data-name="Whooping Cough"></disease>

				<example class="panel panel--example">
					<section class="panel__body">
						<p>Chansi coughed, swore, and coughed again. Her ribs were so sore, she could barely stand straight.</p>
					</section>
				</example>
			</page>
		</book>
	</body>
</html>
