<html>
	<body>
		<book class="book">
			<page class="page page--generic page--death-and-resurrection" data-header-icon="chewed-skull">
				<h1 id="death-and-resurrection">Death & Resurrection</h1>
				<p>There are only two certainties in life: death and taxes. Throughout their career, adventurers face danger and destruction at every turn—and not everyone is lucky enough to make it back to town alive.</p>
				<p>This chapter sets out the <i>Dying</i> condition and includes rules for persistent death saves, funerals, character wills, and resurrection magic.</p>

				<h2 id="dying">Dying</h2>
				<p>When you are reduced to 0 hit points, you gain the <i>Dying</i> condition. You can't move, and your ability to talk is limited. This condition ends if you regain any hit points.</p>

				<trait class="panel panel--trait">
					<header class="panel__header">
						<h4 class="panel__title">Dying</h4>
						<ul class="panel__tags">
							<li>Condition</li>
						</ul>
					</header>
					<section class="panel__body">
						<ul>
							<li>You drop whatever you're holding and fall prone.</li>
							<li>You can't move, take actions, or use reactions.</li>
							<li>You're aware of what's happening 15 ft around you.</li>
							<li>You can speak a maximum of <i>two</i> words per round.</li>
							<li>Attack rolls against you have advantage.</li>
							<li>You automatically fail STR/DEX saving throws.</li>
							<li>You must make a <i>death saving throw</i> at the start of your turn. If you fail three death saving throws, you die.</li>
						</ul>
					</section>
				</trait>

				<example class="panel panel--example">
					<section class="panel__body">
						<ul class="chat">
							<li><span class="chat__speaker">GM:</span><span>The drow's hooked blade tears into you, Krazak, dealing 13 points of slashing damage.</span></li>
							<li><span class="chat__speaker">Krazak:</span><span>Down to 0 hp—damn it, I'm <i>dying</i> here.</span></li>
							<li><span class="chat__speaker">GM:</span><span>Ravna looms over you with a sadistic smile. "Any last words, dwarf, before I send you to the grave?"</span></li>
							<li><span class="chat__speaker">Krazak:</span><span>Screw. You.</span></li>
							<li><span class="chat__speaker">GM:</span><span>"Two words well spent," sneers Ravna.</span></li>
						</ul>
					</section>
				</example>

				<col-break></col-break>

				<h3>Death Saving Throws</h3>
				<p>While you are dying, you must make a death saving throw at the start of your turn to see how long you can cling onto life—if you fail three death saving throws, you die.</p>
				<p>When you make a death saving throw, roll a d20 and check the <i>Death Saving Throw</i> table below to see what happens to you.</p>

				<list class="panel panel--list">
					<header class="panel__header">
						<h4 class="panel__title">Death Saving Throw</h4>
					</header>
					<section class="panel__body">
						<table class="table table--death-saving-throw">
							<thead>
								<tr>
									<th>d20</th>
									<th>Outcome</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>1</td>
									<td>You fail two death saving throws.</td>
								</tr>
								<tr>
									<td>2-9</td>
									<td>You fail one death saving throw.</td>
								</tr>
								<tr>
									<td>10-19</td>
									<td>No change.</td>
								</tr>
								<tr>
									<td>20</td>
									<td>You regain 1 hit point and the <i>dying</i> condition ends.</td>
								</tr>
							</tbody>
						</table>
					</section>
				</list>

				<h4>Persistent Saves</h4>
				<p>Death saving throws don't reset after a short rest—instead, you recover one failed death saving throw after completing a long rest. Take care to rest properly.</p>

				<h3>Taking Damage</h3>
				<p>If you are hit by any damaging attack whilst dying, you automatically fail one death saving throw. Critical damage, likewise, causes you to fail one death saving throw.</p>

				<aside class="panel panel--aside">
					<header class="panel__header">
						<h4 class="panel__title">Limited Awareness</h4>
					</header>
					<section class="panel__body">
						<p>When a character has the <i>Dying</i> condition, their awareness and ability to communicate with other characters is severely restricted—dying is hard work.</p>
						<p>Choose your character's two words carefully for each round, and avoid table-talk whenever possible.</p>
					</section>
				</aside>
			</page>
			<page class="page page--generic page--death-and-resurrection">
				<h2>Death</h2>
				<p>Sometimes, despite your best efforts, your best just isn't good enough—all things come to an end, and your character is unfortunately no exception.</p>
				<p>But with any luck, you fought a good fight and left the world a little less dark than when you first joined it.</p>

				<h3>Your Funeral</h3>
				<p>No corpse should be left out in the open to be torn apart by birds and wild dogs—a hero deserves a hero's send-off.</p>
				<p>If your adventuring party are able to recover your body, bury it, and throw an appropriately lavish funeral, they may buy a share of the unspent experience you had when you died—10 XP per gold spent on your funeral.</p>

				<example class="panel panel--example">
					<section class="panel__body">
						<p>Though victorious against the drow pirate Ravna Ry'len, Krazak suffered a mortal wound and died with 460 unspent XP.</p>
						<p>The surviving party members carry his body back to town, where they spend 46 gp on a lavish funeral—plenty of beer, food, and fire. The next day, they each take a share of Krazak's 460 XP.</p>
					</section>
				</example>

				<h4>Variant: Milestones</h4>
				<p>If you are using a <i>Milestone</i> leveling system, then consider this variant instead.</p>
				<p>If your adventuring party are able to recover your body, bury it, and throw an appropriately lavish funeral (at least 50 gp for each of your character levels), they each gain one favor from you from beyond the grave.</p>

				<h3>Reading of the Will</h3>
				<p>You can leave a will behind to confirm who the heirs to your property are. This can be arranged in retrospect with your GM <i>after</i> the character's death if necessary. The reading of the will usually takes place at your funeral, or before the introduction of a new character.</p>
				<p>This might be the last opportunity for your character to say any final words, so make the most of it.</p>

				<example class="panel panel--example">
					<section class="panel__body">
						<ul class="chat">
							<li><span class="chat__speaker">GM:</span><span>A gruff, dwarven priest approaches you all after the funeral, bearing Krazak's last known will.</span></li>
							<li>
								<p><span class="chat__speaker">Clanda:</span><span>A <i>will</i>? You're telling me that brute knew how to write? Let me see that.</span></p>
								<p>"In the unlikely event of my death, I, Krazak the Undefeated, leave 50 gp to the church to fix that damn leaky roof. Valiant, you need all the help you can get: take my ring of protection. Viridian, you're weak as a kitten: take my amulet of health. Everything else goes to my brother, Gundren."</p>
							</li>
							<li><span class="chat__speaker">Valiant:</span><span>Krazak had a brother? Huh, he never said. What else does it say?</span></li>
							<li><span class="chat__speaker">Clanda:</span><span>"Kill Clanda". Cute.</span></li>
							<li><span class="chat__speaker">Viridian:</span><span>Ah that Krazak, ever the charmer.</span></li>
						</ul>
					</section>
				</example>

				<col-break></col-break>

				<h3>A New Beginning</h3>
				<p>Once you've added your character's name to the graveyard, it's time to start anew with a fresh character or an elevated NPC/henchman.</p>
				<p>There are a variety of ways to determine your starting level and wealth—choose the method that fits your game.</p>

				<h4 class="h4--option">Starting Level</h4>
				<ul>
					<li><strong>Same Level:</strong> Start at the same level as your old PC.</li>
					<li><strong>One Behind:</strong> Start one level lower than your old PC.</li>
					<li><strong>Accelerated 1st-Level:</strong> Start at level 1. You gain XP at twice the normal rate until you catch up to the rest of the party.</li>
				</ul>

				<h4 class="h4--option">Starting Wealth</h4>
				<ul>
					<li><strong>Inheritance:</strong> Inherit gold and starting items from your old character—whatever was passed on in your will. Your new character should be known or related to your old character in some fashion.</li>
					<li><strong>Fresh Start:</strong> Start with the same amount of gold and magic items as the poorest active character.</li>
				</ul>

				<h2>Resurrection</h2>
				<p>Death is not always the end. Magic is a powerful force, and with it even the dead can rise again.</p>
				<p>Such spells are not without cost, however, and resurrection spells require the <i>rarest</i> of components—diamonds of a particular cut, rarity, and quality. These gemstones can't be bought on the open market—finding one may be a whole adventure in itself.</p>
				<p><strong>Lost Knowledge:</strong> Death has a price—a character that has been dead for longer than a day will lose any unspent experience points when resurrected.</p>

				<list class="panel panel--list">
					<header class="panel__header">
						<h4 class="panel__title">Resurrection Spells</h4>
					</header>
					<section class="panel__body">
						<table class="table table--resurrection">
							<thead>
								<tr>
									<th>Spell</th>
									<th>Level</th>
									<th>Time Limit</th>
									<th>Component</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>Revivify</td>
									<td>3rd</td>
									<td>1 minute</td>
									<td>3 × Pristine diamonds</td>
								</tr>
								<tr>
									<td>Raise Dead</td>
									<td>5th</td>
									<td>10 days</td>
									<td>Royal diamond</td>
								</tr>
								<tr>
									<td>Reincarnate</td>
									<td>5th</td>
									<td>10 days</td>
									<td>Mystic oils</td>
								</tr>
								<tr>
									<td>Resurrection</td>
									<td>7th</td>
									<td>100 years</td>
									<td>Perfect diamond</td>
								</tr>
								<tr>
									<td>True Resurrection</td>
									<td>9th</td>
									<td>200 years</td>
									<td>Astral diamond</td>
								</tr>
							</tbody>
						</table>
					</section>
				</list>

				<h3>Reincarnate</h3>
				<p>The <i>Reincarnate</i> spell is unique in that it requires only mystic oils. Unlike rare diamonds, these oils <i>can</i> be bought or crafted during downtime—at a significant cost.</p>

				<h3>Variant: No Resurrections</h3>
				<p>If you want to add a sense of finality to death, use this <i>No Resurrections</i> variant rule.</p>
				<p>The souls of the dead, once passed beyond the veil, can never return to the mortal plane. Resurrection spells of any kind—including <i>wishes</i>—have no effect.</p>
			</page>
		</book>
	</body>
</html>
