<html>
	<body>
		<book class="book">
			<page class="page page--generic page--degrees-of-success" data-header-icon="divided-square">
				<h1 id="degrees-of-success">Degrees of Success</h1>
				<p>Sometimes, despite our best efforts, we don't always win. But not all failures are equal—sometimes we mess up a little, sometimes we mess up catastrophically. Sometimes, we even have a chance to prevent failure—at a small, extra cost.</p>
				<p>This chapter introduces <i>degrees of success</i>, allowing you to judge the scale of success and failure accordingly.</p>

				<h2>Success & Failure</h2>
				<p>When you attempt an action that has a chance of failure, compare your result to the DC and check the list below to see just how well you did.</p>
				<ul>
					<li><strong>Critical Success:</strong> You succeeded by 10 or more on a skill check, or rolled a natural 20 on an attack. Things have gone perfectly. You achieve your goal and something else happens in your favor.</li>
					<li><strong>Success:</strong> You achieve your goal.</li>
					<li><strong>Minor Failure</strong> or <strong>Success at a Cost:</strong> You failed by 1, 2, or 3. You can choose to succeed, but something bad also happens as a consequence.</li>
					<li><strong>Failure:</strong> You failed by 4 or more. Something bad happens—you take damage, gain Stress, lose a hit die, a Condition worsens, etc.</li>
					<li><strong>Critical Failure:</strong> You failed by 10 or more on a skill check, or rolled a natural 1 on an attack. It's all gone badly for you and you suffer a second consequence in addition to the normal failure effects—you take extra damage, lose a hit die, drop an item, etc.</li>
				</ul>

				<example class="panel panel--example">
					<section class="panel__body">
						<p>Krazak is critically hit by an enemy. He takes damage for failing to dodge, then <i>additional</i> damage (the crit damage) for critically failing—two consequences.</p>
					</section>
				</example>

				<col-break></col-break>

				<h3>Boons</h3>
				<p>When a character succeeds with an ability check or attack roll, something good happens and they get what they wanted. The type of this reward is often clear from the context of the character's action—you hit the monster, you unlock the chest, you identify the potion, etc.</p>
				<p>But if the reward <i>isn't</i> clear—or you want to give a character an <i>extra</i> boon for a critical success—consider some of the examples below.</p>

				<list class="panel panel--list" data-resize=30>
					<header class="panel__header">
						<h4 class="panel__title">Boons</h4>
					</header>
					<section class="panel__body">
						<table class="table table--degrees-boons">
							<thead>
								<tr>
									<th>d20</th>
									<th>Boon</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>1</td>
									<td>You restore some hit points</td>
								</tr>
								<tr>
									<td>2</td>
									<td>You gain a hit die</td>
								</tr>
								<tr>
									<td>3</td>
									<td>You find some extra gold</td>
								</tr>
								<tr>
									<td>4</td>
									<td>You gain a favor from an ally</td>
								</tr>
								<tr>
									<td>5</td>
									<td>You regain a spell slot</td>
								</tr>
								<tr>
									<td>6</td>
									<td>You deal extra damage</td>
								</tr>
								<tr>
									<td>7</td>
									<td>You heal some mental stress</td>
								</tr>
								<tr>
									<td>8</td>
									<td>You may spend a hit die to recover some hit points</td>
								</tr>
								<tr>
									<td>9</td>
									<td>You may switch places with a nearby ally</td>
								</tr>
								<tr>
									<td>10</td>
									<td>You can move to an advantageous position</td>
								</tr>
								<tr>
									<td>11</td>
									<td>You learn a piece of rare information</td>
								</tr>
								<tr>
									<td>12</td>
									<td>You (temporarily) lose one level of exhaustion</td>
								</tr>
								<tr>
									<td>13</td>
									<td>A magic item regains one charge</td>
								</tr>
								<tr>
									<td>14</td>
									<td>The locals hear about your achievement</td>
								</tr>
								<tr>
									<td>15</td>
									<td>You apply a condition to your enemy</td>
								</tr>
								<tr>
									<td>16</td>
									<td>A god notices your achievement</td>
								</tr>
								<tr>
									<td>17</td>
									<td>A condition improves</td>
								</tr>
								<tr>
									<td>18</td>
									<td>You gain advantage to your next roll</td>
								</tr>
								<tr>
									<td>19</td>
									<td>Your enemies are intimidated by you</td>
								</tr>
								<tr>
									<td>20</td>
									<td>You move your enemy</td>
								</tr>
							</tbody>
						</table>
					</section>
				</list>
			</page>
			<page class="page page--generic page--degrees-of-success">
				<h3>Consequences</h3>
				<p>When a character fails an action, something bad happens. The type of this consequence is often clear from the context of the character's action—you take damage from an attack, you anger the guards, you fall into the pit, etc.</p>
				<p>But if the consequence <i>isn't</i> clear—or you want to give a character an <i>extra</i> consequence for a critical failure—consider some of the examples below.</p>

				<list class="panel panel--list" data-resize=30>
					<header class="panel__header">
						<h4 class="panel__title">Consequences</h4>
					</header>
					<section class="panel__body">
						<table class="table table--degrees-consequences">
							<thead>
								<tr>
									<th>d20</th>
									<th>Consequence</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>1</td>
									<td>You or an ally take damage</td>
								</tr>
								<tr>
									<td>2</td>
									<td>An enemy reacts and takes an action</td>
								</tr>
								<tr>
									<td>3</td>
									<td>You gain some mental stress</td>
								</tr>
								<tr>
									<td>4</td>
									<td>Take a notch on your weapon/armor/item</td>
								</tr>
								<tr>
									<td>5</td>
									<td>You lose an item</td>
								</tr>
								<tr>
									<td>6</td>
									<td>One of your conditions worsens</td>
								</tr>
								<tr>
									<td>7</td>
									<td>Your torch goes out</td>
								</tr>
								<tr>
									<td>8</td>
									<td>An NPC becomes hostile to you</td>
								</tr>
								<tr>
									<td>9</td>
									<td>You lose some gold</td>
								</tr>
								<tr>
									<td>10</td>
									<td>You learn some misinformation</td>
								</tr>
								<tr>
									<td>11</td>
									<td>Your enemy becomes enraged</td>
								</tr>
								<tr>
									<td>12</td>
									<td>You gain the attention of the local guards</td>
								</tr>
								<tr>
									<td>13</td>
									<td>You drop your weapon</td>
								</tr>
								<tr>
									<td>14</td>
									<td>You stop and fall prone</td>
								</tr>
								<tr>
									<td>15</td>
									<td>You are poisoned or diseased</td>
								</tr>
								<tr>
									<td>16</td>
									<td>You are imprisoned</td>
								</tr>
								<tr>
									<td>17</td>
									<td>A crowd turns against you</td>
								</tr>
								<tr>
									<td>18</td>
									<td>A higher authority learns of your misdoings</td>
								</tr>
								<tr>
									<td>19</td>
									<td>A god punishes you</td>
								</tr>
								<tr>
									<td>20</td>
									<td>You lose some ammunition or hit dice</td>
								</tr>
							</tbody>
						</table>
					</section>
				</list>

				<h3>Success at a Cost</h3>
				<p>When you fail by a narrow margin, you may choose to <i>succeed at a cost</i> instead—you get what you want, but something bad happens to you as a consequence.</p>
				<p>This may require some negotiation with the GM—if you can't both agree on the cost, you can't succeed. Check the <i>Offerings</i> table below for some inspiration.</p>

				<list class="panel panel--list">
					<header class="panel__header">
						<h4 class="panel__title">Offerings</h4>
					</header>
					<section class="panel__body">
						<table class="table table--degrees-offerings">
							<thead>
								<tr>
									<th>d10</th>
									<th>Offering</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>1</td>
									<td>25% or 50% of your total hit points</td>
								</tr>
								<tr>
									<td>2</td>
									<td>You lose one or more hit dice</td>
								</tr>
								<tr>
									<td>3</td>
									<td>You lose one or more spell slots</td>
								</tr>
								<tr>
									<td>4</td>
									<td>An item gains a notch</td>
								</tr>
								<tr>
									<td>5</td>
									<td>You gain a condition</td>
								</tr>
								<tr>
									<td>6</td>
									<td>You gain the attention of the enemy</td>
								</tr>
								<tr>
									<td>7</td>
									<td>You are moved into a disadvantageous position</td>
								</tr>
								<tr>
									<td>8</td>
									<td>You lose an item</td>
								</tr>
								<tr>
									<td>9</td>
									<td>You gain a level of exhaustion</td>
								</tr>
								<tr>
									<td>10</td>
									<td>You lose some gold</td>
								</tr>
								<tr>
									<td>11</td>
									<td>An NPC is put in a perilous situation</td>
								</tr>
								<tr>
									<td>12</td>
									<td>You lose renown with a person or faction</td>
								</tr>
							</tbody>
						</table>
					</section>
				</list>

				<col-break></col-break>

				<h2>Examples of Play</h2>
				<p>Here are two examples of how to use <i>degrees of success</i> in your game—one to demonstrate <i>Success at a Cost</i> and a negotiation, and another to show critical failure in action.</p>
				<p>Chansi is trapped on a collapsing ledge over a dark abyss. Luckily, her friends have thrown down a rope for her to climb to safety.</p>

				<example class="panel panel--example">
					<section class="panel__body">
						<ul class="chat">
							<li><span class="chat__speaker">GM:</span><span>The ground is crumbling rapidly beneath your feet, Chansi—but you see a rope hanging ahead, over the dark abyss.</span></li>
							<li><span class="chat__speaker">Chansi:</span><span>I leap out and grab hold of it.</span></li>
							<li><span class="chat__speaker">GM:</span><span>Ok, that's a DC 15 Strength check.</span></li>
							<li><span class="chat__speaker">Chansi:</span><span>I should be able to use Athletics for this, so that's... <span class="chat__action">(rolls 14)</span> ...augh, so close!</span></li>
							<li><span class="chat__speaker">GM:</span><span>Very close indeed, the rope barely slips past your fingers. You have a chance to <i>succeed at a cost</i>...</span></li>
							<li><span class="chat__speaker">Chansi:</span><span>Damn, I can't fall into the abyss. Perhaps... something falls out of my bag as I grab hold? Those old mushrooms I picked up earlier maybe?</span></li>
							<li><span class="chat__speaker">GM:</span><span>It has to be something precious to you.</span></li>
							<li><span class="chat__speaker">Chansi:</span><span>Ah. Well I was really hoping to use this healing potion later...</span></li>
							<li><span class="chat__speaker">GM:</span><span>Perfect. For a moment you fall, barely catching the rope at the last second with your other hand. But as you hang, you hear a small rip from your bag and your healing potion tumbles into the abyss below.</span></li>
							<li><span class="chat__speaker">Chansi:</span><span>Augh, I really needed that potion...</span></li>
						</ul>
					</section>
				</example>

				<p>Viridan, meanwhile, has bluffed his way into a meeting with a local lord—Erasius, Lord of Brekenwell. Viridian hopes to convince the lord to lend his support in the defence of a nearby village.</p>

				<example class="panel panel--example">
					<section class="panel__body">
						<ul class="chat">
							<li><span class="chat__speaker">GM:</span><span>Lord Erasius looks at you coldly, Viridian—he doesn't seem impressed. "And why should I trust you, stranger?"</span></li>
							<li><span class="chat__speaker">Viridian:</span><span>Hmm, good question. Can I lie, saying that I'm nobility with access to the king? I'll tell Erasius that—if he will support us—I can put in a few words to boost his reputation with the king.</span></li>
							<li><span class="chat__speaker">GM:</span><span>Ok, that sounds like a tricky lie to me. You haven't had time to prepare this, and you don't have any items to back your claim, so it's an off-the-cuff bluff—make a DC 25 Charisma check.</span></li>
							<li><span class="chat__speaker">Viridian:</span><span>Can I use History with this?</span></li>
							<li><span class="chat__speaker">GM:</span><span>Yes, you know enough about the local lands to throw around a few names.</span></li>
							<li><span class="chat__speaker">Viridian:</span><span>Great. That's... <span class="chat__action">(rolls 13)</span> ...eep, not good.</span></li>
							<li><span class="chat__speaker">GM:</span><span>No, it isn't—it's a critical failure. Erasius can see right through your lies, and—as a second consequence—he's <i>extremely</i> offended. "You come into my home and dare lie right to my face? Perhaps some time in our dungeons will extract the truth from you. Guards!"</span></li>
							<li><span class="chat__speaker">Viridian:</span><span>Son of a...</span></li>
						</ul>
					</section>
				</example>
			</page>
		</book>
	</body>
</html>
