<html>
	<body>
		<book class="book">
			<page class="page page--generic page--faq" data-header-icon="faq">
				<h1 id="faq">FAQ</h1>
				<p>This section lists some frequently asked questions regarding <i>Darker Dungeons</i>. If your question isn't answered here, do contact me.</p>

				<h3><span class="h3__highlight">A</span>Is this official material?</h3>
				<p>No. This an unofficial compilation of house-rules for D&D 5e—rules that can be used to supplement material found in the <i>PHB</i> and <i>DMG</i>.</p>

				<h3><span class="h3__highlight">B</span>Why make this?</h3>
				<p>I enjoy D&D, but—like all GM's—I like to run games <i>my</i> way. That means focusing on themes of exploration, danger, survival, and player-driven adventure. I think vanilla 5e is weak in some of these areas, so I've added features over time to expand on these themes.</p>
				<p>I wrote this handbook to compile all my house rules together in one place—it means I can get my rules peer-reviewed, and it helps players understand exactly the type of game I like to run so that there's no confusion.</p>

				<h4>Why not play/mod something else?</h4>
				<p>My group plays 5e predominantly, so it's easier to modify a system we're already enjoying. This way, we can also dip into all the other 5e homebrew lying around. Plus, I enjoy doing this kind of thing.</p>

				<h4>There are a lot of changes...</h4>
				<p>There's a lot here, but you don't have to use it all at once—take whichever bits work best for your table and leave the rest. Consider trying out just a couple of features at a time if you're unsure.</p>
				<p><strong>Note:</strong> While I've tried to write <i>Darker Dungeons</i> features to be modular, this hasn't always been possible. I'm in the process of decoupling these, but keep an eye out for interlink between modules you do/don't select.</p>

				<col-break></col-break>

				<h3><span class="h3__highlight">C</span>Random characters?</h3>
				<p>I find random character generation exciting—I like not knowing what the character is until I've finished unwrapping it. There's no optimizing or strategizing, just roll a complete person and try to keep them alive.</p>
				<p>A fun by-product is that this ends up creating a much wider variety of characters at the table, as it prevents players falling into familiar tropes. Goliath barbarian? Hmm. Goliath wizard? Now you have my attention.</p>

				<h4>But I might get bad stats...</h4>
				<p>Sure you might. But it's much more likely that you won't. Live a little—roll and play the hand you're dealt. If it's a bad hand, play <i>smarter</i> and go the distance.</p>
				<p><strong>Note:</strong> This is something the group should agree on <i>before</i> anyone rolls for character stats. Maybe you all agree to use the result, no takebacks? Or maybe you all agree to reroll if anyone gets under X total points? Whatever the case, everyone should agree on the rules <i>before</i> rolls are made.</p>

				<h4>But I hate random generation...</h4>
				<p>If you hate the idea of random generation, absolutely don't use it at your table. Or try randomizing only small parts of character creation—race and class, for example, but not your ability scores.</p>
				<p>You don't always have to randomize a whole character—sometimes, just randomizing one aspect can be a fun exercise in itself.</p>

				<h4>But this method is bad because of X...</h4>
				<p>This is how <i>I</i> would randomly create a character, but feel free to use your own variants. Want to use 4d6? Want to roll class before background? Want to roll twice for race and pick between the two? Go ahead and do whatever's best for your table.</p>
			</page>
			<page class="page page--generic page--faq">
				<h3><span class="h3__highlight">D</span>What are Usage Dice?</h3>
				<p>Some features use a mechanic known as <i>Usage Dice</i> (taken from the <a href="https://the-black-hack.jehaisleprintemps.net/">Black Hack</a> rpg).</p>
				<p>Whenever you use a limited consumable (such as ammunition), you roll a usage die—if your roll is a 1 or 2 then the usage die shrinks one step. When you roll a 1 or 2 on a d4, the item is all used up.</p>

				<mechanic class="panel panel--mechanic">
					<header class="panel__header">
						<h4 class="panel__title">Usage Die</h4>
					</header>
					<section class="panel__body">
						<p>d20 → d12 → d10 → d8 → d6 → d4 → 0</p>
					</section>
				</mechanic>

				<p>The larger the starting usage die, the more uses you'll get out of an item before it expires. The <i>Usage Dice</i> table shows the average number of times you can expect to roll a usage die before it's down to the very last use.</p>

				<list class="panel panel--list">
					<header class="panel__header">
						<h4 class="panel__title">Usage Dice</h4>
					</header>
					<section class="panel__body">
						<tables class="tables tables--usage-dice-uses">
							<table class="table">
								<thead>
									<tr>
										<th>Starting Size</th>
										<th>Average Uses</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td>d20</td>
										<td>30</td>
									</tr>
									<tr>
										<td>d12</td>
										<td>20</td>
									</tr>
									<tr>
										<td>d10</td>
										<td>14</td>
									</tr>
								</tbody>
							</table>
							<table class="table">
								<thead>
									<tr>
										<th>Starting Size</th>
										<th>Average Uses</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td>d8</td>
										<td>9</td>
									</tr>
									<tr>
										<td>d6</td>
										<td>5</td>
									</tr>
									<tr>
										<td>d4</td>
										<td>2</td>
									</tr>
								</tbody>
							</table>
						</tables>
					</section>
				</list>

				<h3><span class="h3__highlight">E</span>Why use Active Defense?</h3>
				<p>Instead of rolling attacks against the players, I like letting players roll to defend because:</p>
				<ol>
					<li><strong>I don't care about dice:</strong> I'm a lazy GM and I like to shunt more responsibility onto players when possible. Players love rolling dice, so it's a win/win for me.</li>
					<li><strong>It's easy:</strong> There's no complicated math or monster changes—just a static +22 modifier on the GM's side.</li>
					<li><strong>It keeps players engaged:</strong> It makes players pay more attention to what's going on and keeps them engaged—they're not passively watching the GM roll five attacks, they're actively trying to avoid being hit. This ends up being much more dramatic for everyone.</li>
					<li><strong>Improves player agency:</strong> It puts a character's fate in their own hands. If a character gets critically hit, I don't have to feel bad because <i>they did the roll</i>.</li>
					<li><strong>It's fast:</strong> It doesn't slow the round down and you can quickly attack multiple characters at once.</li>
					<li><strong>Players don't change any numbers:</strong> There's no need to change any numbers by default on a character sheet—AC and spellcasting DC stay exactly the same.</li>
				</ol>

				<p>Active Defense has worked out well at my table, and I definitely recommend trying it out at least once.</p>

				<h4>Is the math correct?</h4>
				<p>I use a static +22 modifier and not the +11/-8 modifiers found in the original <a href="https://media.wizards.com/2015/downloads/dnd/UA5_VariantRules.pdf">Unearthed Arcana</a> article. This is because the UA article is <i>inaccurate</i> and actually makes the players far more likely to succeed in their attacks.</p>
				<p>As an example, here we see Clanda as she attacks an orc using <i>Acid Orb</i>. Clanda has a spellcasting DC of 13 and the orc has a Dexterity saving throw bonus of 1.</p>

				<col-break></col-break>

				<h5>Traditionally...</h5>
				<ul>
					<li>The orc needs to roll 12 or more <i>(45% chance)</i> to save against spellcasting DC 13.</li>
					<li>Clanda's chance to succeed: 55%.</li>
				</ul>

				<h5>With UA's +11/-8</h5>
				<ul>
					<li>The orc's saving throw becomes 12 <i>(1 + 11)</i>.</li>
					<li>Clanda's spellcasting DC becomes 5 <i>(13 - 8)</i>.</li>
					<li>Clanda needs to roll 7 or more <i>(70% chance)</i> to hit a saving throw of 12.</li>
					<li>Clanda's chance to succeed: 70%.</li>
				</ul>

				<h5>But, with a static +22...</h5>
				<ul>
					<li>The orc's saving throw becomes 23 <i>(1 + 22)</i>.</li>
					<li>Clanda's spellcasting DC remains 13.</li>
					<li>Clanda needs to roll 10 or more <i>(55% chance)</i> to hit a saving throw of 23.</li>
					<li>Clanda's chance to succeed: 55%.</li>
				</ul>

				<p>As we can see, the UA modifiers make Clanda 15% more likely to succeed vs the RAW rules, whereas the static +22 retains the same chance of success.</p>

				<h4>But I like to roll attacks...</h4>
				<p>That's fine. If you prefer the traditional system, stick with it—I'm not going to come in and take away your GM dice.</p>

				<h3><span class="h3__highlight">F</span>Why use Active Initiative?</h3>
				<p>Instead of the standard turn-order/queue-based initiative, I like to use <i>Active Initiative</i> for four main reasons:</p>
				<ol>
					<li><strong>Better teamwork:</strong> Players can work together to chain their actions into big combo-attacks, using more elaborate tactics than they can do under standard initiative tracking.</li>
					<li><strong>More communication:</strong> Players talk more when they have a clear opportunity to work together. More communication makes for a better game, IME.</li>
					<li><strong>More attentive players:</strong> Players aren't stuck waiting for their turn to come up, they're actively watching for opportunities to jump in and act.</li>
					<li><strong>It's easy:</strong> No dice or math—just say who goes next.</li>
				</ol>

				<p>This has worked out well at my table—but it's not for everyone. Some people prefer the familiarity of turn-based initiative, and that's ok.</p>
				<p><strong>Online VTTs:</strong> If you're playing online, or using a virtual tabletop (such as Roll20, Fantasy Grounds, Foundry, etc), you may find it easier to stick with the pre-programmed initiative system.</p>

				<h4>Does this give players an advantage?</h4>
				<p>Yes, players have a slight edge because it's easier to chain actions together. But in my experience that's a good thing—players <i>should</i> be rewarded for working together, and it means the GM can risk using more dangerous monsters.</p>

				<h4>When do I get my turn?</h4>
				<p>You get your turn when you win the initiative, someone passes over to you, you spend an inspiration point to interrupt, or you take damage and then interrupt.</p>
			</page>
			<page class="page page--generic page--faq">
				<h3><span class="h3__highlight">G</span>Why use week-long rests?</h3>
				<p>Changing long rests from 8 hours to a week is one of the simplest—yet most effective—ways of changing the tone of your game.</p>

				<ol>
					<li><strong>Fighters:</strong> Fighters are now much more valuable to a party. High-level magic becomes a precious resource, so having a fighter around with <i>Second Wind</i> is extremely useful. Fighters should be great at fighting, and a week-long rest period helps highlight this.</li>
					<li><strong>Resources:</strong> Equipment is now much more important. Healing spells are rare—and casters can't change their prepared spells quickly—so characters really need to think about healing kits, potions, tools, supplies, etc.</li>
					<li><strong>Risk:</strong> Combat is now always a risk. Even the smallest fight has a chance of draining valuable supplies—hit dice, spell slots, food and water, etc. Combat has real consequences that can't be instantly recovered after a single night's sleep.</li>
					<li><strong>Drama:</strong> Long-distance travel now has drama. Characters need to plan ahead so that their resources and spell-slots can last the whole trip, there and back again—you can't just burn through all your powerful spells in one day, sleep outside the dungeon to recover, then charge in fully-loaded.</li>
					<li><strong>Time:</strong> World-pacing is much more realistic. Being forced to spend a week recovering gives the world time to react to what the characters are doing—NPCs and the world in general have an opportunity to change and develop.</li>
					<li><strong>Investment:</strong> Players become naturally invested in the world. When recovery is hard, players start to think about the landscape—they'll hunt for shortcuts, chase rare teleportation circles, and spend time building strongholds out in the wilds so they have a place to rest without having to trek all the way back to town.</li>
					<li><strong>Rituals:</strong> Rituals are now <i>important</i>—when spell-slots are hard to recover, rituals are an extremely valuable means of casting magic out in the wild without burning important resources.</li>
				</ol>

				<p>I highly recommend that, if you change only <i>one thing</i> for your game, you change the long rest period. It's the smallest change with the biggest impact.</p>

				<h4>Doesn't this penalize X class?</h4>
				<p>No, because we're not changing the expected number of encounters per adventure—the GM should still aim for the normal 6-8 encounters per long rest as mentioned in the <i>DMG</i> (p84).</p>
				<p>Changing the long-rest period means there is a longer recovery period at the end of an adventure, and that players have to more careful with their resources over the 8 encounters to ensure they don't run out too early—but it does <i>not</i> mean characters with long-rest abilities are unfairly handicapped.</p>

				<h4>Is there a compromise?</h4>
				<p>If your players just aren't comfortable with a week-long rest, or you want to keep your game timeline moving at a brisk pace, try using <i>Safe Long Rests</i> instead.</p>

				<col-break></col-break>

				<example class="panel panel--example">
					<section class="panel__body">
						<p><strong>Safe Long Rests:</strong> To take an 8-hour long rest, you must be in a sanctuary of some kind—such as a village, town, or city. Sleeping outside in the wilds isn't restful enough for your character to recharge their abilities.</p>
					</section>
				</example>

				<h3><span class="h3__highlight">H</span>Did you change the art?</h3>
				<p>Yes, as of v1.6. Unfortunately, I didn't own the artwork that I was using before and it wasn't viable to keep using that art in the long-term. Instead, I'm now trying to finalize a consistent look that I can apply to all my work.</p>
				<p>In the future I may look into commissioning custom artwork, but it's good to have a general style that doesn't depend on artwork—it means I can iterate on documents a little faster, which is a big help to me.</p>

				<h3><span class="h3__highlight">I</span>Did you use Homebrewery?</h3>
				<p>No—this document was created using my own custom HTML/CSS/JS framework, not Homebrewery or GM Binder. Unfortunately, that means I don't have any markdown for you to use in your own Homebrewery.</p>

				<h3><span class="h3__highlight">J</span>Can I copy bits of this?</h3>
				<p>Feel free to reference parts of this handbook in your own free homebrew if you like, with appropriate credit. However, please don't replicate it wholesale, or include my work in any for-sale variant.</p>

				<h3><span class="h3__highlight">K</span>Can I buy a printed version?</h3>
				<p>Not at the moment, no. I'm currently looking into this as a few people have requested a print copy. In the meantime, this project (and most of my other work) is released on <i>Pay-What-You-Want</i> terms.</p>
				<p>If this supplement has helped out your game and you'd like to support my work:</p>
				<ul>
					<li><strong>Patreon:</strong> <a href="https://patreon.com/giffyglyph">Become a Patron</a> (patreon.com/giffyglyph) to support this and my other projects.</li>
					<li><strong>Ko-fi:</strong> My <a href="https://ko-fi.com/giffyglyph">Ko-fi page</a> (ko-fi.com/giffyglyph) is always open to kind, one-off donations.</li>
					<li><strong>Spread the Word:</strong> If you've enjoyed my work, a tweet/like/review/etc would be much appreciated.</li>
				</ul>

				<div class="button-group button-group--links">
					<a class="button button--lg" href="https://www.patreon.com/bePatron?u=12684623">
						<span class="button__icon"><i class="fab fa-patreon fa-fw"></i></span>
						<span class="button__text">Become a Patron</span>
					</a>
					<a class="button button--lg" href="https://www.twitch.tv/giffyglyph">
						<span class="button__icon"><i class="fab fa-twitch fa-fw"></i></span>
						<span class="button__text">Talk on Twitch</span>
					</a>
				</div>

				<aside class="panel panel--aside">
					<header class="panel__header">
						<h4 class="panel__title">Contact Me</h4>
					</header>
					<section class="panel__body">
						<p>Thanks for reading this! If you have any questions or feedback, you can DM me at <a href="https://www.reddit.com/user/giffyglyph/">/u/giffyglyph</a> or <a href="https://twitter.com/giffyglyph">@giffyglyph</a>, email me at <a href="mailto:giffyglyph+dd@gmail.com">giffyglyph@gmail.com</a>, or follow my other assorted works at <a href="http://giffyglyph.com">www.giffyglyph.com</a>.</p>
					</section>
				</aside>
			</page>
		</book>
	</body>
</html>
