<html>
	<body>
		<book class="book">
			<page class="page page--generic page--feature-changes" data-header-icon="honeycomb">
				<h1 id="feature-changes">Feature Changes</h1>
				<p>To better support a darker, more dangerous tone—and to address balance issues—this chapter introduces a variety of feature tweaks and changes across a range of character topics.</p>
				<p>Though these changes are <i>recommended</i>, they are not mandatory—pick and choose the feature changes that best suit your game.</p>

				<h2 data-toc-ignore-book="true">Alignment</h2>
				<p>When you choose your character alignment, ignore any racial alignment restrictions or suggestions—as a mortal creature, you can decide your own morality.</p>

				<h2 id="feature-changes-animal-handling" data-toc-ignore-book="true">Animal Handling</h2>
				<p>The <i>Animal Handling</i> skill measures your ability to recall lore about animals (or creatures with the <i>Beast</i> keyword) <i>and</i> to interact with them.</p>
				<p>Roll Intelligence (Animal Handling) to recall information about animals, Wisdom (Animal Handling) to understand and soothe animals, or Charisma (Animal Handling) to charm, dominate, and control animals.</p>
				<p><strong>Nature:</strong> The <i>Nature</i> skill measures your knowledge of terrain, plants, and weather. It no longer applies to animals—that domain is now a part of <i>Animal Handling</i>.</p>

				<example class="panel panel--example">
					<section class="panel__body">
						<ul class="chat">
							<li><span class="chat__speaker">GM:</span><span>The wolf snarls, teeth bared. You can tell it's about to pounce—what do you do, Chansi?</span></li>
							<li><span class="chat__speaker">Chansi:</span><span>I'm a ranger—I've dealt with lone wolves before. I'll scare this one away with a wild scream.</span></li>
							<li><span class="chat__speaker">GM:</span><span>You want to terrify the wolf? Make a Charisma (Animal Handling) check.</span></li>
						</ul>
					</section>
				</example>

				<col-break></col-break>

				<h2 data-toc-ignore-book="true">Background Features</h2>
				<p>You don't gain features (such as <i>Discovery</i> or <i>Ship's Passage</i>) automatically from your background. However, you can emulate these effects by making appropriate checks during your roleplaying scenes.</p>

				<h3>Variant: Outlander</h3>
				<p>If you want to keep background features in your game, apply the following to the <i>Outlander: Wanderer</i> feature.</p>

				<mechanic class="panel panel--mechanic">
					<header class="panel__header">
						<h4 class="panel__title">Outlander: Wanderer</h4>
					</header>
					<section class="panel__body">
						<p>You have advantage on Survival checks to guide, navigate, or forage in a favored terrain. Choose one of: arctic, coast, desert, forest, grassland, mountain, swamp, or Underdark.</p>
					</section>
				</mechanic>

				<h2 id="feature-changes-darkvision" data-toc-ignore-book="true">Darkvision</h2>
				<p>True darkvision is a rare ability, found only in those who live in the darkest places of the world. To make darkness more significant in your game, apply these changes.</p>
				<p>If you have the <i>Darkvision</i> racial character trait, replace it with the <i>Low-light Vision</i> trait. If you have the <i>Superior Darkvision</i> racial trait instead, replace it with <i>Darkvision</i>.</p>

				<aside class="panel panel--aside">
					<header class="panel__header">
						<h4 class="panel__title">Darkvision Powers</h4>
					</header>
					<section class="panel__body">
						<p>If you gain Darkvision from sources other than your race (magic spells, magic items, class features, etc.), use the new definitions of the traits but extend the range to whatever is specified by the new source—60 ft, 120 ft, etc.</p>
					</section>
				</aside>
			</page>
			<page class="page page--generic page--feature-changes">
				<trait class="panel panel--trait">
					<header class="panel__header">
						<h4 class="panel__title">Low-light Vision</h4>
						<ul class="panel__tags">
							<li>Race</li>
							<li>Trait</li>
						</ul>
					</header>
					<section class="panel__body">
						<p>For 30 ft around you, you can see in dim light as if it were bright light. You can't see in darkness.</p>
					</section>
				</trait>

				<trait class="panel panel--trait">
					<header class="panel__header">
						<h4 class="panel__title">Darkvision</h4>
						<ul class="panel__tags">
							<li>Race</li>
							<li>Trait</li>
						</ul>
					</header>
					<section class="panel__body">
						<p>For 30 ft around you, you can see in dim light as if it were bright light and in darkness as if it were dim light. You can't discern color in darkness, only shades of grey. Beyond 30 ft, you can't see in darkness.</p>
					</section>
				</trait>

				<h3>Sunlight Sensitivity</h3>
				<p>If your character has the <i>Sunlight Sensitivity</i> racial trait, you may remove it by taking one of the following actions:</p>

				<ol type="a">
					<li>Remove your native <i>Darkvision</i> racial trait.</li>
					<li>Replace your native <i>Superior Darkvision</i> racial trait with the <i>Low-light Vision</i> trait described above.</li>
				</ol>

				<h2 id="feature-changes-initiative" data-toc-ignore-book="true">Initiative</h2>
				<p>Reaction speed is determined first-and-foremost by your thoughts—the faster you think, the faster you react.</p>
				<p>Your initiative is no longer affected by your Dexterity—instead, use your Intelligence modifier.</p>
				<p><strong>Tactical Wit:</strong> If you are a <i>War Wizard</i>, your <i>Tactical Wit</i> class feature now grants a Dexterity bonus—not Intelligence. This may also apply to other unique class features or item powers, so judge accordingly.</p>

				<h2 data-toc-ignore-book="true">Inspiration</h2>
				<p>You can hold up to 3 inspiration points at once. You can spend inspiration to make an attack roll, saving throw, or ability check with advantage—though you must declare this <i>before</i> you make the roll.</p>
				<p><strong>Gaining Inspiration:</strong> You gain inspiration by acting in accordance with one of your characteristics in an <i>interesting</i> way for the game. You can't be "inspired" by the same characteristic multiple times in one game session, so keep it varied.</p>

				<h2 id="feature-changes-languages" data-toc-ignore-book="true">Languages</h2>
				<p>You can speak, read, and write a maximum number of unique languages equal to 1 plus your Intelligence modifier (to a minimum of 1 language). If you have more languages than this—through class or racial features—choose which ones you wish to comprehend and discard the rest.</p>
				<p><strong>Common:</strong> All characters know how to speak in the <i>Common</i> language. However, you can't read or write in Common unless you have used one of your known language options to master it.</p>

				<col-break></col-break>

				<list class="panel panel--list">
					<header class="panel__header">
						<h4 class="panel__title">Character Languages</h4>
					</header>
					<section class="panel__body">
						<table class="table table--languages">
							<thead>
								<tr>
									<th>INT</th>
									<th>Known Languages</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>-1 or lower</td>
									<td>You have only a basic grasp of vocabulary in your primary language, and you are illiterate.</td>
								</tr>
								<tr>
									<td>0</td>
									<td>You can speak, read, and write your primary language with a decent range of vocabulary.</td>
								</tr>
								<tr>
									<td>+1</td>
									<td>You can speak, read, and write two languages.</td>
								</tr>
								<tr>
									<td>+2</td>
									<td>You can speak, read, and write three languages.</td>
								</tr>
								<tr>
									<td>+3</td>
									<td>You can speak, read, and write four languages.</td>
								</tr>
								<tr>
									<td>+4</td>
									<td>You can speak, read, and write five languages.</td>
								</tr>
								<tr>
									<td>+5</td>
									<td>You can speak, read, and write six languages.</td>
								</tr>
							</tbody>
						</table>
					</section>
				</list>

				<example class="panel panel--example">
					<section class="panel__body">
						<p>Viridian spent much of his youth nose-deep in poetry. As a tiefling, his primary language is <i>Infernal</i>. With INT +2, he is able to speak, read, and write in three languages: Infernal, Common, and Elven.</p>
						<p>Chansi, meanwhile, never had much time for books. As a halfling, her primary language is <i>Halfing</i>. With INT -1, she can speak Halfling and Common, but can't read or write with either language.</p>
					</section>
				</example>

				<h3>Codes and Communication</h3>
				<p>Some features allow your character to communicate with others using secret codes and cyphers—such as Thieves' Cant. These are not classed as languages and so don't count towards your language limit.</p>

				<h2 data-toc-ignore-book="true">Light</h2>
				<p><i>Light</i> is now a concentration cantrip with the same level of brightness as a torch. The spell ends automatically if the light is moved too far away from the caster.</p>

				<spell class="panel panel--spell">
					<header class="panel__header">
						<h4 class="panel__title">Light</h4>
						<ul class="panel__tags">
							<li>Evocation</li>
							<li>Cantrip</li>
						</ul>
					</header>
					<section class="panel__body">
						<ul class="spell__details">
							<li><strong>Casting Time:</strong> 1 action</li>
							<li><strong>Range:</strong> Touch</li>
							<li><strong>Components:</strong> V, M</li>
							<li><strong>Duration:</strong> Concentration, up to 1 hour</li>
						</ul>
						<div class="spell__description">
							<p>You touch one object that is no larger than 10 ft in any dimension. Until the spell ends, or your concentration breaks, or you move more than 120 ft away from the object, the object sheds bright light in a 20 ft radius and dim light for an additional 20 ft. The light can be colored as you like.</p>
							<p>If you target an object held or worn by a hostile creature, that creature may make a Dexterity saving throw to avoid the spell.</p>
						</div>
					</section>
				</spell>

				<example class="panel panel--example">
					<section class="panel__body">
						<p>In the dark gloom of the ruined library, Clanda heard a growl. She pulled a rotting book from the shelf, cast <i>Light</i>, and threw the glowing book into the shadows...</p>
					</section>
				</example>
			</page>
		</book>
	</body>
</html>
