<html>
	<body>
		<book class="book">
			<page class="page page--generic page--gemstones" data-header-icon="sapphire">
				<h1 id="gemstones">Gemstones</h1>
				<p>No treasure hoard is complete without a set of gemstones to catch an adventurer's wandering eye. These precious jewels are highly sought after—for trade, for crafting, and for magical components. But how do you determine the value of your gemstones?</p>
				<p>This chapter introduces <i>gemstone qualities</i> and rules on how to use them in your campaign.</p>

				<h2>Gemstone Qualities</h2>
				<p>A gemstone comes in one of six qualities—cloudy, clear, pristine, royal, lucent, and astral. The higher the quality, the more valuable the gemstone is.</p>
				<p>To appraise the quality of a gemstone, you must succeed on a DC 20 Intelligence (Investigation) check.</p>

				<list class="panel panel--list">
					<header class="panel__header">
						<h4 class="panel__title">Gemstone Qualities</h4>
					</header>
					<section class="panel__body">
						<table class="table table--gemstone-qualities">
							<thead>
								<tr>
									<th>Quality</th>
									<th>Description</th>
									<th>Uncut</th>
									<th>Cut</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>Cloudy</td>
									<td>Visible imperfections.</td>
									<td>2 gp</td>
									<td>10 gp</td>
								</tr>
								<tr>
									<td>Clear</td>
									<td>Minor imperfections.</td>
									<td>10 gp</td>
									<td>50 gp</td>
								</tr>
								<tr>
									<td>Pristine</td>
									<td>No visible imperfections.</td>
									<td>20 gp</td>
									<td>100 gp</td>
								</tr>
								<tr>
									<td>Royal</td>
									<td>Rare sparkles of light.</td>
									<td>100 gp</td>
									<td>500 gp</td>
								</tr>
								<tr>
									<td>Lucent</td>
									<td>Persistent sparkles of light.</td>
									<td>200 gp</td>
									<td>1,000 gp</td>
								</tr>
								<tr>
									<td>Astral</td>
									<td>A persistent, inner glow.</td>
									<td>1,000 gp</td>
									<td>5,000 gp</td>
								</tr>
							</tbody>
						</table>
					</section>
				</list>

				<example class="panel panel--example">
					<section class="panel__body">
						<ul class="chat">
							<li><span class="chat__speaker">GM:</span><span>Inside the chest, Clanda, you find 100 silver pieces and a red, cut gemstone of unknown quality.</span></li>
							<li><span class="chat__speaker">Clanda:</span><span>Unknown? We'll see about that... <span class="chat__action">(rolls 22)</span>.</span></li>
							<li><span class="chat__speaker">GM:</span><span>A spark catches your eye—this is a <i>royal</i> ruby.</span></li>
							<li><span class="chat__speaker">Clanda:</span><span>Ah, a royal ruby for a royal sorceress—perfect.</span></li>
							<li><span class="chat__speaker">Valiant:</span><span>...Uh, there's <i>three</i> of us in the party, Clanda.</span></li>
							<li><span class="chat__speaker">Clanda:</span><span>Your point being...?</span></li>
						</ul>
					</section>
				</example>

				<col-break></col-break>

				<h2>Jeweler's Tools</h2>
				<p>Jeweler's tools can help you to appraise, cut, and polish gemstones. If you are proficient with jeweler's tools, add your proficiency bonus to your appraisal check.</p>
				<p>If you are also proficient in <i>Investigation</i>, you can make your appraisal check with advantage.</p>

				<example class="panel panel--example">
					<section class="panel__body">
						<p>Crackle is proficient with both <i>Investigation</i> and jeweler's tools. When appraising gemstones, she adds her proficiency bonus once <i>and</i> rolls with advantage.</p>
					</section>
				</example>

				<h3>Cutting Gemstones</h3>
				<p>You can cut a gemstone to improve its value and unlock any latent, magical properties. It takes around eight hours to cut and polish a single, tiny stone.</p>
				<p>Make a Wisdom check against a DC determined by the quality of the stone—if you fail, the gemstone shatters and turns into arcane dust worth half of its uncut value.</p>

				<list class="panel panel--list">
					<header class="panel__header">
						<h4 class="panel__title">Cutting Gemstones</h4>
					</header>
					<section class="panel__body">
						<tables class="tables tables--gemstone-cutting">
							<table class="table">
								<thead>
									<tr>
										<th>Quality</th>
										<th>DC</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td>Cloudy</td>
										<td>15</td>
									</tr>
									<tr>
										<td>Clear</td>
										<td>15</td>
									</tr>
									<tr>
										<td>Pristine</td>
										<td>20</td>
									</tr>
								</tbody>
							</table>
							<table class="table">
								<thead>
									<tr>
										<th>Quality</th>
										<th>DC</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td>Royal</td>
										<td>20</td>
									</tr>
									<tr>
										<td>Lucent</td>
										<td>25</td>
									</tr>
									<tr>
										<td>Astral</td>
										<td>25</td>
									</tr>
								</tbody>
							</table>
						</tables>
					</section>
				</list>

				<example class="panel panel--example">
					<section class="panel__body">
						<p>Crackle wants to cut a clear sapphire. After eight hours, she makes a Wisdom check (DC 15) using her jeweler's tools—and rolls 17. The sapphire is cut.</p>
					</section>
				</example>
			</page>
		</book>
	</body>
</html>
