<html>
	<body>
		<book class="book">
			<page class="page page--generic page--leveling-up" data-header-icon="book">
				<h1 id="leveling-up">Leveling Up</h1>
				<p>Your character gains experience by being an active force—making new discoveries, overcoming great obstacles, and changing the world (for good or for ill). With enough experience, your character can open up pathways to greater power, knowledge, and influence.</p>
				<p>Such power comes at a cost, however, requiring time and effort to unlock. This chapter sets out rules for training and mentors.</p>

				<h2>Training</h2>
				<p>Once you've gained enough experience, you can begin training to improve your abilities and unlock new heights of power. Through experimentation with your new-found knowledge—practicing new techniques, developing new spells, channeling new power—you can spend your experience points to gain a level.</p>
				<p>But training is not easy or cheap. In addition to the experience, you'll also need:</p>
				<ol>
					<li><strong>A mentor:</strong> someone to help guide you in your craft—an old druid, a drunken monk, a retired fighter.</li>
					<li><strong>Facilities:</strong> a place in which to practice your skills—a training ground, a wizard's tower, a druid's grove.</li>
					<li><strong>Gold:</strong> coin to pay for your training expenses—research books, exotic components, hirelings, new tools, special weapons, extra facilities.</li>
				</ol>

				<aside class="panel panel--aside">
					<header class="panel__header">
						<h4 class="panel__title">Time is Money, Friend</h4>
					</header>
					<section class="panel__body">
						<p>These training costs will naturally slow down the pace of your game world—it will take a character a minimum of 100 weeks and 41,743 gp to train from level 1 to level 20.</p>
						<p>Make sure your campaign can accommodate this pace so that your characters have enough downtime to train.</p>
					</section>
				</aside>

				<col-break></col-break>

				<h3 id="training-costs">Training Costs</h3>
				<p>To see how long you need to train per level, and how much it will cost you, check the <i>Training Time & Costs</i> table below. These costs don't cover your regular living expenses—you'll need to cover those separately, so make sure to keep enough coin spare.</p>

				<list class="panel panel--list" data-resize=30>
					<header class="panel__header">
						<h4 class="panel__title">Training Time & Costs</h4>
					</header>
					<section class="panel__body">
						<tables class="tables tables--training">
							<table class="table">
								<thead>
									<tr>
										<th>Level</th>
										<th>Total Weeks</th>
										<th>GP per Week</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td>0-1</td>
										<td>1</td>
										<td>10</td>
									</tr>
									<tr>
										<td>1-2</td>
										<td>1</td>
										<td>15</td>
									</tr>
									<tr>
										<td>2-3</td>
										<td>1</td>
										<td>20</td>
									</tr>
									<tr>
										<td>3-4</td>
										<td>2</td>
										<td>15</td>
									</tr>
									<tr>
										<td>4-5</td>
										<td>2</td>
										<td>20</td>
									</tr>
									<tr>
										<td>5-6</td>
										<td>3</td>
										<td>25</td>
									</tr>
									<tr>
										<td>6-7</td>
										<td>3</td>
										<td>35</td>
									</tr>
									<tr>
										<td>7-8</td>
										<td>4</td>
										<td>37</td>
									</tr>
									<tr>
										<td>8-9</td>
										<td>4</td>
										<td>55</td>
									</tr>
									<tr>
										<td>9-10</td>
										<td>5</td>
										<td>64</td>
									</tr>
								</tbody>
							</table>
							<table class="table">
								<thead>
									<tr>
										<th>Level</th>
										<th>Total Weeks</th>
										<th>GP per Week</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td>10-11</td>
										<td>5</td>
										<td>94</td>
									</tr>
									<tr>
										<td>11-12</td>
										<td>6</td>
										<td>115</td>
									</tr>
									<tr>
										<td>12-13</td>
										<td>6</td>
										<td>165</td>
									</tr>
									<tr>
										<td>13-14</td>
										<td>7</td>
										<td>202</td>
									</tr>
									<tr>
										<td>14-15</td>
										<td>7</td>
										<td>295</td>
									</tr>
									<tr>
										<td>15-16</td>
										<td>8</td>
										<td>370</td>
									</tr>
									<tr>
										<td>16-17</td>
										<td>8</td>
										<td>536</td>
									</tr>
									<tr>
										<td>17-18</td>
										<td>9</td>
										<td>687</td>
									</tr>
									<tr>
										<td>18-19</td>
										<td>9</td>
										<td>990</td>
									</tr>
									<tr>
										<td>19-20</td>
										<td>10</td>
										<td>1,280</td>
									</tr>
								</tbody>
							</table>
						</tables>
					</section>
				</list>

				<p>You don't have to complete your training in one unbroken block—you can pause it to go adventuring and resume your training again from where you left off once you have some free time.</p>

				<h3>Leveling Up</h3>
				<p>Once you've finished your training, you gain a level and all its features. Don't use the fixed value for your new hit points—roll this using the appropriate die. You may choose your other leveling perks as usual.</p>
			</page>
			<page class="page page--generic page--leveling-up">
				<example class="panel panel--example">
					<section class="panel__body">
						<p>Valiant returns to Darrowmore with enough XP to being leveling up to 4th-level—a process that will cost him 30 gp and take 2 full weeks to complete.</p>
						<p>After completing two weeks of faithful study with Bishop Vendicus at Unity Spire, Valiant—now 4th-level—joins Clanda and Chansi on an expedition to the <i>Deepmarsh</i>.</p>
					</section>
				</example>

				<h3>Variant: Faster Training</h3>
				<p>If your campaign moves at a faster pace, use the <i>Faster Training</i> variant and reduce the training time requirement from weeks to days. The gold costings, likewise, are changed from per week to per day.</p>
				<p>With this variant, training from 3rd-level to 4th-level takes 2 days instead of 2 weeks—but still costs the character a total of 30 gp to complete.</p>

				<h2>Mentors</h2>
				<p>A mentor is someone who helps your character to grow and develop. While they may not be as powerful or influential as you, they have both expertise and insight that can help unlock your character's true potential.</p>

				<h3>Getting a Mentor</h3>
				<p>First, you must find a mentor. This is usually an NPC related to your class in some fashion—often old or retired adventurers looking to pass on their wisdom to a new generation (or whoever has coin to spare). Asking around town is a good start, though some mentors may live in dangerous or inaccessible areas.</p>
				<p>Once you have found someone, you then need to convince them that you should be trained. This may not always be straight-forward—mentors are NPCs and, like all NPCs, they have wants and needs:</p>

				<ul>
					<li>Magister Ilirio has had his spellbook stolen by the Thieves Guild—he needs it returned.</li>
					<li>Prell's wife lies ill with a mysterious sickness—Prell wants her wife cured before she can focus on training.</li>
					<li>Ilmarin doesn't like strangers, and doesn't like you.</li>
				</ul>

				<p>Whatever the reason, you'll need to find a way to get this NPC on your side before they will become a mentor.</p>

				<example class="panel panel--example">
					<section class="panel__body">
						<ul class="chat">
							<li><span class="chat__speaker">DM:</span><span>The old bard sits alone at the bar, hunched over an empty mug. What do you do?</span></li>
							<li><span class="chat__speaker">Viridian:</span><span>I join him at the bar, excited. "Damarast Vermost, you're a legend in these parts!"</span></li>
							<li><span class="chat__speaker">DM:</span><span>The old man looks aside at you and nods. "Once," he says quietly, "in ages past".</span></li>
							<li><span class="chat__speaker">Viridian:</span><span>I need your help, old man. I can't make sense of the songs in my head—I need your wisdom.</span></li>
							<li><span class="chat__speaker">DM:</span><span>The bard looks down at his hands, both crippled with age. "I can't. I gave up that life a long time ago."</span></li>
						</ul>
					</section>
				</example>

				<col-break></col-break>

				<aside class="panel panel--aside">
					<header class="panel__header">
						<h4 class="panel__title">Mentor Level Limitations</h4>
					</header>
					<section class="panel__body">
						<p>As a DM, you may decide that a mentor can only train a character up to a particular level—beyond this, a new, more experienced mentor will have to be found.</p>
						<p>This is a good way to motivate characters to travel the world. But be clear when a mentor has level restrictions—characters should be able to find a replacement.</p>
					</section>
				</aside>

				<h4>Mentor Responses</h4>
				<p>If you're unsure how a mentor may respond to a character's request for training, roll on the <i>Mentor Reponses</i> table to see if they refuse and for what reason.</p>

				<list class="panel panel--list" data-resize=45>
					<header class="panel__header">
						<h4 class="panel__title">Mentor Responses</h4>
					</header>
					<section class="panel__body">
						<table class="table table--mentor-responses">
							<thead>
								<tr>
									<th>d12</th>
									<th>Response</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>01-06</td>
									<td>Yes, I will train you.</td>
								</tr>
								<tr>
									<td>07</td>
									<td>No, I'm far too busy with something.</td>
								</tr>
								<tr>
									<td>08</td>
									<td>No, you must first prove yourself.</td>
								</tr>
								<tr>
									<td>09</td>
									<td>No, I gave that up a long time ago...</td>
								</tr>
								<tr>
									<td>10</td>
									<td>No, I don't trust you.</td>
								</tr>
								<tr>
									<td>11</td>
									<td>No, my secrets are my own.</td>
								</tr>
								<tr>
									<td>12</td>
									<td>No, I can't without my equipment.</td>
								</tr>
							</tbody>
						</table>
					</section>
				</list>

				<p>If an NPC refuses to mentor a character, there may be an opportunity to change their mind. Depending on the circumstances, this could require a social skill challenge, a combat, a bribe, or an adventure to resolve.</p>

				<h3>Absent Mentors</h3>
				<p>Sometimes, a mentor is not around when you need them—they might be travelling out of town, or pre-occupied with important business, or sick, or even dead. Like all NPCs, mentors have lives to lead. You can't train without a mentor, so keep an eye on their schedule.</p>

				<h3>Variant: Locations</h3>
				<p>If your campaign setting doesn't put a particular focus on NPCs, mentors may not be suitable for your game—consider using <i>locations</i> instead.</p>
				<p>Like mentors, locations allow characters to train and level up—and as places in the world, they can be the setting of small adventures or quest hooks.</p>

				<example class="panel panel--example">
					<section class="panel__body">
						<p>The small town of West Drenvil features an old, disused mage tower. Though in disrepair, the tower itself has a few basic facilities and spellbooks—enough for any wizard or sorcerer to use in their training as they level up from 2nd-level to 5th-level.</p>
						<p>Rumor has it that a dangerous wraith haunts the old tower—a wraith that will need to be dealt with first before any serious study can begin.</p>
					</section>
				</example>
			</page>
		</book>
	</body>
</html>
