<html>
	<body>
		<book class="book">
			<page class="page page--generic page--long-rest" data-header-icon="city-gates">
				<h1 id="long-rest">Long Rest</h1>
				<p>Eventually, everyone wants to come home—home is where the heart is. A place to put your feet up, reflect on your recent adventures, and prepare for adventures yet to come.</p>
				<p>This chapter defines the long rest period and activities you might pursue during your downtime.</p>

				<h2>Taking a Long Rest</h2>
				<p>A long rest is a period of extended downtime, at least 1 week long, in which your character performs downtime activities and pursues their own interests. This is your life between adventures—a chance to slow down, explore the setting, and mingle with NPCs in <i>relative</i> safety.</p>
				<p>Follow these 6 steps for each week of rest:</p>

				<ol>
					<li><strong>Sell loot:</strong> Trade in any loot and treasure—gemstones, paintings, fine goblets—gained on your adventures and gain gold and experience.</li>
					<li><strong>Choose lifestyle:</strong> Choose your quality of lifestyle for the week—wretched, squalid, poor, modest, comfortable, wealthy, or aristocratic. You'll usually need to pay for this upfront.</li>
					<li><strong>Choose primary activity:</strong> Choose your primary downtime activity and pay any relevant costs.</li>
					<li><strong>Hear rumors:</strong> While resting, your adventuring party learns of three rumors. Some of these rumors may be false, or only <i>mostly</i> true—you'll have to investigate further to see for yourself.</li>
					<li><strong>Perform secondary activities:</strong> You can do 2 other small, secondary activities during your week—meet someone, go shopping, relieve some stress, etc.</li>
					<li><strong>Settle up:</strong> It's the end of the week—gain the result of your primary activity (level up, wages, information, etc) and check to see if your wounds and Afflictions recover. If you have any outstanding debts, settle up.</li>
				</ol>

				<col-break></col-break>

				<aside class="panel panel--aside">
					<header class="panel__header">
						<h4 class="panel__title">Sanctuary</h4>
					</header>
					<section class="panel__body">
						<p>To begin a long rest, you must be in a sanctuary of some kind—such as a village, town, or city. Sleeping in the wilds isn't safe, comfortable, or restful enough for a full recovery.</p>
					</section>
				</aside>

				<example class="panel panel--example">
					<section class="panel__body">
						<p>Viridian, Valiant, and Clanda finally reach the gates of Darrowmore. They're looking forward to a well-earned rest and plan to stay in town for one week.</p>
						<p>Between them, they carry 45 gp of recently-recovered treasure from the Elsewood—this rewards each of them with 150 XP (450 XP total).</p>
						<p>They all choose a <i>comfortable</i> lifestyle for the week ahead while pursuing their own activities in town: Valiant does some charity work at his church, Clanda begins training for her next level up, and Viridian tries to sell a sort-of-cursed magic item.</p>
					</section>
				</example>

				<h3><span class="h3__highlight">1</span>Sell Loot</h3>
				<p>If you found any valuables on your adventure—precious gemstones, golden goblets, fine paintings—you can sell them at the start of your long rest.</p>
				<p>Some valuables may be too exotic for the average merchant to buy—magic items, archaeological tablets, cursed rings—and you'll need to spend your week searching for a suitable buyer.</p>

				<example class="panel panel--example">
					<section class="panel__body">
						<p>Viridian has a cursed and <i>not-entirely-lawful</i> dagger he wishes to get rid of—for a small profit. To make sure that he doesn't alert the local authorities, he must spend a week looking for a buyer <i>on the quiet</i>.</p>
					</section>
				</example>
			</page>
			<page class="page page--generic page--long-rest">
				<div class="layout--col-wide">
					<list class="panel panel--list" data-resize=45>
						<header class="panel__header">
							<h4 class="panel__title">Lifestyle Qualities</h4>
						</header>
						<section class="panel__body">
							<table class="table table--lifestyle">
								<thead>
									<tr>
										<th>Lifestyle</th>
										<th>Cost per<br/>Week (GP)</th>
										<th>Maximum<br/>Hit Points</th>
										<th>Starting<br/>Hit Dice</th>
										<th>Hunger</th>
										<th>Thirst</th>
										<th>Fatigue</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td>Wretched</td>
										<td>0</td>
										<td>50%</td>
										<td>0</td>
										<td>Starving</td>
										<td>Dehydrated</td>
										<td>Barely awake</td>
									</tr>
									<tr>
										<td>Squalid</td>
										<td>0.5</td>
										<td>50%</td>
										<td>25%</td>
										<td>Ravenous</td>
										<td>Dry</td>
										<td>Very sleepy</td>
									</tr>
									<tr>
										<td>Poor</td>
										<td>1.5</td>
										<td>75%</td>
										<td>50%</td>
										<td>Hungry</td>
										<td>Thirsty</td>
										<td>Sleepy</td>
									</tr>
									<tr>
										<td>Modest</td>
										<td>8</td>
										<td>100%</td>
										<td>75%</td>
										<td>Peckish</td>
										<td>Parched</td>
										<td>Tired</td>
									</tr>
									<tr>
										<td>Comfortable</td>
										<td>15</td>
										<td>100%</td>
										<td>100%</td>
										<td>Ok</td>
										<td>Ok</td>
										<td>Ok</td>
									</tr>
									<tr>
										<td>Wealthy</td>
										<td>30</td>
										<td>110%</td>
										<td>100%</td>
										<td>Well-fed</td>
										<td>Refreshed</td>
										<td>Well-rested</td>
									</tr>
									<tr>
										<td>Aristocratic</td>
										<td>70+</td>
										<td>120%</td>
										<td>100%</td>
										<td>Stuffed</td>
										<td>Quenched</td>
										<td>Energised</td>
									</tr>
								</tbody>
							</table>
						</section>
					</list>
				</div>

				<h3><span class="h3__highlight">2</span>Choose your Lifestyle</h3>
				<p>Your lifestyle determines the level of comfort you live in during your week and the types of people you'll be surrounded by—if you aim to meet nobles and other aristocrats, you'll need to support an expensive lifestyle.</p>
				<p>The <i>Lifestyle Conditions</i> table shows the lifestyle cost for an adventurer in gold pieces per week, and the condition it leaves you in at the end of the week.</p>

				<example class="panel panel--example">
					<section class="panel__body">
						<p>After a long trek through the wild Elsewood, Clanda decides she wants to relax in <i>wealthy</i> comfort—a soft bed, a hot bath, and a servant to bring fine food and pour finer wine.</p>
						<p>She finds the most expensive inn in town, pours 30 gold pieces on the bar, and spends the week sipping wine and reading books in peace.</p>
					</section>
				</example>

				<h4>Renting vs Owned Property</h4>
				<p>The lifestyle costs above assume that you are renting your living quarters—inns and taverns, while convenient for travelers, are not cheap. But sometimes a character comes to own property that offers a particular lifestyle—a <i>poor</i> farmhouse, a <i>modest</i> hut, an <i>aristocratic</i> mansion—either by buying one, building one, inheriting one, or being rewarded with one.</p>
				<p>If you own the property you're staying in, the cost for that lifestyle quality is halved—however, you still pay the full expense for any other lifestyle.</p>

				<example class="panel panel--example">
					<section class="panel__body">
						<p>Viridian has inherited a small but <i>modest</i> house from a dead relative. To live a modest lifestyle, Viridian now needs to pay only 50% of the normal cost each week—a total of 4 gp per week—if he uses the house.</p>
						<p>If he wanted to live a different quality of life—for example, wealthy or aristocratic—he would still need to pay the full amount for that lifestyle each week.</p>
					</section>
				</example>

				<p>If you own property, you must pay 50% of the lifestyle cost to maintain it each week—whether you use it or not. If you rent it out to other occupants, it generates an income of equivalent value instead.</p>

				<col-break></col-break>

				<example class="panel panel--example">
					<section class="panel__body">
						<p>Viridian must pay 4gp each week to maintain his <i>modest</i> house, whether he uses it or not. As he prefers to live in <i>comfortable</i> finery, Viridian rents out the house to a small family and it now provides an income of 4gp each week.</p>
					</section>
				</example>

				<h4>Maximum Hit Points & Hit Dice</h4>
				<p>Your lifestyle has a major impact on your health. Once you complete a long rest, update your maximum hit points and starting hit dice to match your lifestyle.</p>

				<example class="panel panel--example">
					<section class="panel__body">
						<p>At the end of her week of <i>wealthy</i> rest, Clanda updates her conditions and increases her maximum hit points to 110% of the normal, unmodified amount.</p>
					</section>
				</example>

				<h3><span class="h3__highlight">3</span>Pick a Primary Activity</h3>
				<p>During your long rest, you'll have time to pursue a primary interest. This is the main focus of your week and something you spend roughly half of each day on, leaving a quarter-day for sleep and a quarter for miscellaneous activity—shopping, eating, basic socializing, etc.</p>
				<p>You only have time to perform one primary activity per week—this is your primary focus for the days ahead. Choose one from the suggestions below, or discuss one with your GM.</p>

				<div style="column-count: 2; margin-bottom: 15px">
					<ul style="margin: 0">
						<li>Work for Coin</li>
						<li>Work for Renown</li>
						<li>Spread Rumors</li>
						<li>Find a Rare Merchant</li>
						<li>Sell an Exotic Item</li>
						<li>Craft an Item</li>
						<li>Learn a Tool</li>
						<li>Research</li>
					</ul>
					<ul style="margin: 0">
						<li>Training</li>
						<li>Carouse & Socialize</li>
						<li>Rest & Relaxation</li>
						<li>Volunteer Work</li>
						<li>Criminal Activity</li>
						<li>Run a Business</li>
						<li>Perform a Service</li>
						<li>Learn a Language</li>
					</ul>
				</div>

				<aside class="panel panel--aside">
					<header class="panel__header">
						<h4 class="panel__title">Activities</h4>
					</header>
					<section class="panel__body">
						<p>Specific rules and advice for some primary activities are covered in the <i>Dungeon Master's Guide</i> (p128-131) and <i>Xanathar's Guide to Everything</i> (p123-134).</p>
					</section>
				</aside>
			</page>
			<page class="page page--generic page--long-rest">
				<h4>Activity Complications</h4>
				<p>Your activity has a small chance of generating a complication that may make life more difficult—hurting yourself working, offending a lord while carousing, damaging a priceless book while researching.</p>
				<p>At the end of each week, roll a d10—on a 1, something unfortunate happens as a result of your activities.</p>

				<example class="panel panel--example">
					<section class="panel__body">
						<p>While trying to sell his cursed dagger, Viridian rolls a 1 on the <i>Complication</i> check. He attracts some unwanted attention—a religious merchant who threatens to report the tiefling to the guards. Unless, that is, Viridian performs a small service to the church and recovers a recently stolen sacred book...</p>
					</section>
				</example>

				<h3><span class="h3__highlight">4</span>Hear Three Rumors</h3>
				<p>During a long rest, the party picks up three interesting rumors as they go about their business—adventure hooks, plot developments, or even misinformation.</p>
				<p>This is a good opportunity to flesh out the world a little, advance the agendas of some NPCs and factions, and show some reactions to the party's past adventures.</p>

				<example class="panel panel--example">
					<section class="panel__body">
						<p>During their week in Darrowmore, the party learns of three rumors around town:</p>
						<ol>
							<li>An old cleric stole a necromantic tome and disappeared into the <i>Marrowmaw</i>.</li>
							<li>A griffin was seen flying a few miles south of town.</li>
							<li>Three heroes recently left to purge a nearby mimic nest—none have returned.</li>
						</ol>
					</section>
				</example>

				<h3><span class="h3__highlight">5</span>Two Secondary Activities</h3>
				<p>A secondary activity is something that only takes a short amount of time to do, from a few hours to a whole day.</p>
				<p>During a week of long rest, you have enough spare time to do two secondary activities. Choose them from the suggestions below, or discuss one with your GM:</p>

				<ul>
					<li><strong>Meet Someone:</strong> Arrange or attend a meeting with a person, group, or faction in town.</li>
					<li><strong>Trade Gear:</strong> Buy and sell some mundane gear and equipment from merchants around town.</li>
					<li><strong>Investigate Rumor:</strong> Spend some time investigating a rumor to see if it's actually true.</li>
					<li><strong>Update Financial Commitments:</strong> If you have any financial commitments—investments, properties, business, etc—you can spend some time making basic changes to them.</li>
				</ul>

				<example class="panel panel--example">
					<section class="panel__body">
						<p>Viridian wants to do some minor work on his <i>modest</i> home to—eventually—upgrade it to a <i>comfortable</i> lifestyle quality. He spends one secondary activity looking for craftsmen to fix the leaking roof.</p>
					</section>
				</example>

				<col-break></col-break>

				<h3>6. Settle Up</h3>
				<p>At the end of your week, settle up your debts and reap any rewards from your primary activity. Check to see if any of your long-term wounds or injuries have healed, and start preparing for your next adventure.</p>

				<example class="panel panel--example">
					<section class="panel__body">
						<p>Viridian, Chansi, and Clanda begin to wrap up their affairs in town. There's a big reward out for the return of the necromantic tome, and so—after hunting down some leads on the old cleric and the dangerous Marrowmaw—the three prepare to leave Darrowmore for their next wild adventure.</p>
					</section>
				</example>

				<h2>Variant: Stress</h2>
				<p>If you are using the <i>Stress</i> rules, completing a long rest automatically resets your Stress level to 0. You may also pay gold to make an <i>Affliction Removal</i> check if you have not already rolled one this week.</p>

				<h2>Random Rumors</h2>
				<p>If you need some ideas for rumors about town, roll on the table below or use your own rumor generator.</p>

				<ul class="list-autorange" data-title="Random Rumors" data-column="Rumor" data-resize=30>
					<li>Some wierdo's stealing tombstones from the graveyard. The dead won't like that.</li>
					<li>There's been a lot of crows around town lately. They ain't fond at all of clerics, I tells you.</li>
					<li>A young kid went missing while playing out by the well. Best stay away from that well, it's cursed.</li>
					<li>There's something evil buried beneath this town, and it's taken all my teeth!</li>
					<li>Two travelers went missing one night, and Old Man Mergo's got two new scarecrows in his field...</li>
					<li>The new neighbors are friendly, but a little weird. Y'know, I've never seen them out in the sun.</li>
					<li>A warlock turned me into a newt! ...I got better.</li>
					<li>Guards arrested a man the other night for trying to kill his wife. Mad fool thinks she's a changeling...</li>
					<li>The local lord's birthday is coming up soon and there's gonna be a huge party—invite only.</li>
					<li>There's a giant spider out in the woods. Weird thing is, they say she's guarding a little boy...</li>
					<li>I don't know what the butcher's putting in his new sausages, but they're delicious. I can't stop eating.</li>
					<li>One of the guards was found dead in his bed the other day. He had this awful grin on his face...</li>
					<li>That farmer's kid that got bit by the wolf—you reckon he's gonna turn at the moon?.</li>
					<li>I don't trust that new priest, always licking his lips.</li>
				</ul>
			</page>
		</book>
	</body>
</html>
