<html>
	<body>
		<book class="book">
			<page class="page page--generic page--making-a-journey" data-header-icon="treasure-map">
				<h1 id="making-a-journey">Making a Journey</h1>
				<p>The wilds are a dangerous place and travel is rarely straightforward outside city walls. Many adventurers have lost their way in dark forests. Many more have died from lack of food, or water, or protection from bandits and monsters—the world is not forgiving to the unprepared traveler.</p>
				<p>This chapter introduces the journey phase to make travel a more integral part of the adventure.</p>

				<h2>The Journey Phase</h2>
				<p>If you wish to make a long journey, there are three basic steps to follow: plan your route and gather supplies, travel the distance, and arrive at your destination.</p>

				<h3><span class="h3__highlight">1</span>Plan</h3>
				<p>The first step in making a long journey is planning—you need to decide where you're going, how you're getting there, and who you're travelling with.</p>

				<ol>
					<li><strong>Pick the destination:</strong> First, pick your destination. This could be a dungeon, city, or other landmark.</li>
					<li><strong>Choose your route:</strong> Next, you need to decide which route you'll take. The length of your route is measured not in miles but in <i>days</i> (assuming an average walking speed of 15 miles per day).</li>
					<li><strong>Gather supplies:</strong> Finally, gather any supplies, vehicles, and equipment needed for the journey.</li>
				</ol>

				<example class="panel panel--example">
					<section class="panel__body">
						<p>Valiant, Chansi, and Clanda are trying to reach Westwall Tower. It's about 45 miles away, so the journey should take 3 days at a normal walking pace—assuming fair weather and no surprises.</p>
					</section>
				</example>

				<col-break></col-break>

				<aside class="panel panel--aside">
					<header class="panel__header">
						<h4 class="panel__title">Travelling at Night</h4>
					</header>
					<section class="panel__body">
						<p>This chapter assumes you will be making a standard journey during the day. On rare occasions, however, you might want to travel in the dead of night.</p>
						<p>When travelling at night, use the same process described in this chapter but simply shift the phase of the day accordingly to suit your schedule. Keep in mind that some checks might be much more difficult at night.</p>
					</section>
				</aside>

				<h3><span class="h3__highlight">2</span>Travel</h3>
				<p>Now it's time to gather everyone and head out on your journey. The average day is broken up into six parts—dawn, morning, noon, afternoon, dusk, and night—so run through these in sequence for each day of travel.</p>

				<h4 class="h4--option">Dawn</h4>
				<p>Sunlight crests the horizon. It's time to wake up, eat some breakfast, and pack up camp.</p>
				<ul>
					<li><strong>Check the weather:</strong> The weather can have a drastic impact on your travel plans—especially if you're not properly prepared. You may want to avoid travel completely during heavy rains, storms, and snows.</li>
					<li><strong>Assign roles:</strong> Decide who is going to be today's guide, forager, scout, and lookout. A character can only assume one role at a time, so pick wisely.</li>
					<li><strong>Set pace:</strong> Decide what pace you'll be travelling at today—slow, medium, or fast. A slower pace makes it easier to succeed at your roles, but also means that the journey takes longer to complete.</li>
					<li><strong>Eat breakfast:</strong> Eat some food and drink some water to build up your energy for the travel ahead.</li>
					<li><strong>Pack up camp:</strong> Put out any cooking fires, strap on your gear, and pack up your camp.</li>
				</ul>
			</page>
			<page class="page page--generic page--making-a-journey">
				<h4 class="h4--option">Morning</h4>
				<p>The sun rises and the day becomes warmer. Begin the first half of today's travelling.</p>

				<h4 class="h4--option">Noon</h4>
				<p>The sun is at its peak. Take a short break, sit in the shade, and rest your feet.</p>

				<h4 class="h4--option">Afternoon</h4>
				<p>The sun descends and the temperature cools. Press on to finish the second half of today's travel while you still have some natural light.</p>

				<h4 class="h4--option">Dusk</h4>
				<p>The sun sinks beneath the horizon and the sky darkens. It's time to set up camp for the night, eat a good meal, and reflect on today's travel.</p>
				<ul>
					<li><strong>Make camp:</strong> Take off your gear and set up camp.</li>
					<li><strong>Lookout duty:</strong> The lookout takes charge of camp defense and security for the night. While on lookout, a character can only eat and sleep—they don't have time to do or join in with anything else.</li>
					<li><strong>Guide:</strong> The guide makes a guidance check to confirm the adventuring party's location—did you all stay on track, or have you veered off in the wrong direction?</li>
					<li><strong>Forage:</strong> The forager makes a foraging check to see if they were able to gather any food or water supplies throughout the day's travel.</li>
					<li><strong>Eat dinner:</strong> Eat some food and drink some water to help recover from the day's travel.</li>
				</ul>

				<h4 class="h4--option">Night</h4>
				<p>The night is dark and full of terrors—an unwelcoming time for travelers out in the wilds. Travel is very difficult and it's <i>very</i> easy to get lost in the dark, so best get some sleep and recover your energy for tomorrow.</p>

				<example class="panel panel--example">
					<section class="panel__body">
						<p>Waking on the second day of their journey, Valiant, Chansi, and Clanda assign roles as they eat: Valiant to guide, Chansi to scout, and Clanda to keep lookout at night. They don't appoint a forager, but that's fine—there's enough rations for a couple of days yet.</p>
						<p>The morning is uneventful, and at noon they stop for a short rest and a small drink—it's becoming very warm now thanks to a cloudless sky.</p>
						<p>During the afternoon, they find an old peddler sitting on the side of the road—he's suffering from some mild heatstroke. Chansi offers him some water, and the peddler gratefully gives them a freshly caught rabbit in exchange. They continue on.</p>
						<p>As dusk settles, the adventurers set up camp for the night. Clanda is on lookout, so she casts a few <i>Alarm</i> spells around the camp's perimeter. Chansi cooks the peddler's rabbit meat for everyone to eat, while Valiant checks their progress on his map—everything seems on track, thankfully.</p>
						<p>Tomorrow they might have to think about foraging for fresh water to top up their supplies—especially if it's as warm as today was.</p>
					</section>
				</example>

				<col-break></col-break>

				<h3><span class="h3__highlight">3</span>Arrive</h3>
				<p>After enough days of travel have passed—if you didn't lose your way—you'll arrive at your destination.</p>

				<h4>Variant: Stress</h4>
				<p>If you're using the <i>Stress</i> rules, check the <i>Journey Arrival</i> table below to see how much Stress you heal upon reaching your destination.</p>

				<list class="panel panel--list">
					<header class="panel__header">
						<h4 class="panel__title">Journey Arrival</h4>
					</header>
					<section class="panel__body">
						<tables class="tables tables--journey-arrival">
							<table class="table">
								<thead>
									<tr>
										<th>Travel Time</th>
										<th>Stress</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td>Up to 1 day</td>
										<td>-1</td>
									</tr>
									<tr>
										<td>Up to 1 week</td>
										<td>-2 (1d4)</td>
									</tr>
								</tbody>
							</table>
							<table class="table">
								<thead>
									<tr>
										<th>Travel Time</th>
										<th>Stress</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td>Up to 1 month</td>
										<td>-4 (1d6)</td>
									</tr>
									<tr>
										<td>Up to 1 year</td>
										<td>-8 (1d6 + 4)</td>
									</tr>
								</tbody>
							</table>
						</tables>
					</section>
				</list>

				<example class="panel panel--example">
					<section class="panel__body">
						<p>After 5 days of travel—a sudden and fierce thunderstorm forcing them to lose 2 days progress—Valiant, Chansi, and Clanda finally make it to Westwall Tower. Relieved, they each restore 2 points of Stress.</p>
					</section>
				</example>

				<h2>Roles</h2>
				<p>There are four core responsibilities when travelling: guide, forager, scout, and lookout. A person can only lead or assist one role per day if they wish, and any role not taken will automatically fail any related rolls.</p>
				<p>A role can have only one leader, but any number of helpers. The leader makes the roll, the first helper grants advantage, and subsequent helpers grant a +1 bonus.</p>

				<h3><span class="h3__highlight">A</span>The Guide</h3>
				<p>The guide makes sure that everyone is heading in the right direction. If the guide fails, you'll become lost and the journey will take longer as you try to retrace your steps.</p>
				<p>If you're the guide, roll Intelligence on the <i>Guidance</i> table at the end of the day to see if you were able to keep everyone on track. Cartography tools, maps, and the Survival skill will help you be a better guide.</p>
				<p><strong>Success:</strong> The party is on track. Subtract today's progress from the remaining travel time.</p>
				<p><strong>Failure:</strong> You veered off course and lost your way. Add 0.5 day to the remaining travel time.</p>

				<list class="panel panel--list" data-resize=15>
					<header class="panel__header">
						<h4 class="panel__title">Guidance</h4>
					</header>
					<section class="panel__body">
						<table class="table table--guidance">
							<thead>
								<tr>
									<th>DC</th>
									<th>Terrain</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>5</td>
									<td>Wide open plains; Clear landmarks; Obvious pathway.</td>
								</tr>
								<tr>
									<td>10</td>
									<td>Tall landmarks; Small hills.</td>
								</tr>
								<tr>
									<td>15</td>
									<td>Light rain or mist; Woods and hills.</td>
								</tr>
								<tr>
									<td>20</td>
									<td>Moonlight night; Heavy rain or mist; Forest with no clear pathway or markings.</td>
								</tr>
								<tr>
									<td>25</td>
									<td>Fog; Thick and obscure forest; Mountains.</td>
								</tr>
								<tr>
									<td>30</td>
									<td>Clouded night; Impossibly thick fog; A shifting maze; Magically treacherous terrain.</td>
								</tr>
							</tbody>
						</table>
					</section>
				</list>
			</page>
			<page class="page page--generic page--making-a-journey">
				<h3><span class="h3__highlight">B</span>The Forager</h3>
				<p>The forager finds food and water for the travelling party. If the forager fails, you'll run out of essential supplies long before the journey reaches its destination—so make sure to pack plentiful supplies before you embark if you don't have a skilled forager.</p>
				<p>If you're the forager, roll Wisdom on the <i>Foraging</i> table at the end of the day to see how much food and water you were able to hunt throughout the day. Hunting equipment and the Survival skill will help you forage.</p>
				<p><strong>Success:</strong> You recover 2d4 rations-worth of food and water—you can divide this however you like.</p>
				<p><strong>Failure:</strong> You were unable to find anything.</p>

				<list class="panel panel--list">
					<header class="panel__header">
						<h4 class="panel__title">Foraging</h4>
					</header>
					<section class="panel__body">
						<table class="table table--foraging">
							<thead>
								<tr>
									<th>DC</th>
									<th>Terrain</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>5</td>
									<td>Lush and verdant forest; Food and water are everywhere.</td>
								</tr>
								<tr>
									<td>10</td>
									<td>Forest; Coast; Abundant food and clean water.</td>
								</tr>
								<tr>
									<td>15</td>
									<td>Thin woodland and greenwood. Food must be actively hunted and water is harder to find.</td>
								</tr>
								<tr>
									<td>20</td>
									<td>Dry, open plains; Very little food or clean water.</td>
								</tr>
								<tr>
									<td>25</td>
									<td>Desert and barren or polluted land; Food is extremely rare and water may need treatment.</td>
								</tr>
								<tr>
									<td>30</td>
									<td>Toxic or corrupted deadlands; Food is inedible and water sources are poisoned.</td>
								</tr>
							</tbody>
						</table>
					</section>
				</list>

				<example class="panel panel--example">
					<section class="panel__body">
						<ul class="chat">
							<li><span class="chat__speaker">GM:</span><span>Chansi, roll a Foraging check to see if you found anything. You're in thin woodland, so it takes a little effort—DC 15.</span></li>
							<li><span class="chat__speaker">Chansi:</span><span>Ok... <span class="chat__action">(rolls 18)</span> ...perfect. Today I found... <span class="chat__action">(rolls 4)</span> ...4 supplies. We're a bit low on water right now, so let's say I found 3 water rations and 1 food ration.</span></li>
						</ul>
					</section>
				</example>

				<h3><span class="h3__highlight">C</span>The Scout</h3>
				<p>The scout ranges ahead during the day's travel and keeps an eye out for dangers. If the scout fails, you may be ambushed by enemies and other hazards.</p>
				<p>If you're the scout, you're responsible for making any perception checks during the day to spot incoming risks and dangers—the GM will notify you of anything worth rolling for. A spyglass will help you scout better.</p>
				<p><strong>Success:</strong> You noticed the threat and were able to warn the party in time. You have a chance to avoid the threat entirely, or encounter it at your own pace.</p>
				<p><strong>Failure:</strong> You failed to spot the danger in time and the party are surprised.</p>

				<col-break></col-break>

				<h3><span class="h3__highlight">D</span>The Lookout</h3>
				<p>The lookout protects the camp at night. If the lookout fails, you risk being attacked while you sleep.</p>
				<p>If you're the lookout, you're responsible for making perception checks during the night to spot incoming threats—the GM will notify you of anything worth rolling for. The lookout can't join in any camp activities beyond eating and sleeping, so make sure that whoever takes the lookout shift won't be needed for anything else.</p>
				<p>You can set traps and alarms around the camp—dry twigs, tripwires, the Alarm ritual—to help you detect intruders a little better.</p>
				<p><strong>Success:</strong> You were able to rouse the party in time to prevent being ambushed.</p>
				<p><strong>Failure:</strong> You failed to spot the danger in time and the party are surprised.</p>

				<h2>Travelling Pace</h2>
				<p>The speed at which you travel can have an significant impact on your role. There are three main paces: slow, normal, and fast. Check the <i>Travelling Pace</i> table to see exactly how you're affected by the pace you choose.</p>

				<h3>Walking</h3>
				<p>The average character has a walking speed of about 3 miles per hour, and can travel—comfortably—around 15 miles per day. This takes into account the many rest breaks, pauses, and distractions a character will need during the day—especially those that carry heavy gear and armor. Walking long-distance is surprisingly hard work, and a long march in full plate armor is a sure way to strain muscles and hurt yourself.</p>

				<h3>Horseback</h3>
				<p>The average horse walks at much the same pace as a character: 3 miles per hour. While they can gallop much faster, they can only do so on flat ground for very short periods—horses overheat <i>very</i> quickly.</p>
				<p>On horseback, a character can comfortably travel 20 miles per day without injuring the horse or becoming too saddle-sore. Anything more arduous requires knowledge and experience of <i>Animal Handling</i>.</p>
				<p>The main benefit of travelling on horseback is the carrying capacity—a horse can carry much more than a character for much longer without complaint. Horses need plenty to eat and drink, however—2 food and water rations a day—so make sure you bring enough supplies to keep your animals in good shape.</p>

				<div class="layout--col-wide layout--fixed-bottom">
					<list class="panel panel--list" data-resize=15>
						<header class="panel__header">
							<h4 class="panel__title">Travelling Pace</h4>
						</header>
						<section class="panel__body">
							<table class="table table--travelling-pace">
								<thead>
									<tr>
										<th>Travel Pace</th>
										<th>Speed</th>
										<th>Distance</th>
										<th>Guide</th>
										<th>Forage</th>
										<th>Scout</th>
										<th>Hide Tracks</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td>Slow</td>
										<td>0.6 days</td>
										<td>10 miles</td>
										<td>Advantage</td>
										<td>Normal</td>
										<td>Advantage</td>
										<td>Advantage</td>
									</tr>
									<tr>
										<td>Medium</td>
										<td>1 day</td>
										<td>15 miles</td>
										<td>Normal</td>
										<td>Disadvantage</td>
										<td>Normal</td>
										<td>Normal</td>
									</tr>
									<tr>
										<td>Fast</td>
										<td>1.4 days</td>
										<td>20 miles</td>
										<td>Disadvantage</td>
										<td>None</td>
										<td>Disadvantage</td>
										<td>Disadvantage</td>
									</tr>
								</tbody>
							</table>
						</section>
					</list>
				</div>
			</page>
			<page class="page page--generic page--making-a-journey">
				<h2>Encounters</h2>
				<p>During a journey, the GM is responsible for generating any potential encounters and discoveries the party may face on the way. For each day of travel, do the following:</p>

				<ol>
					<li><strong>Decide the danger level:</strong> Choose how dangerous today's journey will be. This determines how many encounters the party are likely to face during travel.</li>
					<li><strong>Set the encounter times:</strong> Decide when each encounter will happen during the day.</li>
					<li><strong>Generate the encounters:</strong> Build the encounters using your own encounter generators.</li>
					<li><strong>Roll for any discoveries:</strong> See if the party will spot anything unexpected on their travel, like a hidden cave or a secret chest.</li>
				</ol>

				<h3><span class="h3__highlight">1</span>Danger Level</h3>
				<p>First, check the <i>Terrain Danger</i> table to determine the danger level of the surrounding terrain. This indicates how many encounters a party is likely to face today—the greater the danger, the more encounters.</p>

				<list class="panel panel--list">
					<header class="panel__header">
						<h4 class="panel__title">Terrain Danger Level</h4>
					</header>
					<section class="panel__body">
						<table class="table table--terrain-dangers">
							<thead>
								<tr>
									<th>Danger</th>
									<th>Encounters</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>Safe and civilised; A village, a barren desert, a well-defended plain.</td>
									<td>1</td>
								</tr>
								<tr>
									<td>Dangerous frontier; A wild forest, a treacherous swamp, a disturbed graveyard.</td>
									<td>2</td>
								</tr>
								<tr>
									<td>Enemy territory; A monster's lair, an enemy camp, a haunted wood.</td>
									<td>3</td>
								</tr>
								<tr>
									<td>Heavily populated hostile territory; An enemy settlement, a mind-flayer city, a kobold nest.</td>
									<td>4</td>
								</tr>
								<tr>
									<td>Lethal and actively hunted; A plane of madness, a god's domain, a layer of hell.</td>
									<td>5</td>
								</tr>
							</tbody>
						</table>
					</section>
				</list>

				<p>Characters can learn about the danger level of a region through research to help inform their journey plans—gathering rumors, reading histories, collecting maps.</p>

				<h3><span class="h3__highlight">2</span>Encounter Times</h3>
				<p>Second, you need to see when exactly the party might have an encounter today. Roll 1d6 for each of the six phases of the day: dawn, morning, noon, afternoon, dusk, and night. If the number is equal to or lower than the danger level, there is a chance of an encounter.</p>

				<example class="panel panel--example">
					<section class="panel__body">
						<p>The party are passing through a shrouded wood with a danger level of 2. The GM secretly rolls 6d6 and generates a result of [2, 6, 2, 3, 6, 1]—the party will encounter something at dawn, noon, and night.</p>
					</section>
				</example>

				<p>Alternatively, if you do not have access to dice, take the average number of encounters listed in the <i>Danger Level</i> table and decide for yourself when the encounters occur.</p>

				<col-break></col-break>

				<h3><span class="h3__highlight">3</span>Generate Encounters</h3>
				<p>Now it's time to generate some specific encounters for your journey. There are four broad categories of encounter: character, social, skill, and combat.</p>
				<p>Pick a variety of encounters suitable for your journey, or roll on the <i>Encounter Type</i> table to choose one at random.</p>

				<ol type="A">
					<li><strong>Character:</strong> One of the party members gets a moment to shine. Ask a question about their character—if the answer is interesting or adds something to the world (or the player is at least <i>trying</i> to engage with the question), they gain a point of inspiration.</li>
					<li><strong>Social:</strong> The party meets one or more people that they can talk or engage with—a wandering merchant, a troupe of entertainers, a hostile soldier.</li>
					<li><strong>Skill:</strong> An obstacle hinders the party that must be overcome through use of their skills—a wheel breaks on their wagon, a wounded person lies unconscious beside the path, they anger a nest of wasps.</li>
					<li><strong>Combat:</strong> Enemies attack the party, forcing them to flee or defend themselves—a group of bandits, a wild pack of wolves, a hungry dragon.</li>
				</ol>

				<p>Once you know the type of the encounter, generate the exact details using your preferred encounter tables.</p>

				<list class="panel panel--list">
					<header class="panel__header">
						<h4 class="panel__title">Encounter Type</h4>
					</header>
					<section class="panel__body">
						<table class="table table--encounter-type">
							<thead>
								<tr>
									<th>d6</th>
									<th>Type</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>1</td>
									<td><strong>Character:</strong> Ask a player an interesting or fun question about their character.</td>
								</tr>
								<tr>
									<td>2</td>
									<td><strong>Social (Friendly):</strong> A pleasant encounter with some friendly NPCs.</td>
								</tr>
								<tr>
									<td>3</td>
									<td><strong>Social (Hostile):</strong> Some NPCs are hostile to the party and could lead to harm.</td>
								</tr>
								<tr>
									<td>4</td>
									<td><strong>Skill Challenge:</strong> Something happens that requires multiple skill checks to overcome.</td>
								</tr>
								<tr>
									<td>5</td>
									<td><strong>Combat (Non-committal):</strong> The party is attacked, but the enemies will flee easily.</td>
								</tr>
								<tr>
									<td>6</td>
									<td><strong>Combat (Aggressive):</strong> The party is attacked and the enemies will fight to near death.</td>
								</tr>
							</tbody>
						</table>
					</section>
				</list>

				<example class="panel panel--example">
					<section class="panel__body">
						<ul class="chat">
							<li><span class="chat__speaker">GM:</span><span>While you're all travelling in the afternoon, conversation turns to family. Clanda, tell us a good memory you have of your parents.</span></li>
						</ul>
					</section>
				</example>

				

				<h3><span class="h3__highlight">4</span>Generate a Discovery</h3>
				<p>Finally, roll a d6 to see if the party spot something interesting that might be worth investigating further.</p>

				<list class="panel panel--list">
					<header class="panel__header">
						<h4 class="panel__title">Discoveries</h4>
					</header>
					<section class="panel__body">
						<table class="table table--journey-discoveries">
							<thead>
								<tr>
									<th>d6</th>
									<th>Result</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>1-4</td>
									<td>Nothing</td>
								</tr>
								<tr>
									<td>5</td>
									<td>Spot a discovery in the morning.</td>
								</tr>
								<tr>
									<td>6</td>
									<td>Spot a discovery in the afternoon.</td>
								</tr>
							</tbody>
						</table>
					</section>
				</list>
			</page>
			<page class="page page--generic page--making-a-journey">
				<h2>Encounter Seeds</h2>
				<p>If you're unsure what to do for an encounter, try using these encounter seeds to kickstart some ideas.</p>

				<ul class="list-autorange" data-title="Character Encounters" data-column="Encounter" data-resize=30>
					<li>A bad memory of your family</li>
					<li>A good memory of your family</li>
					<li>A faction you strongly agree with</li>
					<li>A faction you strongly disagree with</li>
					<li>A game you like to play</li>
					<li>A happy moment from your childhood</li>
					<li>A monster you don't believe is real</li>
					<li>A person you're afraid of</li>
					<li>A person you couldn't save</li>
					<li>A person you hate</li>
					<li>A person you love</li>
					<li>A person you respect</li>
					<li>A person you want to meet</li>
					<li>A place you would love to visit</li>
					<li>A sad moment from your childhood</li>
					<li>A time you embarrassed yourself</li>
					<li>A time you got away with something</li>
					<li>A time you got a sibling into trouble</li>
					<li>A time you got really drunk</li>
					<li>A time you hurt someone</li>
					<li>A time you made something</li>
					<li>A time you were afraid</li>
					<li>A time you were heroic</li>
					<li>A time you were powerless</li>
					<li>A time you were proud of someone</li>
					<li>A time you were smarter than everyone else</li>
					<li>Are you a dog person or a cat person?</li>
					<li>Are you closer to your mother or your father?</li>
					<li>Food that you think is disgusting</li>
					<li>Something that happened on your last birthday</li>
					<li>Something you're ashamed of</li>
					<li>Something you're proud of doing</li>
					<li>Something you would love to do</li>
					<li>The best dinner you've ever had</li>
					<li>The best gift you ever received</li>
					<li>The funniest thing you've ever seen</li>
					<li>What are you looking forward to?</li>
					<li>What would you do if you were king?</li>
					<li>What would you do with a million gold pieces?</li>
					<li>Where are your family now?</li>
					<li>Who or what would you die for?</li>
					<li>Who was your first kiss?</li>
					<li>Why are you with the party?</li>
					<li>Why would the party fall apart without you?</li>
					<li>Your favorite story</li>
					<li>Your favorite thing about your hometown</li>
					<li>Your favorite way to relax</li>
					<li>Your greatest achievement</li>
					<li>Your greatest fear</li>
					<li>Your last nightmare</li>
				</ul>

				<col-break></col-break>

				<ul class="list-autorange" data-title="Friendly Social Encounters" data-column="Friendly Encounter" data-resize=15>
					<li>A wandering peddler offers you a look at his wares</li>
					<li>An old cleric is repairing a small shrine recently damaged by someone or something</li>
					<li>A wandering bard shares stories about the locals</li>
					<li>A drunken giant is trying to mend a bridge he has broken, but is having trouble with the work</li>
					<li>An old woman needs your help to get an unusual pet down from a tree</li>
					<li>A naked bard asks you for some spare clothes</li>
					<li>You find someone passed out and wounded</li>
					<li>Two drunk goliaths are wrestling any challengers</li>
					<li>A wizard asks if you can help him test a new spell</li>
					<li>Two groups of people need your help to settle a bet</li>
					<li>You find a small child, lost and alone</li>
					<li>Three dwarves challenge the biggest party member to a drinking competition</li>
					<li>Two clerics are arguing about who is the best god</li>
					<li>A hungry beggar offers you a secret for some food</li>
					<li>A guard is training some new recruits and asks you to help demonstrate a few moves</li>
					<li>A dying man asks you to help end his pain</li>
					<li>A silent monk offers you some food for a story</li>
					<li>A bard is trying to write a song but is having trouble with the words and asks you for advice</li>
					<li>A wagon has overturned and the owner needs help</li>
					<li>A kobold challenges you to a game of riddles</li>
				</ul>

				<ul class="list-autorange" data-title="Hostile Social Encounters" data-column="Hostile Encounter" data-end-at=65 data-resize=15>
					<li>A group of racist thugs has an issue with one of your party members because of their appearance</li>
					<li>Three guards call you to halt, holding a wanted poster that looks a lot like one of your party</li>
					<li>Highwaymen demand your money or your life</li>
					<li>Two groups of people are brawling near an overturned cart, each blaming the other</li>
					<li>A giant blocks your path with a makeshift toll gate, demanding an unusual payment</li>
					<li>A group of drunk soldiers approach and demand you offer some tribute to the king's men</li>
					<li>A person is tied to a stake and surrounded by a silent mob holding torches, led by a fierce cleric</li>
					<li>A loud zealot preaching to a mob accuses you of dark heresy against their god</li>
					<li>A barbarian, delirious with a berserker rage, thinks you're a foul monster to kill</li>
					<li>A petty nobleman accuses you of not showing the proper due respect and demands satisfaction</li>
					<li>You stumble across a dead body and a person holding a bloody knife, who says "It wasn't me!"</li>
					<li>Someone fleeing from a dozen pursuers begs you for protection against harm</li>
					<li>An old woman with a knife and foul breath asks you to pay tribute to her god</li>
				</ul>
			</page>
			<page class="page page--generic page--making-a-journey">
				<ul class="list-autorange" data-title="Hostile Social Encounters (cont)" data-column="Hostile Encounter" data-start-from=66>
					<li>Three men around a campfire offer you some food, but it's not animal meat they're cooking...</li>
					<li>A wailing ghost stands in the middle of the road</li>
					<li>A group of hooded cultists emerge, loudly proclaiming that you're the chosen one</li>
					<li>A bard is playing beautiful music to a crowd, but all who listen are quickly under her thrall</li>
					<li>A wild sorcerer seeks to test a spell on you</li>
					<li>A paladin accuses you of performing evil acts and demands you pay for your sins with blood</li>
					<li>A furious druid has someone trapped in vines and intends to kill them for desecrating the grove</li>
				</ul>

				<ul class="list-autorange" data-title="Skill Challenges" data-column="Skill Challenge">
					<li>A broken wagon blocks the way and must be repaired, overturned, or bypassed</li>
					<li>A rowdy mob that must be calmed or evaded before they turn on you or some other victim</li>
					<li>An overwhelmingly large pack of hungry, wild animals that must be outrun</li>
					<li>There is an unfamiliar split in the path and the correct direction must be determined</li>
					<li>A glade of flesh-eating plants that must be escaped before they can paralyze you</li>
					<li>A broken bridge across a ravine that must be fixed or overcome to progress</li>
					<li>A sudden, terrible storm that requires shelter to be found and constructed fast</li>
					<li>A band of highwaymen that must be intimidated or out-smarted before things turn ugly</li>
					<li>A magical illusion blocks the way and must be disabled or bypassed to progress</li>
					<li>Recent weather has destroyed some notable landmarks and the path must be rediscovered</li>
				</ul>

				<ul class="list-autorange" data-title="Discoveries" data-column="Discovery" data-end-at=30 data-resize=15>
					<li>An old and ruined tower</li>
					<li>A burned out home</li>
					<li>A howling cavern</li>
					<li>A small, tightly locked chest</li>
					<li>A statue of a good deity</li>
					<li>A statue of an evil deity</li>
					<li>A circle of stone pillars</li>
					<li>A giant tree with far-reaching roots</li>
					<li>A ruined temple to an unknown god</li>
					<li>A cracked, stone fountain filled with a green ooze</li>
					<li>A strange pillar carved with bloody runes</li>
					<li>A strange, twisted tree</li>
					<li>An abandoned wagon and the signs of battle</li>
					<li>A small, unlocked hut with a warm hearth</li>
					<li>A locked door in the side of a hill</li>
				</ul>

				<col-break></col-break>

				<ul class="list-autorange" data-title="Discoveries (cont)" data-column="Discovery" data-start-from=31 data-max-out="true" data-resize=15>
					<li>A chilling cemetery</li>
					<li>A locked door in the side of a hill</li>
					<li>An abandoned ruin of a castle</li>
					<li>A wrecked, half-buried pirate ship</li>
					<li>A set of steps leading down into a crypt</li>
					<li>A strange plant with an alluring scent</li>
					<li>A rusted cauldron still warm to the touch</li>
					<li>A tiny door in the foot of a tree</li>
					<li>A beautiful glade with delicious-looking fruit</li>
					<li>A sealed, metal coffin</li>
					<li>A twisted pillar with an evil, carved face</li>
					<li>A book on a bloody altar</li>
					<li>A sword impaled in a monstrous stone statue</li>
					<li>A map pinned to a tree with a black knife</li>
					<li>A blood-red stone embedded in a twisted tree</li>
					<li>A skeleton holding a small, red book</li>
					<li>A hole in the ground where singing can be heard</li>
					<li>A monument to an ancient battle</li>
					<li>The skeleton of a long-dead gargantuan creature</li>
					<li>A boarded-up house with ghostly wails</li>
					<li>A stone archway covered in eldritch runes</li>
					<li>A pool of sweet, red water</li>
					<li>A glade of trees that ooze black sap</li>
					<li>A collection of life-like humanoid stone statues</li>
					<li>A secret wishing pool</li>
					<li>A sleeping dragon</li>
					<li>A half-buried chest surrounded by skeletons</li>
					<li>7 rotating pillars of segmented red stone</li>
					<li>A tree that burns with unnatural green fire</li>
					<li>The ruins of a magical experiment gone wrong</li>
					<li>Reroll</li>
				</ul>

				<list class="panel panel--list">
					<header class="panel__header">
						<h4 class="panel__title">Journey Seeds</h4>
					</header>
					<section class="panel__body">
						<table class="table table--journey-seeds">
							<thead>
								<tr>
									<th>d100</th>
									<th colspan=6><span class="spacer">Encounter Phases</span></th>
									<th>Discovery</th>
								</tr>
								<tr>
									<th></th>
									<th>Da.</th>
									<th>Mo.</th>
									<th>No.</th>
									<th>Af.</th>
									<th>Du.</th>
									<th>Ni.</th>
									<th></th>
								</tr>
							</thead>
							<tbody>
								<tr><td>01-05</td><td>3</td><td>6</td><td>5</td><td>1</td><td>5</td><td>5</td><td>Morning</td></tr>
								<tr><td>06-10</td><td>6</td><td>4</td><td>3</td><td>5</td><td>1</td><td>3</td><td>Afternooon</td></tr>
								<tr><td>11-15</td><td>2</td><td>1</td><td>5</td><td>4</td><td>6</td><td>4</td><td><span class="empty">—</span></td></tr>
								<tr><td>16-20</td><td>3</td><td>1</td><td>1</td><td>5</td><td>3</td><td>5</td><td><span class="empty">—</span></td></tr>
								<tr><td>21-25</td><td>1</td><td>6</td><td>2</td><td>2</td><td>3</td><td>6</td><td>Afternooon</td></tr>
								<tr><td>26-30</td><td>3</td><td>6</td><td>2</td><td>3</td><td>6</td><td>3</td><td><span class="empty">—</span></td></tr>
								<tr><td>31-35</td><td>4</td><td>3</td><td>1</td><td>2</td><td>4</td><td>1</td><td><span class="empty">—</span></td></tr>
								<tr><td>36-40</td><td>5</td><td>4</td><td>2</td><td>5</td><td>5</td><td>4</td><td>Afternooon</td></tr>
								<tr><td>41-45</td><td>5</td><td>1</td><td>5</td><td>6</td><td>6</td><td>2</td><td>Morning</td></tr>
								<tr><td>46-50</td><td>6</td><td>6</td><td>4</td><td>6</td><td>1</td><td>2</td><td><span class="empty">—</span></td></tr>
								<tr><td>51-55</td><td>1</td><td>4</td><td>3</td><td>2</td><td>5</td><td>5</td><td>Morning</td></tr>
								<tr><td>56-60</td><td>1</td><td>4</td><td>5</td><td>2</td><td>6</td><td>4</td><td>Afternooon</td></tr>
								<tr><td>61-65</td><td>5</td><td>1</td><td>2</td><td>1</td><td>6</td><td>3</td><td><span class="empty">—</span></td></tr>
								<tr><td>66-70</td><td>1</td><td>3</td><td>1</td><td>4</td><td>5</td><td>4</td><td>Afternooon</td></tr>
								<tr><td>71-75</td><td>5</td><td>6</td><td>1</td><td>2</td><td>1</td><td>2</td><td>Morning</td></tr>
								<tr><td>76-80</td><td>6</td><td>3</td><td>2</td><td>3</td><td>5</td><td>5</td><td><span class="empty">—</span></td></tr>
								<tr><td>81-85</td><td>3</td><td>5</td><td>2</td><td>5</td><td>3</td><td>1</td><td>Morning</td></tr>
								<tr><td>86-90</td><td>2</td><td>3</td><td>5</td><td>6</td><td>5</td><td>2</td><td>Afternooon</td></tr>
								<tr><td>91-95</td><td>3</td><td>6</td><td>4</td><td>4</td><td>4</td><td>6</td><td>Morning</td></tr>
								<tr><td>96-00</td><td>3</td><td>1</td><td>4</td><td>4</td><td>5</td><td>4</td><td><span class="empty">—</span></td></tr>
							</tbody>
						</table>
					</section>
				</list>
			</page>
		</book>
	</body>
</html>
