<html>
	<body>
		<book class="book">
			<page class="page page--generic page--oils" data-header-icon="fire-bottle">
				<h1 id="oils">Oils</h1>
				<p>Before you charge into battle, take a moment to research your enemy. Discover their strengths and weaknesses, and exploit their vulnerabilities as best you can. With the right equipment and the right preparation, even the mightiest of monsters can be slain.</p>
				<p>This chapter introduces <i>magical oils</i> and ways you can use them to enhance your weapons and armor.</p>

				<h2>Magical Oils</h2>
				<p>Oils are magically-infused ointments that can imbue weapons and armor with a temporary magical effect—resistances, additional damage, etc.</p>
				<p>You can apply a magical oil to a weapon or piece of light, medium or heavy armor in one of two ways:</p>

				<ol type="A">
					<li><strong>Coat</strong> Spend one minute carefully applying the oil, which lasts for up to one hour.</li>
					<li><strong>Splash</strong> Spend a bonus action to apply the oil, which lasts for up to one minute. When you splash on an oil, reduce the number of charges it has by 1.</li>
				</ol>

				<p>You must have at least one free hand to do this, and you can't apply an oil to anything held by an unwilling target. An item can only benefit from one oil at a time—when you apply an oil, it replaces any currently active oil on the item.</p>

				<example class="panel panel--example">
					<section class="panel__body">
						<p>In the Spiteful Halls, Krazak fights the <i>Lord of Cinder</i>—a fire elemental vulnerable to cold damage.</p>
						<p>Krazak spends a bonus action to splash one whole vial of <i>Royal Oil of Frost</i> over his greataxe, adding +1d4 cold damage to his attacks for the next minute. Because the oil was splashed on, it has only 2 charges instead of the usual 3.</p>
					</section>
				</example>

				<col-break></col-break>

				<h2>Creating Oils</h2>
				<p>If you are proficient with both a) arcana and b) an alchemist's kit, you can turn gemstones into magical oils. There are three steps to follow:</p>

				<h3><span class="h3__highlight">1</span>Pick an Oil</h3>
				<p>First, you must decide which oil you want to craft—the oil's recipe will tell you which gemstone is needed.</p>

				<h3><span class="h3__highlight">2</span>Get a Gemstone</h3>
				<p>Next, you must acquire a suitable gemstone and grind it into dust. Your gemstone must be a) cut and b) either royal, lucent, or astral in quality (as specified by your oil).</p>

				<h3><span class="h3__highlight">3</span>Craft the Oil</h3>
				<p>It takes 8 hours of work with an alchemist's kit to turn gemstone dust into oil. Once you have spent this time, roll to see if your efforts were successful. Make an Intelligence (Arcana) check against the quality of your gemstone dust: royal (DC 15), lucent (DC 20), or astral (DC 25).</p>

				<ul>
					<li><strong>Critical Success</strong> Your oil was perfectly formed—you were able to create three vials of oil.</li>
					<li><strong>Success</strong> You were able to create two vials of oil.</li>
					<li><strong>Failure</strong> The mixture's gone bad and can't be used.</li>
				</ul>

				<example class="panel panel--example">
					<section class="panel__body">
						<p>During a long rest, Clanda wants to create some <i>Oil of Destruction</i>. She buys a royal onyx and, after 1 hour, rolls a DC 15 Intelligence (Arcana)—with a result of 18, she creates two vials of <i>Royal Oil of Destruction</i>.</p>
					</section>
				</example>
			</page>
			<page class="page page--generic page--oils">
				<div class="layout--col-wide layout--fixed-top">
					<list class="panel panel--list" data-resize=15>
						<header class="panel__header">
							<h4 class="panel__title">Oil Recipes</h4>
						</header>
						<section class="panel__body">
							<table class="table table--oil-recipes">
								<thead>
									<tr>
										<th>d100</th>
										<th>Jewel</th>
										<th>Gemstone</th>
										<th>Armor</th>
										<th>Weapon</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td>01-10</td>
										<td>Blessing</td>
										<td>Diamond</td>
										<td><strong>Divine Protection</strong> Reduce necrotic damage you take, and spend a charge to gain a bonus to your saving throws.</td>
										<td><strong>Judgement Flare</strong> Deal additional radiant damage, and spend a charge to blind your enemy.</td>
									</tr>
									<tr>
										<td>11-20</td>
										<td>Blight</td>
										<td>Emerald</td>
										<td><strong>Poison Tongue</strong> Reduce acid damage you take, and spend a charge to spit poison onto an adjacent creature.</td>
										<td><strong>Plaguebearer</strong> Deal additional poison damage, and spend a charge to poison your enemy.</td>
									</tr>
									<tr>
										<td>21-30</td>
										<td>Destruction</td>
										<td>Onyx</td>
										<td><strong>Dark Harvest</strong> Reduce radiant damage you take, and spend a charge to inflict wounds onto an adjacent creature.</td>
										<td><strong>Obliterate</strong> Deal additional necrotic damage, and spend a charge to disintegrate your enemy.</td>
									</tr>
									<tr>
										<td>31-40</td>
										<td>Energy</td>
										<td>Topaz</td>
										<td><strong>Unlimited Power</strong> Reduce thunder damage you take, and spend a charge to shoot a bolt of lighting.</td>
										<td><strong>Static Shock</strong> Deal additional lightning damage, and spend a charge to stop your enemy from taking reactions.</td>
									</tr>
									<tr>
										<td>41-50</td>
										<td>Flameheart</td>
										<td>Ruby</td>
										<td><strong>Volcanic Fury</strong> Reduce cold damage you take, and spend a charge to burn all adjacent creatures.</td>
										<td><strong>Ashen Soul</strong> Deal additional fire damage, and spend a charge to burn your enemy with ongoing flames.</td>
									</tr>
									<tr>
										<td>51-60</td>
										<td>Frenzy</td>
										<td>Amethyst</td>
										<td><strong>Twisted Voice</strong> Reduce force damage you take, and spend a charge to hurt a creature with psychic whispers.</td>
										<td><strong>Mind Warp</strong> Deal additional psychic damage, and spend a charge to punish your enemy for attacking other targets.</td>
									</tr>
									<tr>
										<td>61-70</td>
										<td>Ice</td>
										<td>Sapphire</td>
										<td><strong>Winds of Winter</strong> Reduce fire damage you take, and spend a charge to hurt your enemies with a cone of frozen wind.</td>
										<td><strong>Frostshock</strong> Deal additional cold damage, and spend a charge to freeze your enemy in place.</td>
									</tr>
									<tr>
										<td>71-80</td>
										<td>Spellshock</td>
										<td>Aquamarine</td>
										<td><strong>Force Repel</strong> Reduce psychic damage you take, and spend a charge to gain a magical bonus to your AC.</td>
										<td><strong>Spellbreaker</strong> Deal additional force damage, and spend a charge to punish your enemy for casting spells.</td>
									</tr>
									<tr>
										<td>81-90</td>
										<td>Spite</td>
										<td>Peridot</td>
										<td><strong>Fabulous Bile</strong> Reduce poison damage you take, and spend a charge to spray painful acid at your enemies.</td>
										<td><strong>Corruptor</strong> Deal additional acid damage, and spend a charge to reduce your target's AC.</td>
									</tr>
									<tr>
										<td>91-00</td>
										<td>Storms</td>
										<td>Alexandrite</td>
										<td><strong>Sonic Boom</strong> Reduce lightning damage you take, and spend a charge to create a painfully-loud sonic boom.</td>
										<td><strong>Thunderwave</strong> Deal additional thunder damage, and spend a charge to push your target away.</td>
									</tr>
								</tbody>
							</table>
						</section>
					</list>
				</div>

				<item class="panel panel--item panel--item--oil-recipe">
					<header class="panel__header">
						<h4 class="panel__title">Oil of Blessing</h4>
						<ul class="panel__tags">
							<li>Magical Oil</li>
							<li>Diamond</li>
							<li>Charges (3)</li>
						</ul>
					</header>
					<section class="panel__body">
						<h5><strong>Armor</strong> Divine Protection</h5>
						<ul class="tiers">
							<li class="tier tier--royal">
								<p>Reduce any necrotic damage you take by half your proficiency bonus (rounded down).</p>
								<p>In addition, whenever you make a saving throw, you can spend 1 charge to gain a +2 bonus to your roll (you may decide this after you make your roll).</p>
							</li>
							<li class="tier tier--lucent">You gain resistance to necrotic damage, and the saving throw bonus increases to +4.</li>
							<li class="tier tier--astral">You gain immunity to necrotic damage, and the saving throw bonus increases to +6.</li>
						</ul>
						<h5><strong>Weapon</strong> Judgement Flare</h5>
						<ul class="tiers">
							<li class="tier tier--royal">
								<p>When you hit a target with this weapon, you deal +1d4 radiant damage.</p>
								<p>In addition, you can spend 1 charge to blind the target until the end of its next turn (Constitution save, DC 13).</p>
							</li>
							<li class="tier tier--lucent">Damage increases to +2d4, DC increases to 15.</li>
							<li class="tier tier--astral">Damage increases to +3d4, DC increases to 18.</li>
						</ul>
					</section>
				</item>

				<col-break></col-break>

				<item class="panel panel--item panel--item--oil-recipe">
					<header class="panel__header">
						<h4 class="panel__title">Oil of Blight</h4>
						<ul class="panel__tags">
							<li>Magical Oil</li>
							<li>Emerald</li>
							<li>Charges (3)</li>
						</ul>
					</header>
					<section class="panel__body">
						<h5><strong>Armor</strong> Poison Tongue</h5>
						<ul class="tiers">
							<li class="tier tier--royal">
								<p>Reduce any acid damage you take by half your proficiency bonus (rounded down).</p>
								<p>In addition, as an action, you can spend 1 charge to spit poison on an adjacent creature. The creature takes 3d6 poison damage (Constitution save, DC 13).</p>
							</li>
							<li class="tier tier--lucent">You gain resistance to acid damage, damage increases to 4d6, DC increases to 15.</li>
							<li class="tier tier--astral">You gain immunity to acid damage, damage increases to 5d6, DC increases to 18.</li>
						</ul>
						<h5><strong>Weapon</strong> Plaguebearer</h5>
						<ul class="tiers">
							<li class="tier tier--royal">
								<p>When you hit a target with this weapon, you deal +1d4 poison damage.</p>
								<p>In addition, you can spend 1 charge to poison the target until the end of its next turn (Constitution save, DC 13).</p>
							</li>
							<li class="tier tier--lucent">Damage increases to +2d4, DC increases to 15.</li>
							<li class="tier tier--astral">Damage increases to +3d4, DC increases to 18.</li>
						</ul>
					</section>
				</item>
			</page>
			<page class="page page--generic page--oils">
				<item class="panel panel--item panel--item--oil-recipe">
					<header class="panel__header">
						<h4 class="panel__title">Oil of Destruction</h4>
						<ul class="panel__tags">
							<li>Magical Oil</li>
							<li>Onyx</li>
							<li>Charges (3)</li>
						</ul>
					</header>
					<section class="panel__body">
						<h5><strong>Armor</strong> Dark Harvest</h5>
						<ul class="tiers">
							<li class="tier tier--royal">
								<p>Reduce any radiant damage you take by half your proficiency bonus (rounded down).</p>
								<p>In addition, as an action, you can spend 1 charge to inflict wounds on an adjacent creature. The creature takes 3d6 necrotic damage (Dexterity save, DC 13).</p>
							</li>
							<li class="tier tier--lucent">You gain resistance to radiant damage, damage increases to 4d6, DC increases to 15.</li>
							<li class="tier tier--astral">You gain immunity to radiant damage, damage increases to 5d6, DC increases to 18.</li>
						</ul>
						<h5><strong>Weapon</strong> Obliterate</h5>
						<ul class="tiers">
							<li class="tier tier--royal">
								<p>When you hit a target with this weapon, you deal +1d4 necrotic damage. When you reduce a target to 0 hit points with this weapon, you can spend 1 charge to disintegrate it.</p>
							</li>
							<li class="tier tier--lucent">Damage increases to +2d4.</li>
							<li class="tier tier--astral">Damage increases to +3d4.</li>
						</ul>
					</section>
				</item>

				<example class="panel panel--example">
					<section class="panel__body">
						<p>The deva stood atop the crystal stairway, eyes burning with rage. "Mortals, you stand accused of blasphemy against the most holy Dark Lady. How do you plead?"</p>
						<p>"Guilty as charged," replied Truth smoothly. His armor gleamed with a freshly-coated <i>oil of destruction</i>.</p>
						<p>"Yea," said Krazak. "The dragon queen can get f—"</p>
						<p>"I <i>think</i> they get the point," interrupted Truth.</p>
					</section>
				</example>

				<item class="panel panel--item panel--item--oil-recipe">
					<header class="panel__header">
						<h4 class="panel__title">Oil of Energy</h4>
						<ul class="panel__tags">
							<li>Magical Oil</li>
							<li>Topaz</li>
							<li>Charges (3)</li>
						</ul>
					</header>
					<section class="panel__body">
						<h5><strong>Armor</strong> Unlimited Power</h5>
						<ul class="tiers">
							<li class="tier tier--royal">
								<p>Reduce any thunder damage you take by half your proficiency bonus (rounded down).</p>
								<p>In addition, as an action, you can spend 1 charge to cast lightning in a 5 ft by 15 ft line from you. Each creature takes 2d6 lightning damage (Constitution save, DC 13).</li>
							<li class="tier tier--lucent">You gain resistance to thunder damage, damage increases to 3d6, DC increases to 15.</li>
							<li class="tier tier--astral">You gain immunity to thunder damage, damage increases to 4d6, DC increases to 18.</li>
						</ul>
						<h5><strong>Weapon</strong> Static Shock</h5>
						<ul class="tiers">
							<li class="tier tier--royal">
								<p>When you hit a target with this weapon, you deal +1d4 lightning damage.</p>
								<p>In addition, you can spend 1 charge to stop the target taking reactions until the end of its next turn (Constitution save, DC 13).</p>
							</li>
							<li class="tier tier--lucent">Damage increases to +2d4, DC increases to 15.</li>
							<li class="tier tier--astral">Damage increases to +3d4, DC increases to 18.</li>
						</ul>
					</section>
				</item>

				<col-break></col-break>

				<item class="panel panel--item panel--item--oil-recipe">
					<header class="panel__header">
						<h4 class="panel__title">Oil of Flameheart</h4>
						<ul class="panel__tags">
							<li>Magical Oil</li>
							<li>Ruby</li>
							<li>Charges (3)</li>
						</ul>
					</header>
					<section class="panel__body">
						<h5><strong>Armor</strong> Volcanic Fury</h5>
						<ul class="tiers">
							<li class="tier tier--royal">
								<p>Reduce any cold damage you take by half your proficiency bonus (rounded down).</p>
								<p>In addition, as an action, you can spend 1 charge to unleash a burst of flame all around. Each adjacent creature takes 2d6 fire damage (Constitution save, DC 13).</li>
							<li class="tier tier--lucent">You gain resistance to cold damage, damage increases to 3d6, DC increases to 15.</li>
							<li class="tier tier--astral">You gain immunity to cold damage, damage increases to 4d6, DC increases to 18.</li>
						</ul>
						<h5><strong>Weapon</strong> Ashen Soul</h5>
						<ul class="tiers">
							<li class="tier tier--royal">
								<p>When you hit a target with this weapon, you deal +1d4 fire damage.</p>
								<p>In addition, you can spend 1 charge to burn the target with ongoing flames. The flames last for up to one minute or until the target spends an action to put out the fire (Constitution save, DC 13). A burning target takes 1d4 fire damage at the start of its turn.</p>
							</li>
							<li class="tier tier--lucent">Damage increases to +2d4, DC increases to 15.</li>
							<li class="tier tier--astral">Damage increases to +3d4, DC increases to 18.</li>
						</ul>
					</section>
				</item>

				<example class="panel panel--example">
					<section class="panel__body">
						<p>Burn your enemies away with <i>Volcanic Fury</i>...</p>
					</section>
				</example>

				<item class="panel panel--item panel--item--oil-recipe">
					<header class="panel__header">
						<h4 class="panel__title">Oil of Frenzy</h4>
						<ul class="panel__tags">
							<li>Magical Oil</li>
							<li>Amethyst</li>
							<li>Charges (3)</li>
						</ul>
					</header>
					<section class="panel__body">
						<h5><strong>Armor</strong> Twisted Voice</h5>
						<ul class="tiers">
							<li class="tier tier--royal">
								<p>Reduce any force damage you take by half your proficiency bonus (rounded down).</p>
								<p>In addition, as an action, you can spend 1 charge to speak dissonant whispers. Choose one creature within 20 ft that can hear you—the creature takes 3d6 psychic damage (Wisdom save, DC 13).</p>
							</li>
							<li class="tier tier--lucent">You gain resistance to force damage, damage increases to 4d6, DC increases to 15.</li>
							<li class="tier tier--astral">You gain immunity to force damage, damage increases to 5d6, DC increases to 18.</li>
						</ul>
						<h5><strong>Weapon</strong> Mind Warp</h5>
						<ul class="tiers">
							<li class="tier tier--royal">
								<p>When you hit a target with this weapon, you deal +1d4 psychic damage.</p>
								<p>In addition, you can spend 1 charge to give the target disadvantage on attack rolls that don't include you until the end of its next turn (Wisdom save, DC 13).</p>
							</li>
							<li class="tier tier--lucent">Damage increases to +2d4, DC increases to 15.</li>
							<li class="tier tier--astral">Damage increases to +3d4, DC increases to 18.</li>
						</ul>
					</section>
				</item>
			</page>
			<page class="page page--generic page--oils">
				<item class="panel panel--item panel--item--oil-recipe">
					<header class="panel__header">
						<h4 class="panel__title">Oil of Ice</h4>
						<ul class="panel__tags">
							<li>Magical Oil</li>
							<li>Sapphire</li>
							<li>Charges (3)</li>
						</ul>
					</header>
					<section class="panel__body">
						<h5><strong>Armor</strong> Winds of Winter</h5>
						<ul class="tiers">
							<li class="tier tier--royal">
								<p>Reduce any fire damage you take by half your proficiency bonus (rounded down).</p>
								<p>In addition, as an action, you can spend 1 charge to create frozen winds in a 15 ft cone. Each creature within range takes 2d6 cold damage (Constitution save, DC 13).</p>
							</li>
							<li class="tier tier--lucent">You gain resistance to fire damage, damage increases to 3d6, DC increases to 15.</li>
							<li class="tier tier--astral">You gain immunity to fire damage, damage increases to 4d6, DC increases to 18.</li>
						</ul>
						<h5><strong>Weapon</strong> Frostshock</h5>
						<ul class="tiers">
							<li class="tier tier--royal">
								<p>When you hit a target with this weapon, you deal +1d4 cold damage.</p>
								<p>In addition, you can spend 1 charge to reduce the target's speed to 0 until the end of its next turn (Strength save, DC 13).</p>
							</li>
							<li class="tier tier--lucent">Damage increases to +2d4, DC increases to 15.</li>
							<li class="tier tier--astral">Damage increases to +3d4, DC increases to 18.</li>
						</ul>
					</section>
				</item>

				<item class="panel panel--item panel--item--oil-recipe">
					<header class="panel__header">
						<h4 class="panel__title">Oil of Spellshock</h4>
						<ul class="panel__tags">
							<li>Magical Oil</li>
							<li>Aquamarine</li>
							<li>Charges (3)</li>
						</ul>
					</header>
					<section class="panel__body">
						<h5><strong>Armor</strong> Force Repel</h5>
						<ul class="tiers">
							<li class="tier tier--royal">
								<p>Reduce any psychic damage you take by half your proficiency bonus (rounded down).</p>
								<p>In addition, as a reaction, you can spend 1 charge to gain a +3 bonus to AC until the start of your next turn.</li>
							<li class="tier tier--lucent">You gain resistance to psychic damage, and the AC bonus increases to +4.</li>
							<li class="tier tier--astral">You gain immunity to psychic damage, and the AC bonus increases to +5.</li>
						</ul>
						<h5><strong>Weapon</strong> Spellbreaker</h5>
						<ul class="tiers">
							<li class="tier tier--royal">
								<p>When you hit a target with this weapon, you deal +1d4 force damage.</p>
								<p>In addition, you can spend 1 charge to give the target disadvantage when casting spells until the end of its next turn (Intelligence save, DC 13).</p>
							</li>
							<li class="tier tier--lucent">Damage increases to +2d4, DC increases to 15.</li>
							<li class="tier tier--astral">Damage increases to +3d4, DC increases to 18.</li>
						</ul>
					</section>
				</item>

				<example class="panel panel--example">
					<section class="panel__body">
						<p>The lich crackled with arcane power. "Accept your fate, cleric. The ritual will complete. Join me in death."</p>
						<p>Valiant reached into his pouch and uncorked his <i>oil of spellshock</i>, splashing it onto his mace. Immediately, it started to vibrate with raw, spellbreaking force.</p>
						<p>"You'll have to kill me first," challenged Valiant.</p>
					</section>
				</example>

				<col-break></col-break>

				<item class="panel panel--item panel--item--oil-recipe">
					<header class="panel__header">
						<h4 class="panel__title">Oil of Spite</h4>
						<ul class="panel__tags">
							<li>Magical Oil</li>
							<li>Peridot</li>
							<li>Charges (3)</li>
						</ul>
					</header>
					<section class="panel__body">
						<h5><strong>Armor</strong> Fabulous Bile</h5>
						<ul class="tiers">
							<li class="tier tier--royal">
								<p>Reduce any poison damage you take by half your proficiency bonus (rounded down).</p>
								<p>In addition, as an action, you can spend 1 charge to spray acid in a 15 ft cone. Each creature within range takes 2d6 acid damage (Dexterity save, DC 13).</p>
							<li class="tier tier--lucent">You gain resistance to poison damage.</li>
							<li class="tier tier--astral">You gain immunity to poison damage.</li>
						</ul>
						<h5><strong>Weapon</strong> Corruptor</h5>
						<ul class="tiers">
							<li class="tier tier--royal">
								<p>When you hit a target with this weapon, you deal +1d4 acid damage.</p>
								<p>In addition, you can spend 1 charge to reduce the target's AC by 2 until the end of its next turn (Dexterity save, DC 13). This AC reduction is not cumulative.</p>
							</li>
							<li class="tier tier--lucent">Damage increases to +2d4, AC reduction increases to 3, and DC increases to 15.</li>
							<li class="tier tier--astral">Damage increases to +3d4, AC reduction increases to 4, and DC increases to 18.</li>
						</ul>
					</section>
				</item>

				<item class="panel panel--item panel--item--oil-recipe">
					<header class="panel__header">
						<h4 class="panel__title">Oil of Storms</h4>
						<ul class="panel__tags">
							<li>Magical Oil</li>
							<li>Alexandrite</li>
							<li>Charges (3)</li>
						</ul>
					</header>
					<section class="panel__body">
						<h5><strong>Armor</strong> Sonic Boom</h5>
						<ul class="tiers">
							<li class="tier tier--royal">
								<p>Reduce any lightning damage you take by half your proficiency bonus (rounded down).</p>
								<p>In addition, as an action, you can spend 1 charge to unleash a sonic boom. Each adjacent creature takes 2d6 thunder damage (Constitution save, DC 13).</p>
							</li>
							<li class="tier tier--lucent">You gain resistance to lightning damage, damage increases to 3d6, DC increases to 15.</li>
							<li class="tier tier--astral">You gain immunity to lightning damage, damage increases to 4d6, DC increases to 18.</li>
						</ul>
						<h5><strong>Weapon</strong> Thunderwave</h5>
						<ul class="tiers">
							<li class="tier tier--royal">
								<p>When you hit a target with this weapon, you deal +1d4 thunder damage.</p>
								<p>In addition, you can spend 1 charge to push the target back up to 10 ft from you (Strength save, DC 13).</p>
							</li>
							<li class="tier tier--lucent">Damage increases to +2d4, DC increases to 15, distance increase to 15 ft.</li>
							<li class="tier tier--astral">Damage increases to +3d4, DC increases to 18, distance increase to 20 ft.</li>
						</ul>
					</section>
				</item>

				<example class="panel panel--example">
					<section class="panel__body">
						<p>As goblins swarmed around him, Viridian sang out a command word. There was an explosive thunderclap. The goblins collapsed, blood pouring from their ears.</p>
					</section>
				</example>
			</page>
		</book>
	</body>
</html>
