<html>
	<body>
		<book class="book">
			<page class="page page--reference page--quick-reference">
				<h1 id="quick-reference" data-toc-ignore="true">Quick Reference</h1>

				<div class="reference-block">
					<h4>Low-light & Darkvision<span class="page-detail--page-number" data-target="feature-changes-darkvision"></span></h4>
					<p>If you have the Darkvision racial character trait, replace it with the Low-light Vision trait. If you have the Superior Darkvision racial trait, replace it with Darkvision.</p>
					<ul>
						<li><strong>Low-light Vision:</strong> For 30 ft around you, you can see in dim light as if it were bright light. You cannot see in darkness.</li>
						<li><strong>Darkvision:</strong> For 30 ft around you, you can see in dim light as if it were bright light and in darkness as if it were dim light. You can't discern color in darkness, only shades of grey. Beyond 30 ft, you cannot see in darkness.</li>
					</ul>
				</div>

				<div class="reference-block">
					<h4>Initiative<span class="page-detail--page-number" data-target="feature-changes-initiative"></span></h4>
					<p>When you calculate initiative, use your Intelligence modifier instead of your Dexterity.</p>
					<ul>
						<li><strong>Tactical Wit:</strong> As a War Wizard, add your DEX modifier as a bonus to initiative, not INT.</li>
					</ul>
				</div>

				<div class="reference-block">
					<h4>Known Languages<span class="page-detail--page-number" data-target="feature-changes-languages"></span></h4>
					<table class="table table--languages">
						<thead>
							<tr>
								<th>INT</th>
								<th>Known Languages</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>-1 or lower</td>
								<td>You have only a basic grasp of vocabulary in your primary language, and you are illiterate.</td>
							</tr>
							<tr>
								<td>0</td>
								<td>You can speak, read, and write your primary language with a decent range of vocabulary.</td>
							</tr>
							<tr>
								<td>+1</td>
								<td>You can speak, read, and write two languages.</td>
							</tr>
							<tr>
								<td>+2</td>
								<td>You can speak, read, and write three languages.</td>
							</tr>
							<tr>
								<td>+3</td>
								<td>You can speak, read, and write four languages.</td>
							</tr>
						</tbody>
					</table>
				</div>

				<div class="reference-block spacing-md">
					<h4>Animal Handling<span class="page-detail--page-number" data-target="feature-changes-animal-handling"></span></h4>
					<ul>
						<li>
							<p><strong>Animal Handling</strong>: Animal handling now measures your ability to recall lore about animals (or creatures with the Beast keyword) and interact with them.</p>
							<p>Roll Intelligence (Animal Handling) to recall some information about animals, or Wisdom (Animal Handling) to interact with animals.</p>
						</li>
						<li>
							<p><strong>Nature:</strong> Nature no longer measures your knowledge of animals and beasts—that domain is now a part of the Animal Handling skill.</p>
						</li>
					</ul>
				</div>

				<div class="reference-block">
					<h4>Inventory: Slots & Bulk<span class="page-detail--page-number" data-target="slot-based-inventory"></span></h4>
					<p>You carry items in <i>slots</i>, with each item occupying 1 or more slots according to its <i>bulk</i>. Your capacity depends on your size, strength, and armor.</p>
				</div>

				<div class="reference-block">
					<h4>Inventory: Size<span class="page-detail--page-number" data-target="slot-based-inventory"></span></h4>
					<table class="table table--inventory-size">
						<thead>
							<tr>
								<th>Size</th>
								<th>Slots</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>Tiny</td>
								<td>6 + STR</td>
							</tr>
							<tr>
								<td>Small</td>
								<td>14 + STR</td>
							</tr>
							<tr>
								<td>Medium</td>
								<td>18 + STR</td>
							</tr>
							<tr>
								<td>Large</td>
								<td>22 + [STR x 2]</td>
							</tr>
							<tr>
								<td>Huge</td>
								<td>30 + [STR x 4]</td>
							</tr>
							<tr>
								<td>Gargantuan</td>
								<td>46 + [STR x 8]</td>
							</tr>
						</tbody>
					</table>
				</div>

				<div class="reference-block spacing-md">
					<h4>Encumberance</h4>
					<p>If you find yourself carrying more than your inventory capacity allows, you are encumbered. While you are encumbered, you gain the following condition:</p>
					<ul>
						<li>Your speed is halved.</li>
						<li>You have disadvantage on ability checks, attack rolls, and saving throws that use Strength, Dexterity, or Constitution.</li>
					</ul>
				</div>

				<col-break></col-break>

				<div class="reference-block">
					<h4>Basic Supplies<span class="page-detail--page-number" data-target="free-storage"></span></h4>
					<p>You can freely carry one ration box, one water-skin, and one coin purse. These don't occupy any of your inventory slots.</p>
				</div>

				<div class="reference-block">
					<h4>Armor Expertise<span class="page-detail--page-number" data-target="armor-expertise"></span></h4>
					<p>If you are wearing medium or heavy armor—and you are appropriately proficient—you gain a perk:</p>
					<ul>
						<li>
							<p><strong>Medium Armor:</strong> Reduce any bludgeoning, piercing, and slashing damage that you take from non-magical weapons by half your proficiency bonus (rounded down), to a minimum of 1.</p>
						</li>
						<li>
							<p><strong>Heavy Armor:</strong> Reduce any bludgeoning, piercing, and slashing damage that you take from non-magical weapons by your proficiency bonus, to a minimum of 1.</p>
						</li>
					</ul>
				</div>

				<div class="reference-block">
					<h4>Item Sizes<span class="page-detail--page-number" data-target="item-sizes"></span></h4>
					<table class="table table--item-sizes">
						<thead>
							<tr>
								<th>Size</th>
								<th>Description</th>
								<th>Bulk</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>Tiny</td>
								<td>Smaller than a hand; Can hold many in one hand.</td>
								<td>0.2</td>
							</tr>
							<tr>
								<td>Small</td>
								<td>Up to a handspan / 9 inches long; Held comfortably with one hand.</td>
								<td>1</td>
							</tr>
							<tr>
								<td>Medium</td>
								<td>Up to an arms-length / 2ft long; Held with one hand.</td>
								<td>2</td>
							</tr>
							<tr>
								<td>Large</td>
								<td>Longer than an arm; Requires one or two hands to hold.</td>
								<td>3</td>
							</tr>
						</tbody>
					</table>
				</div>

				<div class="reference-block spacing-md">
					<h4>Variant: Quickdraw<span class="page-detail--page-number" data-target="variant-quickdraw"></h4>
					<p>Characters nominate 3 items in their inventory as quickdraw items. Quickdraw items can be draw/removed from the inventory using a free object interaction. Non-quickdraw items can only be accessed using a full action.</p>
					<p>A character may change their quickdraw item selection during a short rest.</p>
				</div>

				<div class="reference-block">
					<h4>Variant: Containers<span class="page-detail--page-number" data-target="variant-containers"></h4>
					<p>Characters divide their total number of item slots into distinct containers that they name, categorize, and place about their person.</p>
				</div>

				<div class="reference-block">
					<h4>Container Categories<span class="page-detail--page-number" data-target="variant-containers"></span></h4>
					<table class="table table--container-categories">
						<thead>
							<tr>
								<th>Type</th>
								<th>Description</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>Bag</td>
								<td>Holds any items. Draw an item with an action.</td>
							</tr>
							<tr>
								<td>Belt</td>
								<td>Holds small and tiny items. Draw an item with a free action.</td>
							</tr>
							<tr>
								<td>Sheath</td>
								<td>Holds weapons and shields. Draw an item with a free action.</td>
							</tr>
							<tr>
								<td>Quiver</td>
								<td>Stores bows, crossbows, arrows, bolts, and javelins. Draw an item with a free action.</td>
							</tr>
						</tbody>
					</table>
				</div>

				<div class="reference-block">
					<h4>Item Degradation<span class="page-detail--page-number" data-target="item-degradation"></span></h4>
					<table class="table table--item-degradation">
						<thead>
							<tr>
								<th>Category</th>
								<th>Effect</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>Weapon</td>
								<td>Gains a notch when you critically fail an attack. Each notch reduces the damage die you roll by one step.</td>
							</tr>
							<tr>
								<td>Armor</td>
								<td>Gains a notch when you are critically hit. Each notch reduces your AC by 1.</td>
							</tr>
							<tr>
								<td>Focus</td>
								<td>Gains a notch when you critically fail to cast a spell while holding it. Each notch reduces your spellcasting ability by 1.</td>
							</tr>
							<tr>
								<td>Item</td>
								<td>Gains a notch whenever appropriate—often when it takes direct damage or is used in a failed skill check. Each notch reduces effectiveness by 1.</td>
							</tr>
						</tbody>
					</table>
				</div>

				<col-break></col-break>

				<div class="reference-block">
					<h4>Shattered Gear<span class="page-detail--page-number" data-target="shattering-gear"></span></h4>
					<table class="table table--item-fragility">
						<thead>
							<tr>
								<th>Fragility</th>
								<th>Description</th>
								<th>Maximum<br/>Notches</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>Delicate</td>
								<td>Thin glass, ceramics, complicated or tiny machinery</td>
								<td>1</td>
							</tr>
							<tr>
								<td>Sturdy</td>
								<td>Wood, metal, well constructed goods</td>
								<td>10</td>
							</tr>
							<tr>
								<td>Indestructible</td>
								<td>Thick stone, strong metals</td>
								<td>100+</td>
							</tr>
						</tbody>
					</table>
				</div>

				<div class="reference-block">
					<h4>Sacrificing Gear<span class="page-detail--page-number" data-target="shattering-gear"></span></h4>
					<p>When you hit with an attack, you can shatter your weapon to roll its original un-notched damage die. Decide this before you roll damage.</p>
					<p>You can sacrifice your armor when hit by an attack to reduce the damage taken by 3d4 (light), 3d8 (medium), and 3d12 (heavy)—it falls apart in the process. Decide this after damage is dealt.</p>
				</div>

				<div class="reference-block">
					<h4>Mending<span class="page-detail--page-number" data-target="repairing-items"></span></h4>
					<p>You can use Mending to restore an item that has shattered from too many notches. A restored item is usable again, but has the maximum number of notches—without repairs, it will break again with one more notch.</p>
				</div>

				<div class="reference-block">
					<h4>Temper Qualities<span class="page-detail--page-number" data-target="temper-qualities"></span></h4>
					<table class="table table--tempering">
						<thead>
							<tr>
								<th>Quality</th>
								<th>Rarity</th>
								<th>Critical Failure</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>—</td>
								<td>Common</td>
								<td>Gains 1 notch</td>
							</tr>
							<tr>
								<td>Pure Temper</td>
								<td>Uncommon</td>
								<td>Gains &#189; (0.5) notch</td>
							</tr>
							<tr>
								<td>Royal Temper</td>
								<td>Rare</td>
								<td>Gains &#188; (0.25) notch</td>
							</tr>
							<tr>
								<td>Astral Temper</td>
								<td>Mythic</td>
								<td>Gains &#8539; (0.125) notch</td>
							</tr>
						</tbody>
					</table>
				</div>

				<div class="reference-block">
					<h4>Item Quality<span class="page-detail--page-number" data-target="item-quality"></span></h4>
					<table class="table table--item-quality">
						<thead>
							<tr>
								<th>Quality</th>
								<th>Description</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>Pristine</td>
								<td>Never been notched. This item looks, feels, and smells brand new.</td>
							</tr>
							<tr>
								<td>Worn</td>
								<td>Has had only one notch at a time. This item has one main defect.</td>
							</tr>
							<tr>
								<td>Well-worn</td>
								<td>Has had two notches at one time. This item shows heavy signs of use.</td>
							</tr>
							<tr>
								<td>Scarred</td>
								<td>Has had four or more notches at one time. This item looks shabby and in poor condition.</td>
							</tr>
						</tbody>
					</table>
				</div>

				<div class="reference-block">
					<h4>Resale Value<span class="page-detail--page-number" data-target="resale-value"></span></h4>
					<table class="table table--resale">
						<thead>
							<tr>
								<th>Quality</th>
								<th>Value</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>Pristine</td>
								<td>75%</td>
							</tr>
							<tr>
								<td>Worn</td>
								<td>50%</td>
							</tr>
							<tr>
								<td>Well-Worn</td>
								<td>25%</td>
							</tr>
							<tr>
								<td>Scarred</td>
								<td>10%</td>
							</tr>
						</tbody>
					</table>
				</div>

				<div class="reference-block">
					<h4>Item Restoration<span class="page-detail--page-number" data-target="restoring-items"></span></h4>
					<table class="table table--restoration">
						<thead>
							<tr>
								<th>Quality</th>
								<th>Cost</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>Worn to Pristine</td>
								<td>50%</td>
							</tr>
							<tr>
								<td>Well-Worn to Worn</td>
								<td>30%</td>
							</tr>
							<tr>
								<td>Scarred to Well-Worn</td>
								<td>10%</td>
							</tr>
						</tbody>
					</table>
				</div>

				<div class="reference-block">
					<h4>Ammunition<span class="page-detail--page-number" data-target="the-ammunition-die"></span></h4>
					<p>Roll your <i>Ammunition die</i> whenever you take a shot: if you roll a 1 or 2, your ammunition die gets one size smaller.</p>
					<p>If you're down to one piece of ammunition and you use it, that's it—it's gone. Replenish your ammunition to increase the size of your die.</p>
				</div>
			</page>
			<page class="page page--reference page--quick-reference">
				<div class="reference-block">
					<h4>Open Skills<span class="page-detail--page-number" data-target="skill-checks"></span></h4>
					<p>Skills are not tied to a single ability. You may add your skill bonus to any appropriate ability check.</p>
				</div>

				<div class="reference-block spacing-md">
					<h4>Social Interaction<span class="page-detail--page-number" data-target="social-interaction"></span></h4>
					<p>The context of your social interaction determines which ability you are using: smarts (intelligence), feelings (wisdom), and presence (charisma).</p>
					<ul>
						<li><strong>Intelligence:</strong> You're trying to be clever. Debate, reason, negotiate, lie, manipulate, and wit.</li>
						<li><strong>Wisdom:</strong> You're trying to soothe or connect feelings. Rapport, empathize, calm, discretion, judgement, and tact.</li>
						<li><strong>Charisma:</strong> You're trying to be likeable or dominating. Charm, bluff, banter, incite, command, and intimidate.</li>
					</ul>
				</div>

				<div class="reference-block">
					<h4>Help<span class="page-detail--page-number" data-target="help"></span></h4>
					<p>When you use the Help action, you roll one of the two d20 dice. Add your ally's modifiers as normal.</p>
				</div>

				<div class="reference-block">
					<h4>Tools<span class="page-detail--page-number" data-target="tools"></span></h4>
					<p>Add your proficiency bonus to any ability check made with a proficient tool. If you are proficient with both a tool and a skill, add your proficiency bonus <i>and</i> make your roll with advantage.</p>
				</div>

				<div class="reference-block spacing-md">
					<h4>Active Defense<span class="page-detail--page-number" data-target="active-defense"></span></h4>
					<p>The DM doesn't make attack rolls—instead, the players make defense rolls. Roll d20 + your AC vs the monster's attack bonus + 22. If your defense equals or beats the DC, your character avoids the attack. If you fail, the attack hits you.</p>
					<ul>
						<li>
							<p><strong>Advantage:</strong> If the attacker has advantage, you have disadvantage on the defense roll—and vice versa if they have disadvantage.</p>
						</li>
						<li>
							<p><strong>Criticals:</strong> If the defense roll comes up as a natural 1, the attack critically hits you.</p>
						</li>
					</ul>
				</div>

				<div class="reference-block">
					<h4>Active Initiative<span class="page-detail--page-number" data-target="active-initiative"></span></h4>
					<ol>
						<li><strong>Who goes first?:</strong> Decide who acts first, usually by rolling initiative—the highest roll goes first.</li>
						<li><strong>Take turns:</strong> Take your turn. Once you've finished, pick who goes next. This can be anyone that hasn't acted yet, friend or foe.</li>
						<li><strong>End the round:</strong> Once everyone's acted, end the round and clear up any expired effects—spells, powers, timers, etc.</li>
						<li><strong>Start a new round:</strong> The last person to act gets to decide who starts the new round—it can't be themselves unless they have no alternative.</li>
					</ol>
					<ul>
						<li>
							<p><strong>No delays:</strong> You cannot pass or delay once your turn begins, but you can ready an action.</p>
						</li>
						<li>
							<p><strong>Interrupt:</strong> If you took damage <i>or</i> you spend an inspiration point, you can choose to interrupt and take your turn once the current turn has finished.</p>
						</li>
					</ul>
				</div>

				<div class="reference-block">
					<h4>Degrees of Success<span class="page-detail--page-number" data-target="degrees-of-success"></span></h4>
					<ul>
						<li><strong>Critical Success:</strong> You succeeded by 10 or more on a skill check, or rolled a natural 20 on an attack. Something great happens to you.</li>
						<li><strong>Success:</strong> You achieve your goal.</li>
						<li><strong>Minor Failure</strong> or <strong>Success at a Cost:</strong> You failed by 1, 2, or 3. You can choose to succeed, but something very bad also happens as a consequence—negotiate with the DM.</li>
						<li><strong>Failure:</strong> You failed by 4 or more.</li>
						<li><strong>Critical Failure:</strong> You failed by 10 or more on a skill check, or rolled a natural 1 on an attack. Something awful happens to you.</li>
					</ul>
				</div>

				<col-break></col-break>

				<div class="reference-block">
					<h4>Active XP<span class="page-detail--page-number" data-target="active-xp"></span></h4>
					<p>You gain experience points for three main activities: making discoveries, overcoming adversity, and recovering lost treasures.</p>
				</div>

				<div class="reference-block">
					<h4>Character Advancement<span class="page-detail--page-number" data-target="advancement"></h4>
					<tables class="tables tables--experience">
						<table class="table">
							<thead>
								<tr>
									<th>Level</th>
									<th>Experience</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>0-1</td>
									<td>150</td>
								</tr>
								<tr>
									<td>1-2</td>
									<td>300</td>
								</tr>
								<tr>
									<td>2-3</td>
									<td>420</td>
								</tr>
								<tr>
									<td>3-4</td>
									<td>590</td>
								</tr>
								<tr>
									<td>4-5</td>
									<td>820</td>
								</tr>
								<tr>
									<td>5-6</td>
									<td>1,150</td>
								</tr>
								<tr>
									<td>6-7</td>
									<td>1,610</td>
								</tr>
								<tr>
									<td>7-8</td>
									<td>2,260</td>
								</tr>
								<tr>
									<td>8-9</td>
									<td>3,160</td>
								</tr>
								<tr>
									<td>9-10</td>
									<td>4,430</td>
								</tr>
							</tbody>
						</table>
						<table class="table">
							<thead>
								<tr>
									<th>Level</th>
									<th>Experience</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>10-11</td>
									<td>6,200</td>
								</tr>
								<tr>
									<td>11-12</td>
									<td>8,680</td>
								</tr>
								<tr>
									<td>12-13</td>
									<td>12,150</td>
								</tr>
								<tr>
									<td>13-14</td>
									<td>17,010</td>
								</tr>
								<tr>
									<td>14-15</td>
									<td>23,810</td>
								</tr>
								<tr>
									<td>15-16</td>
									<td>33,330</td>
								</tr>
								<tr>
									<td>16-17</td>
									<td>46,660</td>
								</tr>
								<tr>
									<td>17-18</td>
									<td>65,330</td>
								</tr>
								<tr>
									<td>18-19</td>
									<td>91,460</td>
								</tr>
								<tr>
									<td>19-20</td>
									<td>128,050</td>
								</tr>
							</tbody>
						</table>
					</tables>
				</div>

				<div class="reference-block">
					<h4>Magic Burnout<span class="page-detail--page-number" data-target="burnout"></span></h4>
					<p>Roll your <i>Burnout die</i> whenever you cast a magic spell: if you roll a 1 or 2, you trigger a burnout consequence and your burnout die also gets one size smaller. Recover from burnout by:</p>

					<ul>
						<li><strong>Spending a hit die:</strong> +1 burnout die size.</li>
						<li><strong>Getting a good sleep:</strong> +1 burnout die size.</li>
						<li><strong>Taking a long rest:</strong> Reset burnout die to d12.</li>
					</ul>
				</div>

				<div class="reference-block">
					<h4>Burnout Consequences<span class="page-detail--page-number" data-target="table-burnout-consequences"></span></h4>
					<table class="table table--miscasting-consequences">
						<thead>
							<tr>
								<th>d100</th>
								<th>Consequence</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>1-5</td>
								<td><strong>Drained:</strong> Lose (spell level) hit dice.</td>
							</tr>
							<tr>
								<td>6-15</td>
								<td><strong>Reduced:</strong> Lose (spell level / 2) hit dice.</td>
							</tr>
							<tr>
								<td>16-40</td>
								<td><strong>Shocked:</strong> Lose (spell level x 4) hit points.</td>
							</tr>
							<tr>
								<td>41-88</td>
								<td><strong>Hurt:</strong> Lose (spell level x 2) hit points.</td>
							</tr>
							<tr>
								<td>89-93</td>
								<td><strong>Blackout:</strong> Disadvantage on casting for (spell level) rounds.</td>
							</tr>
							<tr>
								<td>94</td>
								<td><strong>Immolated:</strong> Shrink the burnout die to d4.</td>
							</tr>
							<tr>
								<td>95</td>
								<td><strong>Gifted:</strong> Regain this spell slot.</td>
							</tr>
							<tr>
								<td>96</td>
								<td><strong>Renewed:</strong> Regain (spell level) hit dice.</td>
							</tr>
							<tr>
								<td>97</td>
								<td><strong>Healed:</strong> Gain (spell level x 4) hit points.</td>
							</tr>
							<tr>
								<td>98</td>
								<td><strong>Protected:</strong> Gain (spell level x 4) temporary hit points.</td>
							</tr>
							<tr>
								<td>99</td>
								<td><strong>Energized:</strong> Advantage on casting for (spell level) rounds.</td>
							</tr>
							<tr>
								<td>100</td>
								<td><strong>Restored:</strong> Reset the burnout die to d12.</td>
							</tr>
						</tbody>
					</table>
				</div>

				<div class="reference-block">
					<h4>The Journey Phase<span class="page-detail--page-number" data-target="the-journey-phase"></span></h4>
					<ol>
						<li><strong>Choose your destination:</strong> Pick a place.</li>
						<li><strong>Choose your route:</strong> Decide on the path you'll take. Measure your route in days of travel.</li>
						<li><strong>Gather supplies:</strong> Collect together any supplies, mounts, and equipment.</li>
						<li>
							<span><strong>Embark:</strong> Head out on your journey. Each day:</span>
							<ul>
								<li><strong>Assign roles:</strong> Assign a guide, scout, forager, and lookout. A character cannot share roles.</li>
								<li><strong>Travel:</strong> Travel through the six phases of the day: dawn, morning, noon, afternoon, dusk, and night. Handle any encounters or discoveries you might make.</li>
							</ul>
						</li>
						<li><strong>Arrive:</strong> Reach your destination.</li>
					</ol>
				</div>

				<div class="reference-block">
					<h4>Guidance<span class="page-detail--page-number" data-target="table-guidance"></span></h4>
					<table class="table table--guidance">
						<thead>
							<tr>
								<th>DC</th>
								<th>Terrain</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>5</td>
								<td>Wide open plains; Clear landmarks; Obvious pathway.</td>
							</tr>
							<tr>
								<td>10</td>
								<td>Tall landmarks; Small hills.</td>
							</tr>
							<tr>
								<td>15</td>
								<td>Light rain or mist; Woods and hills.</td>
							</tr>
							<tr>
								<td>20</td>
								<td>Moonlight night; Heavy rain or mist; Forest with no clear pathway or markings.</td>
							</tr>
							<tr>
								<td>25</td>
								<td>Fog; Thick and obscure forest; Mountains.</td>
							</tr>
							<tr>
								<td>30</td>
								<td>Clouded night; Impossibly thick fog; A shifting maze; Magically treacherous terrain.</td>
							</tr>
						</tbody>
					</table>
				</div>

				<col-break></col-break>

				<div class="reference-block">
					<h4>Foraging<span class="page-detail--page-number" data-target="table-foraging"></span></h4>
					<table class="table table--foraging">
						<thead>
							<tr>
								<th>DC</th>
								<th>Terrain</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>5</td>
								<td>Lush, verdant forest; Food/water everywhere.</td>
							</tr>
							<tr>
								<td>10</td>
								<td>Forest; Coast; Abundant food, clean water.</td>
							</tr>
							<tr>
								<td>15</td>
								<td>Thin woodland and greenwood. Food must be hunted and water is hard to find.</td>
							</tr>
							<tr>
								<td>20</td>
								<td>Dry, open plains; little food or clean water.</td>
							</tr>
							<tr>
								<td>25</td>
								<td>Desert and barren or polluted land; Food is extremely rare and water needs treatment.</td>
							</tr>
							<tr>
								<td>30</td>
								<td>Toxic or corrupted deadlands; Food is inedible and water sources are poisoned.</td>
							</tr>
						</tbody>
					</table>
				</div>

				<div class="reference-block">
					<h4>Bloodied<span class="page-detail--page-number" data-target="bloodied"></span></h4>
					<p>You are bloodied when you are at 50% hp or lower. While bloodied, you must use a bandage to spend any hit dice.</p>
				</div>

				<div class="reference-block">
					<h4>Wounds & Injuries<span class="page-detail--page-number" data-target="lingering-wounds"></span></h4>
					<p>When you fall to 0 hit points, you gain a wound. Roll a d10 to see where you are wounded. Open wounds apply a level of exhaustion.</p>
					<ul>
						<li>
							<p><strong>Treatment:</strong> Treat a wound with first-aid knowledge and medical supplies. A treated wound causes no exhaustion.</p>
						</li>
						<li>
							<p><strong>Healing:</strong> At the end of a long rest, check to see if each of your wounds heal up—make a DC 15 Constitution check for each wound.</p>
						</li>
						<li>
							<p><strong>Critical Hits:</strong> When critically hit by an attack, check each of your wounds: roll a d20 to see if the wound reopens.</p>
						</li>
						<li>
							<p><strong>Injuries:</strong> If you fall to 0 from a <i>Violent</i> attack, roll for a permanent injury instead of a wound.</p>
						</li>
					</ul>
				</div>

				<div class="reference-block spacing-md">
					<h4>Lingering Wounds<span class="page-detail--page-number" data-target="lingering-wounds"></span></h4>
					<tables class="tables tables--wounds">
						<table class="table">
							<thead>
								<tr>
									<th>d10</th>
									<th>Area</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>1</td>
									<td>An arm</td>
								</tr>
								<tr>
									<td>2</td>
									<td>A leg</td>
								</tr>
								<tr>
									<td>3</td>
									<td>A hand</td>
								</tr>
								<tr>
									<td>4</td>
									<td>A foot</td>
								</tr>
								<tr>
									<td>5</td>
									<td>Your stomach</td>
								</tr>
							</tbody>
						</table>
						<table class="table">
							<thead>
								<tr>
									<th>d10</th>
									<th>Area</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>6</td>
									<td>Your back</td>
								</tr>
								<tr>
									<td>7</td>
									<td>Your head</td>
								</tr>
								<tr>
									<td>8</td>
									<td>Your face</td>
								</tr>
								<tr>
									<td>9</td>
									<td>Your chest</td>
								</tr>
								<tr>
									<td>10</td>
									<td>Your buttocks</td>
								</tr>
							</tbody>
						</table>
					</tables>
				</div>

				<div class="reference-block spacing-md">
					<h4>Permanent Injuries<span class="page-detail--page-number" data-target="permanent-injuries"></span></h4>
					<table class="table table--injuries">
						<thead>
							<tr>
								<th>d10</th>
								<th>Injury</th>
								<th>Treatment</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>1</td>
								<td>Lose an arm</td>
								<td>Prosthesis (arm)</td>
							</tr>
							<tr>
								<td>2</td>
								<td>Lose a leg</td>
								<td>Prosthesis (leg)</td>
							</tr>
							<tr>
								<td>3</td>
								<td>Lose a hand</td>
								<td>Prosthesis (hand)</td>
							</tr>
							<tr>
								<td>4</td>
								<td>Lose a foot</td>
								<td>Prosthesis (foot)</td>
							</tr>
							<tr>
								<td>5</td>
								<td>Lose an eye</td>
								<td>Prosthesis (eye)</td>
							</tr>
							<tr>
								<td>6</td>
								<td>Lose a toe</td>
								<td>Medical aid (DC 15)</td>
							</tr>
							<tr>
								<td>7</td>
								<td>Lose a finger</td>
								<td>Medical aid (DC 15)</td>
							</tr>
							<tr>
								<td>8</td>
								<td>A horrific wound</td>
								<td>Medical aid (DC 20)</td>
							</tr>
							<tr>
								<td>9</td>
								<td>An internal injury</td>
								<td>Medical aid (DC 20)</td>
							</tr>
							<tr>
								<td>10</td>
								<td>Lose half your teeth</td>
								<td>Medical aid (DC 20)</td>
							</tr>
						</tbody>
					</table>
				</div>

				<div class="reference-block">
					<h4>Dying<span class="page-detail--page-number" data-target="dying"></span></h4>
					<p>When you fall to 0 hit points, you gain the <i>Dying</i> condition:</p>
					<ul>
						<li>You drop what you're holding and fall prone.</li>
						<li>You can't move, take actions, or use reactions.</li>
						<li>You're aware of what's happening 15 ft around.</li>
						<li>You can speak a maximum of 2 words per round.</li>
						<li>Attack rolls against you have advantage.</li>
						<li>You automatically fail STR/DEX saving throws.</li>
						<li>You must make a death saving throw at the start of your turn. If you fail three times, you die.</li>
					</ul>
				</div>

				<div class="reference-block">
					<h4>Persistent Death Saves<span class="page-detail--page-number" data-target="death-saving-throws"></span></h4>
					<p>If you fail three death saving throws, you die. Saves don't reset after a short rest—you recover one failed save after completing a long rest.</p>
				</div>
			</page>
			<page class="page page--reference page--quick-reference">
				<div class="reference-block">
					<h4>Death Saving Throw<span class="page-detail--page-number" data-target="death-saving-throws"></span></h4>
					<table class="table table--injuries">
						<thead>
							<tr>
								<th>d20</th>
								<th>Outcome</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>01</td>
								<td>You fail two death saving throws.</td>
							</tr>
							<tr>
								<td>02-09</td>
								<td>You fail one death saving throw.</td>
							</tr>
							<tr>
								<td>10-19</td>
								<td>No change.</td>
							</tr>
							<tr>
								<td>20</td>
								<td>You regain 1 hit point and stabilize.</td>
							</tr>
						</tbody>
					</table>
				</div>

				<div class="reference-block">
					<h4>Cheating Fate<span class="page-detail--page-number" data-target="cheating-fate"></span></h4>
					<p>If you would suffer a killing blow or fail your last death saving throw, you may instead spend a fate point to cheat death in some fashion.</p>
				</div>

				<div class="reference-block">
					<h4>Becoming Contagious<span class="page-detail--page-number" data-target="table-becoming-contagious"></span></h4>
					<table class="table table--becoming-contagious">
						<thead>
							<tr>
								<th>Severity</th>
								<th>Contagious</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>Stage 1</td>
								<td>Less than 25% hit points remain</td>
							</tr>
							<tr>
								<td>Stage 2</td>
								<td>Less than 50% hit points remain</td>
							</tr>
							<tr>
								<td>Stage 3</td>
								<td>Less than 75% hit points remain</td>
							</tr>
							<tr>
								<td>Stage 4</td>
								<td>Always contagious</td>
							</tr>
						</tbody>
					</table>
				</div>

				<div class="reference-block">
					<h4>Survival Conditions<span class="page-detail--page-number" data-target="survival-conditions"></span></h4>
					<p>Conditions track your physical state and can cause exhaustion. There are three conditions to track: hunger, thirst, and fatigue (and an optional fourth, temperature).</p>
				</div>

				<div class="reference-block spacing-md">
					<h4>Survival Condition Tracks<span class="page-detail--page-number" data-target="survival-conditions"></h4>
					<table class="table table--conditions">
						<thead>
							<tr>
								<th>Hunger</th>
								<th>Thirst</th>
								<th>Exhaustion</th>
								<th>DC</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>Stuffed</td>
								<td>Quenched</td>
								<td>-1</td>
								<td>—</td>
							</tr>
							<tr>
								<td>Well-fed</td>
								<td>Refreshed</td>
								<td>—</td>
								<td>5</td>
							</tr>
							<tr>
								<td>Ok</td>
								<td>Ok</td>
								<td>—</td>
								<td>10</td>
							</tr>
							<tr>
								<td>Peckish</td>
								<td>Parched</td>
								<td>—</td>
								<td>15</td>
							</tr>
							<tr>
								<td>Hungry</td>
								<td>Thirsty</td>
								<td>—</td>
								<td>20</td>
							</tr>
							<tr>
								<td>Ravenous</td>
								<td>Dry</td>
								<td>+1</td>
								<td>25</td>
							</tr>
							<tr>
								<td>Starving</td>
								<td>Dehydrated</td>
								<td>+1</td>
								<td>30</td>
							</tr>
						</tbody>
					</table>
					<table class="table table--conditions">
						<thead>
							<tr>
								<th>Fatigue</th>
								<th>Temperature</th>
								<th>Exhaustion</th>
								<th>DC</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>Energised</td>
								<td>Perfect</td>
								<td>-1</td>
								<td>—</td>
							</tr>
							<tr>
								<td>Well-rested</td>
								<td>Comfortable</td>
								<td>—</td>
								<td>5</td>
							</tr>
							<tr>
								<td>Ok</td>
								<td>Ok</td>
								<td>—</td>
								<td>10</td>
							</tr>
							<tr>
								<td>Tired</td>
								<td>Noticeable</td>
								<td>—</td>
								<td>15</td>
							</tr>
							<tr>
								<td>Sleepy</td>
								<td>Uncomfortable</td>
								<td>—</td>
								<td>20</td>
							</tr>
							<tr>
								<td>Very sleepy</td>
								<td>Overwhelming</td>
								<td>+1</td>
								<td>25</td>
							</tr>
							<tr>
								<td>Barely awake</td>
								<td>Unbearable</td>
								<td>+1</td>
								<td>30</td>
							</tr>
						</tbody>
					</table>
				</div>

				<div class="reference-block spacing-md">
					<h4>Hunger, Thirst &amp; Fatigue<span class="page-detail--page-number" data-target="gaining-a-condition"></span></h4>
					<table class="table table--hunger-thirst-fatigue">
						<thead>
							<tr>
								<th>Time</th>
								<th>Hunger</th>
								<th>Thirst</th>
								<th>Fatigue</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>Dawn</td>
								<td>+1</td>
								<td>+1</td>
								<td>—</td>
							</tr>
							<tr>
								<td>Noon</td>
								<td>—</td>
								<td>—</td>
								<td>+1</td>
							</tr>
							<tr>
								<td>Dusk</td>
								<td>+1</td>
								<td>+1</td>
								<td>+1</td>
							</tr>
						</tbody>
					</table>
				</div>

				<div class="reference-block">
					<h4>Stamina Check<span class="page-detail--page-number" data-target="variant-stamina"></span></h4>
					<table class="table table--stamina-check">
						<thead>
							<tr>
								<th>d6</th>
								<th>Result</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>1-2</td>
								<td>Gain +1 hunger</td>
							</tr>
							<tr>
								<td>3-4</td>
								<td>Gain +1 thirst</td>
							</tr>
							<tr>
								<td>5-6</td>
								<td>Gain +1 fatigue</td>
							</tr>
						</tbody>
					</table>
				</div>

				<div class="reference-block">
					<h4>Stress<span class="page-detail--page-number" data-target="stress"></span></h4>
					<p>Stress is a measure of pressure on a character's mental state—too much is unhealthy and can lead to Afflictions and even death.</p>
					<ul>
						<li>
							<p><strong>Snapping:</strong> When you take 20, 30, and 35 points of Stress for the first time after a long rest, you snap and develop a mental Affliction.</p>
						</li>
						<li>
							<p><strong>Breaking Point:</strong> When you take 40 points of Stress, you reach breaking point—if hit by a damaging attack, you die.</p>
						</li>
						<li>
							<p><strong>Sanctuary:</strong> When you complete a long rest in a sanctuary—village, town, city—your Stress is reduced to 0.</p>
						</li>
					</ul>
				</div>

				<col-break></col-break>

				<div class="reference-block">
					<h4>Gaining Stress<span class="page-detail--page-number" data-target="table-gaining-stress"></span></h4>
					<table class="table table--stress">
						<thead>
							<tr>
								<th>Category</th>
								<th>Stress</th>
								<th>Description</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>Minor</td>
								<td>+1</td>
								<td>A small frustration or worry.</td>
							</tr>
							<tr>
								<td>Moderate</td>
								<td>+2</td>
								<td>You've made a critical error or put something at risk.</td>
							</tr>
							<tr>
								<td>Major</td>
								<td>+4</td>
								<td>Something devastating to your character or beliefs.</td>
							</tr>
							<tr>
								<td>Monstrous</td>
								<td>+8</td>
								<td>An incomprehensible thing.</td>
							</tr>
						</tbody>
					</table>
				</div>

				<div class="reference-block spacing-md">
					<h4>Relieving Stress<span class="page-detail--page-number" data-target="table-relieving-stress"></span></h4>
					<table class="table table--stress">
						<thead>
							<tr>
								<th>Category</th>
								<th>Stress</th>
								<th>Description</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>Minor</td>
								<td>-1</td>
								<td>A small success.</td>
							</tr>
							<tr>
								<td>Moderate</td>
								<td>-2</td>
								<td>A critical success.</td>
							</tr>
							<tr>
								<td>Major</td>
								<td>-4</td>
								<td>You've beaten the odds and gained a significant victory.</td>
							</tr>
							<tr>
								<td>Majestic</td>
								<td>-8</td>
								<td>You've done something near impossible.</td>
							</tr>
						</tbody>
					</table>
				</div>

				<div class="reference-block spacing-md">
					<h4>Afflictions<span class="page-detail--page-number" data-target="table-afflictions"></span></h4>
					<table class="table table--afflictions">
						<thead>
							<tr>
								<th>d100</th>
								<th>Affliction</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>01-06</td>
								<td>Fearful: Disadv on WIS checks &amp; saves</td>
							</tr>
							<tr>
								<td>07-12</td>
								<td>Lethargic: +1 exhaustion until removed</td>
							</tr>
							<tr>
								<td>13-18</td>
								<td>Masochistic: Disadv on CON checks &amp; saves</td>
							</tr>
							<tr>
								<td>19-24</td>
								<td>Irrational: Disadv on INT checks &amp; saves</td>
							</tr>
							<tr>
								<td>25-30</td>
								<td>Paranoid: Speed is halved</td>
							</tr>
							<tr>
								<td>31-36</td>
								<td>Selfish: Disadv on CHA checks &amp; saves</td>
							</tr>
							<tr>
								<td>37-42</td>
								<td>Panic: Disadv on DEX checks &amp; saves</td>
							</tr>
							<tr>
								<td>43-48</td>
								<td>Hopelessness: Disadv on STR checks &amp; saves</td>
							</tr>
							<tr>
								<td>49-54</td>
								<td>Mania: Disadv on attack rolls</td>
							</tr>
							<tr>
								<td>55-60</td>
								<td>Anxiety: Disadv on Stress checks</td>
							</tr>
							<tr>
								<td>61-66</td>
								<td>Hypochondria: Hit point max is halved</td>
							</tr>
							<tr>
								<td>67-72</td>
								<td>Narcissistic: Disadv on ability checks</td>
							</tr>
							<tr>
								<td>73-77</td>
								<td>Powerful: +2 to all damage rolls</td>
							</tr>
							<tr>
								<td>78-82</td>
								<td>Focused: +2 to all attack rolls</td>
							</tr>
							<tr>
								<td>83-87</td>
								<td>Stalwart: +2 AC</td>
							</tr>
							<tr>
								<td>88-91</td>
								<td>Acute: Adv on INT checks &amp; saves</td>
							</tr>
							<tr>
								<td>92-96</td>
								<td>Perceptive: Adv on WIS checks &amp; saves</td>
							</tr>
							<tr>
								<td>97-00</td>
								<td>Courageous: Adv on CHA checks &amp; saves</td>
							</tr>
						</tbody>
					</table>
				</div>

				<div class="reference-block">
					<h4>Curing Afflictions<span class="page-detail--page-number" data-target="curing-afflictions"></span></h4>
					<p>During a long rest, you can attempt to cure an Affliction. Pay the cost and roll a d20. Some downtime activities grant you advantage.</p>
				</div>

				<div class="reference-block">
					<h4>Affliction Removal<span class="page-detail--page-number" data-target="table-affliction-removal"></span></h4>
					<table class="table table--affliction-removal">
						<thead>
							<tr>
								<th>d20
								</th><th>Result
							</th></tr>
						</thead>
						<tbody>
							<tr>
								<td>01</td>
								<td><strong>Critical Failure:</strong> You fail to cure your Affliction and gain a new one.</td>
							</tr>
							<tr>
								<td>02-09</td>
								<td><strong>Failure:</strong> Your Affliction remains.</td>
							</tr>
							<tr>
								<td>10-19</td>
								<td><strong>Success:</strong> You cured your Affliction.</td>
							</tr>
							<tr>
								<td>20</td>
								<td><strong>Critical Success:</strong> You clear yourself of all Afflictions and Stress.</td>
							</tr>
						</tbody>
					</table>
				</div>

				<div class="reference-block spacing-md">
					<h4>Affliction Removal Costs<span class="page-detail--page-number" data-target="table-affliction-removal-costs"></span></h4>
					<tables class="tables tables--affliction-costs">
						<table class="table">
							<thead>
								<tr>
									<th>Level</th>
									<th>Gold</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>1</td>
									<td>5</td>
								</tr>
								<tr>
									<td>2</td>
									<td>7</td>
								</tr>
								<tr>
									<td>3</td>
									<td>9</td>
								</tr>
								<tr>
									<td>4</td>
									<td>12</td>
								</tr>
								<tr>
									<td>5</td>
									<td>16</td>
								</tr>
								<tr>
									<td>6</td>
									<td>22</td>
								</tr>
								<tr>
									<td>7</td>
									<td>30</td>
								</tr>
							</tbody>
						</table>
						<table class="table">
							<thead>
								<tr>
									<th>Level</th>
									<th>Gold</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>8</td>
									<td>42</td>
								</tr>
								<tr>
									<td>9</td>
									<td>58</td>
								</tr>
								<tr>
									<td>10</td>
									<td>81</td>
								</tr>
								<tr>
									<td>11</td>
									<td>113</td>
								</tr>
								<tr>
									<td>12</td>
									<td>158</td>
								</tr>
								<tr>
									<td>13</td>
									<td>221</td>
								</tr>
								<tr>
									<td>14</td>
									<td>309</td>
								</tr>
							</tbody>
						</table>
						<table class="table">
							<thead>
								<tr>
									<th>Level</th>
									<th>Gold</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>15</td>
									<td>432</td>
								</tr>
								<tr>
									<td>16</td>
									<td>604</td>
								</tr>
								<tr>
									<td>17</td>
									<td>845</td>
								</tr>
								<tr>
									<td>18</td>
									<td>1,183</td>
								</tr>
								<tr>
									<td>19</td>
									<td>1,656</td>
								</tr>
								<tr>
									<td>20</td>
									<td>2,318</td>
								</tr>
								<tr>
									<td>—</td>
									<td>—</td>
								</tr>
							</tbody>
						</table>
					</tables>
				</div>

				<div class="reference-block">
					<h4>Mental Breakdown<span class="page-detail--page-number" data-target="mental-breakdown"></span></h4>
					<p>If you gain more than 3 Afflictions, you suffer a complete breakdown. The character can no longer be played—they retire, go insane, or die.</p>
				</div>

				<col-break></col-break>

				<div class="reference-block">
					<h4>Greater Restoration<span class="page-detail--page-number" data-target="greater-restoration"></span></h4>
					<p><i>Greater Restoration</i> allows you to try an Affliction Removal outside of a long rest. This counts as your once-per-week removal attempt.</p>
					<p>From levels 1-10, roll the Affliction Removal check with advantage with Greater Restoration. From levels 11-20, roll with disadvantage.</p>
				</div>
				<div class="reference-block">
					<h4>Making Camp<span class="page-detail--page-number" data-target="short-rest"></span></h4>
					<ol>
						<li><strong>Build your campsite:</strong> Making camping checks to set up your camp. The more successes, the better the camp.</li>
						<li><strong>Appoint a lookout:</strong> This person is in charge of security and perception checks.</li>
						<li><strong>Pick one primary activity:</strong> If you're not on lookout, you can do one primary activity.</li>
						<li><strong>Sleep:</strong> Get some rest.</li>
						<li><strong>Pack up:</strong> Get your stuff together and move on.</li>
					</ol>
				</div>

				<div class="reference-block spacing-md">
					<h4>Camping Check DC<span class="page-detail--page-number" data-target="setting-up-camp"></span></h4>
					<table class="table table--camping-dc">
						<thead>
							<tr>
								<th>DC</th>
								<th>Description</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>10</td>
								<td>Safe, dry land is easy to find / the weather is clear.</td>
							</tr>
							<tr>
								<td>15</td>
								<td>A campsite requires effort to find / there's bad weather—rain, light snow, heavy fog, etc.</td>
							</tr>
							<tr>
								<td>20</td>
								<td>It's hard to find a safe campsite / the weather is terrible—heavy rain, a fierce storm, a howling wind.</td>
							</tr>
						</tbody>
					</table>
				</div>

				<div class="reference-block spacing-md">
					<h4>Camping Results<span class="page-detail--page-number" data-target="setting-up-camp"></span></h4>
					<table class="table table--camping-dc">
						<thead>
							<tr>
								<th>Failures</th>
								<th>Description</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>0</td>
								<td>A perfect campsite. Activity checks are DC 5.</td>
							</tr>
							<tr>
								<td>1</td>
								<td>A decent campsite with one glaring flaw. Activity checks are DC 10.</td>
							</tr>
							<tr>
								<td>2 or more</td>
								<td>A shoddy campsite just barely fit for purpose. Activity checks are DC 15.</td>
							</tr>
						</tbody>
					</table>
				</div>

				<div class="reference-block">
					<h4>Long Rest<span class="page-detail--page-number" data-target="long-rest"></span></h4>
					<p>A long rest requires a full week of downtime in a sanctuary—village, town, or city. For each week:</p>
					<ol>
						<li><strong>Sell loot:</strong> Trade in treasure for GP and XP.</li>
						<li><strong>Choose lifestyle:</strong> Choose your quality of lifestyle for the week.</li>
						<li><strong>Choose primary activity:</strong> Choose one primary downtime activity and pay any relevant costs.</li>
						<li><strong>Hear rumors:</strong> While resting, your adventuring party learns of three rumors.</li>
						<li><strong>Perform secondary activities:</strong> You can do two small, secondary activities during your week.</li>
						<li><strong>Settle up:</strong> It's the end of the week—complete your primary activity and check your wounds.</li>
					</ol>
				</div>

				<div class="reference-block">
					<h4>Training<span class="page-detail--page-number" data-target="training"></span></h4>
					<p>To level up, you must spend time training. You need three things: a mentor, facilities, and gold.</p>
				</div>

				<div class="reference-block">
					<h4>Training Costs<span class="page-detail--page-number" data-target="table-training"></span></h4>
					<tables class="tables tables--training">
						<table class="table">
							<thead>
								<tr>
									<th>Level</th>
									<th>Weeks</th>
									<th>GP</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>1</td>
									<td>—</td>
									<td>—</td>
								</tr>
								<tr>
									<td>2</td>
									<td>1</td>
									<td>15</td>
								</tr>
								<tr>
									<td>3</td>
									<td>1</td>
									<td>20</td>
								</tr>
								<tr>
									<td>4</td>
									<td>2</td>
									<td>15</td>
								</tr>
								<tr>
									<td>5</td>
									<td>2</td>
									<td>20</td>
								</tr>
								<tr>
									<td>6</td>
									<td>3</td>
									<td>25</td>
								</tr>
								<tr>
									<td>7</td>
									<td>3</td>
									<td>35</td>
								</tr>
								<tr>
									<td>8</td>
									<td>4</td>
									<td>37</td>
								</tr>
								<tr>
									<td>9</td>
									<td>4</td>
									<td>55</td>
								</tr>
								<tr>
									<td>10</td>
									<td>5</td>
									<td>64</td>
								</tr>
							</tbody>
						</table>
						<table class="table">
							<thead>
								<tr>
									<th>Level</th>
									<th>Weeks</th>
									<th>GP</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>11</td>
									<td>5</td>
									<td>94</td>
								</tr>
								<tr>
									<td>12</td>
									<td>6</td>
									<td>115</td>
								</tr>
								<tr>
									<td>13</td>
									<td>6</td>
									<td>165</td>
								</tr>
								<tr>
									<td>14</td>
									<td>7</td>
									<td>202</td>
								</tr>
								<tr>
									<td>15</td>
									<td>7</td>
									<td>295</td>
								</tr>
								<tr>
									<td>16</td>
									<td>8</td>
									<td>370</td>
								</tr>
								<tr>
									<td>17</td>
									<td>8</td>
									<td>536</td>
								</tr>
								<tr>
									<td>18</td>
									<td>9</td>
									<td>687</td>
								</tr>
								<tr>
									<td>19</td>
									<td>9</td>
									<td>990</td>
								</tr>
								<tr>
									<td>20</td>
									<td>10</td>
									<td>1,280</td>
								</tr>
							</tbody>
						</table>
					</tables>
				</div>
			</page>
		</book>
	</body>
</html>
