<html>
	<body>
		<book class="book">
			<page class="page page--generic page--racial-changes" data-header-icon="dragon-spiral">
				<h1 id="racial-changes">Racial Changes</h1>
				<p>Race is a core part of your character's identity, helping to define your strengths and weaknesses. The following racial features have been amended for balance and to better support survival mechanics.</p>

				<h2>Dragonborn</h2>
				<p><strong>Breath Weapon:</strong> You may use your breath weapon as a <i>bonus action</i> instead of a full action. Alternatively, if you can attack multiple times during the <i>Attack</i> action, you may use your breath weapon as one of these attacks.</p>
				<p>After you use your <i>Breath Weapon</i>, you can't use it again until you complete a short or long rest.</p>

				<example class="panel panel--example">
					<section class="panel__body">
						<p>Kiris, a 5th-level dragonborn fighter, can attack twice with her <i>Attack</i> action thanks to <i>Extra Attack</i>. In one action, she makes one attack with her sword and then—as a second attack—unleashes her breath weapon.</p>
					</section>
				</example>

				<h2>Human</h2>
				<p><strong>Human Determination:</strong> If you are a <i>non-variant</i> human, you gain the <i>Human Determination</i> racial trait.</p>

				<trait class="panel panel--trait">
					<header class="panel__header">
						<h4 class="panel__title">Human Determination</h4>
						<ul class="panel__tags">
							<li>Race (Human)</li>
							<li>Trait</li>
						</ul>
					</header>
					<section class="panel__body">
						<p>You are filled with determination. If you fail an attack roll, ability check, or saving throw, you can reroll one d20. You must keep the new result.</p>
						<p>After you use <i>Human Determination</i>, you can't use it again until you complete a short or long rest.</p>
					</section>
				</trait>

				<col-break></col-break>

				<h2>Halfling</h2>
				<p><strong>Lucky:</strong> When you roll a natural 1 for an attack roll, ability check, or saving throw, you can reroll the die and must use the new roll.</p>
				<p>After you use <i>Lucky</i>, you can't use it again until you either (a) complete a short or long rest <i>or</i> (b) you roll a natural 20 on an attack roll, ability check, or saving throw.</p>

				<h2>Lizardfolk</h2>
				<p><strong>Hungry Jaws:</strong> Replace <i>Hungry Jaws</i> with the following:</p>

				<trait class="panel panel--trait">
					<header class="panel__header">
						<h4 class="panel__title">Hungry Jaws</h4>
						<ul class="panel__tags">
							<li>Race (Lizardfolk)</li>
							<li>Trait</li>
						</ul>
					</header>
					<section class="panel__body">
						<p>As a bonus action, or as one attack during an <i>Attack</i> action, you can make a bite attack against an adjacent creature. If the attack hits, it deals 1d6 + STR damage. If the creature is neither undead nor a construct, you also gain temporary hit points equal to the damage dealt. The damage increases to 2d6 + STR at 6th-level, 3d6 + STR at 11th-level, and 4d6 + STR at 16th-level.</p>
						<p>After you use <i>Hungry Jaws</i>, you can't use it again until you complete a short or long rest.</p>
					</section>
				</trait>

				<h2>Yuan-ti Pureblood</h2>
				<p><strong>Magic Resistance:</strong> You have advantage on all Intelligence, Wisdom, and Charisma saving throws against magic.</p>
				<p style="text-indent: 0"><strong>Poison Resistance:</strong> <i>(Replaces Poison Immunity)</i> You have advantage on saving throws against poison, and you have resistance against poison damage.</p>
			</page>
		</book>
	</body>
</html>
