<html>
	<body>
		<book class="book">
			<page class="page page--generic page--random-tables" data-header-icon="random">
				<h1 id="random-tables">Random Tables</h1>

				<h2 data-toc-ignore="true">Proficiencies</h2>

				<ul class="list-autorange" data-title="Artisan's Tools">
					<li>Alchemist's supplies</li>
					<li>Brewer's supplies</li>
					<li>Calligrapher's supplies</li>
					<li>Carpenter's tools</li>
					<li>Cartographer's tools</li>
					<li>Cobbler's tools</li>
					<li>Cook's utensils</li>
					<li>Glassblower's tools</li>
					<li>Jeweler's tools</li>
					<li>Leatherworker tools</li>
					<li>Mason's tools</li>
					<li>Painter's tools</li>
					<li>Potter's tools</li>
					<li>Smith's tools</li>
					<li>Tinker's tools</li>
					<li>Weaver's tools</li>
					<li>Woodcarver's tools</li>
				</ul>

				<ul class="list-autorange" data-title="Gaming Set">
					<li>Dice</li>
					<li>Dragonchess</li>
					<li>Playing cards</li>
					<li>Three-Dragon Ante</li>
				</ul>

				<ul class="list-autorange" data-title="Language, Basic" data-end-at=36 data-panel-css="table-appendix-top">
					<li>Common</li>
					<li>Dwarvish</li>
					<li>Elvish</li>
				</ul>

				<col-break></col-break>

				<ul class="list-autorange" data-title="Language, Basic (C)"  data-start-from=37 data-end-at=96 data-panel-css="table-appendix-bottom">
					<li>Giant</li>
					<li>Gnomish</li>
					<li>Goblin</li>
					<li>Halfling</li>
					<li>Orc</li>
				</ul>

				<ul class="list-autorange" data-title="Language, Exotic">
					<li>Abyssal</li>
					<li>Celestial</li>
					<li>Draconic</li>
					<li>Deep Speech</li>
					<li>Infernal</li>
					<li>Primordial</li>
					<li>Sylvan</li>
					<li>Undercommon</li>
				</ul>

				<ul class="list-autorange" data-title="Instrument">
					<li>Bagpipes</li>
					<li>Drum</li>
					<li>Dulcimer</li>
					<li>Flute</li>
					<li>Lute</li>
					<li>Lyre</li>
					<li>Horn</li>
					<li>Pan Flute</li>
					<li>Shawm</li>
					<li>Viol</li>
				</ul>

				<ul class="list-autorange" data-title="Skills" data-end-at=25 data-panel-css="table-appendix-top">
					<li>Acrobatics</li>
					<li>Animal Handling</li>
					<li>Arcana</li>
					<li>Athletics</li>
					<li>Deception</li>
				</ul>

				<col-break></col-break>

				<ul class="list-autorange" data-title="Skills (C)" data-start-from=26 data-end-at=90 data-panel-css="table-appendix-bottom">
					<li>History</li>
					<li>Insight</li>
					<li>Intimidation</li>
					<li>Investigation</li>
					<li>Medicine</li>
					<li>Nature</li>
					<li>Perception</li>
					<li>Performance</li>
					<li>Persuasion</li>
					<li>Religion</li>
					<li>Sleight of Hand</li>
					<li>Stealth</li>
					<li>Survival</li>
				</ul>

				<h2 data-toc-ignore="true">Features</h2>

				<ul class="list-autorange" data-title="Favored Enemy">
					<li>Aberrations</li>
					<li>Beasts</li>
					<li>Celestials</li>
					<li>Constructs</li>
					<li>Dragons</li>
					<li>Elementals</li>
					<li>Fey</li>
					<li>Fiends</li>
					<li>Giants</li>
					<li>Humanoids</li>
					<li>Monstrosities</li>
					<li>Oozes</li>
					<li>Plants</li>
					<li>Undead</li>
				</ul>

				<ul class="list-autorange" data-title="Natural Explorer" data-end-at=12 data-panel-css="table-appendix-top">
					<li>Arctic</li>
				</ul>

				<col-break></col-break>

				<ul class="list-autorange" data-title="Natural Explorer" data-start-from=13 data-end-at=96 data-panel-css="table-appendix-bottom">
					<li>Coast</li>
					<li>Desert</li>
					<li>Forest</li>
					<li>Grassland</li>
					<li>Mountain</li>
					<li>Swamp</li>
					<li>Underdark</li>
				</ul>

				<ul class="list-autorange" data-title="Draconic Ancestry">
					<li>Black</li>
					<li>Blue</li>
					<li>Brass</li>
					<li>Bronze</li>
					<li>Copper</li>
					<li>Gold</li>
					<li>Green</li>
					<li>Red</li>
					<li>Silver</li>
					<li>White</li>
				</ul>

				<ul class="list-autorange" data-title="Dwarven Tools">
					<li>Smith's tools</li>
					<li>Brewer's supplies</li>
					<li>Mason's tools</li>
				</ul>

				<h2 data-toc-ignore="true">Class Skills</h2>

				<ul class="list-autorange" data-title="Barbarian" data-end-at="80" data-panel-css="table-appendix-top">
					<li>Animal Handling</li>
					<li>Athletics</li>
					<li>Intimidation</li>
					<li>Nature</li>
					<li>Perception</li>
				</ul>
			</page>
			<page class="page page--generic page--random-tables">
				<ul class="list-autorange" data-title="Barbarian (C)" data-start-from="81" data-end-at="96" data-panel-css="table-appendix-bottom">
					<li>Survival</li>
				</ul>

				<ul class="list-autorange" data-title="Cleric">
					<li>History</li>
					<li>Insight</li>
					<li>Medicine</li>
					<li>Persuasion</li>
					<li>Religion</li>
				</ul>

				<ul class="list-autorange" data-title="Cleric, Knowledge">
					<li>Arcana</li>
					<li>History</li>
					<li>Nature</li>
					<li>Religion</li>
				</ul>

				<ul class="list-autorange" data-title="Cleric, Nature">
					<li>Animal Handling</li>
					<li>Nature</li>
					<li>Survival</li>
				</ul>

				<ul class="list-autorange" data-title="Druid">
					<li>Arcana</li>
					<li>Animal Handling</li>
					<li>Insight</li>
					<li>Medicine</li>
					<li>Nature</li>
					<li>Perception</li>
					<li>Religion</li>
					<li>Survival</li>
				</ul>

				<ul class="list-autorange" data-title="Fighter">
					<li>Acrobatics</li>
					<li>Animal Handling</li>
					<li>Athletics</li>
					<li>History</li>
					<li>Insight</li>
					<li>Intimidation</li>
					<li>Perception</li>
					<li>Survival</li>
				</ul>

				<ul class="list-autorange" data-title="Monk">
					<li>Acrobatics</li>
					<li>Athletics</li>
					<li>History</li>
					<li>Insight</li>
					<li>Religion</li>
					<li>Stealth</li>
				</ul>

				<ul class="list-autorange" data-title="Paladin">
					<li>Athletics</li>
					<li>Insight</li>
					<li>Intimidation</li>
					<li>Medicine</li>
					<li>Persuasion</li>
					<li>Religion</li>
				</ul>

				<col-break></col-break>

				<ul class="list-autorange" data-title="Ranger">
					<li>Animal Handling</li>
					<li>Athletics</li>
					<li>Insight</li>
					<li>Investigation</li>
					<li>Nature</li>
					<li>Perception</li>
					<li>Stealth</li>
					<li>Survival</li>
				</ul>

				<ul class="list-autorange" data-title="Rogue">
					<li>Acrobatics</li>
					<li>Athletics</li>
					<li>Deception</li>
					<li>Insight</li>
					<li>Intimidation</li>
					<li>Investigation</li>
					<li>Perception</li>
					<li>Performance</li>
					<li>Persuasion</li>
					<li>Sleight of Hand</li>
					<li>Stealth</li>
				</ul>

				<ul class="list-autorange" data-title="Sorcerer">
					<li>Arcana</li>
					<li>Deception</li>
					<li>Insight</li>
					<li>Intimidation</li>
					<li>Persuasion</li>
					<li>Religion</li>
				</ul>

				<ul class="list-autorange" data-title="Warlock">
					<li>Arcana</li>
					<li>Deception</li>
					<li>History</li>
					<li>Intimidation</li>
					<li>Investigation</li>
					<li>Nature</li>
					<li>Religion</li>
				</ul>

				<ul class="list-autorange" data-title="Wizard">
					<li>Arcana</li>
					<li>History</li>
					<li>Insight</li>
					<li>Investigation</li>
					<li>Medicine</li>
					<li>Religion</li>
				</ul>

				<h2 data-toc-ignore="true">Wild Shape</h2>

				<ul class="list-autorange" data-title="CR 0" data-end-at=16 data-panel-css="table-appendix-top">
					<li>Baboon</li>
					<li>Badger</li>
					<li>Bat</li>
					<li>Cat</li>
				</ul>

				<col-break></col-break>

				<ul class="list-autorange" data-title="CR 0" data-start-from=17 data-end-at=100 data-panel-css="table-appendix-bottom" data-resize=15>
					<li>Crab</li>
					<li>Cranium Rat</li>
					<li>Deer</li>
					<li>Eagle</li>
					<li>Frog</li>
					<li>Giant Fire Beetle</li>
					<li>Goat</li>
					<li>Hawk</li>
					<li>Hyena</li>
					<li>Jackal</li>
					<li>Lizard</li>
					<li>Octopus</li>
					<li>Owl</li>
					<li>Quipper</li>
					<li>Rat</li>
					<li>Raven</li>
					<li>Scorpion</li>
					<li>Sea Horse</li>
					<li>Spider</li>
					<li>Vulture</li>
					<li>Weasel</li>
				</ul>

				<ul class="list-autorange" data-title="CR 1/8" data-resize=15>
					<li>Blood Hawk</li>
					<li>Camel</li>
					<li>Flying Snake</li>
					<li>Giant Crab</li>
					<li>Giant Rat</li>
					<li>Giant Weasel</li>
					<li>Mastiff</li>
					<li>Mule</li>
					<li>Poisonous Snake</li>
					<li>Pony</li>
					<li>Stirge</li>
				</ul>

				<ul class="list-autorange" data-title="CR 1/4" data-resize=15>
					<li>Axe Beak</li>
					<li>Boar</li>
					<li>Constrictor Snake</li>
					<li>Cow</li>
					<li>Dimetrodon</li>
					<li>Draft Horse</li>
					<li>Elk</li>
					<li>Giant Badger</li>
					<li>Giant Bat</li>
					<li>Giant Frog</li>
					<li>Giant Lizard</li>
					<li>Giant Owl</li>
					<li>Giant Poisonous Snake</li>
					<li>Giant Wolf Spider</li>
					<li>Hadrosaurus</li>
					<li>Panther</li>
					<li>Pteranodon</li>
					<li>Riding Horse</li>
					<li>Velociraptor</li>
					<li>Wolf</li>
				</ul>

				<col-break></col-break>

				<ul class="list-autorange" data-title="CR 1/2">
					<li>Ape</li>
					<li>Black Bear</li>
					<li>Crocodile</li>
					<li>Giant Goat</li>
					<li>Giant Sea Horse</li>
					<li>Giant Wasp</li>
					<li>Reef Shark</li>
					<li>Warhorse</li>
				</ul>

				<ul class="list-autorange" data-title="CR 1">
					<li>Brown Bear</li>
					<li>Deinonychus</li>
					<li>Dire Wolf</li>
					<li>Giant Eagle</li>
					<li>Giant Hyena</li>
					<li>Giant Octopus</li>
					<li>Giant Spider</li>
					<li>Giant Toad</li>
					<li>Giant Vulture</li>
					<li>Lion</li>
					<li>Tiger</li>
				</ul>

				<ul class="list-autorange" data-title="CR 2" data-resize=15>
					<li>Allosaurus</li>
					<li>Aurochs</li>
					<li>Giant Boar</li>
					<li>Giant Constrictor Snake</li>
					<li>Giant Elk</li>
					<li>Hunter Shark</li>
					<li>Plesiosaurus</li>
					<li>Polar Bear</li>
					<li>Rhinoceros</li>
					<li>Quetzalcoatlus</li>
					<li>Saber-toothed Tiger</li>
				</ul>

				<ul class="list-autorange" data-title="CR 3">
					<li>Ankylosaurus</li>
					<li>Giant Scorpion</li>
					<li>Killer Whale</li>
				</ul>

				<ul class="list-autorange" data-title="CR 4">
					<li>Elephant</li>
					<li>Stegosaurus</li>
				</ul>

				<ul class="list-autorange" data-title="CR 5">
					<li>Brontosaurus</li>
					<li>Giant Crocodile</li>
					<li>Giant Shark</li>
					<li>Triceratops</li>
				</ul>

				<ul class="list-autorange" data-title="CR 6">
					<li>Mammoth</li>
				</ul>
			</page>
			<!-- <page class="page page--generic page--random-tables">
				<h2 id="random-tables-spells" class="simple">Spells</h2>

				<ul class="list-autorange" data-title="Bard, Cantrips" data-end-at=32 data-panel-css="table-appendix-top">
					<li>Blade Ward</li>
					<li>Dancing Lights</li>
					<li>Friends</li>
					<li>Light</li>
					<li>Mage Hand</li>
					<li>Mending</li>
					<li>Message</li>
					<li>Minor Illusion</li>
					<li>Prestidigitation</li>
					<li>Thunderclap</li>
					<li>True Strike</li>
					<li>Vicious Mockery</li>
				</ul>

				<ul class="list-autorange" data-title="Bard, 1st-level">
					<li>Animal Friendship</li>
					<li>Bane</li>
					<li>Charm Person</li>
					<li>Comprehend Languages</li>
					<li>Cure Wounds</li>
					<li>Detect Magic</li>
					<li>Disguise Self</li>
					<li>Dissonant Whispers</li>
					<li>Earth Tremor</li>
					<li>Faerie Fire</li>
					<li>Feather Fall</li>
					<li>Healing Word</li>
					<li>Heroism</li>
					<li>Identify</li>
					<li>Illusory Script</li>
					<li>Longstrider</li>
					<li>Silent Image</li>
					<li>Sleep</li>
					<li>Speak with Animals</li>
					<li>Tasha's Hideous Laughter</li>
					<li>Thunderwave</li>
					<li>Unseen Servant</li>
				</ul>

				<ul class="list-autorange" data-title="Bard, 2nd-level" data-end-at=56>
					<li>Animal Messenger</li>
					<li>Blindness/Deafness</li>
					<li>Calm Emotions</li>
					<li>Cloud of Daggers</li>
					<li>Crown of Madness</li>
					<li>Detect Thoughts</li>
					<li>Enhance Ability</li>
					<li>Enthrall</li>
					<li>Heat Metal</li>
					<li>Hold Person</li>
					<li>Invisibility</li>
					<li>Knock</li>
					<li>Lesser Restoration</li>
					<li>Locate Animals or Plants</li>
				</ul>

				<col-break></col-break>

				<ul class="list-autorange" data-title="Bard, 2nd-level" data-start-from="57" data-end-at="100" data-panel-css="table-appendix-bottom">
					<li>Locate Animals or Plants</li>
					<li>Locate Object</li>
					<li>Magic Mouth</li>
					<li>Phantasmal Force</li>
					<li>Pyrotechnics</li>
					<li>See Invisibility</li>
					<li>Shatter</li>
					<li>Silence</li>
					<li>Skywrite</li>
					<li>Suggestion</li>
					<li>Warding Wind</li>
					<li>Zone of Truth</li>
				</ul>

				<ul class="list-autorange" data-title="Cleric, Cantrips">
					<li>Guidance</li>
					<li>Light</li>
					<li>Mending</li>
					<li>Resistance</li>
					<li>Sacred Flame</li>
					<li>Spare the Dying</li>
					<li>Thaumaturgy</li>
					<li>Toll the Dead</li>
					<li>Word of Radiance</li>
				</ul>

				<ul class="list-autorange" data-title="Cleric, 1st-level">
					<li>Bane</li>
					<li>Bless</li>
					<li>Ceremony</li>
					<li>Command</li>
					<li>Create or Destroy Water</li>
					<li>Cure Wounds</li>
					<li>Detect Evil & Good</li>
					<li>Detect Magic</li>
					<li>Detect Poison & Disease</li>
					<li>Guiding Bolt</li>
					<li>Healing Word</li>
					<li>Inflict Wounds</li>
					<li>Protection from Evil & Good</li>
					<li>Purify Food & Drink</li>
					<li>Sanctuary</li>
					<li>Shield of Faith</li>
				</ul>

				<ul class="list-autorange" data-title="Cleric, 2nd-level" data-end-at=60>
					<li>Aid</li>
					<li>Augury</li>
					<li>Blindness/Deafness</li>
					<li>Calm Emotions</li>
					<li>Continual Flame</li>
					<li>Enhance Ability</li>
					<li>Find Traps</li>
					<li>Gentle Repose</li>
					<li>Hold Person</li>
					<li>Lesser Restoration</li>
					<li>Locate Object</li>
					<li>Prayer of Healing</li>
				</ul>

				<col-break></col-break>

				<ul class="list-autorange" data-title="Cleric, 2nd-level" data-start-from=61 data-end-at=85 data-panel-css="table-appendix-bottom">
					<li>Protection from Poison</li>
					<li>Silence</li>
					<li>Spiritual Weapon</li>
					<li>Warding Bond</li>
					<li>Zone of Truth</li>
				</ul>

				<ul class="list-autorange" data-title="Druid, Cantrips">
					<li>Control Flames</li>
					<li>Create Bonfire</li>
					<li>Druidcraft</li>
					<li>Frostbite</li>
					<li>Guidance</li>
					<li>Gust</li>
					<li>Infestation</li>
					<li>Magic Stone</li>
					<li>Mending</li>
					<li>Mold Earth</li>
					<li>Poison Spray</li>
					<li>Primal Savagery</li>
					<li>Produce Flame</li>
					<li>Resistance</li>
					<li>Shape Water</li>
					<li>Shillelagh</li>
					<li>Thorn Whip</li>
					<li>Thunderclap</li>
				</ul>

				<ul class="list-autorange" data-title="Druid, 1st-level">
					<li>Absorb Elements</li>
					<li>Animal Friendship</li>
					<li>Beast Bond</li>
					<li>Charm Person</li>
					<li>Create or Destroy Water</li>
					<li>Cure Wounds</li>
					<li>Detect Magic</li>
					<li>Detect Poison & Disease</li>
					<li>Earth Tremor</li>
					<li>Entangle</li>
					<li>Faerie Fire</li>
					<li>Fog Cloud</li>
					<li>Goodberry</li>
					<li>Healing Word</li>
					<li>Ice Knife</li>
					<li>Jump</li>
					<li>Longstrider</li>
					<li>Purify Food & Drink</li>
					<li>Snare</li>
					<li>Speak with Animals</li>
					<li>Thunderwave</li>
				</ul>

				<ul class="list-autorange" data-title="Druid, 2nd-level" data-end-at=24>
					<li>Animal Messenger</li>
					<li>Barkskin</li>
					<li>Beast Sense</li>
					<li>Darkvision</li>
					<li>Dust Devil</li>
					<li>Earthbind</li>
				</ul>

				<col-break></col-break>

				<ul class="list-autorange" data-title="Druid, 2nd-level" data-start-from="25" data-end-at=92 data-panel-css="table-appendix-bottom">
					<li>Enhance Ability</li>
					<li>Find Traps</li>
					<li>Flame Blade</li>
					<li>Flaming Sphere</li>
					<li>Gust of Wind</li>
					<li>Healing Spirit</li>
					<li>Heat Metal</li>
					<li>Hold Person</li>
					<li>Lesser Restoration</li>
					<li>Locate Animals or Plants</li>
					<li>Locate Object</li>
					<li>Moonbeam</li>
					<li>Pass without Trace</li>
					<li>Protection from Poison</li>
					<li>Skywrite</li>
					<li>Spike Growth</li>
					<li>Warding Wind</li>
				</ul>

				<ul class="list-autorange" data-title="Paladin, 1st-level" data-resize=15>
					<li>Bless</li>
					<li>Ceremony</li>
					<li>Command</li>
					<li>Compelled Duel</li>
					<li>Cure Wounds</li>
					<li>Detect Evil & Good</li>
					<li>Detect Magic</li>
					<li>Detect Poison & Disease</li>
					<li>Divine Favour</li>
					<li>Heroism</li>
					<li>Protection from Evil & Good</li>
					<li>Purify Food & Drink</li>
					<li>Searing Smite</li>
					<li>Shield of Faith</li>
					<li>Thunderous Smite</li>
					<li>Wrathful Smite</li>
				</ul>

				<ul class="list-autorange" data-title="Paladin, 2nd-level">
					<li>Aid</li>
					<li>Branding Smite</li>
					<li>Find Steed</li>
					<li>Lesser Restoration</li>
					<li>Locate Object</li>
					<li>Magic Weapon</li>
					<li>Protection from Poison</li>
					<li>Zone of Truth</li>
				</ul>

				<ul class="list-autorange" data-title="Ranger, 1st-level" data-end-at="30">
					<li>Absorb Elements</li>
					<li>Alarm</li>
					<li>Animal Friendship</li>
					<li>Beast Bond</li>
					<li>Cure Wounds</li>
					<li>Detect Magic</li>
				</ul>
			</page>
			<page class="page page--generic page--random-tables">
				<ul class="list-autorange" data-title="Ranger, 1st-level" data-start-from="31" data-end-at="85" data-panel-css="table-appendix-bottom">
					<li>Detect Poison & Disease</li>
					<li>Ensaring Strike</li>
					<li>Fog Cloud</li>
					<li>Goodberry</li>
					<li>Hail of Thorns</li>
					<li>Hunter's Mark</li>
					<li>Jump</li>
					<li>Longstrider</li>
					<li>Snare</li>
					<li>Speak with Animals</li>
					<li>Zephyr Strike</li>
				</ul>

				<ul class="list-autorange" data-title="Ranger, 2nd-level">
					<li>Animal Messenger</li>
					<li>Barkskin</li>
					<li>Beast Sense</li>
					<li>Cordon of Arrows</li>
					<li>Darkvision</li>
					<li>Find Traps</li>
					<li>Healing Spirit</li>
					<li>Lesser Restoration</li>
					<li>Locate Animals or Plants</li>
					<li>Locate Object</li>
					<li>Pass without Trace</li>
					<li>Protection from Poison</li>
					<li>Silence</li>
					<li>Spike Growth</li>
				</ul>

				<ul class="list-autorange" data-title="Sorcerer, Cantrips">
					<li>Acid Splash</li>
					<li>Blade Ward</li>
					<li>Chill Touch</li>
					<li>Control Flames</li>
					<li>Create Bonfire</li>
					<li>Dancing Lights</li>
					<li>Fire Bolt</li>
					<li>Friends</li>
					<li>Frostbite</li>
					<li>Gust</li>
					<li>Infestation</li>
					<li>Light</li>
					<li>Mage Hand</li>
					<li>Mending</li>
					<li>Message</li>
					<li>Minor Illusion</li>
					<li>Mold Earth</li>
					<li>Poison Spray</li>
					<li>Prestidigitation</li>
					<li>Ray of Frost</li>
					<li>Shape Water</li>
					<li>Shocking Grasp</li>
					<li>True Strike</li>
					<li>Thunderclap</li>
				</ul>

				<ul class="list-autorange" data-title="Sorcerer, 1st-level" data-end-at="4">
					<li>Absorb Elements</li>
				</ul>

				<col-break></col-break>

				<ul class="list-autorange" data-title="Sorcerer, 1st-level" data-start-from="5" data-end-at="100" data-panel-css="table-appendix-bottom">
					<li>Burning Hands</li>
					<li>Catapult</li>
					<li>Charm Person</li>
					<li>Chaos Bolt</li>
					<li>Chromatic Orb</li>
					<li>Color Spray</li>
					<li>Comprehend Languages</li>
					<li>Detect Magic</li>
					<li>Disguise Self</li>
					<li>Earth Tremor</li>
					<li>Expeditious Retreat</li>
					<li>False Life</li>
					<li>Feather Fall</li>
					<li>Fog Cloud</li>
					<li>Ice Knife</li>
					<li>Jump</li>
					<li>Mage Armor</li>
					<li>Magic Missile</li>
					<li>Ray of Sickness</li>
					<li>Shield</li>
					<li>Silent Image</li>
					<li>Sleep</li>
					<li>Thunderwave</li>
					<li>Witch Bolt</li>
				</ul>

				<ul class="list-autorange" data-title="Sorcerer, 2nd-level" data-end-at="62">
					<li>Aganazzar's Scorcher</li>
					<li>Alter Self</li>
					<li>Blindness/Deafness</li>
					<li>Blur</li>
					<li>Cloud of Daggers</li>
					<li>Crown of Madness</li>
					<li>Darkness</li>
					<li>Darkvision</li>
					<li>Detect Thoughts</li>
					<li>Dragon's Breath</li>
					<li>Dust Devil</li>
					<li>Earthbind</li>
					<li>Enhance Ability</li>
					<li>Enlarge/Reduce</li>
					<li>Gust of Wind</li>
					<li>Hold Person</li>
					<li>Invisibility</li>
					<li>Knock</li>
					<li>Levitate</li>
					<li>Maximilian's Earthen Grasp</li>
					<li>Mind Spike</li>
					<li>Mirror Image</li>
					<li>Misty Step</li>
					<li>Phantasmal Force</li>
					<li>Pyrotechnics</li>
					<li>Scorching Ray</li>
					<li>See Invisibility</li>
					<li>Shadow Blade</li>
					<li>Shatter</li>
					<li>Snilloc's Snowball Swarm</li>
					<li>Spider Climb</li>
				</ul>

				<col-break></col-break>

				<ul class="list-autorange" data-title="Sorcerer, 2nd-level" data-start-from="63" data-end-at="68" data-panel-css="table-appendix-bottom">
					<li>Suggestion</li>
					<li>Warding Wind</li>
					<li>Web</li>
				</ul>

				<ul class="list-autorange" data-title="Warlock, Cantrips">
					<li>Blade Ward</li>
					<li>Chill Touch</li>
					<li>Create Bonfire</li>
					<li>Eldritch Blast</li>
					<li>Friends</li>
					<li>Frostbite</li>
					<li>Infestation</li>
					<li>Mage Hand</li>
					<li>Magic Stone</li>
					<li>Minor Illusion</li>
					<li>Poison Spray</li>
					<li>Prestidigitation</li>
					<li>Thunderclap</li>
					<li>Toll the Dead</li>
					<li>True Strike</li>
				</ul>

				<ul class="list-autorange" data-title="Warlock, 1st-level">
					<li>Armor of Agathys</li>
					<li>Arms of Hadar</li>
					<li>Charm Person</li>
					<li>Comprehend Languages</li>
					<li>Cause Fear</li>
					<li>Expeditious Retreat</li>
					<li>Hellish Rebuke</li>
					<li>Hex</li>
					<li>Illusory Script</li>
					<li>Protection from Evil & Good</li>
					<li>Unseen Servant</li>
					<li>Witch Bolt</li>
				</ul>

				<ul class="list-autorange" data-title="Warlock, 2nd-level">
					<li>Cloud of Daggers</li>
					<li>Crown of Madness</li>
					<li>Darkness</li>
					<li>Earthbind</li>
					<li>Enthrall</li>
					<li>Hold Person</li>
					<li>Invisibility</li>
					<li>Mind Spike</li>
					<li>Mirror Image</li>
					<li>Misty Step</li>
					<li>Ray of Enfeeblement</li>
					<li>Shadow Blade</li>
					<li>Shatter</li>
					<li>Spider Climb</li>
					<li>Suggestion</li>
				</ul>

				<ul class="list-autorange" data-title="Wizard, Cantrips">
					<li>Acid Splash</li>
					<li>Blade Ward</li>
					<li>Chill Touch</li>
					<li>Control Flames</li>
					<li>Create Bonfire</li>
					<li>Dancing Lights</li>
					<li>Fire Bolt</li>
					<li>Friends</li>
					<li>Frostbite</li>
					<li>Gust</li>
					<li>Infestation</li>
					<li>Light</li>
					<li>Mage Hand</li>
					<li>Mending</li>
					<li>Message</li>
					<li>Minor Illusion</li>
					<li>Mold Earth</li>
					<li>Poison Spray</li>
					<li>Prestidigitation</li>
					<li>Ray of Frost</li>
					<li>Shape Water</li>
					<li>Shocking Grasp</li>
					<li>Thunderclap</li>
					<li>Toll the Dead</li>
					<li>True Strike</li>
				</ul>

				<ul class="list-autorange" data-title="Wizard, Cantrips">
					<li>Acid Splash</li>
					<li>Blade Ward</li>
					<li>Chill Touch</li>
					<li>Control Flames</li>
					<li>Create Bonfire</li>
					<li>Dancing Lights</li>
					<li>Fire Bolt</li>
					<li>Friends</li>
					<li>Frostbite</li>
					<li>Gust</li>
					<li>Infestation</li>
					<li>Light</li>
					<li>Mage Hand</li>
					<li>Mending</li>
					<li>Message</li>
					<li>Minor Illusion</li>
					<li>Mold Earth</li>
					<li>Poison Spray</li>
					<li>Prestidigitation</li>
					<li>Ray of Frost</li>
					<li>Shape Water</li>
					<li>Shocking Grasp</li>
					<li>Thunderclap</li>
					<li>Toll the Dead</li>
					<li>True Strike</li>
				</ul>

				<ul class="list-autorange" data-title="Wizard, 1st-level">
					<li>Absorb Elements</li>
					<li>Alarm</li>
					<li>Burning Hands</li>
					<li>Catapult</li>
					<li>Cause Fear</li>
					<li>Charm Person</li>
					<li>Chromatic Orb</li>
					<li>Color Spray</li>
					<li>Comprehend Languages</li>
					<li>Detect Magic</li>
					<li>Disguise Self</li>
					<li>Earth Tremor</li>
					<li>Expeditious Retreat</li>
					<li>False Life</li>
					<li>Feather Fall</li>
					<li>Find Familiar</li>
					<li>Fog Cloud</li>
					<li>Grease</li>
					<li>Ice Knife</li>
					<li>Identify</li>
					<li>Illusory Script</li>
					<li>Jump</li>
					<li>Mage Armor</li>
					<li>Magic Missile</li>
					<li>Protection from Evil & Good</li>
					<li>Ray of Sickness</li>
					<li>Shield</li>
					<li>Silent Image</li>
					<li>Sleep</li>
					<li>Snare</li>
					<li>Tasha's Hideous Laughter</li>
					<li>Tenser's Floating Disk</li>
					<li>Thunderwave</li>
					<li>Unseen Servant</li>
					<li>Witch Bolt</li>
				</ul>

				<ul class="list-autorange" data-title="Wizard, 2nd-level">
					<li>Aganazzar's Scorcher</li>
					<li>Alter Self</li>
					<li>Arcane Lock</li>
					<li>Blindness/Deafness</li>
					<li>Blur</li>
					<li>Cloud of Daggers</li>
					<li>Continual Flame</li>
					<li>Crown of Madness</li>
					<li>Darkness</li>
					<li>Darkvision</li>
					<li>Detect Thoughts</li>
					<li>Dragon's Breath</li>
					<li>Dust Devil</li>
					<li>Earthbind</li>
					<li>Enlarge/Reduce</li>
					<li>Flaming Sphere</li>
					<li>Gentle Repose</li>
					<li>Gust of Wind</li>
					<li>Hold Person</li>
					<li>Invisibility</li>
					<li>Knock</li>
					<li>Levitate</li>
					<li>Locate Object</li>
					<li>Magic Mouth</li>
					<li>Magic Weapon</li>
					<li>Maximilian's Earthen Grasp</li>
					<li>Melf's Acid Arrow</li>
					<li>Mind Spike</li>
					<li>Mirror Image</li>
					<li>Misty Step</li>
					<li>Nystul's Magic Aura</li>
					<li>Phantasmal Force</li>
					<li>Pyrotechnics</li>
					<li>Ray of Enfeeblement</li>
					<li>Rope Trick</li>
					<li>Scorching Ray</li>
					<li>See Invisibility</li>
					<li>Shadow Blade</li>
					<li>Shatter</li>
					<li>Skywrite</li>
					<li>Snilloc's Snowball Swarm</li>
					<li>Spider Climb</li>
					<li>Suggestion</li>
					<li>Warding Wind</li>
					<li>Web</li>
				</ul>
			</page> -->
		</book>
	</body>
</html>
