<html>
	<body>
		<book class="book">
			<page class="page page--generic page--rookie-characters" data-header-icon="pick-destiny">
				<h1 id="rookie-characters">Rookie Characters</h1>
				<p>If you want to run a low-powered adventure—or explore a time <i>before</i> your characters became notable heroes—try using 0th-level characters. These <i>rookies</i> have not yet mastered a class, relying entirely on their race, background, and wits to survive.</p>
				<p>This chapter introduces rules to create and use rookie characters in your adventures.</p>

				<example class="panel panel--example">
					<section class="panel__body">
						<p>Gavil hid, heart pounding, as the town burned. He couldn't fight goblins—he was just a butcher! But then he heard the girls screaming. Gavil grabbed his cleaver tight and charged out into the street...</p>
					</section>
				</example>

				<col-break></col-break>

				<h2>Creating a Rookie</h2>
				<p>Creating a new rookie character is easy: roll for a race, a background, a saving throw, and your ability scores—that's it, you're done. Rookies don't gain a class until they survive an adventure—or gain 150 XP—and reach 1st-level.</p>
				<p>You gain all the skills, proficiencies, equipment, and wealth of your race and background combined—excluding the background feature. Roll for your characteristics and any other character details.</p>
				<p>Your starting hit points, hit die, and armor/weapon proficiencies are determined by your background—check the <i>Rookie Details</i> table below for full details.</p>

				<div class="layout--col-wide layout--fixed-bottom" data-website="wide">
					<list class="panel panel--list" data-resize=60>
						<header class="panel__header">
							<h4 class="panel__title">Rookie Details</h4>
						</header>
						<section class="panel__body">
							<table class="table table--level-0">
								<thead>
									<tr>
										<th>Background</th>
										<th>Hit<br/>Points</th>
										<th>Hit<br/>Die</th>
										<th>Proficiency Bonus</th>
										<th>Armor<br/>Proficiencies</th>
										<th>Weapon<br/>Proficiencies</th>
										<th>Variant:<br/>Starting Cantrips</th>
									</tr>
								</thead>
								<tbody>
								</tbody>
							</table>
						</section>
					</list>
				</div>
			</page>
			<page class="page page--generic page--rookie-characters">
				<h3>Saving Throws</h3>
				<p>Rookies are proficient in one random saving throw—roll on the <i>Saving Throw</i> table below to see which. You may do this before you assign your ability scores.</p>

				<list class="panel panel--list">
					<header class="panel__header">
						<h4 class="panel__title">Rookie Saving Throw</h4>
					</header>
					<section class="panel__body">
						<tables class="tables tables--columns-3">
							<table class="table table--rookie-saves">
								<thead>
									<tr>
										<th>d6</th>
										<th>Ability</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td>1</td>
										<td>Strength</td>
									</tr>
									<tr>
										<td>2</td>
										<td>Dexterity</td>
									</tr>
								</tbody>
							</table>
							<table class="table table--rookie-saves">
								<thead>
									<tr>
										<th>d6</th>
										<th>Ability</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td>3</td>
										<td>Constitution</td>
									</tr>
									<tr>
										<td>4</td>
										<td>Intelligence</td>
									</tr>
								</tbody>
							</table>
							<table class="table table--rookie-saves">
								<thead>
									<tr>
										<th>d6</th>
										<th>Ability</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td>5</td>
										<td>Wisdom</td>
									</tr>
									<tr>
										<td>6</td>
										<td>Charisma</td>
									</tr>
								</tbody>
							</table>
						</tables>
					</section>
				</list>

				<example class="panel panel--example">
					<section class="panel__body">
						<p>At the start of a new <i>rookie</i> adventure, the player rolls for their race and background—they are Ulryn, a <i>drow elf hermit</i> with proficiency in Charisma saving throws. They then roll for their ability scores as normal.</p>
						<p>Ulryn gains all the perks and equipment of her race and background (excluding the background feature), and starts with (3 + CON) hit points and one d4 hit die. As a hermit, she has only 5 gp to spend on starting equipment—life as a rookie is tough.</p>
					</section>
				</example>

				<h3>Variant: Starting Cantrips</h3>
				<p>If you want to introduce some limited, low level magic into your adventure, use this <i>Starting Cantrips</i> variant.</p>
				<p>Some backgrounds, through their limited training and experience, have access to one or two magical cantrips. If your rookie has starting cantrips, pick these at random—you may choose the class of magic before each selection. If your rookie has multiple cantrips, these can each be from a different class—an acolyte, for example, may have 1 cleric <i>and</i> 1 warlock cantrip.</p>

				<h2>Destiny Points</h2>
				<p>Rookies are not completely helpless—they have a reserve of grit and determination to dig into, unlocking a burst of power and ability—these are called <i>destiny points</i>.</p>
				<p>You start with 3 <i>destiny points</i>, regaining spent points after completing a long rest. You can spend a destiny point during your turn to do something improvised and extraordinary—use these as an opportunity to discover what class your rookie might grow into.</p>

				<example class="panel panel--example">
					<section class="panel__body">
						<ul class="chat">
							<li><span class="chat__speaker">GM:</span><span>You strike the mage fiercely, but he still stands.</span></li>
							<li><span class="chat__speaker">Ulryn:</span><span>Can I stun him as part of that attack?</span></li>
							<li><span class="chat__speaker">GM:</span><span>I don't know—is that your <i>destiny</i>?</span></li>
							<li><span class="chat__speaker">Ulryn:</span><span>I think Ulryn's master taught her many ways to incapacitate a man without killing him <span class="chat__action">(offers the GM a destiny point)</span>.</span></li>
							<li><span class="chat__speaker">GM:</span><span>The mage staggers back, momentarily <i>stunned</i>, as your fist slams into his jaw <span class="chat__action">(takes the destiny point)</span>.</span></li>
						</ul>
					</section>
				</example>

				<p>You can use one destiny point per turn, and you can't use the same power more than once—vary your heroics.</p>

				<col-break></col-break>

				<h2>Leveling Up</h2>
				<p>Once your rookie levels up and reaches 1st-level, replace your core details (hit points, hit die, saving throws, and proficiencies) with those of your class as per normal.</p>
				<p>As a keepsake, you may keep one notable feature from your time as a rookie. Choose one of the following:</p>

				<ol type="A">
					<li><strong>Saving throw:</strong> Replace one class saving throw (of your choosing) with your rookie saving throw.</li>
					<li><strong>Armor/weapon proficiency:</strong> Keep one armor/weapon proficiency, obeying any prerequisites—you can't take <i>heavy armor proficiency</i> if your class doesn't already grant <i>medium armor proficiency</i>, for example.</li>
					<li><strong>Cantrip:</strong> Keep one rookie cantrip (of your choosing) in addition to any others your class may grant.</li>
					<li><strong>Extra hit points:</strong> Add your rookie hit point maximum (excluding CON) to your 1st-level hit point maximum.</li>
				</ol>

				<h2>Monsters & Traps</h2>
				<p>Rookies are very fragile without class abilities and gear to protect them. Monsters and traps will be a significant challenge for rookies, so aim to use only CR 0 and—on occasion—CR 1/8 challenges. Monsters and traps should deal around 1 damage per hit, allowing even the weakest rookie to survive a couple of unfortunate attacks.</p>
				<p><strong>Giffyglyph's Monster Maker:</strong> If you want to create level-appropriate monsters for your rookies—or any other adventure—try <i>Giffyglyph's Monster Maker</i>, a monster-focused D&D supplement with guides and templates to help you build new monsters in seconds.</p>

				<monster data-name="Howling Skeleton" data-description="Medium humanoid, Undead" data-type="minion" data-level=-1 data-role="Striker" data-priorities="CON|DEX|STR|WIS|INT|CHA"></monster>

				<monster data-name="Necromage" data-description="Medium humanoid" data-level=0 data-role="Controller" data-priorities="INT|CON|STR|CHA|WIS|DEX"></monster>
			</page>
			<page class="page page--generic page--rookie-characters">
				<h2 id="rookie-adventure-seeds" data-section=5>Adventure Seeds</h2>
				<p>Rookie adventures traditionally focus on common, everyday people being suddenly thrown into a dangerous situation and—if they're lucky—overcoming it.</p>
				<p>If you're unsure what to run for your rookies, consider using these adventure seeds to kickstart some ideas for your game.</p>

				<list class="panel panel--list">
					<header class="panel__header">
						<h4 class="panel__title">Adventure Seeds</h4>
					</header>
					<section class="panel__body">
						<tables class="tables">
							<table class="table table--rookie-adventure-seeds">
								<thead>
									<tr>
										<th>d10</th>
										<th>Adventure</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td>1</td>
										<td>A Village in Flames</td>
									</tr>
									<tr>
										<td>2</td>
										<td>Dragon Heist</td>
									</tr>
									<tr>
										<td>3</td>
										<td>Wings of Fury</td>
									</tr>
									<tr>
										<td>4</td>
										<td>The Mad Mage</td>
									</tr>
									<tr>
										<td>5</td>
										<td>Crimson Sacrifice</td>
									</tr>
								</tbody>
							</table>
							<table class="table table--rookie-adventure-seeds">
								<thead>
									<tr>
										<th>d10</th>
										<th>Adventure</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td>6</td>
										<td>The Descent</td>
									</tr>
									<tr>
										<td>7</td>
										<td>Witch of the West</td>
									</tr>
									<tr>
										<td>8</td>
										<td>Island of the Dead</td>
									</tr>
									<tr>
										<td>9</td>
										<td>Smile</td>
									</tr>
									<tr>
										<td>10</td>
										<td>The Pigmin of Palicor</td>
									</tr>
								</tbody>
							</table>
						</tables>
					</section>
				</list>

				<h3><span class="h3__highlight">1</span>A Village in Flames</h3>
				<p>You awaken in the night to the sound of screams—your small village is aflame and besieged by bloodthirsty bandits. Above the roar of the flames, you hear their leader laugh as villagers are cut down in the street.</p>
				<p>These murderers won't let any villager escape with their lives. Will you grab whatever weapon you can find and defend what's left of your home?</p>

				<h3><span class="h3__highlight">2</span>Dragon Heist</h3>
				<p>It's been a bad harvest this year, and your poor village can't afford food for the coming winter. Rumors say that the red dragon Kalaxigor has flown south from her lair in the nearby mountain, leaving a vast horde of gold temporarily undefended.</p>
				<p>A small fortune awaits anyone brave enough—or foolish enough—to venture into the dragons lair. Can you find the horde of gold before the dragon returns?</p>

				<h3><span class="h3__highlight">3</span>Wings of Fury</h3>
				<p>A frenzied griffin has been attacking farmers on the edge of the village—three have died in the last week alone, gored open by the creature's razor-sharp talons. The local lord has put out a sizable bounty for the beast's head—a small fortune for a simple civilian.</p>
				<p>The beast is rumored to nest in the southern forest. Can you and your friends hunt down the griffin and bring back its head without losing your own?</p>

				<h3><span class="h3__highlight">4</span>The Mad Mage</h3>
				<p>Deep below the corrupt city of Vergheist, a mad mage performs experiments on living captives. You are one of these tortured prisoners—until an earthquake rocks the dungeon and tears the door of your cell free.</p>
				<p>The mage's monstrous experiments—freed from their prison cells—now wander the halls hungrily. Can you navigate the dungeon and evade the mad mage long enough to reclaim your freedom?</p>

				<col-break></col-break>

				<h3><span class="h3__highlight">5</span>Crimson Sacrifice</h3>
				<p>Atop the blackstone ziggurat of Sultiss, yuan-ti cultists prepare a ritual sacrifice to their blood-thirsty gods. You are one of these unwilling sacrifices, kidnapped from the wild, frontier town of Drembala.</p>
				<p>Only one hour remains until the midnight eclipse and the sacrifice begins. Can you find a way to break your bonds and escape the ziggurat of death?</p>

				<h3><span class="h3__highlight">6</span>The Descent</h3>
				<p>You have uncovered a long-sealed tomb near your village—a tomb of unknown origin. After a few-too-many drinks in the local tavern, you and your friends decide to explore it in search of ancient riches.</p>
				<p>But as you all step foot inside, the stone doors of the tomb seal shut behind you. Now, the only way ahead is down. Can you survive the dangers ahead?</p>

				<h3><span class="h3__highlight">7</span>Witch of the West</h3>
				<p>The witch of the west has cursed your village with hellish, maddening nightmares. Everyone is terrified to sleep at night, for the witch feeds on the souls of those who die in their sleep—and her appetite is endless.</p>
				<p>There are no convenient heroes around, so grab your weapons and brave the fetid swamps to the east. Can you find the witch before she kills you in your sleep?</p>

				<h3><span class="h3__highlight">8</span>Island of the Dead</h3>
				<p>A prison ship, caught in a ferocious storm near the dreaded Island of the Dead, capsizes with you on board. Beyond all hope, you are washed ashore with a handful of survivors. Far in the distance, you see a beached boat that may be the only way off this island.</p>
				<p>But from all around, you hear the hungry moans of the walking dead. Can you survive long enough to repair the boat and sail out to sea?</p>

				<h3><span class="h3__highlight">9</span>Smile</h3>
				<p>The town's children are going missing, lured into the sewers by a strange man with a clown's face. In your dreams, you see the clown-faced man standing over a field of silent, faceless children. They have no mouths and can't scream.</p>
				<p>Now, your sister has gone missing. Without hesitation, you descend into the sewers to find her. Can you rescue your sister from the smiling clown?</p>

				<h3><span class="h3__highlight">10</span>The Pigmin of Palicor</h3>
				<p>You find yourself strapped to an operating table as the mad Butcher of Palicor prepares to turn you into one of her monstrous Pigmin. But a freak explosion sets you and the other prisoners free, tearing open a hole in the tower to the black forest beyond.</p>
				<p>You flee into the forest—but the Pigmin have your scent, and they are hungry. Can you find a way to escape the horrifying Butcher and her warped creations?</p>
			</page>
		</book>
	</body>
</html>
