<html>
	<body>
		<book class="book">
			<page class="page page--generic page--setting-up" data-header-icon="stabbed-note">
				<h1 id="setting-up">Setting Up</h1>
				<p>Modular toolkits—like <i>Giffyglyph's Darker Dungeons</i>—can help you to customize your <i>Dungeons and Dragons</i> game and make it a better match for your own gameplay style, story, and tastes.</p>
				<p>But how do you decide which modules to use, and how do you incorporate them into your game? This chapter will help guide you through the process.</p>

				<h2>Customize your Game</h2>
				<p>To start using <i>Giffyglyph's Darker Dungeons</i> in your game, just follow these 3 simple steps:</p>

				<h3><span class="h3__highlight">1</span>Pick Some Modules</h3>
				<p>First, decide which modules you want to include in your game. Choose modules that support the type of gameplay and tone you want to encourage in your adventures.</p>
				<p><strong>Player Experience:</strong> When choosing your modules, keep in mind the overall experience level of your players. If your players are new to the game, try to keep significant changes to a minimum until they first have a comfortable grasp of the basic D&D rules.</p>
				<p><strong>Updating an Active Game:</strong> If you're modifying an already-active game, try to add just one or two modules at a time so that your players aren't too overwhelmed.</p>

				<h3><span class="h3__highlight">2</span>Talk With your Players</h3>
				<p>Next, talk to your players about what you want to include and why. Some modules can significantly change the "5th Edition" experience, so make sure that all players are comfortable with the changes you'd like to introduce.</p>
				<p><strong>Player Expectations:</strong> Keep in mind player expectations, and be willing to compromise on your module choices if there's disagreement about tone or gameplay.</p>

				<col-break></col-break>

				<h3><span class="h3__highlight">3</span>Experiment and Adapt</h3>
				<p>Finally, it's time to start playing. During your adventures, you may decide that some modules don't fit your particular game after all—perhaps they don't match the tone, or they're too distracting, or they simply aren't being used. But that's ok—rules are made to be broken.</p>
				<p>Swap modules in and out as best suits your table, or change specific rules to create your own custom variants.</p>

				<example class="panel panel--example">
					<section class="panel__body">
						<p>As an example, here we see three different GMs use <i>Darker Dungeons</i> modules in different ways:</p>
						<ol>
							<li>
								<p><strong>Phased Integration:</strong> A GM wants to make a small tweak to their existing campaign and replace only the default inventory system.</p>
								<p>The GM chooses the <i>Active Inventory</i> module with the <i>Quickslot</i> variant—and later switches to the <i>Containers</i> variant once the players are more comfortable with the changes.</p>
							</li>
							<li>
								<p><strong>Specific Modules:</strong> A second GM wants to make long-distance travel more involving in their game, and so they choose the <i>Making a Journey</i> module. They also add in <i>Survival Conditions</i> to highlight the need for food and water.</p>
								<p>Later in the game, when the party find themselves in a foul and rat-infested sewer, the GM references the <i>Deadly Disease</i> module.</p>
							</li>
							<li>
								<p><strong>All In:</strong> A third GM is creating a new Lovecraftian-themed campaign in the "West Marches" style. After talking it over with their group, the GM opts to use the entire ruleset.</p>
								<p>After a few sessions, however, the GM feels that they miss rolling for monster attacks—they drop <i>Active Defense</i> and revert to the original mechanics.</p>
							</li>
						</ol>
					</section>
				</example>
			</page>
			<page class="page page--generic page--setting-up">
				<h2>Modes of Play</h2>
				<p>This supplement contains a wide variety of modules, and not all are equal—some will impact the game and tone more drastically than others.</p>
				<p>For convenience, the modules are grouped here into three broad modes of play: <i>Radiant</i>, <i>Dark</i>, and <i>Astral</i>. Pick the modules that are the right fit for your own game.</p>

				<h3><span class="h3__highlight">A</span>Radiant</h3>
				<p>Radiant modules can be dropped into almost any <i>Dungeons and Dragons</i> game without significant tonal changes. These introduce small tweaks and changes with a focus on immersion and non-combat activities.</p>

				<ol type="A">
					<li><strong>Ability Checks:</strong> A variety of tweaks to ability checks—including open skills, tool bonuses, and teamwork.</li>
					<li><strong>Active Crafting:</strong> Let your players craft items with easy-to-use crafting materials and recipes.</li>
					<li><strong>Ammunition Dice:</strong> Track ammunition using abstract terms and <i>ammunition dice</i>.</li>
					<li><strong>Arcane Jewels:</strong> Upgrade your weapons and armor with socketed jewels and permanent, arcane power.</li>
					<li><strong>Cheating Fate:</strong> Allow characters to escape certain death with rare and elusive fate points.</li>
					<li><strong>Degrees of Success:</strong> Add a success-at-a-cost option for characters to make failed rolls more interesting.</li>
					<li><strong>Flasks:</strong> Store potions in handy-to-carry potion flasks.</li>			
					<li><strong>Gemstones:</strong> Add qualities to your gemstones and turn them into precious crafting components.</li>
					<li><strong>Leveling Up:</strong> Add training locations and wisend mentors to your game.</li>
					<li><strong>Long Rest:</strong> New rules and advice on using a week-long downtime period.</li>
					<li><strong>Making a Journey:</strong> Turn long-distance travel into a character-focused event with a <i>journey phase</i> and travelling responsibilities.</li>
					<li><strong>Oils:</strong> Splash magical oils onto your weapons and armor to upgrade them with temporary properties.</li>
					<li><strong>Potions:</strong> New potion rules and new consumables for players to find and buy on their adventures.</li>
					<li><strong>Short Rest:</strong> New rules for setting up camp and performing campsite activities.</li>
				</ol>

				<example class="panel panel--example">
					<section class="panel__body">
						<ul class="chat">
							<li><span class="chat__speaker">GM:</span><span>For our next game, we'll be playing the <i>Curse of Strahd</i> D&D adventure. I'll be using the <i>Short Rest</i>, <i>Long Rest</i>, <i>Class/Feature/Racial Changes</i>, </i>and <i>Stress & Afflictions</i> plug-in modules as a starting point. Does anyone have any module requests?</span></li>
							<li><span class="chat__speaker">Player A:</span><span>I'd like to play a crafter—can we use <i>Active Crafting</i>? And <i>Arcane Jewels</i> to improve our gear?</span></li>
							<li><span class="chat__speaker">GM:</span><span>Yep—we can add in <i>Gemstones</i>, <i>Potions</i>, <i>Flasks</i>, and <i>Oils</i> as well for some crafting variety.</span></li>
							<li><span class="chat__speaker">Player B:</span><span>Does <i>Active Defence</i> mean the players roll more dice during the game?</span></li>
							<li><span class="chat__speaker">GM:</span><span>Yes—you roll instead of the GM.</span></li>
							<li><span class="chat__speaker">Player B:</span><span>That one, please—I've got this new, shiny d20 and it wants to be rolled.</span></li>
						</ul>
					</section>
				</example>

				<col-break></col-break>

				<h3><span class="h3__highlight">B</span>Dark</h3>
				<p>Dark modules make combat more dangerous and life more difficult for characters. Use these to darken the tone of your game or put a bigger strain on character resources.</p>

				<ol type="A">
					<li><strong>Dangerous Magic:</strong> Make magic a bigger risk for your casters with magical burnout and consequences.</li>
					<li><strong>Deadly Disease:</strong> Turn sickness and plague into a serious threat with escalating diseases.</li>
					<li><strong>Death & Resurrection:</strong> Add persistent death saving throws, funerals, and new resurrection costs.</li>
					<li><strong>Light and Shadow:</strong> Manage light with abstract lighting levels and equipment.</li>
					<li><strong>Stress & Afflictions:</strong> Track the mental well-being of characters and any potential breakdowns.</li>
					<li><strong>Survival Conditions:</strong> Track the physical conditions—thirst, hunger, and fatigue—of characters and highlight survival resources like food and water.</li>
					<li><strong>Wear & Tear:</strong> Track equipment damage with <i>notches</i> and allow characters to repair and temper their gear.</li>
					<li><strong>Wounds and Injuries:</strong> Add some bite to your combat with lingering wounds, permanent injuries, and prosthetics.</li>
				</ol>

				<h3><span class="h3__highlight">C</span>Astral</h3>
				<p>Astral modules change core parts of the vanilla 5e experience. Use these if you want to modify some of the underlying mechanics of your game.</p>
				<ol type="A">
					<li><strong>Active Defense:</strong> Replace monster attack rolls with player defense rolls to make your players feel more active and engaged during combat.</li>
					<li><strong>Active Initiative:</strong> Allow players to choose who acts next for more dynamic combat by replacing turn-based initiative with active initiative.</li>
					<li><strong>Active Inventory:</strong> Manage inventory with inventory slots and bulk.</li>
					<li><strong>Active XP:</strong> Reward players with XP for finding treasure and bringing it back to town.</li>
					<li><strong>Character Creation:</strong> Create new characters using a d100, 3d6, and a set of random tables.</li>
					<li><strong>Class Changes:</strong> Assorted tweaks and rebalancing to some class features.</li>
					<li><strong>Feature Changes:</strong> Assorted tweaks and rebalancing to general game features.</li>
					<li><strong>Racial Changes:</strong> Assorted tweaks and rebalancing to some racial features.</li>
					<li><strong>Rookie Characters:</strong> Create classless rookie characters for a low-powered, dangerous adventure.</li>
				</ol>

				<aside class="panel panel--aside">
					<header class="panel__header">
						<h4 class="panel__title">Every Table is Different</h4>
					</header>
					<section class="panel__body">
						<p><i>Giffyglyph's Darker Dungeons</i> is a modular ruleset—tweak, replace, and cut out the bits you want. Don't like random character generation? Ignore it. Prefer your own initiative system? Keep it. Think inventory is too limited? Extend it.</p>
						<p>These rules are written as <i>I</i> would run a game, but every table is different—use whichever modules you think are the best fit for your own game and your players.</p>
					</section>
				</aside>
			</page>
		</book>
	</body>
</html>
