<html>
	<body>
		<book class="book">
			<page class="page page--sheet page--journey">
				<sheet class="sheet">
					<section class="sheet__body">
						<box class="box box--header character-name">
							<section class="box__body">
								<img class="header__brand" src="../images/skins/avaristo/theme-default/page-sheet/icons/gdd.png"/>
								<img class="header__icon" src="../images/skins/avaristo/theme-default/page-sheet/icons/map.png"/>
							</section>
						</box>
						<well class="box box--well journey">
							<section class="box__body">
								<bar class="box box--bar journey-from">
									<header class="box__header">From</header>
									<section class="box__body"></section>
								</bar>
								<bar class="box box--bar journey-to">
									<header class="box__header">To</header>
									<section class="box__body"></section>
								</bar>
								<bar class="box box--bar journey-time">
									<header class="box__header">Day</header>
									<section class="box__body"></section>
								</bar>
								<bar class="box box--bar journey-dc-guide">
									<header class="box__header">Guide DC</header>
									<section class="box__body"></section>
								</bar>
								<bar class="box box--bar journey-dc-forage">
									<header class="box__header">Forage DC</header>
									<section class="box__body"></section>
								</bar>
								<panel class="box box--panel journey-day">
									<section class="box__body">
										<table class="table">
											<thead>
												<tr>
													<th class="time">Time of Day</th>
													<th class="danger">Danger</th>
													<th class="roll">Roll</th>
													<th class="event">Event</th>
													<th class="discovery">Discovery</th>
													<th class="guide">Guide</th>
													<th class="forager">Forager</th>
													<th class="scout">Scout</th>
													<th class="lookout">Lookout</th>
													<th class="conditions">Conditions</th>
												</tr>
											</thead>
											<tbody>
												<tr>
													<td class="time">Dawn</td>
													<td class="danger"></td>
													<td class="roll"></td>
													<td class="event"></td>
													<td class="discovery"></td>
													<td class="guide"></td>
													<td class="forager"></td>
													<td class="scout"></td>
													<td class="lookout"></td>
													<td class="conditions">+1 hunger & thirst</td>
												</tr>
												<tr>
													<td class="time">Morning</td>
													<td class="danger"></td>
													<td class="roll"></td>
													<td class="event"></td>
													<td class="discovery"></td>
													<td class="guide"></td>
													<td class="forager"></td>
													<td class="scout"></td>
													<td class="lookout"></td>
													<td class="conditions"></td>
												</tr>
												<tr>
													<td class="time">Noon</td>
													<td class="danger"></td>
													<td class="roll"></td>
													<td class="event"></td>
													<td class="discovery"></td>
													<td class="guide"></td>
													<td class="forager"></td>
													<td class="scout"></td>
													<td class="lookout"></td>
													<td class="conditions">+1 fatigue</td>
												</tr>
												<tr>
													<td class="time">Afternoon</td>
													<td class="danger"></td>
													<td class="roll"></td>
													<td class="event"></td>
													<td class="discovery"></td>
													<td class="guide"></td>
													<td class="forager"></td>
													<td class="scout"></td>
													<td class="lookout"></td>
													<td class="conditions"></td>
												</tr>
												<tr>
													<td class="time">Dusk</td>
													<td class="danger"></td>
													<td class="roll"></td>
													<td class="event"></td>
													<td class="discovery"></td>
													<td class="guide"></td>
													<td class="forager"></td>
													<td class="scout"></td>
													<td class="lookout"></td>
													<td class="conditions">+1 hunger, thirst, & fatigue</td>
												</tr>
												<tr>
													<td class="time">Night</td>
													<td class="danger"></td>
													<td class="roll"></td>
													<td class="event"></td>
													<td class="discovery"></td>
													<td class="guide"></td>
													<td class="forager"></td>
													<td class="scout"></td>
													<td class="lookout"></td>
													<td class="conditions"></td>
												</tr>
											</tbody>
										</table>
									</section>
								</panel>
							</section>
						</well>
						<well class="box box--well journey">
							<section class="box__body">
								<bar class="box box--bar journey-from">
									<header class="box__header">From</header>
									<section class="box__body"></section>
								</bar>
								<bar class="box box--bar journey-to">
									<header class="box__header">To</header>
									<section class="box__body"></section>
								</bar>
								<bar class="box box--bar journey-time">
									<header class="box__header">Day</header>
									<section class="box__body"></section>
								</bar>
								<bar class="box box--bar journey-dc-guide">
									<header class="box__header">Guide DC</header>
									<section class="box__body"></section>
								</bar>
								<bar class="box box--bar journey-dc-forage">
									<header class="box__header">Forage DC</header>
									<section class="box__body"></section>
								</bar>
								<panel class="box box--panel journey-day">
									<section class="box__body">
										<table class="table">
											<thead>
												<tr>
													<th class="time">Time of Day</th>
													<th class="danger">Danger</th>
													<th class="roll">Roll</th>
													<th class="event">Event</th>
													<th class="discovery">Discovery</th>
													<th class="guide">Guide</th>
													<th class="forager">Forager</th>
													<th class="scout">Scout</th>
													<th class="lookout">Lookout</th>
													<th class="conditions">Conditions</th>
												</tr>
											</thead>
											<tbody>
												<tr>
													<td class="time">Dawn</td>
													<td class="danger"></td>
													<td class="roll"></td>
													<td class="event"></td>
													<td class="discovery"></td>
													<td class="guide"></td>
													<td class="forager"></td>
													<td class="scout"></td>
													<td class="lookout"></td>
													<td class="conditions">+1 hunger & thirst</td>
												</tr>
												<tr>
													<td class="time">Morning</td>
													<td class="danger"></td>
													<td class="roll"></td>
													<td class="event"></td>
													<td class="discovery"></td>
													<td class="guide"></td>
													<td class="forager"></td>
													<td class="scout"></td>
													<td class="lookout"></td>
													<td class="conditions"></td>
												</tr>
												<tr>
													<td class="time">Noon</td>
													<td class="danger"></td>
													<td class="roll"></td>
													<td class="event"></td>
													<td class="discovery"></td>
													<td class="guide"></td>
													<td class="forager"></td>
													<td class="scout"></td>
													<td class="lookout"></td>
													<td class="conditions">+1 fatigue</td>
												</tr>
												<tr>
													<td class="time">Afternoon</td>
													<td class="danger"></td>
													<td class="roll"></td>
													<td class="event"></td>
													<td class="discovery"></td>
													<td class="guide"></td>
													<td class="forager"></td>
													<td class="scout"></td>
													<td class="lookout"></td>
													<td class="conditions"></td>
												</tr>
												<tr>
													<td class="time">Dusk</td>
													<td class="danger"></td>
													<td class="roll"></td>
													<td class="event"></td>
													<td class="discovery"></td>
													<td class="guide"></td>
													<td class="forager"></td>
													<td class="scout"></td>
													<td class="lookout"></td>
													<td class="conditions">+1 hunger, thirst, & fatigue</td>
												</tr>
												<tr>
													<td class="time">Night</td>
													<td class="danger"></td>
													<td class="roll"></td>
													<td class="event"></td>
													<td class="discovery"></td>
													<td class="guide"></td>
													<td class="forager"></td>
													<td class="scout"></td>
													<td class="lookout"></td>
													<td class="conditions"></td>
												</tr>
											</tbody>
										</table>
									</section>
								</panel>
							</section>
						</well>
						<well class="box box--well journey">
							<section class="box__body">
								<bar class="box box--bar journey-from">
									<header class="box__header">From</header>
									<section class="box__body"></section>
								</bar>
								<bar class="box box--bar journey-to">
									<header class="box__header">To</header>
									<section class="box__body"></section>
								</bar>
								<bar class="box box--bar journey-time">
									<header class="box__header">Day</header>
									<section class="box__body"></section>
								</bar>
								<bar class="box box--bar journey-dc-guide">
									<header class="box__header">Guide DC</header>
									<section class="box__body"></section>
								</bar>
								<bar class="box box--bar journey-dc-forage">
									<header class="box__header">Forage DC</header>
									<section class="box__body"></section>
								</bar>
								<panel class="box box--panel journey-day">
									<section class="box__body">
										<table class="table">
											<thead>
												<tr>
													<th class="time">Time of Day</th>
													<th class="danger">Danger</th>
													<th class="roll">Roll</th>
													<th class="event">Event</th>
													<th class="discovery">Discovery</th>
													<th class="guide">Guide</th>
													<th class="forager">Forager</th>
													<th class="scout">Scout</th>
													<th class="lookout">Lookout</th>
													<th class="conditions">Conditions</th>
												</tr>
											</thead>
											<tbody>
												<tr>
													<td class="time">Dawn</td>
													<td class="danger"></td>
													<td class="roll"></td>
													<td class="event"></td>
													<td class="discovery"></td>
													<td class="guide"></td>
													<td class="forager"></td>
													<td class="scout"></td>
													<td class="lookout"></td>
													<td class="conditions">+1 hunger & thirst</td>
												</tr>
												<tr>
													<td class="time">Morning</td>
													<td class="danger"></td>
													<td class="roll"></td>
													<td class="event"></td>
													<td class="discovery"></td>
													<td class="guide"></td>
													<td class="forager"></td>
													<td class="scout"></td>
													<td class="lookout"></td>
													<td class="conditions"></td>
												</tr>
												<tr>
													<td class="time">Noon</td>
													<td class="danger"></td>
													<td class="roll"></td>
													<td class="event"></td>
													<td class="discovery"></td>
													<td class="guide"></td>
													<td class="forager"></td>
													<td class="scout"></td>
													<td class="lookout"></td>
													<td class="conditions">+1 fatigue</td>
												</tr>
												<tr>
													<td class="time">Afternoon</td>
													<td class="danger"></td>
													<td class="roll"></td>
													<td class="event"></td>
													<td class="discovery"></td>
													<td class="guide"></td>
													<td class="forager"></td>
													<td class="scout"></td>
													<td class="lookout"></td>
													<td class="conditions"></td>
												</tr>
												<tr>
													<td class="time">Dusk</td>
													<td class="danger"></td>
													<td class="roll"></td>
													<td class="event"></td>
													<td class="discovery"></td>
													<td class="guide"></td>
													<td class="forager"></td>
													<td class="scout"></td>
													<td class="lookout"></td>
													<td class="conditions">+1 hunger, thirst, & fatigue</td>
												</tr>
												<tr>
													<td class="time">Night</td>
													<td class="danger"></td>
													<td class="roll"></td>
													<td class="event"></td>
													<td class="discovery"></td>
													<td class="guide"></td>
													<td class="forager"></td>
													<td class="scout"></td>
													<td class="lookout"></td>
													<td class="conditions"></td>
												</tr>
											</tbody>
										</table>
									</section>
								</panel>
							</section>
						</well>
						<well class="box box--well journey">
							<section class="box__body">
								<bar class="box box--bar journey-from">
									<header class="box__header">From</header>
									<section class="box__body"></section>
								</bar>
								<bar class="box box--bar journey-to">
									<header class="box__header">To</header>
									<section class="box__body"></section>
								</bar>
								<bar class="box box--bar journey-time">
									<header class="box__header">Day</header>
									<section class="box__body"></section>
								</bar>
								<bar class="box box--bar journey-dc-guide">
									<header class="box__header">Guide DC</header>
									<section class="box__body"></section>
								</bar>
								<bar class="box box--bar journey-dc-forage">
									<header class="box__header">Forage DC</header>
									<section class="box__body"></section>
								</bar>
								<panel class="box box--panel journey-day">
									<section class="box__body">
										<table class="table">
											<thead>
												<tr>
													<th class="time">Time of Day</th>
													<th class="danger">Danger</th>
													<th class="roll">Roll</th>
													<th class="event">Event</th>
													<th class="discovery">Discovery</th>
													<th class="guide">Guide</th>
													<th class="forager">Forager</th>
													<th class="scout">Scout</th>
													<th class="lookout">Lookout</th>
													<th class="conditions">Conditions</th>
												</tr>
											</thead>
											<tbody>
												<tr>
													<td class="time">Dawn</td>
													<td class="danger"></td>
													<td class="roll"></td>
													<td class="event"></td>
													<td class="discovery"></td>
													<td class="guide"></td>
													<td class="forager"></td>
													<td class="scout"></td>
													<td class="lookout"></td>
													<td class="conditions">+1 hunger & thirst</td>
												</tr>
												<tr>
													<td class="time">Morning</td>
													<td class="danger"></td>
													<td class="roll"></td>
													<td class="event"></td>
													<td class="discovery"></td>
													<td class="guide"></td>
													<td class="forager"></td>
													<td class="scout"></td>
													<td class="lookout"></td>
													<td class="conditions"></td>
												</tr>
												<tr>
													<td class="time">Noon</td>
													<td class="danger"></td>
													<td class="roll"></td>
													<td class="event"></td>
													<td class="discovery"></td>
													<td class="guide"></td>
													<td class="forager"></td>
													<td class="scout"></td>
													<td class="lookout"></td>
													<td class="conditions">+1 fatigue</td>
												</tr>
												<tr>
													<td class="time">Afternoon</td>
													<td class="danger"></td>
													<td class="roll"></td>
													<td class="event"></td>
													<td class="discovery"></td>
													<td class="guide"></td>
													<td class="forager"></td>
													<td class="scout"></td>
													<td class="lookout"></td>
													<td class="conditions"></td>
												</tr>
												<tr>
													<td class="time">Dusk</td>
													<td class="danger"></td>
													<td class="roll"></td>
													<td class="event"></td>
													<td class="discovery"></td>
													<td class="guide"></td>
													<td class="forager"></td>
													<td class="scout"></td>
													<td class="lookout"></td>
													<td class="conditions">+1 hunger, thirst, & fatigue</td>
												</tr>
												<tr>
													<td class="time">Night</td>
													<td class="danger"></td>
													<td class="roll"></td>
													<td class="event"></td>
													<td class="discovery"></td>
													<td class="guide"></td>
													<td class="forager"></td>
													<td class="scout"></td>
													<td class="lookout"></td>
													<td class="conditions"></td>
												</tr>
											</tbody>
										</table>
									</section>
								</panel>
							</section>
						</well>
						<box class="box box--generic notes">
							<header class="box__header">Additional Notes</header>
							<section class="box__body">
								<div class="layout--columns layout--columns--2 layout--columns--nogrid">
									<ul class="box__lines">
										<li>&nbsp;</li>
										<li>&nbsp;</li>
										<li>&nbsp;</li>
										<li>&nbsp;</li>
										<li>&nbsp;</li>
										<li>&nbsp;</li>
									</ul>
									<ul class="box__lines">
										<li>&nbsp;</li>
										<li>&nbsp;</li>
										<li>&nbsp;</li>
										<li>&nbsp;</li>
										<li>&nbsp;</li>
										<li>&nbsp;</li>
									</ul>
								</div>
							</section>
						</box>
					</section>
					<footer class="sheet__footer">
						<p>Giffyglyph's D&D 5e Character Sheet & Trackers v2.0</p>
					</footer>
				</sheet>
			</page>
		</book>
	</body>
</html>
