<html>
	<body>
		<book class="book">
			<page class="page page--sheet page--equipment-grid page--equipment-grid--1">
				<sheet class="sheet">
					<section class="sheet__body">
						<box class="box box--generic portrait">
							<header class="box__header">Appearance</header>
						</box>
						<panel class="box box--panel memories">
							<header class="box__header">Memories</header>
							<section class="box__body">
								<ul class="box__lines">
									<li>&nbsp;</li>
									<li>&nbsp;</li>
									<li>&nbsp;</li>
									<li>&nbsp;</li>
									<li>&nbsp;</li>
									<li>&nbsp;</li>
									<li>&nbsp;</li>
									<li>&nbsp;</li>
									<li>&nbsp;</li>
									<li>&nbsp;</li>
									<li>&nbsp;</li>
									<li>&nbsp;</li>
									<li>&nbsp;</li>
									<li>&nbsp;</li>
								</ul>
							</section>
						</panel>
						<well class="box box--well character">
							<section class="box__body">
								<box class="box box--generic details">
									<header class="box__header">Details</header>
									<section class="box__body">
										<ul class="list-nostyle">
											<li><span class="label">Age</span><span class="line"></span></li>
											<li><span class="label">Height</span><span class="line"></span></li>
											<li><span class="label">Weight</span><span class="line"></span></li>
											<li><span class="label">Distinguishing Feature</span><span class="line"></span></li>
											<li><span class="label">Motivation</span><span class="line"></span></li>
											<li><span class="line empty">&nbsp;</span></li>
											<li><span class="label">Habit</span><span class="line"></span></li>
											<li><span class="line empty">&nbsp;</span></li>
										</ul>
									</section>
								</box>
								<box class="box box--generic quest">
									<header class="box__header">Personal Quest</header>
									<section class="box__body">
										<ul class="box__lines">
											<li>&nbsp;</li>
											<li>&nbsp;</li>
											<li>&nbsp;</li>
										</ul>
									</section>
								</box>
								<box class="box box--generic family">
									<header class="box__header">Family</header>
									<section class="box__body">
										<ul class="box__lines">
											<li>&nbsp;</li>
											<li>&nbsp;</li>
											<li>&nbsp;</li>
										</ul>
									</section>
								</box>
								<box class="box box--generic box--generic--top personality">
									<header class="box__header">Personality Traits</header>
									<section class="box__body">
										<ul class="box__lines">
											<li>&nbsp;</li>
											<li>&nbsp;</li>
											<li>&nbsp;</li>
										</ul>
									</section>
								</box>
								<box class="box box--generic box--generic--middle ideals">
									<header class="box__header">Ideals</header>
									<section class="box__body">
										<ul class="box__lines">
											<li>&nbsp;</li>
											<li>&nbsp;</li>
											<li>&nbsp;</li>
										</ul>
									</section>
								</box>
								<box class="box box--generic box-generic--middle bonds">
									<header class="box__header">Bonds</header>
									<section class="box__body">
										<ul class="box__lines">
											<li>&nbsp;</li>
											<li>&nbsp;</li>
											<li>&nbsp;</li>
										</ul>
									</section>
								</box>
								<box class="box box--generic box--generic--bottom flaws">
									<header class="box__header">Flaws</header>
									<section class="box__body">
										<ul class="box__lines">
											<li>&nbsp;</li>
											<li>&nbsp;</li>
											<li>&nbsp;</li>
										</ul>
									</section>
								</box>
								<box class="box box--generic notes">
									<header class="box__header">Additional Notes</header>
									<section class="box__body">
										<div class="layout--columns layout--columns--2 layout--columns--nogrid">
											<ul class="box__lines">
												<li>&nbsp;</li>
												<li>&nbsp;</li>
												<li>&nbsp;</li>
												<li>&nbsp;</li>
												<li>&nbsp;</li>
												<li>&nbsp;</li>
												<li>&nbsp;</li>
												<li>&nbsp;</li>
											</ul>
											<ul class="box__lines">
												<li>&nbsp;</li>
												<li>&nbsp;</li>
												<li>&nbsp;</li>
												<li>&nbsp;</li>
												<li>&nbsp;</li>
												<li>&nbsp;</li>
												<li>&nbsp;</li>
												<li>&nbsp;</li>
											</ul>
										</div>
									</section>
								</box>
							</section>
						</well>
						<well class="box box--well equipment">
							<section class="box__body">
								<bar class="box box--bar rations">
									<header class="box__header">Rations</header>
									<section class="box__body">
										<div class="dots">
											<div class="dot"></div>
											<div class="dot"></div>
											<div class="dot"></div>
											<div class="dot"></div>
											<div class="dot"></div>
										</div>
									</section>
								</bar>
								<bar class="box box--bar waterskin">
									<header class="box__header">Waterskin</header>
									<section class="box__body">
										<div class="dots">
											<div class="dot"></div>
											<div class="dot"></div>
											<div class="dot"></div>
											<div class="dot"></div>
											<div class="dot"></div>
										</div>
									</section>
								</bar>
								<bar class="box box--bar coin-cp">
									<header class="box__header">Copper</header>
									<section class="box__body">
									</section>
								</bar>
								<bar class="box box--bar coin-sp">
									<header class="box__header">Silver</header>
									<section class="box__body">
									</section>
								</bar>
								<bar class="box box--bar coin-gp">
									<header class="box__header">Gold</header>
									<section class="box__body">
									</section>
								</bar>
								<bar class="box box--bar slots">
									<header class="box__header">Inventory Slots</header>
									<section class="box__body">
									</section>
								</bar>
								<box class="box box--generic tracking">
									<header class="box__header">Item Charges</header>
									<section class="box__body">
										<table class="table"> 
											<thead>
												<tr>
													<th>Name</th>
													<th><span>5</span><span>4</span><span>3</span><span>2</span><span>1</span></th>
												</tr>
											</thead>
											<tbody>
												<tr>
													<td></td>
													<td>
														<div class="dots dots-sm chain-h">
															<div class="dot"></div>
															<div class="dot"></div>
															<div class="dot"></div>
															<div class="dot"></div>
															<div class="dot"></div>
														</div>
													</td>
												</tr>
												<tr>
													<td></td>
													<td>
														<div class="dots dots-sm chain-h">
															<div class="dot"></div>
															<div class="dot"></div>
															<div class="dot"></div>
															<div class="dot"></div>
															<div class="dot"></div>
														</div>
													</td>
												</tr>
												<tr>
													<td></td>
													<td>
														<div class="dots dots-sm chain-h">
															<div class="dot"></div>
															<div class="dot"></div>
															<div class="dot"></div>
															<div class="dot"></div>
															<div class="dot"></div>
														</div>
													</td>
												</tr>
												<tr>
													<td></td>
													<td>
														<div class="dots dots-sm chain-h">
															<div class="dot"></div>
															<div class="dot"></div>
															<div class="dot"></div>
															<div class="dot"></div>
															<div class="dot"></div>
														</div>
													</td>
												</tr>
												<tr>
													<td></td>
													<td>
														<div class="dots dots-sm chain-h">
															<div class="dot"></div>
															<div class="dot"></div>
															<div class="dot"></div>
															<div class="dot"></div>
															<div class="dot"></div>
														</div>
													</td>
												</tr>
											</tbody>
										</table>
									</section>
								</box>
								<box class="box box--generic usage-die">
									<header class="box__header">Usage & Ammunition Die</header>
									<section class="box__body">
										<table class="table"> 
											<thead>
												<tr>
													<th>Name</th>
													<th><span>20</span><span>12</span><span>10</span><span>8</span><span>6</span><span>4</span><span>1</span></th>
												</tr>
											</thead>
											<tbody>
												<tr>
													<td></td>
													<td>
														<div class="dots dots-sm chain-h">
															<div class="dot"></div>
															<div class="dot"></div>
															<div class="dot"></div>
															<div class="dot"></div>
															<div class="dot"></div>
															<div class="dot"></div>
															<div class="dot"></div>
														</div>
													</td>
												</tr>
												<tr>
													<td></td>
													<td>
														<div class="dots dots-sm chain-h">
															<div class="dot"></div>
															<div class="dot"></div>
															<div class="dot"></div>
															<div class="dot"></div>
															<div class="dot"></div>
															<div class="dot"></div>
															<div class="dot"></div>
														</div>
													</td>
												</tr>
												<tr>
													<td></td>
													<td>
														<div class="dots dots-sm chain-h">
															<div class="dot"></div>
															<div class="dot"></div>
															<div class="dot"></div>
															<div class="dot"></div>
															<div class="dot"></div>
															<div class="dot"></div>
															<div class="dot"></div>
														</div>
													</td>
												</tr>
												<tr>
													<td></td>
													<td>
														<div class="dots dots-sm chain-h">
															<div class="dot"></div>
															<div class="dot"></div>
															<div class="dot"></div>
															<div class="dot"></div>
															<div class="dot"></div>
															<div class="dot"></div>
															<div class="dot"></div>
														</div>
													</td>
												</tr>
												<tr>
													<td></td>
													<td>
														<div class="dots dots-sm chain-h">
															<div class="dot"></div>
															<div class="dot"></div>
															<div class="dot"></div>
															<div class="dot"></div>
															<div class="dot"></div>
															<div class="dot"></div>
															<div class="dot"></div>
														</div>
													</td>
												</tr>
											</tbody>
										</table>
									</section>
								</box>
								<panel class="box box--panel carried-gear">
									<header class="box__header">Equipment</header>
									<section class="box__body">
										<div class="carried-gear-grid">
											<div class="carried-gear-grid-slot"></div>
											<div class="carried-gear-grid-slot"></div>
											<div class="carried-gear-grid-slot"></div>
											<div class="carried-gear-grid-slot"></div>
											<div class="carried-gear-grid-slot"></div>
											<div class="carried-gear-grid-slot"></div>
											<div class="carried-gear-grid-slot"></div>
											<div class="carried-gear-grid-slot"></div>
											<div class="carried-gear-grid-slot"></div>
											<div class="carried-gear-grid-slot"></div>
											<div class="carried-gear-grid-slot"></div>
											<div class="carried-gear-grid-slot"></div>
											<div class="carried-gear-grid-slot"></div>
											<div class="carried-gear-grid-slot"></div>
											<div class="carried-gear-grid-slot"></div>
											<div class="carried-gear-grid-slot"></div>
											<div class="carried-gear-grid-slot"></div>
											<div class="carried-gear-grid-slot"></div>
											<div class="carried-gear-grid-slot"></div>
											<div class="carried-gear-grid-slot"></div>
											<div class="carried-gear-grid-slot"></div>
										</div>
									</section>
								</panel>
							</section>
						</well>
					</section>
					<footer class="sheet__footer">
						<p>Giffyglyph's D&D 5e Character Sheet & Trackers v2.0</p>
					</footer>
				</sheet>
			</page>
			<page class="page page--sheet page--equipment-grid page--equipment-grid--2">
				<sheet class="sheet">
					<section class="sheet__body">
						<box class="box box--header character-name">
							<section class="box__body">
								<img class="header__brand" src="../images/skins/avaristo/theme-default/page-sheet/icons/gdd.png"/>
								<img class="header__icon" src="../images/skins/avaristo/theme-default/page-sheet/icons/chest.png"/>
							</section>
						</box>
						<well class="box box--well equipment">
							<section class="box__body">
								<bar class="box box--bar rations">
									<header class="box__header">Rations</header>
									<section class="box__body">
										<div class="dots">
											<div class="dot"></div>
											<div class="dot"></div>
											<div class="dot"></div>
											<div class="dot"></div>
											<div class="dot"></div>
										</div>
									</section>
								</bar>
								<bar class="box box--bar waterskin">
									<header class="box__header">Waterskin</header>
									<section class="box__body">
										<div class="dots">
											<div class="dot"></div>
											<div class="dot"></div>
											<div class="dot"></div>
											<div class="dot"></div>
											<div class="dot"></div>
										</div>
									</section>
								</bar>
								<bar class="box box--bar coin-cp">
									<header class="box__header">Copper</header>
									<section class="box__body">
									</section>
								</bar>
								<bar class="box box--bar coin-sp">
									<header class="box__header">Silver</header>
									<section class="box__body">
									</section>
								</bar>
								<bar class="box box--bar coin-gp">
									<header class="box__header">Gold</header>
									<section class="box__body">
									</section>
								</bar>
								<bar class="box box--bar slots">
									<header class="box__header">Inventory Slots</header>
									<section class="box__body">
									</section>
								</bar>
								<box class="box box--generic tracking">
									<header class="box__header">Item Charges</header>
									<section class="box__body">
										<table class="table"> 
											<thead>
												<tr>
													<th>Name</th>
													<th><span>5</span><span>4</span><span>3</span><span>2</span><span>1</span></th>
												</tr>
											</thead>
											<tbody>
												<tr>
													<td></td>
													<td>
														<div class="dots dots-sm chain-h">
															<div class="dot"></div>
															<div class="dot"></div>
															<div class="dot"></div>
															<div class="dot"></div>
															<div class="dot"></div>
														</div>
													</td>
												</tr>
												<tr>
													<td></td>
													<td>
														<div class="dots dots-sm chain-h">
															<div class="dot"></div>
															<div class="dot"></div>
															<div class="dot"></div>
															<div class="dot"></div>
															<div class="dot"></div>
														</div>
													</td>
												</tr>
												<tr>
													<td></td>
													<td>
														<div class="dots dots-sm chain-h">
															<div class="dot"></div>
															<div class="dot"></div>
															<div class="dot"></div>
															<div class="dot"></div>
															<div class="dot"></div>
														</div>
													</td>
												</tr>
												<tr>
													<td></td>
													<td>
														<div class="dots dots-sm chain-h">
															<div class="dot"></div>
															<div class="dot"></div>
															<div class="dot"></div>
															<div class="dot"></div>
															<div class="dot"></div>
														</div>
													</td>
												</tr>
												<tr>
													<td></td>
													<td>
														<div class="dots dots-sm chain-h">
															<div class="dot"></div>
															<div class="dot"></div>
															<div class="dot"></div>
															<div class="dot"></div>
															<div class="dot"></div>
														</div>
													</td>
												</tr>
											</tbody>
										</table>
									</section>
								</box>
								<box class="box box--generic usage-die">
									<header class="box__header">Usage & Ammunition Die</header>
									<section class="box__body">
										<table class="table"> 
											<thead>
												<tr>
													<th>Name</th>
													<th><span>20</span><span>12</span><span>10</span><span>8</span><span>6</span><span>4</span><span>1</span></th>
												</tr>
											</thead>
											<tbody>
												<tr>
													<td></td>
													<td>
														<div class="dots dots-sm chain-h">
															<div class="dot"></div>
															<div class="dot"></div>
															<div class="dot"></div>
															<div class="dot"></div>
															<div class="dot"></div>
															<div class="dot"></div>
															<div class="dot"></div>
														</div>
													</td>
												</tr>
												<tr>
													<td></td>
													<td>
														<div class="dots dots-sm chain-h">
															<div class="dot"></div>
															<div class="dot"></div>
															<div class="dot"></div>
															<div class="dot"></div>
															<div class="dot"></div>
															<div class="dot"></div>
															<div class="dot"></div>
														</div>
													</td>
												</tr>
												<tr>
													<td></td>
													<td>
														<div class="dots dots-sm chain-h">
															<div class="dot"></div>
															<div class="dot"></div>
															<div class="dot"></div>
															<div class="dot"></div>
															<div class="dot"></div>
															<div class="dot"></div>
															<div class="dot"></div>
														</div>
													</td>
												</tr>
												<tr>
													<td></td>
													<td>
														<div class="dots dots-sm chain-h">
															<div class="dot"></div>
															<div class="dot"></div>
															<div class="dot"></div>
															<div class="dot"></div>
															<div class="dot"></div>
															<div class="dot"></div>
															<div class="dot"></div>
														</div>
													</td>
												</tr>
												<tr>
													<td></td>
													<td>
														<div class="dots dots-sm chain-h">
															<div class="dot"></div>
															<div class="dot"></div>
															<div class="dot"></div>
															<div class="dot"></div>
															<div class="dot"></div>
															<div class="dot"></div>
															<div class="dot"></div>
														</div>
													</td>
												</tr>
											</tbody>
										</table>
									</section>
								</box>
								<panel class="box box--panel carried-gear">
									<header class="box__header">Equipment</header>
									<section class="box__body">
										<div class="carried-gear-grid">
											<div class="carried-gear-grid-slot"></div>
											<div class="carried-gear-grid-slot"></div>
											<div class="carried-gear-grid-slot"></div>
											<div class="carried-gear-grid-slot"></div>
											<div class="carried-gear-grid-slot"></div>
											<div class="carried-gear-grid-slot"></div>
											<div class="carried-gear-grid-slot"></div>
											<div class="carried-gear-grid-slot"></div>
											<div class="carried-gear-grid-slot"></div>
											<div class="carried-gear-grid-slot"></div>
											<div class="carried-gear-grid-slot"></div>
											<div class="carried-gear-grid-slot"></div>
											<div class="carried-gear-grid-slot"></div>
											<div class="carried-gear-grid-slot"></div>
											<div class="carried-gear-grid-slot"></div>
											<div class="carried-gear-grid-slot"></div>
											<div class="carried-gear-grid-slot"></div>
											<div class="carried-gear-grid-slot"></div>
											<div class="carried-gear-grid-slot"></div>
											<div class="carried-gear-grid-slot"></div>
											<div class="carried-gear-grid-slot"></div>
											<div class="carried-gear-grid-slot"></div>
											<div class="carried-gear-grid-slot"></div>
											<div class="carried-gear-grid-slot"></div>
											<div class="carried-gear-grid-slot"></div>
											<div class="carried-gear-grid-slot"></div>
											<div class="carried-gear-grid-slot"></div>
											<div class="carried-gear-grid-slot"></div>
											<div class="carried-gear-grid-slot"></div>
											<div class="carried-gear-grid-slot"></div>
											<div class="carried-gear-grid-slot"></div>
											<div class="carried-gear-grid-slot"></div>
											<div class="carried-gear-grid-slot"></div>
											<div class="carried-gear-grid-slot"></div>
											<div class="carried-gear-grid-slot"></div>
										</div>
									</section>
								</panel>
							</section>
						</well>
						<well class="box box--well magic-items">
							<section class="box__body">
								<box class="box box--generic magic-item split-top">
									<header class="box__header">Magic Item</header>
									<section class="box__body">
										<ul class="box__lines">
											<li>Name<span class="dot"></span></li>
											<li>Description</li>
											<li>&nbsp;</li>
										</ul>
									</section>
								</box>
								<box class="box box--generic magic-item split-top">
									<header class="box__header">Magic Item</header>
									<section class="box__body">
										<ul class="box__lines">
											<li>Name<span class="dot"></span></li>
											<li>Description</li>
											<li>&nbsp;</li>
										</ul>
									</section>
								</box>
								<box class="box box--generic magic-item split-bottom">
									<header class="box__header">Magic Item</header>
									<section class="box__body">
										<ul class="box__lines">
											<li>Name<span class="dot"></span></li>
											<li>Description</li>
											<li>&nbsp;</li>
										</ul>
									</section>
								</box>
								<box class="box box--generic magic-item split-bottom">
									<header class="box__header">Magic Item</header>
									<section class="box__body">
										<ul class="box__lines">
											<li>Name<span class="dot"></span></li>
											<li>Description</li>
											<li>&nbsp;</li>
										</ul>
									</section>
								</box>
							</section>
						</well>
						<panel class="box box--panel holdings">
							<header class="box__header">Other Holdings</header>
							<section class="box__body">
								<ul class="box__lines">
									<li>&nbsp;</li>
									<li>&nbsp;</li>
									<li>&nbsp;</li>
									<li>&nbsp;</li>
									<li>&nbsp;</li>
									<li>&nbsp;</li>
									<li>&nbsp;</li>
									<li>&nbsp;</li>
									<li>&nbsp;</li>
									<li>&nbsp;</li>
									<li>&nbsp;</li>
								</ul>
							</section>
						</panel>
					</section>
					<footer class="sheet__footer">
						<p>Giffyglyph's D&D 5e Character Sheet & Trackers v2.0</p>
					</footer>
				</sheet>
			</page>
			<page class="page page--sheet page--equipment-grid page--equipment-grid--3">
				<sheet class="sheet">
					<section class="sheet__body">
						<div class="grid-boxes">
							<div class="row-1">
								<box class="box box--generic"></box>
								<box class="box box--generic"></box>
								<box class="box box--generic"></box>
								<box class="box box--generic"></box>
							</div>
							<div class="row-1">
								<box class="box box--generic"></box>
								<box class="box box--generic"></box>
								<box class="box box--generic"></box>
								<box class="box box--generic"></box>
							</div>
							<div class="row-2">
								<box class="box box--generic"></box>
								<box class="box box--generic"></box>
								<box class="box box--generic"></box>
								<box class="box box--generic"></box>
							</div>
							<div class="row-4">
								<box class="box box--generic"></box>
								<box class="box box--generic"></box>
								<box class="box box--generic"></box>
							</div>
							<div class="row-6-h">
								<box class="box box--generic"></box>
								<box class="box box--generic"></box>
								<box class="box box--generic"></box>
							</div>
						</div>
						<div class="grid-boxes">
							<div class="row-3-h" style="height: 430px">
								<box class="box box--generic"></box>
								<box class="box box--generic"></box>
								<box class="box box--generic"></box>
								<box class="box box--generic"></box>
							</div>
							<div class="row-6">
								<box class="box box--generic"></box>
							</div>
							<div class="row-9">
								<box class="box box--generic"></box>
							</div>
						</div>
					</section>
					<footer class="sheet__footer">
						<p>Giffyglyph's D&D 5e Character Sheet & Trackers v2.0</p>
					</footer>
				</sheet>
			</page>
		</book>
	</body>
</html>
