<html>
	<body>
		<book class="book">
			<page class="page page--sheet page--sheet-trials">
				<sheet class="sheet">
					<section class="sheet__body">
						<box class="box box--header">
							<section class="box__body">
								<img class="header__brand" src="../images/skins/avaristo/theme-default/page-sheet/icons/gdd.png"/>
								<img class="header__icon" src="../images/skins/avaristo/theme-default/page-sheet/icons/d20.png"/>
							</section>
						</box>
						<well class="box box--well">
							<section class="box__body">
								<div class="trial">
									<box class="box box--generic trial__title">
										<header class="box__header">Trial</header>
										<section class="box__body"></section>
									</box>
									<box class="box box--generic trial__dc">
										<header class="box__header">DC</header>
										<section class="box__body"></section>
									</box>
									<box class="box box--generic trial__successes">
										<header class="box__header">Successes</header>
										<section class="box__body">
											<div class="layout--columns layout--columns--2">
												<p class="heading">Total</p>
												<p class="heading">Required</p>
											</div>
										</section>
									</box>
									<box class="box box--generic trial__failures">
										<header class="box__header">Failures</header>
										<section class="box__body">
											<div class="dots">
												<div class="dot"></div>
												<div class="dot"></div>
												<div class="dot"></div>
												<div class="dot"></div>
												<div class="dot"></div>
											</div>
										</section>
									</box>
									<box class="box box--bar trial__pace">
										<header class="box__header">Pace</header>
										<section class="box__body"></section>
									</box>
									<box class="box box--bar trial__deadline">
										<header class="box__header">Deadline</header>
										<section class="box__body"></section>
									</box>
									<box class="box box--generic trial__goal">
										<header class="box__header">Goal</header>
										<section class="box__body"></section>
									</box>
									<box class="box box--generic trial__outcomes">
										<header class="box__header">Outcomes</header>
										<section class="box__body">
											<table class="table">
												<thead>
													<tr>
														<th>Failures</th>
														<th>Outcome</th>
													</tr>
												</thead>
												<tbody>
													<tr>
														<td>0</th>
														<td><strong>Major Victory:</strong></th>
													</tr>
													<tr>
														<td>1-2</th>
														<td><strong>Minor Victory:</strong></th>
													</tr>
													<tr>
														<td>3-4</th>
														<td><strong>Minor Defeat:</strong></th>
													</tr>
													<tr>
														<td>5</th>
														<td><strong>Major Defeat:</strong></th>
													</tr>
												</tbody>
											</table>
										</section>
									</box>
									<box class="box box--generic trial__tasks">
										<header class="box__header">Tasks</header>
										<section class="box__body">
											<table class="table">
												<thead>
													<tr>
														<th>Task</th>
														<th>Successes</th>
													</tr>
												</thead>
												<tbody>
													<tr>
														<td></td>
														<td></td>
													</tr>
													<tr>
														<td></td>
														<td></td>
													</tr>
													<tr>
														<td></td>
														<td></td>
													</tr>
													<tr>
														<td></td>
														<td></td>
													</tr>
													<tr>
														<td></td>
														<td></td>
													</tr>
												</tbody>
											</table>
										</section>
									</box>
								</div>
							</section>
						</well>
						<well class="box box--well">
							<section class="box__body">
								<div class="trial">
									<box class="box box--generic trial__title">
										<header class="box__header">Trial</header>
										<section class="box__body"></section>
									</box>
									<box class="box box--generic trial__dc">
										<header class="box__header">DC</header>
										<section class="box__body"></section>
									</box>
									<box class="box box--generic trial__successes">
										<header class="box__header">Successes</header>
										<section class="box__body">
											<div class="layout--columns layout--columns--2">
												<p class="heading">Total</p>
												<p class="heading">Required</p>
											</div>
										</section>
									</box>
									<box class="box box--generic trial__failures">
										<header class="box__header">Failures</header>
										<section class="box__body">
											<div class="dots">
												<div class="dot"></div>
												<div class="dot"></div>
												<div class="dot"></div>
												<div class="dot"></div>
												<div class="dot"></div>
											</div>
										</section>
									</box>
									<box class="box box--bar trial__pace">
										<header class="box__header">Pace</header>
										<section class="box__body"></section>
									</box>
									<box class="box box--bar trial__deadline">
										<header class="box__header">Deadline</header>
										<section class="box__body"></section>
									</box>
									<box class="box box--generic trial__goal">
										<header class="box__header">Goal</header>
										<section class="box__body"></section>
									</box>
									<box class="box box--generic trial__outcomes">
										<header class="box__header">Outcomes</header>
										<section class="box__body">
											<table class="table">
												<thead>
													<tr>
														<th>Failures</th>
														<th>Outcome</th>
													</tr>
												</thead>
												<tbody>
													<tr>
														<td>0</th>
														<td><strong>Major Victory:</strong></th>
													</tr>
													<tr>
														<td>1-2</th>
														<td><strong>Minor Victory:</strong></th>
													</tr>
													<tr>
														<td>3-4</th>
														<td><strong>Minor Defeat:</strong></th>
													</tr>
													<tr>
														<td>5</th>
														<td><strong>Major Defeat:</strong></th>
													</tr>
												</tbody>
											</table>
										</section>
									</box>
									<box class="box box--generic trial__tasks">
										<header class="box__header">Tasks</header>
										<section class="box__body">
											<table class="table">
												<thead>
													<tr>
														<th>Task</th>
														<th>Successes</th>
													</tr>
												</thead>
												<tbody>
													<tr>
														<td></td>
														<td></td>
													</tr>
													<tr>
														<td></td>
														<td></td>
													</tr>
													<tr>
														<td></td>
														<td></td>
													</tr>
													<tr>
														<td></td>
														<td></td>
													</tr>
													<tr>
														<td></td>
														<td></td>
													</tr>
												</tbody>
											</table>
										</section>
									</box>
								</div>
							</section>
						</well>
					</section>
					<footer class="sheet__footer">
						<p>Giffyglyph's D&D 5e Character Sheet & Trackers v2.0</p>
					</footer>
				</div>
			</page>
		</book>
	</body>
</html>
