<html>
	<body>
		<book class="book">
			<page class="page page--sheet page--equipment">
				<sheet class="sheet">
					<section class="sheet__body">
						<box class="box box--header character-name">
							<section class="box__body">
								<img class="header__brand" src="../images/skins/avaristo/theme-default/page-sheet/icons/gdd.png"/>
								<img class="header__icon" src="../images/skins/avaristo/theme-default/page-sheet/icons/chest.png"/>
							</section>
						</box>
						<well class="box box--well equipment">
							<section class="box__body">
								<bar class="box box--bar rations">
									<header class="box__header">Rations</header>
									<section class="box__body">
										<div class="dots">
											<div class="dot"></div>
											<div class="dot"></div>
											<div class="dot"></div>
											<div class="dot"></div>
											<div class="dot"></div>
										</div>
									</section>
								</bar>
								<bar class="box box--bar waterskin">
									<header class="box__header">Waterskin</header>
									<section class="box__body">
										<div class="dots">
											<div class="dot"></div>
											<div class="dot"></div>
											<div class="dot"></div>
											<div class="dot"></div>
											<div class="dot"></div>
										</div>
									</section>
								</bar>
								<bar class="box box--bar coin-cp">
									<header class="box__header">Copper</header>
									<section class="box__body">
									</section>
								</bar>
								<bar class="box box--bar coin-sp">
									<header class="box__header">Silver</header>
									<section class="box__body">
									</section>
								</bar>
								<bar class="box box--bar coin-gp">
									<header class="box__header">Gold</header>
									<section class="box__body">
									</section>
								</bar>
								<bar class="box box--bar slots">
									<header class="box__header">Inventory Slots</header>
									<section class="box__body">
									</section>
								</bar>
								<box class="box box--generic tracking">
									<header class="box__header">Item Charges</header>
									<section class="box__body">
										<table class="table">
											<thead>
												<tr>
													<th>Name</th>
													<th><span>5</span><span>4</span><span>3</span><span>2</span><span>1</span></th>
												</tr>
											</thead>
											<tbody>
												<tr>
													<td></td>
													<td>
														<div class="dots dots-sm chain-h">
															<div class="dot"></div>
															<div class="dot"></div>
															<div class="dot"></div>
															<div class="dot"></div>
															<div class="dot"></div>
														</div>
													</td>
												</tr>
												<tr>
													<td></td>
													<td>
														<div class="dots dots-sm chain-h">
															<div class="dot"></div>
															<div class="dot"></div>
															<div class="dot"></div>
															<div class="dot"></div>
															<div class="dot"></div>
														</div>
													</td>
												</tr>
												<tr>
													<td></td>
													<td>
														<div class="dots dots-sm chain-h">
															<div class="dot"></div>
															<div class="dot"></div>
															<div class="dot"></div>
															<div class="dot"></div>
															<div class="dot"></div>
														</div>
													</td>
												</tr>
												<tr>
													<td></td>
													<td>
														<div class="dots dots-sm chain-h">
															<div class="dot"></div>
															<div class="dot"></div>
															<div class="dot"></div>
															<div class="dot"></div>
															<div class="dot"></div>
														</div>
													</td>
												</tr>
												<tr>
													<td></td>
													<td>
														<div class="dots dots-sm chain-h">
															<div class="dot"></div>
															<div class="dot"></div>
															<div class="dot"></div>
															<div class="dot"></div>
															<div class="dot"></div>
														</div>
													</td>
												</tr>
											</tbody>
										</table>
									</section>
								</box>
								<box class="box box--generic usage-die">
									<header class="box__header">Usage & Ammunition Die</header>
									<section class="box__body">
										<table class="table">
											<thead>
												<tr>
													<th>Name</th>
													<th><span>20</span><span>12</span><span>10</span><span>8</span><span>6</span><span>4</span><span>1</span></th>
												</tr>
											</thead>
											<tbody>
												<tr>
													<td></td>
													<td>
														<div class="dots dots-sm chain-h">
															<div class="dot"></div>
															<div class="dot"></div>
															<div class="dot"></div>
															<div class="dot"></div>
															<div class="dot"></div>
															<div class="dot"></div>
															<div class="dot"></div>
														</div>
													</td>
												</tr>
												<tr>
													<td></td>
													<td>
														<div class="dots dots-sm chain-h">
															<div class="dot"></div>
															<div class="dot"></div>
															<div class="dot"></div>
															<div class="dot"></div>
															<div class="dot"></div>
															<div class="dot"></div>
															<div class="dot"></div>
														</div>
													</td>
												</tr>
												<tr>
													<td></td>
													<td>
														<div class="dots dots-sm chain-h">
															<div class="dot"></div>
															<div class="dot"></div>
															<div class="dot"></div>
															<div class="dot"></div>
															<div class="dot"></div>
															<div class="dot"></div>
															<div class="dot"></div>
														</div>
													</td>
												</tr>
												<tr>
													<td></td>
													<td>
														<div class="dots dots-sm chain-h">
															<div class="dot"></div>
															<div class="dot"></div>
															<div class="dot"></div>
															<div class="dot"></div>
															<div class="dot"></div>
															<div class="dot"></div>
															<div class="dot"></div>
														</div>
													</td>
												</tr>
												<tr>
													<td></td>
													<td>
														<div class="dots dots-sm chain-h">
															<div class="dot"></div>
															<div class="dot"></div>
															<div class="dot"></div>
															<div class="dot"></div>
															<div class="dot"></div>
															<div class="dot"></div>
															<div class="dot"></div>
														</div>
													</td>
												</tr>
											</tbody>
										</table>
									</section>
								</box>
								<panel class="box box--panel carried-gear">
									<header class="box__header">Equipment</header>
									<section class="box__body">
										<table class="table">
											<thead>
												<tr>
													<th>Item</th>
													<th>Details</th>
													<th>Bulk</th>
													<th>Quantity</th>
													<th>Notches</th>
												</tr>
											</thead>
											<tbody>
												<tr>
													<td></td>
													<td></td>
													<td></td>
													<td></td>
													<td></td>
												</tr>
												<tr>
													<td></td>
													<td></td>
													<td></td>
													<td></td>
													<td></td>
												</tr>
												<tr>
													<td></td>
													<td></td>
													<td></td>
													<td></td>
													<td></td>
												</tr>
												<tr>
													<td></td>
													<td></td>
													<td></td>
													<td></td>
													<td></td>
												</tr>
												<tr>
													<td></td>
													<td></td>
													<td></td>
													<td></td>
													<td></td>
												</tr>
												<tr>
													<td></td>
													<td></td>
													<td></td>
													<td></td>
													<td></td>
												</tr>
												<tr>
													<td></td>
													<td></td>
													<td></td>
													<td></td>
													<td></td>
												</tr>
												<tr>
													<td></td>
													<td></td>
													<td></td>
													<td></td>
													<td></td>
												</tr>
												<tr>
													<td></td>
													<td></td>
													<td></td>
													<td></td>
													<td></td>
												</tr>
												<tr>
													<td></td>
													<td></td>
													<td></td>
													<td></td>
													<td></td>
												</tr>
												<tr>
													<td></td>
													<td></td>
													<td></td>
													<td></td>
													<td></td>
												</tr>
												<tr>
													<td></td>
													<td></td>
													<td></td>
													<td></td>
													<td></td>
												</tr>
												<tr>
													<td></td>
													<td></td>
													<td></td>
													<td></td>
													<td></td>
												</tr>
												<tr>
													<td></td>
													<td></td>
													<td></td>
													<td></td>
													<td></td>
												</tr>
												<tr>
													<td></td>
													<td></td>
													<td></td>
													<td></td>
													<td></td>
												</tr>
												<tr>
													<td></td>
													<td></td>
													<td></td>
													<td></td>
													<td></td>
												</tr>
												<tr>
													<td></td>
													<td></td>
													<td></td>
													<td></td>
													<td></td>
												</tr>
												<tr>
													<td></td>
													<td></td>
													<td></td>
													<td></td>
													<td></td>
												</tr>
												<tr>
													<td></td>
													<td></td>
													<td></td>
													<td></td>
													<td></td>
												</tr>
												<tr>
													<td></td>
													<td></td>
													<td></td>
													<td></td>
													<td></td>
												</tr>
												<tr>
													<td></td>
													<td></td>
													<td></td>
													<td></td>
													<td></td>
												</tr>
												<tr>
													<td></td>
													<td></td>
													<td></td>
													<td></td>
													<td></td>
												</tr>
												<tr>
													<td></td>
													<td></td>
													<td></td>
													<td></td>
													<td></td>
												</tr>
												<tr>
													<td></td>
													<td></td>
													<td></td>
													<td></td>
													<td></td>
												</tr>
												<tr>
													<td></td>
													<td></td>
													<td></td>
													<td></td>
													<td></td>
												</tr>
												<tr>
													<td></td>
													<td></td>
													<td></td>
													<td></td>
													<td></td>
												</tr>
												<tr>
													<td></td>
													<td></td>
													<td></td>
													<td></td>
													<td></td>
												</tr>
												<tr>
													<td></td>
													<td></td>
													<td></td>
													<td></td>
													<td></td>
												</tr>
												<tr>
													<td></td>
													<td></td>
													<td></td>
													<td></td>
													<td></td>
												</tr>
												<tr>
													<td></td>
													<td></td>
													<td></td>
													<td></td>
													<td></td>
												</tr>
												<tr>
													<td></td>
													<td></td>
													<td></td>
													<td></td>
													<td></td>
												</tr>
											</tbody>
										</table>
									</section>
								</panel>
							</section>
						</well>
						<well class="box box--well magic-items">
							<section class="box__body">
								<box class="box box--generic magic-item split-top">
									<header class="box__header">Magic Item</header>
									<section class="box__body">
										<ul class="box__lines">
											<li>Name<span class="dot"></span></li>
											<li>Description</li>
											<li>&nbsp;</li>
											<li>&nbsp;</li>
										</ul>
									</section>
								</box>
								<box class="box box--generic magic-item split-top">
									<header class="box__header">Magic Item</header>
									<section class="box__body">
										<ul class="box__lines">
											<li>Name<span class="dot"></span></li>
											<li>Description</li>
											<li>&nbsp;</li>
											<li>&nbsp;</li>
										</ul>
									</section>
								</box>
								<box class="box box--generic magic-item split-bottom">
									<header class="box__header">Magic Item</header>
									<section class="box__body">
										<ul class="box__lines">
											<li>Name<span class="dot"></span></li>
											<li>Description</li>
											<li>&nbsp;</li>
											<li>&nbsp;</li>
										</ul>
									</section>
								</box>
								<box class="box box--generic magic-item split-bottom">
									<header class="box__header">Magic Item</header>
									<section class="box__body">
										<ul class="box__lines">
											<li>Name<span class="dot"></span></li>
											<li>Description</li>
											<li>&nbsp;</li>
											<li>&nbsp;</li>
										</ul>
									</section>
								</box>
								</section>
						</well>
						<panel class="box box--panel holdings">
							<header class="box__header">Other Holdings</header>
							<section class="box__body">
								<ul class="box__lines">
									<li>&nbsp;</li>
									<li>&nbsp;</li>
									<li>&nbsp;</li>
									<li>&nbsp;</li>
									<li>&nbsp;</li>
									<li>&nbsp;</li>
									<li>&nbsp;</li>
									<li>&nbsp;</li>
									<li>&nbsp;</li>
									<li>&nbsp;</li>
									<li>&nbsp;</li>
									<li>&nbsp;</li>
								</ul>
							</section>
						</panel>
					</section>
					<footer class="sheet__footer">
						<p>Giffyglyph's D&D 5e Character Sheet & Trackers v2.0</p>
					</footer>
				</sheet>
			</page>
		</book>
	</body>
</html>
