<html>
	<body>
		<book class="book">
			<page class="page page--generic page--sheets-and-trackers" data-header-icon="files">
				<h1 id="sheets-and-trackers">Sheets & Trackers</h1>
				<p>This chapter contains a variety of print-friendly character sheet templates, trackers, and reference pages to help you use this supplement in your D&D campaign.</p>

				<h2 data-toc-ignore="true">Character Sheets</h2>
				<p>Included with this supplement is a new 4-page character sheet which contains trackers for some features—such as fate, lingering wounds, stress, and survival conditions.</p>
				<ul>
					<li><strong>Page 1:</strong> Your character's core details. This page includes space for you to write in some unique skills or limited class features/resources—spell points, rages, wild shapes, etc.</li>
					<li><strong>Page 2:</strong> Your character's personality and equipment. This page includes blocks and trackers to help you manage your inventory and gear—including support for ammunition die and inventory slots.</li>
					<li><strong>Page 3:</strong> Your character's condition and status. This page contains some exclusive <i>Darker Dungeons</i> features—wounds/injuries, stress, and survival conditions—as well as exhaustion and condition trackers. This page is optional, depending on your campaign rules.</li>
					<li><strong>Page 4:</strong> Your character's magic spells. This page is only required if you are a spell caster.</li>
				</ul>

				<h2 data-toc-ignore="true">Equipment Tracker</h2>
				<p>A full page equipment tracker for players that need a little extra space. Use this to expand your existing inventory or to track equipment stored somewhere else.</p>
				<p>Alternatively, if you prefer to track your equipment using a Diablo-style grid layout, use the two grid-focused equipment sheets with the included sheet of cut-out tiles.</p>

				<col-break></col-break>

				<h2 data-toc-ignore="true">Spellbook</h2>
				<p>A full page spellbook with space for more details of your spell collection. Use this sheet if you want to write out your spell powers in greater detail.</p>

				<h2 data-toc-ignore="true">Time Tracker</h2>
				<p>Use the <i>Time Tracker</i> calendar pages to keep a log of your adventures and exploits. Included are three pages: a day tracker, a week tracker, and a month tracker.</p>
				<p>These calendars assume a simple 24-hour daily cycle and may require modification if your campaign world runs on a different clock.</p>

				<h2 data-toc-ignore="true">Journey Tracker</h2>
				<p>If you're taking a long journey, use the <i>Journey Tracker</i> to keep a neat record of what happened on the way.</p>

				<h2 data-toc-ignore="true">Quick Reference</h2>
				<p>The <i>Quick Reference</i> compresses many of the core rules in this supplement into a handy three-page resource. Use this if you want to keep a rules shortcut close to hand.</p>

				<aside class="panel panel--aside">
					<header class="panel__header">
						<h4 class="panel__title">Campaign Compatibility</h4>
					</header>
					<section class="panel__body">
						<p>These sheets have been created with the <i>Darker Dungeons</i> ruleset in mind, but you may find them compatible with other games and campaigns. Mix-and-match these sheets as best suits your own particular game.</p>
					</section>
				</aside>
			</page>
		</book>
	</body>
</html>
