<html>
	<body>
		<book class="book">
			<page class="page page--sheet page--calendar page--calendar--day">
				<sheet class="sheet">
					<section class="sheet__body">
						<box class="box box--header">
							<section class="box__body">
								<img class="header__brand" src="../images/skins/avaristo/theme-default/page-sheet/icons/gdd.png"/>
								<img class="header__icon" src="../images/skins/avaristo/theme-default/page-sheet/icons/clock.png"/>
							</section>
						</box>
						<well class="box box--well calendar-days">
							<section class="box__body">
								<panel class="box box--panel calendar-day day-1">
									<section class="box__body"> 
										<p class="date">Day:</p>
										<table class="table"> 
											<thead>
												<tr>
													<th class="phase">Time of Day</th>
													<th class="hour">Hour</th>
													<th class="event">Events</th>
													<th class="xp">XP & Rewards</th>
												</tr>
											</thead>
											<tbody>
												<tr>
													<td class="phase no-border">Night</td>
													<td class="hour">0-1</td>
													<td class="event">&nbsp;</td>
													<td class="xp">&nbsp;</td>
												</tr>
												<tr>
													<th class="phase no-border"></th>
													<td class="hour">1-2</td>
													<td class="event">&nbsp;</td>
													<td class="xp">&nbsp;</td>
												</tr>
												<tr>
													<th class="phase no-border"></th>
													<td class="hour">2-3</td>
													<td class="event">&nbsp;</td>
													<td class="xp">&nbsp;</td>
												</tr>
												<tr>
													<th class="phase no-border"></th>
													<td class="hour">3-4</td>
													<td class="event">&nbsp;</td>
													<td class="xp">&nbsp;</td>
												</tr>
												<tr>
													<th class="phase"></th>
													<td class="hour">4-5</td>
													<td class="event">&nbsp;</td>
													<td class="xp">&nbsp;</td>
												</tr>
												<tr>
													<td class="phase">Dawn</td>
													<td class="hour">5-6</td>
													<td class="event">&nbsp;</td>
													<td class="xp">&nbsp;</td>
												</tr>
												<tr>
													<td class="phase no-border">Morning</td>
													<td class="hour">6-7</td>
													<td class="event">&nbsp;</td>
													<td class="xp">&nbsp;</td>
												</tr>
												<tr>
													<th class="phase no-border"></th>
													<td class="hour">7-8</td>
													<td class="event">&nbsp;</td>
													<td class="xp">&nbsp;</td>
												</tr>
												<tr>
													<th class="phase no-border"></th>
													<td class="hour">8-9</td>
													<td class="event">&nbsp;</td>
													<td class="xp">&nbsp;</td>
												</tr>
												<tr>
													<th class="phase no-border"></th>
													<td class="hour">9-10</td>
													<td class="event">&nbsp;</td>
													<td class="xp">&nbsp;</td>
												</tr>
												<tr>
													<th class="phase"></th>
													<td class="hour">10-11</td>
													<td class="event">&nbsp;</td>
													<td class="xp">&nbsp;</td>
												</tr>
												<tr>
													<td class="phase no-border">Noon</td>
													<td class="hour">11-12</td>
													<td class="event">&nbsp;</td>
													<td class="xp">&nbsp;</td>
												</tr>
												<tr>
													<th class="phase"></th>
													<td class="hour">12-13</td>
													<td class="event">&nbsp;</td>
													<td class="xp">&nbsp;</td>
												</tr>
												<tr>
													<td class="phase no-border">Afternoon</td>
													<td class="hour">13-14</td>
													<td class="event">&nbsp;</td>
													<td class="xp">&nbsp;</td>
												</tr>
												<tr>
													<th class="phase no-border"></th>
													<td class="hour">14-15</td>
													<td class="event">&nbsp;</td>
													<td class="xp">&nbsp;</td>
												</tr>
												<tr>
													<th class="phase no-border"></th>
													<td class="hour">15-16</td>
													<td class="event">&nbsp;</td>
													<td class="xp">&nbsp;</td>
												</tr>
												<tr>
													<th class="phase no-border"></th>
													<td class="hour">16-17</td>
													<td class="event">&nbsp;</td>
													<td class="xp">&nbsp;</td>
												</tr>
												<tr>
													<th class="phase"></th>
													<td class="hour">17-18</td>
													<td class="event">&nbsp;</td>
													<td class="xp">&nbsp;</td>
												</tr>
												<tr>
													<td class="phase">Dusk</td>
													<td class="hour">18-19</td>
													<td class="event">&nbsp;</td>
													<td class="xp">&nbsp;</td>
												</tr>
												<tr>
													<td class="phase no-border">Night</td>
													<td class="hour">19-20</td>
													<td class="event">&nbsp;</td>
													<td class="xp">&nbsp;</td>
												</tr>
												<tr>
													<th class="phase no-border"></th>
													<td class="hour">20-21</td>
													<td class="event">&nbsp;</td>
													<td class="xp">&nbsp;</td>
												</tr>
												<tr>
													<th class="phase no-border"></th>
													<td class="hour">21-22</td>
													<td class="event">&nbsp;</td>
													<td class="xp">&nbsp;</td>
												</tr>
												<tr>
													<th class="phase no-border"></th>
													<td class="hour">22-23</td>
													<td class="event">&nbsp;</td>
													<td class="xp">&nbsp;</td>
												</tr>
												<tr>
													<th class="phase no-border"></th>
													<td class="hour">23-24</td>
													<td class="event">&nbsp;</td>
													<td class="xp">&nbsp;</td>
												</tr>
											</tbody>
										</table>
									</section>
								</panel>
								<panel class="box box--panel calendar-day day-2">
									<section class="box__body"> 
										<p class="date">Day:</p>
										<table class="table"> 
											<thead>
												<tr>
													<th class="phase">Time of Day</th>
													<th class="hour">Hour</th>
													<th class="event">Events</th>
													<th class="xp">XP & Rewards</th>
												</tr>
											</thead>
											<tbody>
												<tr>
													<td class="phase no-border">Night</td>
													<td class="hour">0-1</td>
													<td class="event">&nbsp;</td>
													<td class="xp">&nbsp;</td>
												</tr>
												<tr>
													<th class="phase no-border"></th>
													<td class="hour">1-2</td>
													<td class="event">&nbsp;</td>
													<td class="xp">&nbsp;</td>
												</tr>
												<tr>
													<th class="phase no-border"></th>
													<td class="hour">2-3</td>
													<td class="event">&nbsp;</td>
													<td class="xp">&nbsp;</td>
												</tr>
												<tr>
													<th class="phase no-border"></th>
													<td class="hour">3-4</td>
													<td class="event">&nbsp;</td>
													<td class="xp">&nbsp;</td>
												</tr>
												<tr>
													<th class="phase"></th>
													<td class="hour">4-5</td>
													<td class="event">&nbsp;</td>
													<td class="xp">&nbsp;</td>
												</tr>
												<tr>
													<td class="phase">Dawn</td>
													<td class="hour">5-6</td>
													<td class="event">&nbsp;</td>
													<td class="xp">&nbsp;</td>
												</tr>
												<tr>
													<td class="phase no-border">Morning</td>
													<td class="hour">6-7</td>
													<td class="event">&nbsp;</td>
													<td class="xp">&nbsp;</td>
												</tr>
												<tr>
													<th class="phase no-border"></th>
													<td class="hour">7-8</td>
													<td class="event">&nbsp;</td>
													<td class="xp">&nbsp;</td>
												</tr>
												<tr>
													<th class="phase no-border"></th>
													<td class="hour">8-9</td>
													<td class="event">&nbsp;</td>
													<td class="xp">&nbsp;</td>
												</tr>
												<tr>
													<th class="phase no-border"></th>
													<td class="hour">9-10</td>
													<td class="event">&nbsp;</td>
													<td class="xp">&nbsp;</td>
												</tr>
												<tr>
													<th class="phase"></th>
													<td class="hour">10-11</td>
													<td class="event">&nbsp;</td>
													<td class="xp">&nbsp;</td>
												</tr>
												<tr>
													<td class="phase no-border">Noon</td>
													<td class="hour">11-12</td>
													<td class="event">&nbsp;</td>
													<td class="xp">&nbsp;</td>
												</tr>
												<tr>
													<th class="phase"></th>
													<td class="hour">12-13</td>
													<td class="event">&nbsp;</td>
													<td class="xp">&nbsp;</td>
												</tr>
												<tr>
													<td class="phase no-border">Afternoon</td>
													<td class="hour">13-14</td>
													<td class="event">&nbsp;</td>
													<td class="xp">&nbsp;</td>
												</tr>
												<tr>
													<th class="phase no-border"></th>
													<td class="hour">14-15</td>
													<td class="event">&nbsp;</td>
													<td class="xp">&nbsp;</td>
												</tr>
												<tr>
													<th class="phase no-border"></th>
													<td class="hour">15-16</td>
													<td class="event">&nbsp;</td>
													<td class="xp">&nbsp;</td>
												</tr>
												<tr>
													<th class="phase no-border"></th>
													<td class="hour">16-17</td>
													<td class="event">&nbsp;</td>
													<td class="xp">&nbsp;</td>
												</tr>
												<tr>
													<th class="phase"></th>
													<td class="hour">17-18</td>
													<td class="event">&nbsp;</td>
													<td class="xp">&nbsp;</td>
												</tr>
												<tr>
													<td class="phase">Dusk</td>
													<td class="hour">18-19</td>
													<td class="event">&nbsp;</td>
													<td class="xp">&nbsp;</td>
												</tr>
												<tr>
													<td class="phase no-border">Night</td>
													<td class="hour">19-20</td>
													<td class="event">&nbsp;</td>
													<td class="xp">&nbsp;</td>
												</tr>
												<tr>
													<th class="phase no-border"></th>
													<td class="hour">20-21</td>
													<td class="event">&nbsp;</td>
													<td class="xp">&nbsp;</td>
												</tr>
												<tr>
													<th class="phase no-border"></th>
													<td class="hour">21-22</td>
													<td class="event">&nbsp;</td>
													<td class="xp">&nbsp;</td>
												</tr>
												<tr>
													<th class="phase no-border"></th>
													<td class="hour">22-23</td>
													<td class="event">&nbsp;</td>
													<td class="xp">&nbsp;</td>
												</tr>
												<tr>
													<th class="phase no-border"></th>
													<td class="hour">23-24</td>
													<td class="event">&nbsp;</td>
													<td class="xp">&nbsp;</td>
												</tr>
											</tbody>
										</table>
									</section>
								</panel>
							</section>
						</well>
					</section>
					<footer class="sheet__footer">
						<p>Giffyglyph's D&D 5e Character Sheet & Trackers v2.0</p>
					</footer>
				</div>
			</page>
			<page class="page page--sheet page--calendar page--calendar--week">
				<sheet class="sheet">
					<section class="sheet__body">
						<box class="box box--header">
							<section class="box__body">
								<img class="header__brand" src="../images/skins/avaristo/theme-default/page-sheet/icons/gdd.png"/>
								<img class="header__icon" src="../images/skins/avaristo/theme-default/page-sheet/icons/duration.png"/>
							</section>
						</box>
						<well class="box box--well calendar-weeks">
							<section class="box__body">
								<panel class="box box--panel calendar-week">
									<section class="box__body"> 
										<p class="date">Week:</p>
										<table class="table"> 
											<thead>
												<tr>
													<th class="day">Day</th>
													<th class="hour">Hour</th>
													<th class="event">Events</th>
													<th class="xp">XP & Rewards</th>
												</tr>
											</thead>
											<tbody>
												<tr>
													<td class="day no-border"></td>
													<td class="hour">0-4</td>
													<td class="event">&nbsp;</td>
													<td class="xp">&nbsp;</td>
												</tr>
												<tr>
													<td class="day no-border"></td>
													<td class="hour">4-8</td>
													<td class="event">&nbsp;</td>
													<td class="xp">&nbsp;</td>
												</tr>
												<tr>
													<td class="day no-border"></td>
													<td class="hour">8-12</td>
													<td class="event">&nbsp;</td>
													<td class="xp">&nbsp;</td>
												</tr>
												<tr>
													<td class="day no-border"></td>
													<td class="hour">12-16</td>
													<td class="event">&nbsp;</td>
													<td class="xp">&nbsp;</td>
												</tr>
												<tr>
													<td class="day no-border"></td>
													<td class="hour">16-20</td>
													<td class="event">&nbsp;</td>
													<td class="xp">&nbsp;</td>
												</tr>
												<tr>
													<td class="day"></td>
													<td class="hour">20-24</td>
													<td class="event">&nbsp;</td>
													<td class="xp">&nbsp;</td>
												</tr>
												<tr>
													<td class="day no-border"></td>
													<td class="hour">0-4</td>
													<td class="event">&nbsp;</td>
													<td class="xp">&nbsp;</td>
												</tr>
												<tr>
													<td class="day no-border"></td>
													<td class="hour">4-8</td>
													<td class="event">&nbsp;</td>
													<td class="xp">&nbsp;</td>
												</tr>
												<tr>
													<td class="day no-border"></td>
													<td class="hour">8-12</td>
													<td class="event">&nbsp;</td>
													<td class="xp">&nbsp;</td>
												</tr>
												<tr>
													<td class="day no-border"></td>
													<td class="hour">12-16</td>
													<td class="event">&nbsp;</td>
													<td class="xp">&nbsp;</td>
												</tr>
												<tr>
													<td class="day no-border"></td>
													<td class="hour">16-20</td>
													<td class="event">&nbsp;</td>
													<td class="xp">&nbsp;</td>
												</tr>
												<tr>
													<td class="day"></td>
													<td class="hour">20-24</td>
													<td class="event">&nbsp;</td>
													<td class="xp">&nbsp;</td>
												</tr>
												<tr>
													<td class="day no-border"></td>
													<td class="hour">0-4</td>
													<td class="event">&nbsp;</td>
													<td class="xp">&nbsp;</td>
												</tr>
												<tr>
													<td class="day no-border"></td>
													<td class="hour">4-8</td>
													<td class="event">&nbsp;</td>
													<td class="xp">&nbsp;</td>
												</tr>
												<tr>
													<td class="day no-border"></td>
													<td class="hour">8-12</td>
													<td class="event">&nbsp;</td>
													<td class="xp">&nbsp;</td>
												</tr>
												<tr>
													<td class="day no-border"></td>
													<td class="hour">12-16</td>
													<td class="event">&nbsp;</td>
													<td class="xp">&nbsp;</td>
												</tr>
												<tr>
													<td class="day no-border"></td>
													<td class="hour">16-20</td>
													<td class="event">&nbsp;</td>
													<td class="xp">&nbsp;</td>
												</tr>
												<tr>
													<td class="day"></td>
													<td class="hour">20-24</td>
													<td class="event">&nbsp;</td>
													<td class="xp">&nbsp;</td>
												</tr>
												<tr>
													<td class="day no-border"></td>
													<td class="hour">0-4</td>
													<td class="event">&nbsp;</td>
													<td class="xp">&nbsp;</td>
												</tr>
												<tr>
													<td class="day no-border"></td>
													<td class="hour">4-8</td>
													<td class="event">&nbsp;</td>
													<td class="xp">&nbsp;</td>
												</tr>
												<tr>
													<td class="day no-border"></td>
													<td class="hour">8-12</td>
													<td class="event">&nbsp;</td>
													<td class="xp">&nbsp;</td>
												</tr>
												<tr>
													<td class="day no-border"></td>
													<td class="hour">12-16</td>
													<td class="event">&nbsp;</td>
													<td class="xp">&nbsp;</td>
												</tr>
												<tr>
													<td class="day no-border"></td>
													<td class="hour">16-20</td>
													<td class="event">&nbsp;</td>
													<td class="xp">&nbsp;</td>
												</tr>
												<tr>
													<td class="day"></td>
													<td class="hour">20-24</td>
													<td class="event">&nbsp;</td>
													<td class="xp">&nbsp;</td>
												</tr>
												<tr>
													<td class="day no-border"></td>
													<td class="hour">0-4</td>
													<td class="event">&nbsp;</td>
													<td class="xp">&nbsp;</td>
												</tr>
												<tr>
													<td class="day no-border"></td>
													<td class="hour">4-8</td>
													<td class="event">&nbsp;</td>
													<td class="xp">&nbsp;</td>
												</tr>
												<tr>
													<td class="day no-border"></td>
													<td class="hour">8-12</td>
													<td class="event">&nbsp;</td>
													<td class="xp">&nbsp;</td>
												</tr>
												<tr>
													<td class="day no-border"></td>
													<td class="hour">12-16</td>
													<td class="event">&nbsp;</td>
													<td class="xp">&nbsp;</td>
												</tr>
												<tr>
													<td class="day no-border"></td>
													<td class="hour">16-20</td>
													<td class="event">&nbsp;</td>
													<td class="xp">&nbsp;</td>
												</tr>
												<tr>
													<td class="day"></td>
													<td class="hour">20-24</td>
													<td class="event">&nbsp;</td>
													<td class="xp">&nbsp;</td>
												</tr>
												<tr>
													<td class="day no-border"></td>
													<td class="hour">0-4</td>
													<td class="event">&nbsp;</td>
													<td class="xp">&nbsp;</td>
												</tr>
												<tr>
													<td class="day no-border"></td>
													<td class="hour">4-8</td>
													<td class="event">&nbsp;</td>
													<td class="xp">&nbsp;</td>
												</tr>
												<tr>
													<td class="day no-border"></td>
													<td class="hour">8-12</td>
													<td class="event">&nbsp;</td>
													<td class="xp">&nbsp;</td>
												</tr>
												<tr>
													<td class="day no-border"></td>
													<td class="hour">12-16</td>
													<td class="event">&nbsp;</td>
													<td class="xp">&nbsp;</td>
												</tr>
												<tr>
													<td class="day no-border"></td>
													<td class="hour">16-20</td>
													<td class="event">&nbsp;</td>
													<td class="xp">&nbsp;</td>
												</tr>
												<tr>
													<td class="day"></td>
													<td class="hour">20-24</td>
													<td class="event">&nbsp;</td>
													<td class="xp">&nbsp;</td>
												</tr>
												<tr>
													<td class="day no-border"></td>
													<td class="hour">0-4</td>
													<td class="event">&nbsp;</td>
													<td class="xp">&nbsp;</td>
												</tr>
												<tr>
													<td class="day no-border"></td>
													<td class="hour">4-8</td>
													<td class="event">&nbsp;</td>
													<td class="xp">&nbsp;</td>
												</tr>
												<tr>
													<td class="day no-border"></td>
													<td class="hour">8-12</td>
													<td class="event">&nbsp;</td>
													<td class="xp">&nbsp;</td>
												</tr>
												<tr>
													<td class="day no-border"></td>
													<td class="hour">12-16</td>
													<td class="event">&nbsp;</td>
													<td class="xp">&nbsp;</td>
												</tr>
												<tr>
													<td class="day no-border"></td>
													<td class="hour">16-20</td>
													<td class="event">&nbsp;</td>
													<td class="xp">&nbsp;</td>
												</tr>
												<tr>
													<td class="day"></td>
													<td class="hour">20-24</td>
													<td class="event">&nbsp;</td>
													<td class="xp">&nbsp;</td>
												</tr>
											</tbody>
										</table>
									</section>
								</panel>
								<box class="box box--generic">
									<header class="box__header">Additional Notes</header>
									<section class="box__body"> 
										<div class="layout--columns layout--columns--2 layout--columns--nogrid">
											<ul class="box__lines">
												<li>&nbsp;</li>
												<li>&nbsp;</li>
												<li>&nbsp;</li>
												<li>&nbsp;</li>
												<li>&nbsp;</li>
												<li>&nbsp;</li>
												<li>&nbsp;</li>
												<li>&nbsp;</li>
											</ul>
											<ul class="box__lines">
												<li>&nbsp;</li>
												<li>&nbsp;</li>
												<li>&nbsp;</li>
												<li>&nbsp;</li>
												<li>&nbsp;</li>
												<li>&nbsp;</li>
												<li>&nbsp;</li>
												<li>&nbsp;</li>
											</ul>
										</div>
									</section>
								</box>
							</section>
						</well>
					</section>
					<footer class="sheet__footer">
						<p>Giffyglyph's D&D 5e Character Sheet & Trackers v2.0</p>
					</footer>
				</sheet>
			</page>
			<page class="page page--sheet page--calendar page--calendar--month">
				<sheet class="sheet">
					<section class="sheet__body">
						<box class="box box--header">
							<section class="box__body">
								<img class="header__brand" src="../images/skins/avaristo/theme-default/page-sheet/icons/gdd.png"/>
								<img class="header__icon" src="../images/skins/avaristo/theme-default/page-sheet/icons/sand-timer.png"/>
							</section>
						</box>
						<well class="box box--well calendar-months">
							<section class="box__body">
								<panel class="box box--panel calendar-month">
									<section class="box__body"> 
										<p class="date">Month:</p>
										<table class="table"> 
											<thead>
												<tr>
													<th class="day">Day</th>
													<th class="event">Events</th>
													<th class="xp">XP & Rewards</th>
												</tr>
											</thead>
											<tbody>
												<tr>
													<td class="day">&nbsp;</td>
													<td class="event">&nbsp;</td>
													<td class="xp">&nbsp;</td>
												</tr>
												<tr>
													<td class="day">&nbsp;</td>
													<td class="event">&nbsp;</td>
													<td class="xp">&nbsp;</td>
												</tr>
												<tr>
													<td class="day">&nbsp;</td>
													<td class="event">&nbsp;</td>
													<td class="xp">&nbsp;</td>
												</tr>
												<tr>
													<td class="day">&nbsp;</td>
													<td class="event">&nbsp;</td>
													<td class="xp">&nbsp;</td>
												</tr>
												<tr>
													<td class="day">&nbsp;</td>
													<td class="event">&nbsp;</td>
													<td class="xp">&nbsp;</td>
												</tr>
												<tr>
													<td class="day">&nbsp;</td>
													<td class="event">&nbsp;</td>
													<td class="xp">&nbsp;</td>
												</tr>
												<tr>
													<td class="day">&nbsp;</td>
													<td class="event">&nbsp;</td>
													<td class="xp">&nbsp;</td>
												</tr>
												<tr>
													<td class="day">&nbsp;</td>
													<td class="event">&nbsp;</td>
													<td class="xp">&nbsp;</td>
												</tr>
												<tr>
													<td class="day">&nbsp;</td>
													<td class="event">&nbsp;</td>
													<td class="xp">&nbsp;</td>
												</tr>
												<tr>
													<td class="day">&nbsp;</td>
													<td class="event">&nbsp;</td>
													<td class="xp">&nbsp;</td>
												</tr>
												<tr>
													<td class="day">&nbsp;</td>
													<td class="event">&nbsp;</td>
													<td class="xp">&nbsp;</td>
												</tr>
												<tr>
													<td class="day">&nbsp;</td>
													<td class="event">&nbsp;</td>
													<td class="xp">&nbsp;</td>
												</tr>
												<tr>
													<td class="day">&nbsp;</td>
													<td class="event">&nbsp;</td>
													<td class="xp">&nbsp;</td>
												</tr>
												<tr>
													<td class="day">&nbsp;</td>
													<td class="event">&nbsp;</td>
													<td class="xp">&nbsp;</td>
												</tr>
												<tr>
													<td class="day">&nbsp;</td>
													<td class="event">&nbsp;</td>
													<td class="xp">&nbsp;</td>
												</tr>
												<tr>
													<td class="day">&nbsp;</td>
													<td class="event">&nbsp;</td>
													<td class="xp">&nbsp;</td>
												</tr>
												<tr>
													<td class="day">&nbsp;</td>
													<td class="event">&nbsp;</td>
													<td class="xp">&nbsp;</td>
												</tr>
												<tr>
													<td class="day">&nbsp;</td>
													<td class="event">&nbsp;</td>
													<td class="xp">&nbsp;</td>
												</tr>
												<tr>
													<td class="day">&nbsp;</td>
													<td class="event">&nbsp;</td>
													<td class="xp">&nbsp;</td>
												</tr>
												<tr>
													<td class="day">&nbsp;</td>
													<td class="event">&nbsp;</td>
													<td class="xp">&nbsp;</td>
												</tr>
												<tr>
													<td class="day">&nbsp;</td>
													<td class="event">&nbsp;</td>
													<td class="xp">&nbsp;</td>
												</tr>
												<tr>
													<td class="day">&nbsp;</td>
													<td class="event">&nbsp;</td>
													<td class="xp">&nbsp;</td>
												</tr>
												<tr>
													<td class="day">&nbsp;</td>
													<td class="event">&nbsp;</td>
													<td class="xp">&nbsp;</td>
												</tr>
												<tr>
													<td class="day">&nbsp;</td>
													<td class="event">&nbsp;</td>
													<td class="xp">&nbsp;</td>
												</tr>
												<tr>
													<td class="day">&nbsp;</td>
													<td class="event">&nbsp;</td>
													<td class="xp">&nbsp;</td>
												</tr>
												<tr>
													<td class="day">&nbsp;</td>
													<td class="event">&nbsp;</td>
													<td class="xp">&nbsp;</td>
												</tr>
												<tr>
													<td class="day">&nbsp;</td>
													<td class="event">&nbsp;</td>
													<td class="xp">&nbsp;</td>
												</tr>
												<tr>
													<td class="day">&nbsp;</td>
													<td class="event">&nbsp;</td>
													<td class="xp">&nbsp;</td>
												</tr>
												<tr>
													<td class="day">&nbsp;</td>
													<td class="event">&nbsp;</td>
													<td class="xp">&nbsp;</td>
												</tr>
												<tr>
													<td class="day">&nbsp;</td>
													<td class="event">&nbsp;</td>
													<td class="xp">&nbsp;</td>
												</tr>
												<tr>
													<td class="day">&nbsp;</td>
													<td class="event">&nbsp;</td>
													<td class="xp">&nbsp;</td>
												</tr>
												<tr>
													<td class="day">&nbsp;</td>
													<td class="event">&nbsp;</td>
													<td class="xp">&nbsp;</td>
												</tr>
												<tr>
													<td class="day">&nbsp;</td>
													<td class="event">&nbsp;</td>
													<td class="xp">&nbsp;</td>
												</tr>
												<tr>
													<td class="day">&nbsp;</td>
													<td class="event">&nbsp;</td>
													<td class="xp">&nbsp;</td>
												</tr>
												<tr>
													<td class="day">&nbsp;</td>
													<td class="event">&nbsp;</td>
													<td class="xp">&nbsp;</td>
												</tr>
												<tr>
													<td class="day">&nbsp;</td>
													<td class="event">&nbsp;</td>
													<td class="xp">&nbsp;</td>
												</tr>
												<tr>
													<td class="day">&nbsp;</td>
													<td class="event">&nbsp;</td>
													<td class="xp">&nbsp;</td>
												</tr>
												<tr>
													<td class="day">&nbsp;</td>
													<td class="event">&nbsp;</td>
													<td class="xp">&nbsp;</td>
												</tr>
												<tr>
													<td class="day">&nbsp;</td>
													<td class="event">&nbsp;</td>
													<td class="xp">&nbsp;</td>
												</tr>
												<tr>
													<td class="day">&nbsp;</td>
													<td class="event">&nbsp;</td>
													<td class="xp">&nbsp;</td>
												</tr>
												<tr>
													<td class="day">&nbsp;</td>
													<td class="event">&nbsp;</td>
													<td class="xp">&nbsp;</td>
												</tr>
												<tr>
													<td class="day">&nbsp;</td>
													<td class="event">&nbsp;</td>
													<td class="xp">&nbsp;</td>
												</tr>
											</tbody>
										</table>
									</section>
								</panel>
								<box class="box box--generic">
									<header class="box__header"> Additional Notes</header>
									<section class="box__body"> 
										<div class="layout--columns layout--columns--2 layout--columns--nogrid">
											<ul class="box__lines">
												<li>&nbsp;</li>
												<li>&nbsp;</li>
												<li>&nbsp;</li>
												<li>&nbsp;</li>
												<li>&nbsp;</li>
												<li>&nbsp;</li>
												<li>&nbsp;</li>
												<li>&nbsp;</li>
											</ul>
											<ul class="box__lines">
												<li>&nbsp;</li>
												<li>&nbsp;</li>
												<li>&nbsp;</li>
												<li>&nbsp;</li>
												<li>&nbsp;</li>
												<li>&nbsp;</li>
												<li>&nbsp;</li>
												<li>&nbsp;</li>
											</ul>
										</div>
									</section>
								</box>
							</section>
						</well>
					</section>
					<footer class="sheet__footer">
						<p>Giffyglyph's D&D 5e Character Sheet & Trackers v2.0</p>
					</footer>
				</sheet>
			</page>
		</book>
	</body>
</html>
