<html>
	<body>
		<book class="book">
			<page class="page page--generic page--short-rest" data-header-icon="tent">
				<h1 id="short-rest">Short Rest</h1>
				<p>Adventurers need to rest at some point, if only to catch their breath between action, treat wounds, and prepare for upcoming dangers.</p>
				<p>This chapter defines the short rest period, some basic activities you might undertake while resting, and how to set up camp for an overnight rest.</p>

				<h2>Taking a Short Rest</h2>
				<p>A short rest is a period of downtime, at least 1 hour long, in which characters sit down to perform a few basic tasks—such as eating, drinking, and treating wounds.</p>
				<p>During a short rest you can spend hit dice, bind your injuries, and consume some essential supplies—but anything more intensive will require you to settle down and set up camp for a longer stay.</p>

				<example class="panel panel--example">
					<section class="panel__body">
						<ul class="chat">
							<li><span class="chat__speaker">DM:</span><span>Your blade slices through the dire wolf. With a howl, the other wolves flee into the dark forest.</span></li>
							<li><span class="chat__speaker">Valiant:</span><span>That was a close one. You ok, Viridian?</span></li>
							<li><span class="chat__speaker">Viridian:</span><span>Took a few bad hits there. We should take a rest soon so I can heal up before we reach <i>Blightmere</i>.</span></li>
							<li><span class="chat__speaker">Clanda:</span><span>Much as it pains me to say, the bard's right—I need to bandage up this bite wound.</span></li>
							<li><span class="chat__speaker">Valiant:</span><span>Alright, we still have sunlight to burn. Let's find a safe spot to rest in for an hour.</span></li>
						</ul>
					</section>
				</example>

				<h3>Basic Activities</h3>
				<p>During a short rest, whilst you're catching your breath, you can perform some <i>basic</i> activities—such as the example tasks listed here. Complicated or prolonged tasks may require you to set up camp first.</p>

				<col-break></col-break>

				<h4 class="h4--option">Recover Hit Points</h4>
				<p>Spend your hit dice to recover some lost hit points. If the <i>Bloodied</i> condition (<span class='page-detail--page-number' data-target='bloodied'></span>) is in effect and you have lost half of your hit points, you will need to use a first-aid kit—or similar medical supplies—to spend any hit dice.</p>

				<h4 class="h4--option">Regain Class/Racial Features</h4>
				<p>Some classes and races regain powers after a short rest is completed—monk ki, warlock spell slots, dragonborn breath weapon, etc. Check your character sheet to see which features you recover.</p>

				<h4 class="h4--option">Eat & Drink</h4>
				<p>If <i>Survival Conditions</i> (<span class='page-detail--page-number' data-target='survival-conditions'></span>) are in effect, you can use this time to satiate your hunger or thirst.</p>
				<p>In addition, if you are suffering from exhaustion caused by one or more of your surival conditions, you can remove it if that condition has sufficiently improved.</p>

				<h4 class="h4--option">Recover Magical Burnout</h4>
				<p>If you are suffering from <i>Magical Burnout</i> (<span class='page-detail--page-number' data-target='dangerous-magic'></span>), you can spend some hit dice to recover and—hopefully—prevent any dangerous burnout consequences in future.</p>

				<h4 class="h4--option">Change Inventory Quickslots</h4>
				<p>If the <i>Quickdraw</i> inventory rules (<span class='page-detail--page-number' data-target='quickdraw'></span>) are in effect, you can change your three selected quickdraw items.</p>

				<h4 class="h4--option">Treat Wounds</h4>
				<p>If you are suffering from any <i>lingering wounds</i> (<span class='page-detail--page-number' data-target='wounds-and-injuries'></span>), you can treat them if you have sufficient first-aid resources.</p>

				<h4 class="h4--option">Research/Investigate</h4>
				<p>You spend your time researching, reading, or investigating something within reach—such as an encrypted book, an unfamiliar insect, a strangely carved monolith, or an unidentified magic item.</p>
			</page>
			<page class="page page--generic page--short-rest">
				<h2>Setting Up Camp</h2>
				<p>If you decide to rest for a prolonged period of time—or need to perform some complicated tasks—it's time to set up camp. Find a secure site, start a campfire, pitch your tents, and secure any animals, vehicles, or cargo.</p>
				<p>There are five basic steps to follow when trying to set up camp:</p>

				<ol>
					<li><strong>Make Camp:</strong> Make <i>Camping</i> checks to see how well you set up camp—the more successes you have, the nicer your camp site is.</li>
					<li><strong>Nominate the Lookout:</strong> The lookout is in charge of camp defense, keeping watch for any threats.</li>
					<li><strong>Perform Camp Activities:</strong> Each party member (who is not on lookout duty) can perform one primary camp-related activity in addition to any other basic short rest activities.</li>
					<li><strong>Sleep:</strong> Try to get some rest for a few hours.</li>
					<li><strong>Pack Up:</strong> Pack up camp and prepare to move on.</li>
				</ol>

				<h3><span class="h3__highlight">1</span>Making Camp</h3>
				<p>To make camp, each party member must roll a <i>Camping</i> check—a Strength/Intelligence/Wisdom (Survival) ability check—against a target DC (see the <i>Camping DC</i> table) as they each try to help set up the campsite.</p>
				<p>The more successes the party has, the more thoroughly they prepare the final campsite—making it easier to defend, rest, and perform other camp activities.</p>

				<list class="panel panel--list" data-resize=15>
					<header class="panel__header">
						<h4 class="panel__title">Camping Check DC</h4>
					</header>
					<section class="panel__body">
						<table class="table table--camping-dc">
							<thead>
								<tr>
									<th>DC</th>
									<th>Description</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>10</td>
									<td>Safe, dry land is easy to find / the weather is clear.</td>
								</tr>
								<tr>
									<td>15</td>
									<td>A campsite requires effort to find / there's bad weather—rain, light snow, heavy fog, etc.</td>
								</tr>
								<tr>
									<td>20</td>
									<td>It's hard to find a safe campsite / the weather is terrible—heavy rain, a fierce storm, a howling wind.</td>
								</tr>
							</tbody>
						</table>
					</section>
				</list>

				<list class="panel panel--list" data-resize=15>
					<header class="panel__header">
						<h4 class="panel__title">Camping Results</h4>
					</header>
					<section class="panel__body">
						<table class="table table--camping-results">
							<thead>
								<tr>
									<th>Failures</th>
									<th>Description</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>0</td>
									<td>A perfect campsite. Activity checks are DC 5.</td>
								</tr>
								<tr>
									<td>1</td>
									<td>A decent campsite with one glaring flaw. Activity checks are DC 10.</td>
								</tr>
								<tr>
									<td>2 or more</td>
									<td>A shoddy campsite just barely fit for purpose. Activity checks are DC 15.</td>
								</tr>
							</tbody>
						</table>
					</section>
				</list>

				<h4>Camping Equipment</h4>
				<p>It's hard to set up camp if you're relying on nature alone to provide you with shelter and comfort. If you don't have any appropriate camping equipment—such as a bedroll or tent—roll your <i>Camping</i> check with disadvantage.</p>
				<p>Some equipment, such as a two-person tent, may count as camping gear for multiple people—if they're willing to share.</p>

				<col-break></col-break>

				<example class="panel panel--example">
					<section class="panel__body">
						<p>The four adventurers start to set up camp. With clear skies and a sheltered forest, the camping DC is only 10. Between them, they have two bedrolls and a two-person tent—enough camping gear for all four.</p>
						<p>Valiant rolls 13, Chansi 17, Viridian 11, and Clanda 7. The camp is prepared with one setback—a weak campfire. Any camp activities will have a base DC 10.</p>
					</section>
				</example>

				<h4>Variant: Alternate Skills</h4>
				<p>If you want to support skills other than <i>Survival</i> when making camp, consider this <i>Alternate Skills</i> variant.</p>
				<p>Depending on your character and background, you may use another skill instead of Survival—if appropriate—when making your Camping check. For example:</p>
				<ul>
					<li><strong>Athletics:</strong> You help by moving something heavy to clear space for the camp.</li>
					<li><strong>Animal Handling:</strong> You help by checking the site isn't in the territory of any dangerous, wild animals.</li>
					<li><strong>Nature:</strong> You help by finding good wood—and other natural fuel—for the campfire.</li>
					<li><strong>Religion:</strong> You help by channeling divine power from your deity to bless the campsite.</li>
				</ul>

				<p>At least one <i>Camping</i> check must be made using the Survival skill, and any alternate skills can only be used by one party member—so choose who rolls which skill.</p>

				<h3><span class="h3__highlight">2</span>The Lookout</h3>
				<p>It's a big risk to set up camp without appointing someone to watch out for any would-be intruders. A lookout is in charge of camp security and keeps an eye out for potential threats.</p>
				<p>If you are the lookout, roll an Intelligence (Survival) check to see how well you secure the camp against potential dangers. If you have any tools, equipment, or magic that might help—traps, bells, the <i>Alarm</i> spell—you may roll your check with advantage.</p>
				<p><strong>Success:</strong> You noted some weak spots in the camp's defense and secured them.</p>
				<p><strong>Failure:</strong> You made a bad job of securing the camp. You have disadvantage on perception checks against any would-be intruders while camping.</p>

				<example class="panel panel--example">
					<section class="panel__body">
						<ul class="chat">
							<li><span class="chat__speaker">Clanda:</span><span>I'll take lookout tonight—I owe Viridian one.</span></li>
							<li><span class="chat__speaker">DM:</span><span>You all made a decent camp site, so make a lookout check against DC 10 to set the defenses.</span></li>
							<li><span class="chat__speaker">Clanda:</span><span>I'll set a few <i>Alarm</i> spells around the perimeter, that should help.</span></li>
							<li><span class="chat__speaker">DM:</span><span>It does—make your roll with advantage.</span></li>
							<li><span class="chat__speaker">Clanda:</span><span>Simple... <span class="chat__action">(rolls 8 and 17)</span> ...see—nothing's getting past me tonight.</span></li>
						</ul>
					</section>
				</example>

				<h4>Focus</h4>
				<p>Being on lookout takes a good deal of focus. If you are on lookout, you can't join in with any camp activities besides eating, drinking, and sleeping.</p>
			</page>
			<page class="page page--generic page--short-rest">
				<h3><span class="h3__highlight">3</span>Camp Activities</h3>
				<p>While camping, you can perform one primary activity (in addition to the normal basic activities) before you sleep. Below are listed some example activities—if an activity is not covered here, discuss it with your DM.</p>

				<example class="panel panel--example">
					<section class="panel__body">
						<div class="layout--columns layout--columns--2">
							<ul>
								<li>Cook food</li>
								<li>Brew drinks</li>
								<li>Play music</li>
								<li>Tell a story</li>
							</ul>
							<ul>
								<li>Repair an item</li>
								<li>Craft an item</li>
								<li>Play a game</li>
								<li>Relax in solitude</li>
							</ul>
						</div>
					</section>
				</example>

				<h4 class="h4--option">Cook Food</h4>
				<p>If you know how to cook and have the right supplies, you can prepare a meal for the group. This requires use of a campfire and cooking tools. Expend one use of your cooking supplies to attempt one of the following actions:</p>

				<ul>
					<li><strong>Create rations:</strong> You slow-cook and preserve some fresh ingredients—usually meat or grains—to create 1d4 + 1 new, basic food rations that can be preserved.</li>
					<li><strong>Stretch rations:</strong> You thin out some basic rations into a simple meal, feeding two people for each ration you cook. If cooked successfully, everyone who eats gains 1d4 + 1 hit points (max. once per day).</li>
					<li><strong>Cook a hot meal:</strong> You cook a hot meal for everyone, using one ration—or ration substitute—per person. If cooked successfully, everyone who eats the hot meal regains 1 spent hit die (max. once per day).</li>
				</ul>

				<p>Before you serve the meal, roll a Wisdom (Survival) check to see how well you prepared everything. Meals spoil after an hour, losing any restorative properties.</p>
				<p><strong>Success:</strong> The meal is well made.</p>
				<p><strong>Failure:</strong> You spoiled the meal and wasted the ingredients—no one can eat your cooking.</p>

				<h4 class="h4--option">Brew Drinks</h4>
				<p>If you know how to brew drinks and have the right supplies, you can prepare some for the group. This requires a campfire and brewer's kit. Expend one use of your brewing supplies to try one of the following actions:</p>

				<ul>
					<li><strong>Create rations:</strong> You distill some impure water overnight to create 1d4 + 1 new, drinkable rations.</li>
					<li><strong>Brew a balm:</strong> With a few herbs you turn some basic water rations into a delicious, soothing drink—one ration per two drinks. Everyone who drinks a fresh balm gains 1d4 + 1 hit points (max. once per day).</li>
					<li><strong>Brew a restorative:</strong> You turn some basic water rations into a tasty, hot drink using one ration per drink. Everyone who drinks a fresh restorative regains 1 spent hit die (max. once per day).</li>
				</ul>

				<p>Before you serve the drinks, roll a Wisdom (Survival) check to see how well you prepared everything. Your brews lose their restorative properties after an hour.</p>
				<p><strong>Success:</strong> The drinks are well made.</p>
				<p><strong>Failure:</strong> You spoiled the brew and wasted the ingredients—no one can stomach your drinks.</p>

				<col-break></col-break>

				<aside class="panel panel--aside">
					<header class="panel__header">
						<h4 class="panel__title">Regaining Hit Dice</h4>
					</header>
					<section class="panel__body">
						<p>Some campsite activities can allow you to regain expended hit dice. These activities stack with each other—if you eat a hot meal, drink a restorative, and get a good nights sleep, you can regain 3 expended hit dice in total.</p>
					</section>
				</aside>

				<h4 class="h4--option">Play Music</h4>
				<p>If you know how to play an instrument, you can attempt to play some music for the group. Roll a Dexterity (Performance) check to see how well you play.</p>
				<p><strong>Success:</strong> You perform well and inspire one of your allies. Choose a party member other than yourself or the lookout—that character gains a point of inspiration.</p>
				<p><strong>Failure:</strong> You made an embarrassing mistake.</p>

				<h4 class="h4--option">Tell a Story</h4>
				<p>People like to hear a good story. If you are proficient in Arcana, History, or Religion—or are carrying an interesting book—you can attempt to tell a captivating story to the group. Roll a Charisma (Performance) check.</p>
				<p><strong>Success:</strong> Your story is well told and inspires an ally. Choose a party member other than yourself or the lookout—that character gains a point of inspiration.</p>
				<p><strong>Failure:</strong> You made an embarrassing mistake.</p>

				<h4 class="h4--option">Repair an Item</h4>
				<p>If you're proficient with certain tools, you may perform basic repairs on damaged equipment—sharpening a blunt sword, sewing up a torn robe, hammering out some dented armor. You can try to remove one notch from an item with a successful Intelligence (Tool) check.</p>
				<p><strong>Success:</strong> You successfully remove one notch.</p>
				<p><strong>Failure:</strong> You were unable to make the repairs.</p>

				<h4 class="h4--option">Craft an Item</h4>
				<p>You can spend time crafting simple items—bandages, salves, arrows—if you have the right materials and appropriate crafting tools. Roll the appropriate check for your specific craft.</p>
				<p><strong>Success:</strong> You successfully craft your item.</p>
				<p><strong>Failure:</strong> You were unable to craft the item.</p>

				<h4 class="h4--option">Play a Game</h4>
				<p>If you have a gaming set and know the rules, you can play a game to unwind. Anyone can join in—so long as they're not occupied with another activity—but at least one person playing must be proficient in the rules.</p>
				<p>Everyone who plays can roll an Intelligence (Game) ability check—the highest roll wins.</p>
				<p><strong>Winner:</strong> You feel inspired—gain a point of inspiration.</p>
				<p><strong>Loser:</strong> You lost the game.</p>

				<h4 class="h4--option">Relax in Solitude</h4>
				<p>If you prefer to spend some time alone—reading a book, meditating, painting—you can do so. Roll a Wisdom ability check to see if you are able to unwind.</p>
				<p><strong>Success:</strong> You feel inspired by your seclusion—gain a point of inspiration.</p>
				<p><strong>Failure:</strong> You couldn't relax as something—or someone—was irritating you too much.</p>
			</page>
			<page class="page page--generic page--short-rest">
				<example class="panel panel--example">
					<section class="panel__body">
						<ul class="chat">
							<li><span class="chat__speaker">DM:</span><span>Your campsite is reasonably prepared (one failure)—activities will be DC 10. What do you each do before sleep?</span></li>
							<li><span class="chat__speaker">Clanda:</span><span>Looks like I'm on lookout tonight, so I'll start setting few <i>Alarm</i> spells around the perimeter. If you set them off again, Viridian, I'm going to <i>burn</i> you.</span></li>
							<li><span class="chat__speaker">Chansi:</span><span>I'll cook up a hot meal—we should eat this rabbit meat before it spoils. Should be enough for all four of us, and easy to make a stew <span class="chat__action">(rolls 17)</span>.</span></li>
							<li><span class="chat__speaker">DM:</span><span>Soon you have a bubbling pot of hot stew going, Chansi. It smells delicious, and everyone regains one spent hit die.</span></li>
							<li><span class="chat__speaker">Viridian:</span><span>Great, I'm starving. I'll get my lute out, play a little background music for us <span class="chat__action">(rolls 11)</span>.</span></li>
							<li><span class="chat__speaker">DM:</span><span>Your songs are a fine accompaniment to the food, Viridian—who do you inspire?</span></li>
							<li><span class="chat__speaker">Viridian:</span><span>How about Clanda? She could do with some inspiration.</span></li>
							<li><span class="chat__speaker">Clanda:</span><span>Thanks, but I'm too busy being on lookout to listen to your amateur fumblings.</span></li>
							<li><span class="chat__speaker">Viridian:</span><span><i>Fine</i>, witch. I play one of Chansi's favorites while she cooks; she gains inspiration.</span></li>
							<li><span class="chat__speaker">Chansi:</span><span>Play <i>The Wizard's Staff</i>, I love that song.</span></li>
							<li><span class="chat__speaker">Valiant:</span><span>Meanwhile, I'll make a few bandages from that old shirt—we're running low on supplies in the healer's kit <span class="chat__action">(rolls 18)</span>.</span></li>
							<li><span class="chat__speaker">DM:</span><span>You tear the shirt into three usable bandages.</span></li>
						</ul>
					</section>
				</example>

				<h3><span class="h3__highlight">4</span>Getting Some Sleep</h3>
				<p>Sometimes the best way to clear your mind is to shut it down for a while—rest is often the best medicine.</p>
				<p>When you attempt to sleep, make a sleeping check (Constitution saving throw) against the <i>Camping Activity DC</i>—if you are sleeping in a bedroll or tent, you can make the roll with advantage.</p>
				<p><strong>Success:</strong> Your sleep was undisturbed. Regain 1 spent hit die (max. once per day).</p>
				<p><strong>Failure:</strong> You couldn't sleep well, waking up tired.</p>

				<example class="panel panel--example">
					<section class="panel__body">
						<p>After their activities, the four adventurers make sleeping checks against the camping activity DC (10). As each party member has a bedroll or tent, they make their roll with advantage.</p>
						<p>Valiant, Chansi, and Viridian each roll above 10—they sleep undisturbed and, once awake, regain 1 expended hit die.</p>
						<p>Clanda, however, rolls only a 7—she has a frustrating, restless night half-awake in the forest.</p>
					</section>
				</example>

				<h4>Trance</h4>
				<p>Some races don't sleep as others do—instead, they fall into a meditative state known as a <i>Trance</i>. In this state, your character is semi-conscious and only partially-aware of their surroundings.</p>
				<p>While you are in a trance, you have disadvantage on all Perception rolls. You may, however, roll your sleeping checks as normal.</p>

				<col-break></col-break>

				<h4>Wearing Armor</h4>
				<p>Armor—while great for defense—does not make for comfortable sleeping attire. If you choose to keep your armor on while you sleep, you must roll your sleeping check with disadvantage.</p>

				<h4>The Lookout</h4>
				<p>While the lookout is on active guard duty, they can still make a sleeping check—simply assume that they find some time to have a quick nap whilst the other party members are still awake.</p>
				<p>The lookout rolls their sleeping check with disadvantage, however—it's hard to feel completely refreshed after a night on watch.</p>

				<h3><span class="h3__highlight">5</span>Packing Up</h3>
				<p>When you decide to move on, it's time to pack up camp—put out your campfire, strap on your gear, and get back to the adventure. This may take a little time, depending on the size and permanency of your camp.</p>

				<h2 id="ambushed">Ambushed!</h2>
				<p>A warm campfire and the smell of delicious, hot food can attract attention out in the dark wilds—from cruel bandits, to hungry bears, to bloodthirsty cultists. If you let your guard down, you might find both your sleep and your life cut surprisingly short.</p>
				<p>If an intruder approaches, the lookout rolls a Wisdom (Perception) check against the intruder's Stealth:</p>
				<p><strong>Success:</strong> The lookout is able to detect the intruders and, if they choose to, rouse the party with enough time for people to don light armor.</p>
				<p><strong>Failure:</strong> The lookout—and the rest of the party—are caught off-guard and surprised.</p>

				<example class="panel panel--example">
					<section class="panel__body">
						<ul class="chat">
							<li><span class="chat__speaker">DM:</span><span>Valiant, Chansi, and Viridian are asleep. The forest is silent around you, Clanda, as you stand guard for the night. Silent, except...</span></li>
							<li><span class="chat__speaker">Clanda:</span><span>Except...<span class="chat__action">(rolls 18)</span>?</span></li>
							<li><span class="chat__speaker">DM:</span><span>Except you hear a deep, low growl and the sound of something large pushing through the woods. A bear, perhaps. And it's coming right for you.</span></li>
							<li><span class="chat__speaker">Clanda:</span><span>Damn it, Chansi, I knew that stew would attract attention. I shake everyone awake, <i>fast</i>.</span></li>
						</ul>
					</section>
				</example>

				<h3>False Alerts</h3>
				<p>Out in the dark, it's easy to worry about every shadowed movement and every distant noise—a cracked twig, a far-off howl, a whisper on the wind.</p>
				<p>Occasionally, the DM may ask the lookout to make a Wisdom (Perception) roll to detect a false alarm:</p>
				<p><strong>Success:</strong> The lookout realizes that it's just a false alarm and doesn't rouse the party.</p>
				<p><strong>Failure:</strong> The lookout thinks danger approaches and wakes the party unnecessarily. Their sleep is disturbed for the rest of the night.</p>
			</page>
			<page class="page page--generic page--short-rest">
				<example class="panel panel--example">
					<section class="panel__body">
						<ul class="chat">
							<li><span class="chat__speaker">DM:</span><span>As you stand watch for the night, Viridian, you hear a noise in the distance. For a moment, it sounds like laughter. Roll perception.</span></li>
							<li><span class="chat__speaker">Viridian:</span><span>Eugh, these spooky woods...<span class="chat__action">(rolls 8)</span>.</span></li>
							<li><span class="chat__speaker">DM:</span><span>The laughter grows louder. What do you do?</span></li>
							<li><span class="chat__speaker">Viridian:</span><span>Uuuuh I wake everyone up of course—I'm not fighting this thing alone.</span></li>
							<li><span class="chat__speaker">DM:</span><span>You shake everyone awake in a hurry. After a tense minute, Clanda realizes what the sound is—it's just a northern barred owl calling out in the night, nothing more.</span></li>
							<li><span class="chat__speaker">Clanda:</span><span>Are you <i>kidding me</i>, Viridian.</span></li>
							<li><span class="chat__speaker">Viridian:</span><span>Uh... whoops. Sorry everyone, false alarm. We don't get many owls in the city, see.</span></li>
						</ul>
					</section>
				</example>

				<h2 id="useful-magic-spells">Useful Magic Spells</h2>
				<p>Magic can be a great help when travelling, providing valuable light, heat, and supplies when needed most.</p>
				<p>Below are some spells that may prove useful during your time in camp and some of their potential benefits:</p>

				<h4 class="h4--option">Alarm</h4>
				<p>This spell grants the lookout advantage on any perception checks made to detect intruders.</p>

				<h4 class="h4--option">Create Bonfire</h4>
				<p>This spell can be used to generate 1 automatic success when setting up camp, assuming there is flammable material around with which to build a long-term fire.</p>

				<h4 class="h4--option">Create Food & Water</h4>
				<p>One use of this spell can heal 3 hunger and 3 thirst from up to 15 creatures. As a magical consumable, a creature gains this benefit only once per day.</p>

				<h4 class="h4--option">Create or Destroy Water</h4>
				<p>One use of this spell can fill up to 5 waterskins (a total of 25 water rations). For each spell slot above 1st-level, you can fill another 5 waterskins.</p>

				<h4 class="h4--option">Goodberry</h4>
				<p>A goodberry heals 1 hit point and 1 hunger when eaten. As a magical consumable, a creature gains this benefit only once per day.</p>

				<h4 class="h4--option">Heroes' Feast</h4>
				<p>One use of this spell can heal 6 hunger and 6 thirst from up to 12 creatures. As a magical consumable, a creature gains this benefit only once per day.</p>

				<h4 class="h4--option">Leomund's Tiny Hut</h4>
				<p>When used to protect the camp, this spell grants the lookout an automatic success on their activity checks in addition to its other benefits.</p>

				<h4 class="h4--option">Mordenkainen's Faithful Hound</h4>
				<p>The hound grants you advantage on any perception checks made to detect intruders.</p>

				<col-break></col-break>

				<h2 id="variant-camping-conditions">Variant: Conditions</h2>
				<p>If you are using the <i>Survival Conditions</i> rules (<span class='page-detail--page-number' data-target='survival-conditions'></span>), some of these camping activities can provide additional benefits and improve certain character conditions:</p>

				<ul>
					<li><strong>Eating:</strong> If you eat a hot meal, you heal 2 hunger.</li>
					<li><strong>Drinking:</strong> If you drink a restorative, you heal 2 thirst.</li>
					<li><strong>Sleeping:</strong> If you sleep undisturbed, you heal 3 fatigue.</li>
				</ul>

				<example class="panel panel--example">
					<section class="panel__body">
						<p>Viridian eats a portion of a hot meal cooked by Chansi. He regains one spent hit die <i>and</i> heals 2 hunger.</p>
					</section>
				</example>

				<h2 id="variant-camping-stress">Variant: Stress</h2>
				<p>The adventuring life is a stressful business, but a little downtime around a roaring fire can help you to unwind.</p>
				<p>If you are using the <i>Stress</i> rules (<span class='page-detail--page-number' data-target='stress-and-afflictions'></span>), camp activities can affect your Stress levels. When you make a camping activity check, the following also applies to your result:</p>

				<ul>
					<li><strong>Success:</strong> You heal a minor amount of Stress.</li>
					<li><strong>Failure:</strong> You gain a minor amount of Stress.</li>
				</ul>

				<example class="panel panel--example">
					<section class="panel__body">
						<p>Valiant tries to create some bandages from an old shirt. He rolls 18—a success. He gains 3 bandages <i>and</i> heals a minor amount of Stress.</p>
					</section>
				</example>

				<p>Some camp activities—such as those listed below—also gain additional Stress-related effects.</p>

				<h4 class="h4--option">Cook Food / Brew Drinks</h4>
				<p>If you successfully cook a meal (stretched rations / hot meal) or brew some drinks (balm / restorative), you heal a minor amount of Stress from everyone you serve.</p>

				<h4 class="h4--option">Be the Lookout</h4>
				<p>If you successfully secure the camp, you heal a minor amount of Stress from everyone. If you fail, however, everyone instead gains a minor amount of Stress.</p>
				<p>In addition, if an intruder slips past your guard during the night, you gain a moderate amount of Stress.</p>

				<h4 class="h4--option">Play Music / Tell a Story</h4>
				<p>If you perform well, you heal a minor amount of Stress from everyone that is listening to you perform.</p>

				<h4 class="h4--option">Play a Game</h4>
				<p>If you win a game, you heal a moderate amount of Stress. If you lose (or tie), you heal a minor amount.</p>

				<h4 class="h4--option">Sleeping</h4>
				<p>If you get some undisturbed sleep, you heal a major amount of Stress. If your sleep is restless, broken, or interrupted by an intruder, you instead gain a moderate amount of Stress.</p>
			</page>
		</book>
	</body>
</html>
