<html>
	<body>
		<book class="book">
			<page class="page page--generic page--stress-and-afflictions" data-header-icon="brain">
				<h1 id="stress-and-afflictions">Stress & Afflictions</h1>
				<p>The adventuring life is not an easy one. Moving from town to town, delving into dark dungeons and hunting dangerous monsters for perhaps a few gold coins, is not a safe—or sane—way to make a living.</p>
				<p>This chapter introduces mechanics to track a character's stress level and the lasting consequences these lingering, mental afflictions can have on their adventuring career.</p>

				<h2>Stress</h2>
				<p>Stress is a measure of pressure on a character's mental state, representing a build-up of negative emotions such as anger, fear, frustration, and irritation. Too much Stress is bad for your mental health and, if not treated carefully, can lead to detrimental Afflictions—or even death.</p>
				<p>Characters can suffer up to 40 points of Stress before they reach breaking point. To prevent this, they'll need to find ways to relax and recover during downtime.</p>

				<h3>Gaining Stress</h3>
				<p>Stress is gained through danger, hardship, and adversity—suffering a critical hit from an enemy, hearing an unearthly moan from a dark room, sleeping rough in the cold rain, watching an ally die. Anything that threatens the mental well-being of your character can inflict Stress.</p>
				<p>When choosing how much Stress to inflict, decide how significant the event is to the character—is it minor, moderate, major, or monstrous? The more emotionally significant, the higher the amount of Stress.</p>
				<p>The more an event conflicts with the fundamental nature of your character, the greater the amount of Stress you'll suffer—a bard may be more embarrassed to ruin a performance than a wizard, while a lawful paladin is more hurt by a broken oath than a lawless rogue.</p>

				<col-break></col-break>

				<list class="panel panel--list">
					<header class="panel__header">
						<h4 class="panel__title">Gaining Stress</h4>
					</header>
					<section class="panel__body">
						<table class="table table--gaining-stress">
							<thead>
								<tr>
									<th>Category</td>
									<th>Stress</td>
									<th>Description</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>Minor</td>
									<td>+1</td>
									<td>A small frustration, worry, or irritant: missing an attack, falling down, hearing a noise in the dark.</td>
								</tr>
								<tr>
									<td>Moderate</td>
									<td>+2<br/>(1d4)</td>
									<td>You've made a critical error or something is seriously at risk: being caught lying, learning that the villain has escaped, being outnumbered.</td>
								</tr>
								<tr>
									<td>Major</td>
									<td>+4<br/>(1d6)</td>
									<td>Something devastating to your character or their beliefs: breaking an oath, falling to 0 hp, finding a heap of fresh corpses.</td>
								</tr>
								<tr>
									<td>Monstrous</td>
									<td>+8<br/>(1d6 + 4)</td>
									<td>Something incomprehensible or world-shattering: meeting a god, being betrayed by your closest friend, watching a loved one die.</td>
								</tr>
							</tbody>
						</table>
					</section>
				</list>

				<h4>Consequential Stress</h4>
				<p>You can gain Stress as a direct consequence of failing an action—missing an attack, breaking a lockpick, being caught in the middle of a lie. The GM will usually notify you that this is a risk <i>before</i> you make your attempt.</p>
				<p>Here we see Chansi attempt—and fail—to pick a pick.</p>

				<example class="panel panel--example">
					<section class="panel__body">
						<ul class="chat">
							<li><span class="chat__speaker">Chansi:</span><span>Ok, let's see what's in this chest. I want to pick the lock on this thing—what's the DC?</span></li>
							<li><span class="chat__speaker">GM:</span><span>It's a secure metal chest, so DC 20.</span></li>
							<li><span class="chat__speaker">Chansi:</span><span>Easy. Lemme just... <span class="chat__action">(rolls 15)</span> ...ugh, fail.</span></li>
							<li><span class="chat__speaker">GM:</span><span>You hear the pins clicking in the lock, Chansi, but you can't understand why they're not setting. It's a frustrating failure for you—gain 1 point of Stress.</span></li>
						</ul>
					</section>
				</example>
			</page>
			<page class="page page--generic page--stress-and-afflictions">
				<aside class="panel panel--aside">
					<header class="panel__header">
						<h4 class="panel__title">Stress as a Consequence</h4>
					</header>
					<section class="panel__body">
						<p>Whether through a consequence or an explicit Stress check, a character should gain Stress <i>only</i> as a consequence for failing a roll of some kind—such as an attack roll, a defense roll, a skill check, or a Stress check.</p>
					</section>
				</aside>

				<h4>Stress Check</h4>
				<p>In cases where the environment or situation provokes an emotional response—standing before a dragon, entering a decrepit tomb, hearing a terrifying sound—you may be asked to pass a Stress check (Wisdom saving throw) to avoid gaining some Stress.</p>
				<p>In this example, Viridian comes across a pile of rotting corpses and must pass a Stress check to keep his composure and avoid gaining Stress.</p>

				<example class="panel panel--example">
					<section class="panel__body">
						<ul class="chat">
							<li><span class="chat__speaker">GM:</span><span>You smell something foul, Viridian. Behind the wooden door, you can hear a faint buzzing sound.</span></li>
							<li><span class="chat__speaker">Viridian:</span><span>I open the door cautiously.</span></li>
							<li><span class="chat__speaker">GM:</span><span>Your torchlight illuminates a grisly scene—a dozen rotting corpses hidden in a small pantry, covered in a thick swarm of fat flies. The putrid stench of rotting flesh threatens to overwhelm you. Make a Stress check, DC 20.</span></li>
							<li><span class="chat__speaker">Viridian:</span><span>I'm... <span class="chat__action">(rolls 22)</span> ...phew, ok.</span></li>
							<li><span class="chat__speaker">GM:</span><span>Horrifying though this is, you manage to retain your composure. Perhaps this isn't the first time you've seen a heap of rotting corpses?</span></li>
						</ul>
					</section>
				</example>

				<p>Here we see Valiant as he returns to town from an adventure, only to discover that he has been betrayed by a trusted mentor and his sister is in grave peril.</p>
				<p>With his world turned upside down—and the town burning all around him—Valiant faces an almost impossible Stress check.</p>

				<example class="panel panel--example">
					<section class="panel__body">
						<ul class="chat">
							<li><span class="chat__speaker">GM:</span><span>Fire rages through the town. You hear a scream, Valiant, coming from the church. What do you do?</span></li>
							<li><span class="chat__speaker">Valiant:</span><span>Does it sound like Zelrya?</span></li>
							<li><span class="chat__speaker">GM:</span><span>It does, yes.</span></li>
							<li><span class="chat__speaker">Valiant:</span><span>I throw my shield aside and run through the burning streets, leaving the others behind.</span></li>
							<li>
								<p><span class="chat__speaker">GM:</span><span>As you pass through the burning archway of Granite Pearl, you see Zelrya at the foot of the church steps. She is lying face down in a pool of blood. She isn't moving.</span></p>
								<p>Atop the steps stands Bishop Vendicus, a mad grin on his face and a bloodied dagger in his hands. "She's with the Grey King now, boy, He calls her to His hungry throne."</p>
							</li>
							<li><span class="chat__speaker">Valiant:</span><span>Gods damn it Vendicus, we trusted you!</span></li>
							<li><span class="chat__speaker">GM:</span><span>Your sister lies dying, and your mentor has betrayed you, Valiant. Make a Stress check, DC 30.</span></li>
							<li><span class="chat__speaker">Valiant:</span><span>That... <span class="chat__action">(rolls 22)</span> ...bastard.</span></li>
							<li><span class="chat__speaker">GM:</span><span>Your mind reels from this horrific turnabout, Valiant—gain 8 points of Stress.</span></li>
						</ul>
					</section>
				</example>

				<col-break></col-break>

				<h3>Snapping</h3>
				<p>Too much Stress can be unhealthy for your character, causing long-term problems. When your character gains 20, 30, and 35 points of Stress for the first time after a long rest, they <i>snap</i> and develop a mental Affliction.</p>

				<example class="panel panel--example">
					<section class="panel__body">
						<ul class="chat">
							<li><span class="chat__speaker">GM:</span><span>In a <i>very</i> surprising turn of events, Krazak failed to smash open the chest with his headbutt. Krazak, you gain 1 point of Stress.</span></li>
							<li><span class="chat__speaker">Krazak:</span><span>These gods damned elven boxes. I'm up to 20 now—I've <i>snapped</i>. Time for a new Affliction...</span></li>
						</ul>
					</section>
				</example>

				<h3>Breaking Point</h3>
				<p>When a character gains 40 points of Stress, they hit breaking point. In this state, your character is reckless, dangerous, and <i>extremely</i> vulnerable.</p>
				<p>If you are hit by a damaging attack while at breaking point, your character suffers a fatal heart attack. You fall to 0 hit points, fail any remaining death saving throws, and die immediately.</p>

				<example class="panel panel--example">
					<section class="panel__body">
						<ul class="chat">
							<li><span class="chat__speaker">GM:</span><span>The dragon lashes out at you, Clanda, swinging its huge tail. Make a defense roll, DC 32.</span></li>
							<li><span class="chat__speaker">Clanda:</span><span>I... <span class="chat__action">(rolls a natural 1)</span> ...ouch, take a critical hit.</span></li>
							<li><span class="chat__speaker">GM:</span><span>The dragon's tail slams into you without mercy. Take 26 points of damage, one notch on your armor, and 2 points of Stress.</span></li>
							<li><span class="chat__speaker">Clanda:</span><span>Damn, that puts me at 40 Stress.</span></li>
							<li><span class="chat__speaker">GM:</span><span>Your heart is pounding, Clanda, and it's hard to breathe. You're not sure you can take another hit...</span></li>
						</ul>
					</section>
				</example>

				<aside class="panel panel--aside">
					<header class="panel__header">
						<h4 class="panel__title">Stressful Situations</h4>
					</header>
					<section class="panel__body">
						<p>These are some example situations that might trigger Stress. Some characters may respond more strongly than others depending on their background—a fighter may be less stressed about being outnumbered in battle, while a necromancer might not react to the sight of a dead body.</p>
						<ul>
							<li>Badly failing an attack or skill check</li>
							<li>Hearing an unearthly roar from the dark</li>
							<li>Embarrassing yourself in front of someone</li>
							<li>Falling over or being knocked down</li>
							<li>Being disarmed or disabled</li>
							<li>Critically failing an attack or skill check</li>
							<li>Seeing a heap of mutilated corpses</li>
							<li>Facing a huge or formidable enemy</li>
							<li>Being caught lying</li>
							<li>Being surrounded, outnumbered, or out-flanked</li>
							<li>Being critically hit by an attack</li>
							<li>Seeing an ally die</li>
							<li>Accidentally hurting a friend</li>
							<li>Seeing a hideous abomination</li>
							<li>Breaking an oath</li>
							<li>Being betrayed by an ally</li>
						</ul>
					</section>
				</aside>
			</page>
			<page class="page page--generic page--stress-and-afflictions">
				<h3>Healing Stress</h3>
				<p>Stress is healed through success and relaxation—disarming a trap, defeating a formidable opponent, carousing in town, sleeping in a warm bed. Anything that helps your character feel better can heal Stress.</p>
				<p>The amount healed depends on the significance to your character. The more it aligns with your character's personality, the more you heal (at the GM's discretion)—rogues benefits more than mages from lockpicking, while clerics benefit more than fighters from prayer.</p>

				<list class="panel panel--list">
					<header class="panel__header">
						<h4 class="panel__title">Healing Stress</h4>
					</header>
					<section class="panel__body">
						<table class="table table--healing-stress">
							<thead>
								<tr>
									<th>Category</td>
									<th>Stress</td>
									<th>Description</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>Minor</td>
									<td>−1</td>
									<td>A small success or bit of good news: disarming a trap, playing a song, relaxing with your friends.</td>
								</tr>
								<tr>
									<td>Moderate</td>
									<td>−2<br/>(1d4)</td>
									<td>A critical success or special achievement: eating a well-cooked meal, finding a hoard of treasure, repairing something important.</td>
								</tr>
								<tr>
									<td>Major</td>
									<td>−4<br/>(1d6)</td>
									<td class="letter-spacing-sm">You've beaten the odds and gained a major victory: defeating a dangerous enemy, saving an ally from death, completing a work of art.</td>
								</tr>
								<tr>
									<td>Majestic</td>
									<td>−8<br/>(1d6 + 4)</td>
									<td>You've achieved a long-term goal or done something thought near impossible: bringing a friend back from death, finishing a masterpiece, receiving praise from your deity.</td>
								</tr>
							</tbody>
						</table>
					</section>
				</list>

				<p>Here we see Clanda attempt to disarm a magical trap with her arcane training, healing Stress in the process. As a sorceress disarming a <i>magical</i> trap, she heals a moderate amount of Stress instead of a minor amount.</p>

				<example class="panel panel--example">
					<section class="panel__body">
						<ul class="chat">
							<li><span class="chat__speaker">GM:</span><span>The runes are glowing brighter, and you feel static building in the air. If you don't act quick, Clanda, this trap will explode.</span></li>
							<li><span class="chat__speaker">Clanda:</span><span>Pfft, this is amateur work—dwarven runes are <i>so</i> basic. I'll try to dispel the binding rune to disarm the trap harmlessly.</span></li>
							<li><span class="chat__speaker">Valiant:</span><span>Uh, are you sure about that? Last time—</span></li>
							<li><span class="chat__speaker">Clanda:</span><span>Hush now, I'm working.</span></li>
							<li><span class="chat__speaker">GM:</span><span>Ok, that'll be a DC 20 Wisdom check. You can use Arcana with this.</span></li>
							<li><span class="chat__speaker">Clanda:</span><span>See I told you, Valiant... <span class="chat__action">(rolls 24)</span> ...I got this.</span></li>
							<li><span class="chat__speaker">GM:</span><span>You manage to locate the binding rune and, with a careful words, draw the magic out of it. With a harmless spark, the runic trap shatters. Clanda, you heal 2 points of Stress—everyone else heals 1.</span></li>
							<li><span class="chat__speaker">Clanda:</span><span>Excellent. You're welcome, everyone.</span></li>
						</ul>
					</section>
				</example>

				<p>It is much harder to heal Stress than it is to gain it, so you'll need to be proactive in treating your Stress level before it becomes insurmountable. Rest when you can, and try not to over-exert yourself.</p>

				<col-break></col-break>

				<h4>Downtime</h4>
				<p>While out travelling, a good time to heal Stress is during downtime and through sleep. Here, Sarien takes advantage of his downtime during a night's rest to meditate and clear his mind.</p>

				<example class="panel panel--example">
					<section class="panel__body">
						<ul class="chat">
							<li><span class="chat__speaker">GM:</span><span>Ok, camp's been set up for the night. What do you all do for the next few hours?</span></li>
							<li><span class="chat__speaker">Sarien:</span><span>I spend a couple of hours meditating.</span></li>
							<li><span class="chat__speaker">GM:</span><span>Ok—it's been an easy day, so make a DC 10 Wisdom check.</span></li>
							<li><span class="chat__speaker">Sarien:</span><span>No problem... <span class="chat__action">(rolls 17)</span>.</span></li>
							<li><span class="chat__speaker">GM:</span><span>You're able to calm your mind and organize your thoughts, Sarien. Heal 2 points of Stress.</span></li>
						</ul>
					</section>
				</example>

				<h4>Taking a Long Rest</h4>
				<p>When you complete a long rest in a sanctuary, such as a village, town, or city, you heal all stress. Reduce your Stress level to 0.</p>

				<example class="panel panel--example">
					<section class="panel__body">
						<p>Returning to the town of Darrowmore, Valiant takes a long rest and begins a week of training. Once the week is over, he reduces his Stress to 0.</p>
					</section>
				</example>

				<h4>Calm Emotions</h4>
				<p>When you are affected by the <i>Calm Emotions</i> spell—or other similar magic spells and effects—you heal a moderate amount of Stress.</p>

				<aside class="panel panel--aside">
					<header class="panel__header">
						<h4 class="panel__title">Stress Relief</h4>
					</header>
					<section class="panel__body">
						<p>These are some things a character might do to reduce their stress levels. Not everyone will recover in the same way—an introvert may unwind best on their own with a good book and some hot tea, while an extrovert may want to throw a raucous and extravagant party to blow off steam.</p>

						<ul>
							<li>Disarming a trap</li>
							<li>Defeating a dangerous enemy</li>
							<li>Eating a hot, well-cooked meal</li>
							<li>Making people laugh with a joke</li>
							<li>Listening to a bard perform a song</li>
							<li>Carousing in a rowdy tavern</li>
							<li>Picking a lock</li>
							<li>Sleeping in a warm, comfortable bed</li>
							<li>Praying to your deity</li>
							<li>Finding a chest of treasure</li>
							<li>Arriving somewhere safely after a long journey</li>
							<li>Spending time with family and friends</li>
							<li>Learning a new skill</li>
							<li>Engaging in a hobby</li>
							<li>Playing with a pet</li>
							<li>Rolling dice and playing some games</li>
							<li>Fulfilling an oath or promise</li>
							<li>Protecting an ally from harm</li>
							<li>Meditating and resting</li>
							<li>Making a discovery</li>
						</ul>
					</section>
				</aside>
			</page>
			<page class="page page--generic page--stress-and-afflictions">
				<h2>Afflictions</h2>
				<p>An <i>Affliction</i> is a stress-induced mental issue suffered by a character when they gain too much Stress. Afflictions affect your character's abilities and can only be cured during downtime.</p>
				<p>When you gain 20, 30, and 35 Stress for the first time after a long rest, roll on the <i>Afflictions</i> table to see which new mental Affliction you develop. If you roll a duplicate, roll again until you get a new result.</p>

				<list class="panel panel--list">
					<header class="panel__header">
						<h4 class="panel__title">Afflictions</h4>
					</header>
					<section class="panel__body">
						<table class="table table--afflictions">
							<thead>
								<tr>
									<th>d100</td>
									<th>Affliction</td>
									<th>Modifier</td>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>01-06</td>
									<td>Fearful</td>
									<td>Disadvantage on WIS checks & saves</td>
								</tr>
								<tr>
									<td>07-12</td>
									<td>Lethargic</td>
									<td>+1 exhaustion until removed</td>
								</tr>
								<tr>
									<td>13-18</td>
									<td>Masochistic</td>
									<td>Disadvantage on CON checks & saves</td>
								</tr>
								<tr>
									<td>19-24</td>
									<td>Irrational</td>
									<td>Disadvantage on INT checks & saves</td>
								</tr>
								<tr>
									<td>25-30</td>
									<td>Paranoid</td>
									<td>Speed is halved</td>
								</tr>
								<tr>
									<td>31-36</td>
									<td>Selfish</td>
									<td>Disadvantage on CHA checks & saves</td>
								</tr>
								<tr>
									<td>37-42</td>
									<td>Panic</td>
									<td>Disadvantage on DEX checks & saves</td>
								</tr>
								<tr>
									<td>43-48</td>
									<td>Hopelessness</td>
									<td>Disadvantage on STR checks & saves</td>
								</tr>
								<tr>
									<td>49-54</td>
									<td>Mania</td>
									<td>Disadvantage on attack rolls</td>
								</tr>
								<tr>
									<td>55-60</td>
									<td>Anxiety</td>
									<td>Disadvantage on Stress checks</td>
								</tr>
								<tr>
									<td>61-66</td>
									<td>Hypochondria</td>
									<td>Hit point maximum is halved</td>
								</tr>
								<tr>
									<td>67-72</td>
									<td>Narcissistic</td>
									<td>Disadvantage on ability checks</td>
								</tr>
								<tr>
									<td>73-77</td>
									<td>Powerful</td>
									<td>+2 to all damage rolls</td>
								</tr>
								<tr>
									<td>78-82</td>
									<td>Focused</td>
									<td>+2 to all attack rolls</td>
								</tr>
								<tr>
									<td>83-87</td>
									<td>Stalwart</td>
									<td>+2 AC</td>
								</tr>
								<tr>
									<td>88-91</td>
									<td>Acute</td>
									<td>Advantage on INT checks & saves</td>
								</tr>
								<tr>
									<td>92-96</td>
									<td>Perceptive</td>
									<td>Advantage on WIS checks & saves</td>
								</tr>
								<tr>
									<td>97-00</td>
									<td>Courageous</td>
									<td>Advantage on CHA checks & saves</td>
								</tr>
							</tbody>
						</table>
					</section>
				</list>

				<example class="panel panel--example">
					<section class="panel__body">
						<ul class="chat">
							<li><span class="chat__speaker">GM:</span><span>Sarien, you hear a sickly moan from the shadows. Make a DC 10 Wisdom saving throw to see if you can keep your composure.</span></li>
							<li><span class="chat__speaker">Sarien:</span><span>Sure... <span class="chat__action">(rolls 6)</span> ...damn, not enough.</span></li>
							<li><span class="chat__speaker">GM:</span><span>Gain 1 point of Stress, Sarien.</span></li>
							<li><span class="chat__speaker">Sarien:</span><span>That pushes me over 20—looks like I'm feeling pretty... <span class="chat__action">(rolls 41)</span> ...panicked. How <i>appropriate</i>.</span></li>
						</ul>
					</section>
				</example>

				<h3>Curing Afflictions</h3>
				<p>Afflictions don't go away on their own—your character must dedicate time to treating their mental state. During a long rest, your character can attempt to treat one of their Afflictions in an appropriate fashion—carousing, praying, resting, meditating, etc.</p>
				<p>Spend some gold to roll a d20 to make an Affliction Removal attempt. Some downtime activities, such as resting, may allow you to roll with advantage—bear this in mind if your Afflictions are proving hard to clear, before you become overwhelmed by them.</p>

				<col-break></col-break>

				<list class="panel panel--list" data-resize=30>
					<header class="panel__header">
						<h4 class="panel__title">Affliction Removal</h4>
					</header>
					<section class="panel__body">
						<table class="table table--affliction-removal">
							<thead>
								<tr>
									<th>d20</td>
									<th>Result</td>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>01</td>
									<td><strong>Critical Failure:</strong> You fail to cure your Affliction, gaining a new one in the process.</td>
								</tr>
								<tr>
									<td>02-09</td>
									<td><strong>Failure:</strong> You fail to cure your Affliction.</td>
								</tr>
								<tr>
									<td>10-19</td>
									<td><strong>Success:</strong> You cured your Affliction.</td>
								</tr>
								<tr>
									<td>20</td>
									<td><strong>Critical Success:</strong> In a moment of clarity, you cleared yourself of all Afflictions and Stress.</td>
								</tr>
							</tbody>
						</table>
					</section>
				</list>

				<p>You can only make one Affliction Removal attempt per in-game week, so make the best of it.</p>

				<h4>Costs</h4>
				<p>As you gain in experience, it becomes harder to reset your mental state—the things you have seen and experienced have had a lasting impact. It costs more to remove an Affliction the higher your level as you must seek more elite and exotic outlets.</p>

				<list class="panel panel--list" data-resize=30>
					<header class="panel__header">
						<h4 class="panel__title">Affliction Removal Costs</h4>
					</header>
					<section class="panel__body">
						<tables class="tables tables--columns-3 tables--affliction-removal-costs">
							<table class="table">
								<thead>
									<tr>
										<th>Level</th>
										<th>Gold</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td>1</td>
										<td>5</td>
									</tr>
									<tr>
										<td>2</td>
										<td>7</td>
									</tr>
									<tr>
										<td>3</td>
										<td>9</td>
									</tr>
									<tr>
										<td>4</td>
										<td>12</td>
									</tr>
									<tr>
										<td>5</td>
										<td>16</td>
									</tr>
									<tr>
										<td>6</td>
										<td>22</td>
									</tr>
									<tr>
										<td>7</td>
										<td>30</td>
									</tr>
								</tbody>
							</table>
							<table class="table">
								<thead>
									<tr>
										<th>Level</th>
										<th>Gold</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td>8</td>
										<td>42</td>
									</tr>
									<tr>
										<td>9</td>
										<td>58</td>
									</tr>
									<tr>
										<td>10</td>
										<td>81</td>
									</tr>
									<tr>
										<td>11</td>
										<td>113</td>
									</tr>
									<tr>
										<td>12</td>
										<td>158</td>
									</tr>
									<tr>
										<td>13</td>
										<td>221</td>
									</tr>
									<tr>
										<td>14</td>
										<td>309</td>
									</tr>
								</tbody>
							</table>
							<table class="table">
								<thead>
									<tr>
										<th>Level</th>
										<th>Gold</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td>15</td>
										<td>432</td>
									</tr>
									<tr>
										<td>16</td>
										<td>604</td>
									</tr>
									<tr>
										<td>17</td>
										<td>845</td>
									</tr>
									<tr>
										<td>18</td>
										<td>1,183</td>
									</tr>
									<tr>
										<td>19</td>
										<td>1,656</td>
									</tr>
									<tr>
										<td>20</td>
										<td>2,318</td>
									</tr>
									<tr class="empty">
										<td><span class="empty">—</span></td>
										<td><span class="empty">—</span></td>
									</tr>
								</tbody>
							</table>
						</tables>
					</section>
				</list>

				<h4>Greater Restoration</h4>
				<p>The <i>Greater Restoration</i> spell may be used to let you make an Affliction Removal attempt outside of a long rest. This counts as your once-per-week removal attempt.</p>
				<p>From levels 1-10, you may roll your <i>Affliction Removal</i> check with advantage when using Greater Restoration. From levels 11-20 however, roll with disadvantage.</p>

				<h3>Mental Breakdown</h3>
				<p>If your character gains more than 3 Afflictions, they suffer a complete mental breakdown—your character falls catatonic and must be committed into care or die.</p>
				<p>A character who has had a breakdown can no longer be played—treat them as if they have retired.</p>

				<h4>Recovery</h4>
				<p>If a character is placed in good care, there is a rare chance they may eventually recover from their breakdown. For each month of proper care, they may roll an <i>Affliction Removal</i> attempt with disadvantage. A month after they have removed all Afflictions, they recover their senses and can be active again.</p>
				<p>Each time a character recovers from a breakdown, their minimum Stress increases by 10.</p>
			</page>
			<page class="page page--generic page--stress-and-afflictions">
				<h2>Items & Consumables</h2>
				<p>Across your adventures, you may be able to buy, craft, or loot special items that can help you to manage stress—magic gear, soothing teas, precious potions, etc.</p>

				<item class="panel panel--item">
					<header class="panel__header">
						<h4 class="panel__title">Soothing Stones</h4>
						<ul class="panel__tags">
							<li>Item (Small)</li>
							<li>Common</li>
						</ul>
					</header>
					<section class="panel__body">
						<p>A pair of small, stone balls engraved with dwarven runes. They make a soothing sound when held in one hand.</p>
						<ul class="features">
							<li><strong class="feature__title">Relaxing Sound</strong> During camp, if you successfully <i>Relax in Solitude</i>, you heal an additional +1 Stress.</li>
						</ul>
					</section>
				</item>

				<item class="panel panel--item">
					<header class="panel__header">
						<h4 class="panel__title">Elixir of Sanity</h4>
						<ul class="panel__tags">
							<li>Potion</li>
							<li>Consumable</li>
						</ul>
					</header>
					<section class="panel__body">
						<p>This thick purple elixir looks almost alive. When you stare at it, you get the feeling you're being watched.</p>
						<ul class="features">
							<li><strong class="feature__title">Iron Soul</strong> When you drink this elixir, you may roll any Stress checks with advantage for one hour.</li>
						</ul>
					</section>
				</item>

				<item class="panel panel--item">
					<header class="panel__header">
						<h4 class="panel__title">Ring of Clarity</h4>
						<ul class="panel__tags">
							<li>Item (Small)</li>
							<li>Rare</li>
						</ul>
					</header>
					<section class="panel__body">
						<p>This fine silver ring, forged by the drow monks of Elgin Orsul, is set with a tiny astral topaz. </p>
						<ul class="features">
							<li><strong class="feature__title">Clear Mind</strong> When you wear this ring, you can increase your maximum stress by +8.</li>
						</ul>
					</section>
				</item>

				<item class="panel panel--item">
					<header class="panel__header">
						<h4 class="panel__title">Book of Sermons</h4>
						<ul class="panel__tags">
							<li>Item (Small)</li>
							<li>Common</li>
						</ul>
					</header>
					<section class="panel__body">
						<p>A cheap but illustrated book of inspiring sermons from a particular religion.</p>
						<ul class="features">
							<li><strong class="feature__title">Sermon</strong> During camp, you can attempt to read a sermon from the book. If you successfully <i>Tell a Story</i>, you heal an additional +1 Stress.</li>
							<li><strong class="feature__title">Preach</strong> When you read from this book, you have advantage on Charisma (Religion) ability checks while preaching about this book's subject religion.</li>
						</ul>
					</section>
				</item>

				<item class="panel panel--item">
					<header class="panel__header">
						<h4 class="panel__title">Greenleaf Tea</h4>
						<ul class="panel__tags">
							<li>Item (Small)</li>
							<li>Common</li>
						</ul>
					</header>
					<section class="panel__body">
						<p>A packet of halfling tea leaves. One packet contains enough leaves for five separate brews.</p>
						<ul class="features">
							<li><strong class="feature__title">Delicious Tea</strong> If you successfully <i>Brew Drinks</i> using one charge of tea leaves, each person who takes a drink can heal an additional +1 Stress.</li>
						</ul>
					</section>
				</item>

				<col-break></col-break>

				<h2>Variant Dials</h2>
				<p><i>Stress & Afflictions</i> is a flexible game mechanic that can be adjusted to suit a variety of settings and gameplay styles. If you want to customize the experience for your game, consider using some of these variant dials.</p>

				<h3><span class="h3__highlight">A</span>One Snap</h3>
				<p>If you want to make afflictions a little rarer in your game—or prevent rapid escalation once a character reaches 50% stress—consider this <i>One Snap</i> variant.</p>
				<p>The first time you gain 50% or more Stress after a long rest, you snap and develop a mental Affliction. You can only snap once per long rest, though you still risk hitting your breaking point if you reach 100% Stress.</p>

				<h3><span class="h3__highlight">B</span>Insanity Zones</h3>
				<p>You may want to use <i>Stress & Afflictions</i> for just a short time in your campaign—to add theming to a particular region or adventuring site, for example. You can achieve this with <i>insanity zones</i>.</p>

				<h4>Creating an Insanity Zone</h4>
				<p>Stress is only gained in certain areas—<i>insanity zones</i>. Outside of these zones, characters don't gain stress—though they still suffer the effect of any lasting afflictions.</p>
				<p>An insanity zone can be anything—a room, a dungeon, a kingdom, etc—so add them to your game as best suits your setting. Use them to add memorable features to your dungeons and adventure hubs.</p>

				<example class="panel panel--example">
					<section class="panel__body">
						<p>Chansi and Viridian approach the <i>Tomb of Eldritch Horror</i>, an ancient dungeon corrupted by aberrant powers. The tomb is an <i>insanity zone</i>—within its walls, players risk gaining stress.</p>
					</section>
				</example>

				<h4>Leaving an Insanity Zone</h4>
				<p>If you leave an insanity zone, your stress and afflictions remain until you complete a long rest (or perform another form of recovery action, such as spending hit dice or acquiring consumables).</p>

				<h3><span class="h3__highlight">C</span>Temporary Virtues</h3>
				<p>Some afflictions—such as Powerful and Focused—can be a benefit to your character. With this <i>Temporary Virtues</i> variant, these effects become short-lived.</p>
				<p>If you develop a beneficial affliction, it is automatically cured without cost at the end of your next long rest.</p>

				<h3><span class="h3__highlight">D</span>Restful Recovery</h3>
				<p>If you are running an episodic game and need to drastically limit the running scope of stress and afflictions, consider using this <i>Restful Recovery</i> variant.</p>
				<p>When you complete a long rest in a sanctuary, you automatically recover all stress and cure all afflictions.</p>
			</page>
			<page class="page page--generic page--stress-and-afflictions">
				<aside class="panel panel--aside">
					<header class="panel__header">
						<h4 class="panel__title">Getting Started with Stress</h4>
					</header>
					<section class="panel__body">
						<p>If you want to try using <i>Stress & Afflictions</i> in your games without overhauling your campaign, consider starting with the <i>monstrous attacks</i>, <i>insanity zones</i>, and <i>one snap</i> variants.</p>
						<p>These dials can limit the scope of the stress mechanic and help you to slowly introduce the rules to your players.</p>
					</section>
				</aside>

				<h3><span class="h3__highlight">E</span>Stressful Attacks</h3>
				<p>If you want to disconnect Stress from abstract failure, consider instead attaching stress to monsters and traps with <i>Stressful Attacks</i>.</p>
				<p>Give your monsters and traps attacks that deal stress damage instead of—or in addition to—hit point damage. These stressful attacks can be a very effective way to add flavor to your aberrant and psychic monsters—especially those that use fear and intimidation powers.</p>

				<monster data-name="Gibbering Horror" data-description="Medium aberration, neutral" data-level=5 data-role="Supporter" data-type="standard" data-priorities="CON|STR|WIS|DEX|CHA|INT" data-immunities="Prone" data-senses="Darkvision 60 ft., passive Perception 10">
					<div class="monster__actions">
						<div class="monster__action">
							<p class="monster__action__title"><strong>Bite</strong> <i>(common)</i></p>
							<p class="monster__action__description"><i>Melee 5 ft:</i> [attack] vs AC. <i>Hit:</i> [damage] piercing damage.</p>
						</div>
						<div class="monster__action">
							<p class="monster__action__title"><strong>Mad Gibbering</strong> <i>(common)</i></p>
							<p class="monster__action__description"><i>Melee 5 ft:</i> DC [dc-primary] vs Wisdom. <i>Hit:</i> The target gains +2 (1d4) points of Stress.</p>
						</div>
					</div>
				</monster>

				<attack class="panel panel--attack">
					<header class="panel__header">
						<h4 class="panel__title">Screaming Skull</h4>
						<ul class="panel__tags">
							<li>Trap</li>
							<li>Area Attack</li>
						</ul>
					</header>
					<section class="panel__body">
						<p>A grinning skull of an monstrous creature hangs on the wall. When a visible creature steps within 5 ft of the skull, it unleashes a piercing scream that chills the heart of everyone within 15 ft. The skull then crumbles into dust.</p>
						<ul class="features">
							<li><strong class="feature__title">Attack</strong> DC 15 vs Intelligence.</li>
							<li><strong class="feature__title">Hit</strong> The target gains +2 (1d4) points of Stress.</li>
						</ul>
					</section>
				</attack>

				<h4>Giffyglyph's Monster Maker</h4>
				<p>For more advice on creating monsters and attacks, try <i>Giffyglyph's Monster Maker</i>—a supplement with guides and templates to help build new monsters in seconds.</p>

				<col-break></col-break>

				<h3><span class="h3__highlight">F</span>Leveling Stress</h3>
				<p>As you gain power and knowledge, your ability to handle stress also improves. With <i>Leveling Stress</i>, your stress limits and snapping points are influenced by your character level and intelligence modifier.</p>
				<p>Calculate your maximum stress and snapping points as follows, rounding down when necessary:</p>

				<mechanic class="panel panel--mechanic">
					<header class="panel__header">
						<h4 class="panel__title">Leveling Stress</h4>
					</header>
					<section class="panel__body">
						<p><strong>Maximum Stress:</strong> 20 + level + (4 x INT)</p>
						<p><strong>Snapping Points:</strong> 50% / 75% / 87.5%</p>
					</section>
				</mechanic>

				<h4>Minimum Stress</h4>
				<p>Your baseline maximum stress as calculated here can't go below 16, regardless of your intelligence modifier.</p>

				<h4>Gaining Stress</h4>
				<p>When using this variant, be mindful of how much Stress you deal to low-level characters. A 1st-level character with −1 INT has only 17 maximum stress and snaps at 8/12/14 points of stress—a very short fuse indeed.</p>
				<p>Try to limit yourself to minor and moderate stress checks where appropriate at lower levels, and reserve major/monstrous for the most extreme of situations at higher tiers of gameplay.</p>

				<h3><span class="h3__highlight">G</span>Light & Shadow</h3>
				<p>If you are using the <i>Light & Shadow</i> (<span class='page-detail--page-number' data-target="light-and-shadow"></span>) rules and want visibility to be an even bigger threat to your players, consider this variant.</p>
				<p>If you are blinded, you are vulnerable to stress—you gain twice the amount of stress as you normal would.</p>

				<h3><span class="h3__highlight">H</span>Indefinite Madness</h3>
				<p>If you don't want characters in your game to die outright when they are at breaking point, consider afflicting them with <i>Indefinite Madness</i> instead.</p>
				<p>If you are hit by a damaging attack while at breaking point (100% Stress), you fall unconscious. No amount of jostling or damage can wake you.</p>
				<p>After 2d4 hours, you awaken with an indefinite madness—roll on the <i>Indefinite Madness</i> table (DMG p260) to see what you are afflicted with.</p>

				<h3><span class="h3__highlight">I</span>Slow Recovery</h3>
				<p>If you want to make it harder for characters to recover from Stress, then consider this <i>Slow Recovery</i> variant.</p>
				<p>Anytime you would heal Stress, reduce the amount healed by half (don't round this halved amount).</p>

				<example class="panel panel--example">
					<section class="panel__body">
						<p>Valiant heals a minor (1) amount of Stress from his daily prayer. Because of <i>Slow Recovery</i>, however, he instead heals only 0.5 Stress.</p>
					</section>
				</example>
			</page>
		</book>
	</body>
</html>
