<html>
	<body>
		<book class="book">
			<page class="page page--generic page--wounds-and-injuries" data-header-icon="hearts">
				<h1 id="wounds-and-injuries">Wounds & Injuries</h1>
				<p>An adventurer without a scar is either very good, very lucky, or very <i>new</i> to the profession—trap-ridden dungeons, rabid monsters, and sharp weapons are notoriously bad for your health. Some adventurers are fortunate enough to retire with just a few injuries to show for their career. Many, however, die from injury long before retirement.</p>
				<p>This chapter sets out options for character health, lingering wounds, permanent injuries, and prosthetics.</p>

				<h2 id="bloodied">Bloodied</h3>
				<p>Your health is your most precious resource and—as an adventurer—keeping hold of it is not an easy task. A character is considered <i>bloodied</i> when they have lost half of their hit points—when bloodied, they have taken a small cut or bruise.</p>
				<p>Some monsters may react differently to you when you are bloodied—becoming frenzied or blood-thirsty—while others may have an easier time detecting you by scent.</p>

				<example class="panel panel--example">
					<section class="panel__body">
						<ul class="chat">
							<li><span class="chat__speaker">GM:</span><span>The wolf bites you fiercely, Sarien, causing 7 points of damage.</span></li>
							<li><span class="chat__speaker">Sarien:</span><span>Gah, I'm <i>bloodied</i> now.</span></li>
							<li><span class="chat__speaker">GM:</span><span>With the scent of fresh blood in the air, all three wolves turn and look at Sarien hungrily...</span></li>
						</ul>
					</section>
				</example>

				<h3>Healing when Bloodied</h3>
				<p>If you are bloodied, it's a little harder to recover your stamina. While bloodied, you must use a bandage or other first-aid material in order to spend any hit dice and recover hit points when resting. Make sure to keep an eye on your medical supplies.</p>

				<col-break></col-break>

				<h2>Lingering Wounds</h2>
				<p>When you fall to 0 hit points, you've taken significant damage and gain an open, lingering wound somewhere on your body.</p>
				<p>Roll on the <i>Lingering Wounds</i> table below to see which part of you was wounded—or pick one based on the type of damage you suffered.</p>

				<list class="panel panel--list">
					<header class="panel__header">
						<h4 class="panel__title">Lingering Wounds</h4>
					</header>
					<section class="panel__body">
						<tables class="tables tables--wounds">
							<table class="table">
								<thead>
									<tr>
										<th>d10</th>
										<th>Area</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td>1</td>
										<td>An arm</td>
									</tr>
									<tr>
										<td>2</td>
										<td>A leg</td>
									</tr>
									<tr>
										<td>3</td>
										<td>A hand</td>
									</tr>
									<tr>
										<td>4</td>
										<td>A foot</td>
									</tr>
									<tr>
										<td>5</td>
										<td>Your stomach</td>
									</tr>
								</tbody>
							</table>
							<table class="table">
								<thead>
									<tr>
										<th>d10</th>
										<th>Area</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td>6</td>
										<td>Your back</td>
									</tr>
									<tr>
										<td>7</td>
										<td>Your head</td>
									</tr>
									<tr>
										<td>8</td>
										<td>Your face</td>
									</tr>
									<tr>
										<td>9</td>
										<td>Your chest</td>
									</tr>
									<tr>
										<td>10</td>
										<td>Your buttocks</td>
									</tr>
								</tbody>
							</table>
						</tables>
					</section>
				</list>

				<example class="panel panel--example">
					<section class="panel__body">
						<ul class="chat">
							<li><span class="chat__speaker">GM:</span><span>The orc's axe slashes you, Viridian, and you take 9 points of damage.</span></li>
							<li><span class="chat__speaker">Viridian:</span><span>Urk, that's not good—I'm at 0 hit points. Before I black out, I notice... <span class="chat__action">(rolls 9)</span> ...blood dripping from a wound to my chest. Great.</span></li>
							<li><span class="chat__speaker">Clanda:</span><span>At least it wasn't your butt this time.</span></li>
							<li><span class="chat__speaker">Viridian:</span><span>Yea. <i>Lucky me</i>.</span></li>
						</ul>
					</section>
				</example>

				<h3>Exhaustion</h3>
				<p>Each time you gain an open wound, you also gain a level of <i>exhaustion</i>. This exhaustion is permanent for as long as your wound is open and untreated.</p>
				<p>You gain exhaustion for each open wound, so watch out—exhaustion effects stack up fast.</p>
			</page>
			<page class="page page--generic page--wounds-and-injuries">
				<list class="panel panel--list">
					<header class="panel__header">
						<h4 class="panel__title">Exhaustion Effects</h4>
					</header>
					<section class="panel__body">
						<table class="table table--exhaustion">
							<thead>
								<tr>
									<th>Level</th>
									<th>Effect</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>1</td>
									<td>Disadvantage on Ability Checks</td>
								</tr>
								<tr>
									<td>2</td>
									<td>Speed halved</td>
								</tr>
								<tr>
									<td>3</td>
									<td>Disadvantage on Attack rolls and Saving Throws</td>
								</tr>
								<tr>
									<td>4</td>
									<td>Hit point maximum halved</td>
								</tr>
								<tr>
									<td>5</td>
									<td>Speed reduced to 0</td>
								</tr>
								<tr>
									<td>6</td>
									<td>Death</td>
								</tr>
							</tbody>
						</table>
					</section>
				</list>

				<example class="panel panel--example">
					<section class="panel__body">
						<p>When Viridian gains his new chest wound, he also gains a level of exhaustion. After the battle, Chansi patches him up and treats the wound to remove the exhaustion penalty.</p>
					</section>
				</example>

				<h3>Treating Wounds</h3>
				<p>A wound hinders you while it's untreated, making your life difficult with exhaustion. You can spend one hour to treat a wound using first-aid knowledge and supplies—make an Intelligence (Medicine) or Wisdom (Medicine) check (DC 10) to patch up the wound.</p>
				<p>A treated wound remains on your character—though it no longer causes exhaustion. A wound will only heal properly during a long rest or with magical healing.</p>

				<h3>Healing Wounds</h3>
				<p>Wounds heal naturally over time. At the end of a long rest, roll to see if your wounds have healed—make a Constitution (Medicine) check (DC 15) for each wound.</p>
				<p>Some downtime activities, such as resting, may allow you to roll the check with advantage.</p>

				<h4>Magical Healing</h4>
				<p>You may use magical effects to heal a wound. You do not gain any hit points from the magic in doing this, however—all of the spell's power is used on your wound.</p>

				<h3>Reopened Wounds</h3>
				<p>If you are critically hit during combat, your treated wounds may reopen. When you take critical damage, roll a d20 for each treated wound you have:</p>

				<list class="panel panel--list">
					<header class="panel__header">
						<h4 class="panel__title">Reopened Wounds</h4>
					</header>
					<section class="panel__body">
						<table class="table table--reopened-wounds">
							<thead>
								<tr>
									<th>d20</th>
									<th>Effect</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>1</td>
									<td>The wound reopens and you lose a hit die</td>
								</tr>
								<tr>
									<td>2-8</td>
									<td>The wound reopens</td>
								</tr>
								<tr>
									<td>9-20</td>
									<td>The wound remains closed</td>
								</tr>
							</tbody>
						</table>
					</section>
				</list>

				<p>When a wound reopens, it starts applying exhaustion again—you'll need to treat the wound to remove this.</p>
				<p><strong>Untreated wounds:</strong> Any <i>untreated</i> wound you have fails this check automatically (as if you had rolled a 1), causing you to lose a hit die—so try to keep your wounds bandaged at all times.</p>

				<col-break></col-break>

				<example class="panel panel--example">
					<section class="panel__body">
						<ul class="chat">
							<li><span class="chat__speaker">GM:</span><span>The werewolf's razor sharp claws slash wildly at you, Viridian. It's a critical hit—you take 14 points of damage.</span></li>
							<li><span class="chat__speaker">Viridian:</span><span>Ouch. Better check if my treated chest wound is ok... <span class="chat__action">(rolls 1)</span> ...damn it, it reopens <i>and</i> I lose a hit die. This hurts...</span></li>
							<li><span class="chat__speaker">GM:</span><span>Those claws have ripped open your bandages, Viridian, and blood pours from your chest wound. You start to feel exhausted again from the wound.</span></li>
							<li><span class="chat__speaker">Viridian:</span><span>Great. Can this day get any worse?</span></li>
							<li><span class="chat__speaker">GM:</span><span>The werewolf slashes at you again. It's another critical hit.</span></li>
							<li><span class="chat__speaker">Viridian:</span><span>Son of a...</span></li>
						</ul>
					</section>
				</example>

				<h3>Variant: Simple Wounds</h3>
				<p>If you want a quick way to make falling to 0 hit points more significant, then use this <i>Simple Wounds</i> variant.</p>
				<p>When you fall to 0 hit points, gain a level of exhaustion. This exhaustion can be removed through the normal means (rest/spells/etc).</p>

				<h2>Permanent Injuries</h2>
				<p>Some monsters are especially deadly, destructive, and vicious—when they hit, they hit hard enough to break bones and sever limbs. Dragons, giants, ogres—if it's huge, its attacks are usually extremely violent.</p>
				<p>If you are reduced to 0 hit points by a <i>violent</i> attack, you suffer a debilitating <i>Permanent Injury</i>. Roll to see which injury you suffer—reroll any nonsensical result.</p>

				<list class="panel panel--list">
					<header class="panel__header">
						<h4 class="panel__title">Permanent Injuries</h4>
					</header>
					<section class="panel__body">
						<table class="table table--injuries">
							<thead>
								<tr>
									<th>d10</th>
									<th>Injury</th>
									<th>Treatment</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>1</td>
									<td>Lose an arm</td>
									<td>Prosthesis (arm)</td>
								</tr>
								<tr>
									<td>2</td>
									<td>Lose a leg</td>
									<td>Prosthesis (leg)</td>
								</tr>
								<tr>
									<td>3</td>
									<td>Lose a hand</td>
									<td>Prosthesis (hand)</td>
								</tr>
								<tr>
									<td>4</td>
									<td>Lose a foot</td>
									<td>Prosthesis (foot)</td>
								</tr>
								<tr>
									<td>5</td>
									<td>Lose an eye</td>
									<td>Prosthesis (eye)</td>
								</tr>
								<tr>
									<td>6</td>
									<td>Lose a toe</td>
									<td>Medical aid (DC 15)</td>
								</tr>
								<tr>
									<td>7</td>
									<td>Lose a finger</td>
									<td>Medical aid (DC 15)</td>
								</tr>
								<tr>
									<td>8</td>
									<td>Gain a horrific, scarring wound</td>
									<td>Medical aid (DC 20)</td>
								</tr>
								<tr>
									<td>9</td>
									<td>Gain an internal injury</td>
									<td>Medical aid (DC 20)</td>
								</tr>
								<tr>
									<td>10</td>
									<td>Lose half your teeth</td>
									<td>Medical aid (DC 20)</td>
								</tr>
							</tbody>
						</table>
					</section>
				</list>

				<p>When you gain an injury, you also gain a level of exhaustion. As with lingering wounds, this exhaustion is permanent until you treat the injury in some fashion.</p>

				<aside class="panel panel--aside">
					<header class="panel__header">
						<h4 class="panel__title">Injury Effects</h4>
					</header>
					<section class="panel__body">
						<p>The exact consequences of an injury may vary wildly from game to game and character to character.</p>
						<p>If a character gains an injury, make sure to have a brief discussion between player and GM to establish any notable in-game effects beyond the exhaustion increase.</p>
					</section>
				</aside>
			</page>
			<page class="page page--generic page--wounds-and-injuries">
				<example class="panel panel--example">
					<section class="panel__body">
						<ul class="chat">
							<li><span class="chat__speaker">GM:</span><span>The <i>violent</i> dragon shows you no mercy, Sarien, as it bites down. Sharp teeth spear into you painfully for 19 points of damage.</span></li>
							<li><span class="chat__speaker">Sarien:</span><span>Damn it, I'm at 0 hit points. That means a violent injury on my... <span class="chat__action">(rolls 1)</span> ...arm.</span></li>
							<li><span class="chat__speaker">GM:</span><span>You hear a sickening snap as the dragon's teeth bite into your shoulder, scraping bone. The pain is overwhelming. As its huge head snaps back, you feel a sharp pull and a hear a loud, wet tearing sound. Through the pain, you realize you can't move your left arm. You can't even <i>see</i> your left arm. It's gone.</span></li>
							<li><span class="chat__speaker">Sarien:</span><span>What. The Hell.</span></li>
							<li><span class="chat__speaker">GM:</span><span>The last thing you see before you black out, Sarien, is the dragon throw your arm up into the air and—with a snap—swallow it. "Deliciousssss..."</span></li>
						</ul>
					</section>
				</example>

				<h3>Violent Monsters & Attacks</h3>
				<p>When you add the <i>vicious</i> keyword to a monster or attack, make sure to telegraph this to your players clearly in advance—they should know they risk <i>serious</i> injury before they charge in.</p>

				<example class="panel panel--example">
					<section class="panel__body">
						<ul class="chat">
							<li><span class="chat__speaker">GM:</span><span>You see the orc warlord ahead, yelling orders to the goblin soldiers. He hasn't seen you yet, but he looks extremely <i>vicious</i>.</span></li>
							<li><span class="chat__speaker">Krazak:</span><span>Vicious? Sounds like a challenge. I charge—</span></li>
							<li><span class="chat__speaker">Valiant:</span><span>NO YOU DON'T. Plan first, charge later—I'm not paying to put <i>another</i> leg on you.</span></li>
						</ul>
					</section>
				</example>

				<h3>Treating Injuries</h3>
				<p>Once you gain an injury, it remains active on your character and causes exhaustion until it is treated. There are three common ways to treat an injury:</p>
				<ul>
					<li><strong>Prosthetics:</strong> Wear a prosthetic device to replace a missing body part.</li>
					<li><strong>Medical Aid:</strong> Receive medical attention—even surgery—to close up major damage and internal bleeding. This can only be done during a long rest when you are in a safe place—a village, town, or city.</li>
					<li><strong>Magic:</strong> Injuries can be reversed with the <i>Greater Restoration</i> spell (or something of equivalent power).</li>
				</ul>

				<p>Once an injury has been treated, the exhaustion is lifted and your character can act normally again.</p>

				<aside class="panel panel--aside">
					<header class="panel__header">
						<h4 class="panel__title">Gameplay over Realism</h4>
					</header>
					<section class="panel__body">
						<p>Injuries should be important events, but they shouldn't make a character unplayable forever. Use them to create short bursts of drama in your game, but avoid penalizing a character for too long.</p>
						<p>Once an injury is treated—whether by prosthesis, surgery, or magic—don't apply any more penalties unless it's especially relevant to the story.</p>
					</section>
				</aside>

				<col-break></col-break>

				<h2>Prosthetics</h2>
				<p>A prosthesis is an artificial device that can replace or augment a missing (or injured) body part—such as an arm, leg, or eye. You may find prosthetics on your adventures or buy them from artificers, crafters, and healers.</p>

				<item class="panel panel--item">
					<header class="panel__header">
						<h4 class="panel__title">False Leg</h4>
						<ul class="panel__tags">
							<li>Prosthesis (Leg)</li>
							<li>Common</li>
						</ul>
					</header>
					<section class="panel__body">
						<p>A wooden leg with a secret compartment that can hold a small item. Wearing this treats a <i>missing leg</i> injury.</p>
					</section>
				</item>

				<item class="panel panel--item">
					<header class="panel__header">
						<h4 class="panel__title">Glass Eye</h4>
						<ul class="panel__tags">
							<li>Prosthesis (Eye)</li>
							<li>Common</li>
						</ul>
					</header>
					<section class="panel__body">
						<p>A glass orb made to look like a tabaxi eye. Wearing this treats a <i>missing eye</i> injury.</p>
					</section>
				</item>

				<h3>Magical Prosthetics</h3>
				<p>Some prosthetics have been augmented with magic, granting them extra properties. These are much rarer in the world—and far, far more expensive.</p>

				<item class="panel panel--item">
					<header class="panel__header">
						<h4 class="panel__title">Arm of Living Bark</h4>
						<ul class="panel__tags">
							<li>Prosthesis (Arm)</li>
							<li>Rare</li>
						</ul>
					</header>
					<section class="panel__body">
						<p>A prosthetic arm crafted from living wood. It has a tendency to reach towards bright sunlight when the owner is distracted. Wearing this treats a <i>missing arm</i> injury.</p>
						<ul class="features">
							<li><strong class="feature__title">Nature's Grasp</strong> Once per short rest, you may use a free action to stretch out the vines in your arm and extend your reach by 5ft until the end of your turn.</li>
						</ul>
					</section>
				</item>

				<item class="panel panel--item">
					<header class="panel__header">
						<h4 class="panel__title">Foot of Cloud Walking</h4>
						<ul class="panel__tags">
							<li>Prosthesis (Foot)</li>
							<li>Rare</li>
						</ul>
					</header>
					<section class="panel__body">
						<p>A prosthetic foot inscribed with an air enchantment. It weighs half as much as you would normally expect for its size. Wearing this treats a <i>missing foot</i> injury.</p>
						<ul class="features">
							<li><strong class="feature__title">Cloudwalk</strong> Once per short rest, you may jump twice as far or twice as high as you normally would.</li>
						</ul>
					</section>
				</item>

				<item class="panel panel--item">
					<header class="panel__header">
						<h4 class="panel__title">Hand of Static</h4>
						<ul class="panel__tags">
							<li>Prosthesis (Hand)</li>
							<li>Rare</li>
						</ul>
					</header>
					<section class="panel__body">
						<p>A metal prosthetic hand, dwarven-forged and inscribed with arcane glyphs and sigils. It crackles if left uncovered in the rain. Wearing this treats a <i>missing hand</i> injury.</p>
						<ul class="features">
							<li><strong class="feature__title">Static Shock</strong> Once per short rest, when you make a successful melee attack, you may use a free action to add 2d6 lightning damage to your damage.</li>
						</ul>
					</section>
				</item>
			</page>
		</book>
	</body>
</html>
