.page--active-inventory {

	.panel--mechanic-slots .panel__body {
		text-align: left;

		p + p {
			text-indent: 15px;
			margin-top: 0;
			padding: 0;
			border: none;
		}

		h5 {
			background: rgba($panel--mechanic__header--bg, 0.2);
			color: darken($panel--mechanic__header--bg, 10%);
			margin-left: -1rem;
			margin-right: -1rem;
			margin-bottom: 1rem;
			padding: 0.5rem 1rem;
			font-size: inherit;
			font-weight: bold;
		}
	}
}
