$panel--mechanic__header--bg: #94abb5;
$sheet-spacing: 10px;
$panel--item__header--bg: #5490a4;
$panel--item__section--bg: #ffffff;
$sheet-bg-color: #909090;
$box-line-color: #d2d2d2;
$box-subheading-color: #909090;