// Styles for stress and afflictions chapters.

.page--stress-and-afflictions {

	.table--gaining-stress {
		@include table-column(1, left, 23%);
		@include table-column(2, center, 18%);
		@include table-column(3, left, 59%);

		td:nth-child(2) {
			padding-left: 0;
			padding-right: 0;
		}
	}

	.table--healing-stress {
		@include table-column(1, left, 20%);
		@include table-column(2, center, 18%);
		@include table-column(3, left, 62%);

		td:nth-child(2) {
			padding-left: 0;
			padding-right: 0;
		}
	}

	.table--afflictions {
		@include table-column(1, center, 13%);
		@include table-column(2, left, 26%);
		@include table-column(3, left, 61%);

		th:nth-child(1),
		td:nth-child(1) {
			padding-left: 0;
			padding-right: 0;
		}

		th:nth-child(2),
		td:nth-child(2) {
			padding-left: 3px;
			padding-right: 2px;
		}

		th:nth-child(3),
		td:nth-child(3) {
			padding-left: 4px;
			padding-right: 2px;
		}
	}

	.table--affliction-removal {
		@include table-column(1, center, 15%);
		@include table-column(2, left, 85%);
	}

	.tables--affliction-removal-costs {
		@include table-column(1, center, 50%);
		@include table-column(2, center, 50%);
	}
}
