// Styles for the character sheet (page 2).

.page--character-sheet--2 {

	.layout--columns--nogrid {
		column-rule-color: $box-line-color;
	}

	.sheet__body {
		display: grid;
		height: 100%;
		grid-template-columns: ($sheet-spacing * 21.5) 1fr 1fr;
		grid-template-rows: ($sheet-spacing * 22) auto ($sheet-spacing * 40);
		grid-template-areas:
			"portrait character character"
			"memories character character"
			"equipment equipment equipment";
		grid-column-gap: $sheet-spacing;
		grid-row-gap: $sheet-spacing;
	}

	.portrait {
		grid-area: portrait;
	}

	.character {
		grid-area: character;

		> .box__body {
			display: grid;
			grid-template-rows: 70px 70px 70px 70px auto;
			grid-template-areas:
				"details personality"
				"details ideals"
				"family bonds"
				"quest flaws"
				"notes notes";
				grid-column-gap: $sheet-spacing;
				grid-row-gap: $sheet-spacing;
		}

		.details {
			grid-area: details;

			> section {
				padding-top: 5px;
			}

			.list-nostyle {
				margin: 0;

				.label {
					color: $sheet-bg-color;
				}

				li {
					line-height: 15px;
					text-align: left;
					display: flex;
					height: 15px;

					.line {
						flex-grow: 1;
						border-bottom: 1px solid $box-line-color;
						margin-left: 7px;
						height: 10px;

						&.empty {
							margin-left: 0;
						}
					}
				}
			}

			.personality {
				grid-area: personality;
			}

			.family {
				grid-area: family;
			}

			.ideals {
				grid-area: ideals;
			}

			.bonds {
				grid-area: bonds;
			}

			.flaws {
				grid-area: flaws;
			}

			.quest {
				grid-area: quest;
			}
		}

		.notes {
			grid-area: notes;

			.columns-2 {
				column-rule: 1px solid $sheet-bg-color;
				column-gap: 10px;
			}
		}
	}

	.memories {
		grid-area: memories;
	}

	.equipment {
		grid-area: equipment;

		> .box__body {
			display: grid;
			grid-template-columns: 1fr 1fr 160px 120px;
			grid-template-rows: 30px 30px 30px auto;
			grid-template-areas:
				"tracking usage rations cp"
				"tracking usage waterskin sp"
				"tracking usage slots gp"
				"carried carried carried carried";
			grid-column-gap: $sheet-spacing;
			grid-row-gap: $sheet-spacing;
		}

		.rations {
			grid-area: rations;
		}

		.waterskin {
			grid-area: waterskin;
		}

		.rations,
		.waterskin {

			.box__header {
				width: 42px;
				flex-shrink: 0;
			}
		}

		.coin-cp {
			grid-area: cp;
		}

		.coin-sp {
			grid-area: sp;
		}

		.coin-gp {
			grid-area: gp;
		}

		.coin-cp,
		.coin-sp,
		.coin-gp {

			.box__header {
				width: 35px;
				flex-shrink: 0;
			}
		}

		.slots {
			grid-area: slots;
		}

		.coin-cp,
		.coin-sp,
		.coin-gp,
		.coin-other,
		.slots {

			section {
				width: 70px;
			}
		}

		.tracking,
		.usage-die {
			grid-area: tracking;

			table {
				@include sheet-table-column(1, left, 65%, 0);
				@include sheet-table-column(2, center, 35%, 0);

				th span {
					display: inline-block;
					width: 10px;
					text-align: center;

					+ span {
						margin-left: 2px;
					}
				}

				.dots {
					padding: 0;
					justify-content: center;
				}
			}
		}

		.usage-die {
			grid-area: usage;

			.table {
				@include sheet-table-column(1, left, 52%, 0);
				@include sheet-table-column(2, center, 48%, 0);
			}
		}

		.carried-gear {
			grid-area: carried;

			> section {
				display: flex;
				flex-grow: 1;

				.columns-2 {
					margin-top: -5px;
					column-gap: 1px;
					column-rule: 1px solid #272727;
					margin-bottom: -5px;

					> div {
						padding-top: 5px;
						padding-bottom: 5px;
					}
				}

				.table {
					@include sheet-table-column(1, left, 55%, 5px);
					@include sheet-table-column(2, center, 15%, 0);
					@include sheet-table-column(3, center, 15%, 0);
					@include sheet-table-column(4, center, 15%, 0);
				}
			}
		}
	}
}