// Styles for gemstones pages.

.page--gemstones {

	.table--gemstone-qualities {
		@include table-column(1, left, 16%);
		@include table-column(2, left, 48%);
		@include table-column(3, right, 18%);
		@include table-column(4, right, 18%);

		td:nth-child(3),
		td:nth-child(4) {
			padding-left: 0;
		}
	}

	.tables--gemstone-cutting .table {
		@include table-column(1, left, 50%);
		@include table-column(2, center, 50%);
	}
}
